[2022-07-28 12:35] ferrero1987 commented on #1782
verify if you have: "DISABLE_SECURITY_PLUGIN=true"

[2022-07-28 13:04] jkrishnarao2003 commented on #1164
Sure.  this opensearch_dashboards.yml config works only with http but not with https.  Modified some confidential details.

[code]

[2022-07-28 17:05] kaddy645 opened #1997 "> Move global styles header breadcrumb to OUI"
The issue as a whole. Having half the breadcrumb styled in OSD and the other half in OUI will cause issues when someone's only referencing the OUI breadcrumb

_Originally posted by @ashwin-pc in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1954#issuecomment-1197682254_

[2022-07-28 18:24] kavilla commented on #1995
@opensearch-project/opensearch-ux can you check this out?

[2022-07-28 18:46] KrooshalUX commented on #1995
@joshuarrrr

- Can you further elaborate on point 1 "Summaries should be useful for the given field type" ? In order to make further UI recommendations, it might be helpful to put together a matrix of field types and specifically what would provide value to display. Perhaps we can tease this information out together.

- In regards to point 2, do we have the ability to specify paths per field type?

[2022-07-28 18:54] bharath-techie opened #1998 "Point in time - Stack Management Changes Phase 1"
### Overview

For phase 1 of point in time UX implementation, we will be introducing a new section for 'point in time' under 'stack management' - reference : https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1612

### High level tasks:

- [ ] Point in time option in stack management side nav
- [ ] Table to track point in time searches
- [ ] Create PIT Side drawer
- [ ] Delete afte

[2022-07-28 19:03] bharath-techie opened #1999 "Point in time - Stack Management Changes Phase 2"
### Overview

For phase 2 of point in time UX implementation, we will be making incremental changes to point in time section - reference :
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1998
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1612

### High level tasks:

- [ ] Point in time Copy option
- [ ] Extend keep alive / expiration option
- [ ] Discover pa

[2022-07-28 19:17] bharath-techie opened #2000 "Point in time - discover section changes"
### Overview
For phase 1 of point in time UX implementation, we will be introducing a way to create point in time from index pattern, select point in time as source, and changes to make discover page show results associated with the selected point in time - reference : https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1612

### High level tasks:

- [ ] Changes to add point in time

[2022-07-28 19:37] #1897 closed

[2022-07-28 20:23] joshuarrrr commented on #1995
Starting with the second question first:

Yes, we have the ability to, because we know the field type when it's clicked and can have different summary experiences (or visualization paths) for different types. Currently we don't really utilize that info, except to show the "Analysis is not available..." message for geo and attachment fields.

Yeah, I totally agree that we'd want to first list all t

[2022-07-28 21:56] zhongnansu opened #2003 "[MD] Client Management Epic"
### Research & POC
- [x] https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1499
- [x] #1721
- [x] #2004

### Design
- [x] [MD] Client Management design

### Implementation Plan
- [x] #1971
  - [x] #1979
  - [x] #1980
  - [x] #1987
  - [x] #2005
  - [ ] #2008
- [x] #1981
  - [x] #1982
  - [x] #1983
  - [x] #1984
  - [x] #1985
  - [ ] #2006
  - [ ] #2009
- [x] #1987
- [x] #1988
  -

[2022-07-28 22:01] zhongnansu opened #2004 "Research on failed visualization types and saved searches in Dashboards"
In the poc, we demonstrate how to enable visualizations to retrieve and render data from any user-configured datasource on demand. However there are some visualizations from sample dataset[e-commerce], that failed to render. We’ll dive deep into the reason it fails, and go over all viz types. Finally we either propose a more *generic solution*, or we decide if we want to *exclude certain viz types

[2022-07-28 22:04] #1858 closed

[2022-07-28 22:06] #2004 closed

[2022-07-28 22:16] zhongnansu opened #2005 "[MD] Document new APIs for core -> opensearch data service"

[2022-07-28 22:19] zhongnansu opened #2006 "[MD]Client management further optimization"

[2022-07-28 22:34] zhongnansu opened #2008 "[MD] implement compatibility check for opensearch data sources"

[2022-07-28 22:34] zhongnansu opened #2009 "[MD] support `ClientOptions` when build data source clients"
TODO:
- need proposal on what ClientOptions should be exposed
- need refactor(de-couple) existing flow to parseClient Option in order to support all auth methods

[2022-07-29 00:11] joshuarrrr commented on #1242
@btzeng @ahopp I'm definitely a fan of adding this feature, but have a couple questions and concerns about the ramifications of this approach that may warrant further discussion.

---

## 1. Global Query Bar behavior may become surprising

One large risk is that we're breaking the fundamental information hierarchy implied by the Global Query Bar. Currently, that component behaves so consistently t

[2022-07-29 00:31] joshuarrrr commented on #1962
@kgcreative, it sounds like we first need to decide how and where we want to collect the feedback, and then we can update the link/copy/CTA. Will UX be providing, or should we ping someone else to provide?

[2022-07-29 00:41] joshuarrrr opened #2011 "[D&D] Placeholder visualization selection menu"
We didn't yet complete https://github.com/opensearch-project/OpenSearch-Dashboards/issues/954, because we only have one visualization type (metric) ready for the 2.2 experimental release. Instead, we should implement the selector as mocked there, but with other visualization types as inactive and some sort of "coming soon" message.

[2022-07-29 00:42] joshuarrrr commented on #2011
@btzeng can you provide updated guidance on the look and behavior of the selector for initial release?

[2022-07-29 00:43] joshuarrrr commented on #954
This will be on hold for now, with #2011 in its place.

[2022-07-29 00:50] joshuarrrr commented on #1879
New metadata slice was created in #1953, #1965.

[2022-07-29 00:59] joshuarrrr commented on #1703
Moved remaining tasks to https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1922

[2022-07-29 00:59] #1703 closed

[2022-07-29 06:13] MonishaSukumar opened #2013 "[BUG] No data to display message due to missing data points"
ES query was optimized in a way to filter the buckets with null values and this has caused the missing data points from different resources resulting in No Data To Display.

In the series aggregation plugin basic sum function, we are trying to access the missing element in-between which breaks the loop, and data is not returned.

Input series we get:
[

    [ [ T1 , 1 ] , [ T2 , 0 ] , [ T3 , 1 ] ]

[2022-07-29 16:32] btzeng commented on #2011
@joshuarrrr Thanks for reaching out. the design team is currently figuring out the goal of the test for the experimental release. If the strategy is to communicate there will be more "prioritized" chart types coming, I'll provide additional message and design mocks.

[2022-07-29 16:57] btzeng commented on #1242
@joshuarrrr  Related to the panel header component that Kroosh is working on, we'll adopt the panel component here. I'll also talk to her and Xenia about the display of custom time range since it's an information that users want to see upfront. I don't think it should be buried inside the meatball menu.

[2022-07-29 18:35] zhongnansu opened #2014 "test"

[2022-07-29 18:35] #2014 closed

[2022-07-29 22:56] bandinib-amzn commented on #1270
Hi,

Adding to @kavilla's above comment, we don't delete the index pattern behind the scene. Other reason I can think of is Cluster can be configured in such way that it deletes indices after several days. Another reason can be ```.kibana``` index is corrupted. In case if you see problem again, do you mid posting the output of ```GET .kibana/_settings?pretty```? It will help to investigate further

[2022-07-29 23:24] kristenTian opened #2017 "[DSM] Data source management plugin setup"

[2022-07-29 23:27] kristenTian opened #2018 "test"
test

[2022-07-29 23:29] #2018 closed

[2022-07-29 23:34] kristenTian opened #2019 "[DSM] Landing page (List data sources) + UT"

[2022-07-29 23:37] kristenTian opened #2020 "[DSM] Data source creation + UT"
creation without validation

[2022-07-29 23:39] kristenTian opened #2021 "[DSM] Data source detail page + UT"
Show details user entered during creation step.
 - Fields should be view only for now.
 - Allow deletion

[2022-07-30 03:56] noCharger opened #2023 "[MD] Optimize saved object mapping with product and UX inputs"
TODO: Add updated data model here

[2022-07-30 03:57] noCharger opened #2024 "[MD] Optimize text content and layout with UX inputs"
- [ ] 1. the content for delete button confirmation box

Use case 1 - This is the screenshot of delete button confirmation box in editing credential page:
<img width="800" alt="Screen Shot 2022-08-11 at 1 24 46 PM" src="https://user-images.githubusercontent.com/109543558/184236017-f45960b9-83b5-4285-a852-22fb6b04b2d8.png">

Use case 2 - This is the screenshot of listing page delete button from Sav

[2022-07-30 03:59] noCharger opened #2025 "[MD] Not expose credential materials for read flow"
1. Get / BulkGet
2. Export

[2022-07-31 05:15] seraphjiang opened #2026 "[BUG] Unable to install plugin on platform that is NOT LINUX"
**Describe the bug**

Try to install plugin on my Mac environment, but got error

[code]

**Expected behavior**
Be able to install plugin on non-linux OS, MacOS, Windows

**Dashboards Version**
2.x

**Plugins**
https://github.com/jmcarp/kibana-ga

Please list all plugins currently enabled.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Host/Environment (please co

[2022-08-01 01:16] AMoo-Miki commented on #1873
Just to sum up, OSD v1.3.4 shows the y-axis on TSVB but v2.0.0 doesn't. My thought is that the bump in `eui-charts` has caused this but I can't be sure.

[2022-08-01 02:09] noCharger opened #2027 "[MD] Delete Credential from editing page"
Delete single credential from its credential edit page:

A user went to the credentials view page, clicked on one credential, entered into its edit page.

Then the user clicked the delete button.

A window pops up with following context:

[code]
After deletion confirmed, the OSD server received the delete credential request, deleted saved object and removed its credential profiles

[2022-08-01 04:52] kristenTian opened #2028 "[MD] Fix the sequence on navigation bar"
Currently the sequence of each tab in stack management navigation bar is:
Index Patterns
Data Sources
Saved Objects
Advanced Setting

The sequence should like this from top to down:

Data Sources
Index Patterns
Saved Objects
Advanced Setting

[2022-08-01 04:55] kristenTian opened #2029 "[MD] Fix Breadcrumbs for data source management"
Currently in stack management, the Breadcrumbs is broken for data source. The fix should result consistency as other exciting tabs.

[2022-08-01 06:27] kristenTian opened #2031 "[DSM] add data source plugin readme"

[2022-08-01 16:13] joshuarrrr commented on #2026
This is a feature request, not a bug - that appears to be the intended behavior of the script as per https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1316/files

[2022-08-01 16:18] seraphjiang commented on #2026
Thanks @joshuarrrr
Could we know what's the motivation to introduce the constrains in https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1316

[2022-08-01 16:23] joshuarrrr commented on #1928
Thanks @Shurov! I agree that the ordering could use some rethinking.

[2022-08-01 18:06] CPTNB opened #2032 "Re-enable automatic API documentation generators in CI"
The codebase has references to APIExtractor but those scripts aren't used.  This issue is to turn that back on so that we can get JSDoc/APIExtractor artifacts created as part of CI.  Actually hosting or putting this documentation anywhere is out of scope and handled in another ticket.

[2022-08-01 18:20] kavilla commented on #1616
@CPTNB will hand off work with this.

[2022-08-01 18:37] kavilla commented on #1717
Update: Collecting the work for executing this and breaking down.

[2022-08-01 18:46] kavilla commented on #2011
@btzeng could we get a decision on this by today?

[2022-08-01 19:02] kavilla commented on #895
TODO: break this issue down.

[2022-08-01 19:02] Flyingliuhub commented on #2013
@MonishaSukumar , thanks for contacting us. We will take a look and get back to you.

[2022-08-01 20:31] noCharger opened #2033 "[MD] Add unit test for brower plugin"
1. List page
2. Create page
3. View / Update page
4. Delete

[2022-08-01 22:12] noCharger commented on #1926
Exposing the `fetch and decrypt()` method is less recommended because we need to import credential management service to core, plus we need to take saved object client as a dependency. Given that core.dataService already requires a saved object client as a dependency for fetching data sources, it's logical to get credential object on data service layer and only use `decrypt()` as a utility method.

[2022-08-01 22:12] #1926 closed

[2022-08-01 22:30] kristenTian commented on #2021
Notes:
1. Update data source saved object register  (src/plugins/data_sources/server/saved_objects/data_source.ts) - with getEditUrl & getInAppUrl

[2022-08-01 22:45] kristenTian opened #2034 "[DSM] Add Data source icon"
pending after UX provide the icon resource.

- update src/plugins/data_sources/server/saved_objects/data_source.ts icon
- update in index pattern

[2022-08-01 23:05] noCharger opened #2035 "[MD] Add API level intercepter"
Add API level intercepter using `registerOnPreResponse`

[2022-08-01 23:05] manasvinibs opened #2036 "[Docs] Add document on "how to create OSD plugin" in the Developer doc site"
We have this document in the OSD repo: https://opensearch.org/blog/technical-post/2022/01/dashboards-plugins-intro/
We need this in the developer doc site.

[2022-08-02 00:16] joshuarrrr commented on #1242
We had a chat today where we talked about the larger context that this feature fits into (including other "anywhere" projects that will also be adding more features to dashboard panels). UX will provide updated mocks, and we'll make sure that the devs all working on these similar issues are in contact and working together. Overly simplified summary to the concerns I raised above:

1. Yes, panel st

[2022-08-02 07:36] kavilla opened #2039 "[BUG] Region Map Plug JS code"
**Describe the bug**

https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1718/files extending some functionality but the code was added in JS instead of TypeScript.

It new ups a legacy client, also, doesn't follow the casing format defined in the repo for example, `Opensearch` should be `OpenSearch`. Functions are not explicit too.

**To Reproduce**
Navigate to plugin, notice linter

[2022-08-02 08:44] kavilla opened #2041 "[BUG] Maps showRegionBlockedConfig doesn't work"
Set config in `opensearch_dashboards.yml` value was not getting passed down to the maps plugins.

[2022-08-02 12:07] andy-mitchell-capgemini commented on #1368
+1 to the feature request for custom themes.

[2022-08-02 12:22] jkrishnarao2003 commented on #1164
Thanks for reviewing.

[2022-08-02 17:12] kavilla opened #2044 "[Branding] implement to reduce validation logic"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2022-08-02 17:13] kavilla opened #2045 "[Branding] Implementation Design Spike"
**Is your feature request related to a problem? Please describe.**

Origin: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/895

There is duplication in validation logic that happens to render custom assets so future implementation requires this duplication.

**Describe the solution you'd like**

Reduction in this logic, but this is a spike task to figure out where this should e

[2022-08-02 17:15] noCharger opened #2046 "[MD] Saved object migration for compatibiliy (Optional)"
Reference: src/plugins/data/server/saved_objects/index_pattern_migrations.ts

[2022-08-02 17:30] noCharger opened #2047 "CM pages localization"

[2022-08-02 17:37] noCharger opened #2048 "[Bug] Header component error on index pattern management page"
<img width="1788" alt="Screen Shot 2022-08-31 at 11 01 05 AM" src="https://user-images.githubusercontent.com/44716267/187749293-2fab20c4-3e4f-4f08-bb50-b19d3716940b.png">

Reproduce steps:

1. pull code from main branch
2. start OSD instance
3. click 'stack management' -> 'Index Patterns'
4. check inspect and the error pops up in console

[2022-08-02 17:40] noCharger opened #2049 "[MD] Add toast for create and update page"
[code]

[2022-08-02 17:41] noCharger opened #2050 "[MD] Add rendering spanner"
[code]

[2022-08-02 17:44] noCharger opened #2051 "[MD] Add header for editing page"
Current header for listing page:
<img width="932" alt="Screen Shot 2022-08-05 at 11 48 17 AM" src="https://user-images.githubusercontent.com/44716267/183142167-bc006185-b97f-4ff6-b61b-10a2e15ddbf3.png">

Current header for create stored credential page:
<img width="908" alt="Screen Shot 2022-08-05 at 11 49 02 AM" src="https://user-images.githubusercontent.com/44716267/183142262-005b4104-2a02-4135-

[2022-08-02 18:01] zengyan-amazon commented on #1971
we will not add OpenSearchDataService to OSD core, instead, I'd make it part of data source plugin. So we will register data source saved object type into `dataSource` plugin, and provide functions for other components to get OpenSearch client for data sources in request context

[2022-08-02 18:19] joshuarrrr commented on #1866
I strongly favor Option 3 here, particularly because this is the solution already implemented by the `visualizations` app for this exact use case: to include the saved objects of other plugins that register themselves as "aliases" of a visualization saved object. I'd rather first keep the behavior consistent across the two core apps and then later refactor or re-architect them together.

As an exa

[2022-08-02 20:20] kristenTian opened #2053 "[DS] Populate readme"
Add readme to data source plugin

[2022-08-02 21:41] noCharger opened #2055 "[MD] Optimize delete button on listing page"
### User Story - Delete multiple credentials from credentials view page:

A user clicked "Credentials" button under stack management, looking through all credentials listed. Then Andrew decided to delete some of credentials by selecting them:

[code]

A window pops up with all selected credentials with such context:

[code]

Following confirmation of deletion, the OSD server received delete multip

[2022-08-02 22:33] ananzh commented on #1873
Found this error in console log
[code]
<img width="980" alt="Screen Shot 2022-08-02 at 15 28 21" src="https://user-images.githubusercontent.com/79961084/182484800-51ed0066-06c3-4e91-af3e-99035a2c7cda.png">

[2022-08-02 22:55] ananzh commented on #1873
Meanwhile compare props of XYChart from v1.3.4 and v2.0.0
v1.3.4
<img width="636" alt="Screen Shot 2022-08-02 at 15 49 24" src="https://user-images.githubusercontent.com/79961084/182486712-b273d422-e2a2-4bf7-a8b4-577503dd4bc6.png">

v2.0.0
<img width="482" alt="Screen Shot 2022-08-02 at 15 48 53" src="https://user-images.githubusercontent.com/79961084/182486758-892b73cc-825d-4153-9644-3f4deccc5d5f

[2022-08-02 23:05] zhongnansu commented on #1986
Reference
Graphana Audit logs for datasource management
<h4 id="data-sources-management" style="box-sizing: border-box; margin-top: 0px; padding-top: 0.2rem; margin-bottom: 1rem; font-family: inter, sans-serif; font-weight: 500; font-style: normal; line-height: 1.2; color: rgb(0, 0, 0); letter-spacing: -0.015rem; font-size: 1.375rem; font-variant-ligatures: normal; font-variant-caps: normal; orpha

[2022-08-02 23:37] kavilla opened #2057 "[BUG] Enable and fix legacy maps tests"
**Describe the bug**
Origin:
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/233/files

This tests were removed because at the time we didn't have a dedicated maps service but now that we do we can mock up some example responses that the tests are expecting.

**To Reproduce**
Remove the legacy map from Jest ignore and run `yarn test:jest src/plugins/maps_legacy` and watch failures

[2022-08-02 23:48] #2041 closed

[2022-08-03 17:22] gautam-nutalapati opened #2059 "Discover pane in opensearch provides a hint for longer logs"
**Is your feature request related to a problem? Please describe.**

When I search for logs in discover pane, for longer logs, I have no clue if thats the end of log or if I need to expand the log to see full log content.

**Describe the solution you'd like**

A hint that the log is expandable. Show `<expand>` OR `...` at end of unexpanded log line.

**Describe alternatives you've considered**

A d

[2022-08-03 17:48] noCharger opened #2060 "[MD] Fix breadcrumb"
![Screen Shot 2022-08-03 at 10 49 52 AM](https://user-images.githubusercontent.com/44716267/182675478-b873a8fa-4758-48cb-9671-4d14ec16caaf.png)

[2022-08-03 17:56] kristenTian opened #2061 "[IP] Remove add sample data prompts page"

[2022-08-03 18:01] mend-for-github-com[bot] opened #2063 "CVE-2022-2596 (Medium) detected in node-fetch-2.6.7.tgz - autoclosed"
## CVE-2022-2596 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-2.6.7.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-2.6.7.tgz">

[2022-08-03 18:01] zhongnansu commented on #1986
@zengyan-amazon @seraphjiang Any thoughts?

[2022-08-03 18:21] kristenTian commented on #2061
This is blocked until the global switch support is added.

[2022-08-03 18:23] kristenTian opened #2064 "[MD][IP] Add config data source step"

[2022-08-03 18:51] kavilla opened #2065 "[DISCUSS] What constitutes a new plugin being a core plugin"
Right now, core plugins for OpenSearch Dashboards means plugins that exist in this repo and "external" plugins are the plugins that exist outside this repo in it's own repo and require an installation step.

As more and more projects get kicked off there appears to be an increasing amount of desire to develop new plugins and place them within the OpenSearch Dashboards repo as a core plugin. Or tak

[2022-08-03 20:47] noCharger opened #2068 "[MD] Add security focused test cases for encrypt/decrypt"
Write security focused test cases

[2022-08-04 15:47] Flyingliuhub commented on #2063
yarn why node-fetch
yarn why v1.22.10
[1/4] Why do we have the module "node-fetch"...?
[2/4] Initialising dependency graph...
warning Resolution field "typescript@4.0.2" is incompatible with requested version "typescript@~4.5.2"
[3/4] Finding dependency...
[4/4] Calculating file sizes...
=> Found "node-fetch@2.6.7"
info Has been hoisted to "node-fetch"
info Reasons this module exists
   - "workspa

[2022-08-04 16:15] kaddy645 opened #2072 "[Bug] Fix global Breadcrumb styling"
Fix :
- Consistent height breadcrumb
- Consistent breadcrumb colors in dark mod

![image](https://user-images.githubusercontent.com/32860683/182897372-579c2d25-b21d-45e7-bc71-db8d33fe43f7.png)

[2022-08-04 17:52] abbyhu2000 commented on #2044
Here are some initial design spike result for the first two possible implementation, and still researching on the third one(branding plugin):
1. Extend rendering service: https://github.com/abbyhu2000/OpenSearch-Dashboards/pull/5/commits
2. Create a new branding service: https://github.com/abbyhu2000/OpenSearch-Dashboards/pull/4

@kavilla @joshuarrrr @ashwin-pc

[2022-08-04 18:28] kavilla opened #2073 "[RESEARCH] Primary charting library"
Research into moving away from existing to new standard. Including the why.

Requirements:
* Information provided on the why
* Proposal created (new issue)
* POC with Drag-&-Drop

[2022-08-04 18:39] seraphjiang commented on #2060
screenshot show Saved Objects, should it be `Credentials`?

[2022-08-04 22:33] #1319 closed

[2022-08-04 22:33] #1544 closed

[2022-08-04 23:08] #2049 closed

[2022-08-04 23:08] #2060 closed

[2022-08-04 23:09] noCharger commented on #2060
Yes that what already been fixed #2069

[2022-08-04 23:46] ananzh opened #2077 "DeAngularize Discover Plugin"
This project is part of Remove AngularJS project https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1560

# Scope
* de-angularize discover
* re-construct the discover plugin path
* clean tests

# Tasks

## Prepare
* convert remaining js files to ts

## Deangularize context
* create a react component context_app.tsx (context_app.html)
    * move osd-top-nav out
        * use navigat

[2022-08-05 00:58] #2063 closed

[2022-08-05 15:21] #2028 closed

[2022-08-05 16:06] Flyingliuhub commented on #2039
@kavilla discussed offline with @junqiu-lei , the owner of this change is @Shivamdhar.

[2022-08-05 16:06] Flyingliuhub commented on #2039
@Shivamdhar, Could you please take a look this issue and provides the fixes? Thanks

[2022-08-05 16:19] Shivamdhar commented on #2039
@Flyingliuhub sure. I'll take a look into it.

[2022-08-05 16:54] #2023 closed

[2022-08-05 16:55] noCharger opened #2081 "[MD] Implement Encrypt / Decrypt module"

[2022-08-05 17:06] seraphjiang commented on #1850
@noCharger what is latest status for this? is there a draft PR we could take a look

[2022-08-05 17:21] opoplawski commented on #831
Filebeat 7.17.3 suricata dashboards:

[code]
I suspect one would need to import the related visualizations first but I have no idea how to do that.

[2022-08-05 17:27] #2011 closed

[2022-08-05 17:38] #1864 closed

[2022-08-05 18:21] #961 closed

[2022-08-05 20:30] kristenTian commented on #2064
![image](https://user-images.githubusercontent.com/105667444/183158159-310321b6-691f-4cf4-97a8-e313ef050bf0.png)

[2022-08-05 21:53] noCharger commented on #2055
Please make changes based on comments left on https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2076

[2022-08-08 03:14] seraphjiang opened #2087 "[BUG] Not able to run functional test on my MacOS"
**Describe the bug**

Clone repo and pull code,

try to run functional test ciGroup1 on my local Mac, but got error,

[code]

**Expected behavior**

1. developer should be able to run any functional test from most popular OS (MacOS, Windows, Linux)
2. add documentation to list all environment variable which are supported and useful to run test e.g. `export TEST_OPENSEARCH_FROM=`

[2022-08-08 15:43] sipopo opened #2088 "[ENHANCEMENT] Ability to start OS Dashboards with a newer and compatible nodejs version"
**Describe the bug**

The application doesn't start with nodejs version 14.20.0

**To Reproduce**
Upgrade nodejs to version 14.20.0 and run the application.

**Expected behavior**
The application should start.

**OpenSearch Version**
OpenSearch-Dashboard 2.1.0

**Additional context**
Errors in log: OpenSearch Dashboards was built with v14.19.1 and does not support the current Node.js version v14.2

[2022-08-08 15:50] ananzh opened #2089 "[DeAngularize] [Discover] convert remaining js files to ts"
Clean discover code. Convert remaining js files to ts.

[2022-08-08 15:53] ananzh opened #2090 "[DeAngularize] [Discover] move doc-table component out from context_app.html"
move doc-table component out from context_app.html
* reuse create_doc_table_react.tsx

[2022-08-08 16:52] kavilla commented on #2088
Hello @sipopo,

Thanks for opening. I would be hesitant to call this a bug because it's quite intentional. As indicated by the message, OpenSearch Dashboards was built with 14.19 and we are semi-confident that there won't be any unforeseen issues by having different patch versions. But that risk increases even more when we allow for minor versions to be different.

In my opinion I'd think it's mor

[2022-08-08 17:49] abbyhu2000 commented on #2044
3. Draft PR for branding plugin (still work in progress): https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2092

[2022-08-08 18:25] AMoo-Miki opened #2093 "[BUG] Docker image building fails"
**Describe the bug**

The base OS image used for generating Docker images is [CentOS 8](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/d7004dc5b0392477fdd54ac66b29d231975a173b/src/dev/build/tasks/os_packages/docker_generator/run.ts#L54). CentOS 8 was [EOLed](https://www.centos.org/centos-linux-eol/) at the end of 2021 and the official mirrors were wiped. As a result, building doc

[2022-08-08 22:28] #2005 closed

[2022-08-08 22:29] #1987 closed

[2022-08-08 22:40] zhongnansu commented on #1971
Due to the change of design, we are moving the client management from a "core service" to data source plugin. The most uncertain refactor is how to expose "getDataSourceClient" function in request handler context. The previous idea is proved by POC that we can register it with "core context". But we can't apply the same within a plugin.

I am working on a POC to register "getClient()" interface,

[2022-08-08 23:02] peterzhuamazon commented on #2093
In build repo we already swap any build related image that requires a RHEL 8 to RockyLinux 8.
There is also another flavor in Almalinux 8. Both are good alternatives to the CentOS8.

We as infra does not use this dashboards core docker image building file in any of our builds, as we have our own scripts in our repo to handle that.

[2022-08-08 23:13] #2072 closed

[2022-08-08 23:46] kristenTian commented on #2064
Hi Kroosh, one more thing to consider in this part is that, we could also allow user to use local cluster as a data source. -- Right now the flow ask the user to use other clusters as data sources only.

[2022-08-08 23:49] KrooshalUX commented on #2064
@kristenTian  are you referring to the Figma mockup?

[2022-08-08 23:55] KrooshalUX commented on #2064
@kristenTian  Got it. To inform the designs, do we currently allow users to assign a name to the local cluster?

[2022-08-09 01:25] ashwin-pc commented on #2044
Since our goal here is to reduce logic, I still think that my suggestion [here](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1250#issuecomment-1176617482) would simplify branding significantly.

[2022-08-09 01:48] ashwin-pc commented on #2088
I'm curious to know if we have any documented examples of using higher minor versions of node breaking anything in OSD. The entire purpose of `semver` is to introduce non breaking backward compatible changes in minor version bumps (And node does follow semver). To not use that and lock down the major, minor and patch versions of NodeJS used seems over cautious imo.

Like you called out, i'd be ope

[2022-08-09 02:05] ashwin-pc commented on #2065
I think we should also keep in mind the current architecture before making this decision. I'm a strong proponent of making core as light as possible. In fact if core OSD could just be a shell only capable of loading a welcome screen and every feature it provides on top of that be a plugin, i'd love that approach. But that would mean ripping up and rethinking a lot of the current architecture.

To

[2022-08-09 02:07] ashwin-pc commented on #2087
I agree, especially since this makes writing functional tests quite painful. What are the current limitations for enabling this?

[2022-08-09 02:10] ashwin-pc commented on #2093
@kavilla do you think this is a candidate for the `good-first-issue` label?

[2022-08-09 02:11] ashwin-pc commented on #2077
Is this the meta tracking issue for deangularize?

[2022-08-09 02:19] ashwin-pc commented on #2036
That article is an introduction to plugins and its lifecycle. "How to create an OSD plugin" is just a tiny paragraph in there and that intentional. Lets move that article as is into the developer docs site, but if we want to keep a dedicated "How to create an OSD plugin" article, lets make it a tutorial for a demo hello world plugin that uses some of the core components from OSD like saved objects

[2022-08-09 02:23] ashwin-pc commented on #1612
Maybe im not reading this correctly, but how does this differ from saved searches or saved queries?

[2022-08-09 02:34] ashwin-pc commented on #1215
Are there any plans in this proposal for 3rd party plugins to register their features to support the security model? e.g. a plugin should be able to register either routes or api's that need specific auth roles to be accessible. And to take that a step further, provide options for an admin to specify which features need which auth role to access.

[2022-08-09 03:54] kavilla commented on #1612
@ashwin-pc

I believe on the data source side it would be essentially a view at the data at that specific time compared to timestamps of the data.

Like a snapshot of the data. If I remember the implementation details on the engine side completely partitioned from the data that OpenSearch Dashboards normally hits.

[2022-08-09 03:57] kavilla commented on #2093
I believe we can close this as a duplicate for this https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1601

[2022-08-09 04:01] smortex commented on #2088
:+1: for honoring SemVer: currently we actively reject expected to be compatible versions.  Also if a security issue is found in node 14, it would be fixed as 14.20.1 (now that 14.20.0 has been released), this mean that the fixed version could not be used without prior patching.

[2022-08-09 04:31] smortex commented on #2088
My bad, 14.20.0 already fix three medium severity issues and two high severity issues according to https://nodejs.org/en/blog/vulnerability/july-2022-security-releases/ :upside_down_face:

[2022-08-09 05:40] kavilla commented on #2088
I think that's one of the issues that we still have not done enough research in why this check was required and carried over from the fork. The original expected to use the bundled Node version and if the Node executable isn't available it will default to use the env global version, and expected the same version.

Historically I can only find that the reason why this logic existed was that they sa

[2022-08-09 15:24] nomopo45 opened #2099 "[BUG]SAML and http authentication at the same time"
Hello,

I managed to have my SAML working, but now i don't have choice but to use SAML i would like to be able to connect through username, password or by using SAML is it possible ?

I'm deploying Opensearch and dashboards with Helm here is the interesting values for your reference :

[code]

and for the dashboard:

[code]

[2022-08-09 17:36] aoguan1990 opened #2100 "[Feature-Proposal] Enable Multiple Authentication for OpenSearch Dashboard"
### **What are you proposing?**
Leverage the functionality to allow OpenSearch Dashboards administer to enable multiple authentication types on demand by setting up OpenSeach Dashboards configuration. For OpenSearch Dashboards with Security Plugin enabled, at least one authentication type should be configured.

  | In Scope | Out of Scope
-- | -- | --
Single Authentication Mode | Basic, OpenID Con

[2022-08-09 18:56] ashwin-pc commented on #2088
I think this is a separate conversation

I think the ask here is much simpler. It's just to allow the user to use minor versions greater than the one defined in `.nvmrc`. The bundled node versions will always contain the version we specify, but if a user has a higher node minor version on their system, we dont need to fail the build, but instead just give a warning. We already do the same thing wi

[2022-08-09 19:24] #1873 closed

[2022-08-09 20:34] aoguan1990 commented on #2093
Close this Issue due to duplication.

[2022-08-09 20:34] #2093 closed

[2022-08-09 20:43] aoguan1990 commented on #2087
Duplicate Issue: [#2088](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2088)

[2022-08-09 21:52] noCharger opened #2110 "[MD][Meta] Support SigV4 auth types for data source"

[2022-08-09 22:06] kristenTian opened #2111 "[MD][IP] Integrate MD related features with on/off switch"

[2022-08-09 22:07] kristenTian opened #2112 "[MD][IP] Link DataSource to index pattern"

[2022-08-09 22:07] kristenTian opened #2113 "[MD][IP] Populate datasource inside index Pattern"

[2022-08-09 22:08] kristenTian opened #2115 "[MD][IP]Modify indices loading to after data source selection"

[2022-08-09 22:53] zhongnansu opened #2119 "[MD]Refactor search plugin manifest to optionally depend on data source plugin"
- Manifest
[code]

[2022-08-10 20:19] sshock opened #2123 "[BUG]"
**Describe the bug**

Dark Mode should be a user-configurable setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go into Stack Management => Advanced Settings
2. Turn dark mode on or off

**Expected behavior**
Dark mode is turned on/off only for users who wish to inherit the global default.

**Actual behavior**
Dark mode is turned on/off only for everyone in the entire large company an

[2022-08-10 20:19] sshock opened #2159 "[BUG] Dark mode cannot be set per user"
**Describe the bug**

Dark Mode should be a user-configurable setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go into Stack Management => Advanced Settings
2. Turn dark mode on or off

**Expected behavior**
Dark mode is turned on/off only for users who wish to inherit the global default.

**Actual behavior**
Dark mode is turned on/off for everyone in the entire large company and use

[2022-08-11 08:51] noCharger opened #2124 "[MD] Provide update API to drop the document fields"

[2022-08-11 09:02] cwegener commented on #963
Hi @AMoo-Miki

Thanks for this good write up. Very interesting.

Out of curiosity, one question related to the new Maps service:
Was there a deliberate decision to **not** allow Preflight request for the Opensearch Maps service?

Mainly asking because Elastic seem to go the other route and they **do** allow Preflight requests.

[2022-08-11 10:45] joriham opened #2125 "[BUG] Container version of OS-DB notifications times out 30000ms"
**Describe the bug**

I've created channels etc via GUI. When I press "Send test message" after a while I only get timeout failure. Both email and webhook produce similar failure.

By going to docker exec -it <id> bash and using curl I can send out webhook alarms to MS Teams. But not from OS plugin.

Docker log for container shows
{"type":"response","@timestamp":"2022-08-11T10:34:35Z","tags":[],"p

[2022-08-11 10:47] joriham commented on #2125
This notification failure was also on previous version of OS. On Aug 10th I upgraded both opensearch and opensearch dashboards to tag latest which is visible.

[2022-08-11 11:26] kavilla commented on #2125
Hello @joriham!

Thanks for opening! Will re-route to notifications plugin!

[2022-08-11 12:09] smakaravets opened #2126 "[BUG] After change url of saved query, new url go to saved query without chages"
**Describe the bug**

I set up a saved request. After that, I made changes to the filter, I got the expected result. After that, I did a page refresh and returned to the saved request without the changed filters.

URL with saved query: `https://opensearch.company.in/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5m,to:now))&_a=(columns:!(_source),filters:!(('$stat

[2022-08-11 14:05] fatihakafou commented on #657
Hi,

This is also really needed for us. Any update on it ??

[2022-08-11 14:58] bharath-techie opened #2127 "Point in time - stack management POC"
### Overview

For phase 1 of point in time UX implementation, we are making changes to stack management section and as part of this POC we'll create point in time from side drawer and show the created PITs in table - reference : https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1612

### High level tasks:

- [ ] Create side drawer
- [ ] Table UI
- [ ] Server side changes to make a

[2022-08-11 17:02] CPTNB commented on #2032
Re-enabling api-extractor is blocked by [TS compilation #1660 ](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1660).

Investigating JSDoc to get something in the meantime

[2022-08-11 17:59] abbyhu2000 commented on #2044
4. Use i18n plugin for custom title configuration as Ashwin suggests: https://github.com/abbyhu2000/OpenSearch-Dashboards/pull/7

[2022-08-11 19:18] mihirsoni opened #2131 "Allow serving Static assets through CDNs"
**Is your feature request related to a problem? Please describe.**

Currently, Dashboards assets can not be served with CDN, since we do have build number (Which is unique) on each version we could now support loading assets from CDN, I would like to propose a feature where there is feasibility of serving static assets with CDN.

**Describe the solution you'd like**

Allowing static assets to be s

[2022-08-11 23:53] ashwin-pc opened #2132 "[Docs] OpenSearch documentation gaps"
# OpenSearch Dashboards documentation gaps

This is just my take on some of the documentation gaps that we have. Would love to start a discussion on the topics and how we can address them incrementally. This outlines some of the gaps in documentation we have today, both in the form of readme's within the repo and as a separate doc site.

## Table of contents

- Architecture
- Development
- Core
-

[2022-08-11 23:59] ashwin-pc commented on #2132
Suggested approach to fill in these gaps:
- Identify/Assign an SME to each topic
- Determine if additional research is needed
  - If additional research is needed, timebox and research
-  Create an issue and document the topic in a readme in the repo or on the doc site

[2022-08-12 00:08] kavilla commented on #2123
Hello @sshock!

Thanks opening!

I just wanted to make a quick note: `users who wish to inherit the global default` isn't accurate to the current state of things. Not blaming you though because I think the naming is confusing and a lot of users have had this complaint. Based on this [doc](https://opensearch.org/docs/latest/security-plugin/access-control/multi-tenancy/), the `global` tenant is the

[2022-08-12 00:14] #2039 closed

[2022-08-12 08:08] zhongnansu opened #2133 "[MD]Add support for opensearch legacy client for data source"
Need to do most things similar to opensearch data source client. Register interface, create route context, etc

By adding support for legacy client, I assume the route context for data source will look like this
[code]

## Ref
Legacy Elasticsearch Client: https://www.elastic.co/guide/en/elasticsearch/client/elasticsearch-js/16.x/index.html

Legacy Client lib is doesn't support `chilld()` option. T

[2022-08-12 08:10] hobayoba commented on #1249
got the same
tried to increase  `autocompleteTimeout` and `autocompleteTerminateAfter` settings in config:
[code]
and then restarted the dashboard service, and checked it again, but didn't get positive result:
![image](https://user-images.githubusercontent.com/26030140/184309275-6f7b870d-77bf-4c62-892d-8302fced182c.png)

p.s.: btw, i remember that this visualization was working like a charm in Kib

[2022-08-12 09:45] Jakob3xD opened #2134 "[BUG] Tenancy causes MISSING_PRIVILEGES due to wrong opensearchDashboards.index"
**Describe the bug**

When using multi tenancy the Dashboard will cause `MISSING_PRIVILEGES: indices:data/read/get` for `.kibana_1` when refreshing or loading data via the Discover tab.

**To Reproduce**
Steps to reproduce the behavior:
As Admin:
1. Add test User with Backend role `opensearch.tenant.hc`
2. Add Tenant `Cloud`
3. Create Role:
[code]
5. Map role to `opensearch.tenant.hc`

As Test Use

[2022-08-12 14:58] neyp opened #2135 "[BUG] Wrong URL for PPL documentation on Workbench"
**Describe the bug**

Wrong URL for PPL documentation on Workbench.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Workbench
2. Click on 'PPL documentation'

**Expected behavior**
Load [the correct page](https://opensearch.org/docs/latest/observability-plugin/ppl/index/).

**OpenSearch Version**
1.3

**Dashboards Version**
AWS 1.3

[2022-08-12 15:12] #535 closed

[2022-08-12 15:49] ananzh opened #2137 "[DeAngular][visualization][vislib] clean angular code in vis_type_vislib"
[vis_type_vislib](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/plugins/vis_type_vislib/public/vislib/lib/binder.ts) only has one file contains angular import and angular $scope.

From upstream, there are two places using Binder
1) In Tooltip, create a new Binder class `this.binder = new Binder()` ([code reference](https://github.com/opensearch-project/OpenSearch-Dashbo

[2022-08-12 16:33] ananzh opened #2139 "[Proposal][DeAngular][table] table visualization re-write to get rid of angular"
# Statement
Currently, table visualization is written in Angular. Angular is [not supported since 12/2021](https://blog.angular.io/discontinued-long-term-support-for-angularjs-cc066b82e65a) and cause [high severity CVE issues](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1558). Since we decided to remove angular from current code base, table visualization needs to be refactor

[2022-08-12 17:00] smortex commented on #2088
#2101 was merged and update nodejs to 14.20.0 so this Issue title is not true anymore. I suggest to update it to better match the discussion,  something like "[BUG] Not able to start OS Dashboards with a newer and compatible nodejs version"

[2022-08-12 18:29] kristenTian opened #2140 "[MD] Reference deletion support"
Data source and credential are references to other saved objects however can be deleted, therefore proper mechanism should be investigated, for example:

- Validation before deletion
- Bubble up the missing reference

[2022-08-12 18:59] #1850 closed

[2022-08-12 19:00] #2124 closed

[2022-08-12 19:05] #2081 closed

[2022-08-14 09:37] firnandestech opened #2143 "AWS iOT Rule Action to OpenSearch Got 403 Error"
I was setting up AWS IoT Rule Action to OpenSearch. I have setup all necessary setup such as role which has access to the open search domain created. But, I got error:  failures": [
        {
            "failedAction": "OpenSearchAction",
            "failedResource": "<domain>",
            "errorMessage": "Failed to index document in OpenSearch.  The error received was Forbidden. Message arrive

[2022-08-14 12:31] #2143 closed

[2022-08-15 13:48] noCharger opened #2144 "[MD] Extract credential form for reusablility"

[2022-08-15 13:51] #2027 closed

[2022-08-15 16:49] zengyan-amazon commented on #2035
is https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2025 referring to the same thing?

[2022-08-15 17:18] abbyhu2000 commented on #2044
5. Use asset folder to store default branding logos and user can directly replace those default images if they choose to.

Our current implementation already stores all the default opensearch logos' and marks' svg images in an asset folder (src/core/server/core_app/assets/default_branding). We can move this folder to a root level folder and user can have a second option to configure branding on to

[2022-08-15 17:40] joshuarrrr commented on #2044
Rather than moving them,we might consider copying them to a root level folder instead. That would allow the user to have a safe space to make changes or overwrite the files, with the option to restore or reset if necessary.

[2022-08-15 18:12] #1708 closed

[2022-08-15 18:13] kavilla commented on #1962
Closing, will re-visit for 2.3.

[2022-08-15 18:13] #1962 closed

[2022-08-15 18:19] kavilla commented on #1704
Will ice-box this for now and rely on functional tests to verify this.

[2022-08-15 18:25] kavilla commented on #1099
Assigning @AMoo-Miki, pinging you to see if this issue is a good issue to re-purpose.

[2022-08-15 19:01] ashwin-pc commented on #2044
@joshuarrrr  Oooh, I like this more

[2022-08-15 19:09] #1290 closed

[2022-08-15 19:11] kavilla opened #2145 "[Plugin as Extension][SPIKE] Runtime as extension"
Research into allowing an a plugin (extension) to build outside of the OpenSearch Dashboards project.

Requirements:
* Draft proposals
* Get agreement with proposals and get feedback

[2022-08-15 22:32] ananzh commented on #1957
2.2 has been published. close this issue.

[2022-08-15 22:32] #1957 closed

[2022-08-15 23:04] abbyhu2000 commented on #2044
After our discussion, we decided to use solution 1 (extend rendering service) to reduce the duplicated branding logics for now. In the future, we will shift the branding configuration to solution 4 & 5 using asset folder and i18n plugin with the consideration of community feedback. More details to follow.

[2022-08-16 00:14] KrooshalUX commented on #1973
<img width="713" alt="Screen Shot 2022-08-15 at 4 55 59 PM" src="https://user-images.githubusercontent.com/105819041/184755690-22d8d155-ca80-4f42-9f2a-a5d90c8eb71c.png">

Currently writing comprehensive guidelines - Can you please specify the following for each form field #'d :
1) Min chars, max chars, what values are not allowed
2) Min chars, max chars, what values are not allowed
3) No validatio

[2022-08-16 08:08] ashwin-pc commented on #950
This is on hold for now since the field summary component from discover does not display an accurate summary of all the data and is in its current state kinda misleading. @joshuarrrr Can you comment on our plan for this?

[2022-08-16 08:12] ashwin-pc commented on #954
The exit criteria here will be to
- Move the Style panel from the Left hand side of the workspace to the right hand side
- Place the Visualization type picker into the right hand panel
- Make both the left and right hand side panels collapsible and resizable (With min and max constraints)

[2022-08-16 08:26] ashwin-pc commented on #1922
@joshuarrrr When are we targeting this?

[2022-08-16 15:34] vagimeli commented on #2132
@ashwin-pc Let's sync to discuss content strategy and development.

[2022-08-16 15:45] CPTNB commented on #1625
Note: some back-end timeouts (long query, etc.) manifest to the end user as a 403.  This is confusing and makes the product harder to support and troubleshoot.  As part of this work we should adhere to [HTTP status code standards](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status).

[2022-08-16 15:46] KrooshalUX commented on #1973
General guidance:
If any field is missing a value or otherwise contains an error, the submit button should remain in disabled state
Do not check for values onFocus

Credential Title Field (1)
- onBlur & onChange - check for any value. If blank, display inline error
- Preferably onBlur - check if value exists as a credential title object. If the value is not unique, display inline error (this may n

[2022-08-16 18:42] seraphjiang commented on #1978
@noCharger

what's the proposed config item name, please provide this, so other component owner could mock in their code before feature is implemented?

[2022-08-16 18:48] noCharger commented on #1978
data_source.enabled

[2022-08-16 18:49] seraphjiang commented on #1978
we should have very simple switcher
e.g.

datasource.enabled: false

1. this config should be readable from public plugin code at browser
[code]

2. this config should be accessible from  Server plugin code

3. this config could be configure and set when dashboards launch
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/2d6eef9679dcc225757873d50d40dccc8abeceea/test/common/config.js

[2022-08-16 18:55] seraphjiang commented on #1978
@zengyan-amazon @zhongnansu @kristenTian @mpabba3003 @yibow98  @KrooshalUX @kgcreative

here is the feature flag to enable/disable data source feature, would please review and comment if different opinion, otherwise we will go with it.

[2022-08-16 19:07] noCharger commented on #1978
Aligned with all but the code block under 1 will not apply in our case since PluginConfigDescriptor interface and `exposeToBrowser` only supported for configs of same plugin

[2022-08-16 19:13] seraphjiang commented on #1978
good to know. let's cut feature request issue to track for long term solution

to unblock this, what's proposal?

have we consider introduce plugin level flag?

[code]

[2022-08-16 20:23] zhongnansu commented on #1978
There're 2 places we need conditional rendering.

1.  `Cred management plugin` and `DS management plugin`
2. `Index Pattern management` plugin, to conditionally render the "attach datasource" configuration step

I agree to have only 1 switch in the data source plugin, and have `Cred management plugin` and `DS management plugin` to depend on that.

[code]

As for how to access the global switch val

[2022-08-16 21:24] kgcreative commented on #1500
Nothing short term yet. This has a dependency on refactoring the discover interface from angular to react, and then replacing the old table with either the new data grid, or an updated table component.

[2022-08-16 22:41] AMoo-Miki commented on #2065
I love the idea Ashwin is proposing and in fact, came to say exactly the same thing. I would also not hold back on gutting status quo; I propose extending Ashwin's proposal to:

1. Stop entertaining anything new to core: every plugin from this moment onward will be a regular plugin.
2. Make plugin discovery and install be as easy as a couple of clicks: this will not only install the plugins, but w

[2022-08-16 23:04] kristenTian opened #2151 "[IP] Update getIndicesViaResolve after ISearchOptions updated with data source field"
update getIndicesViaResolve with datasource Id

through -- request: SearchStrategyRequest, options?: ISearchOptions

[2022-08-16 23:43] mihirsoni commented on #2065
I do agree with @ashwin-pc  , IMO Core should be providing following capability fundamentally.
* Chrome for and initial UI
* AuthN and AuthZ
* Manage metadata and expose interface for plugins to manage their own data
* Provide plugin framework
* Dashboards administrative operations (Seamless upgrades / updates)
Ideally all the application on top could be outside of the core.

[2022-08-17 00:01] kristenTian opened #2153 "[MD] [Research] Onboard Vis timeseries (TSVB) to use datasource"
Onboard Vis timeseries (TSVB) to use datasource

### Code Ref:
Vis timeseries is also using `getFieldsForWildcard` so data source Id need to be added:  /packages/Kibana/blobs/7.10.2/--/src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.ts

/packages/Kibana/blobs/b03c8bc565d8e58365b9229e2b0bbc41e29731[…]6/--/src/plugins/vis_type_timeseries/server/lib/ge

[2022-08-17 00:57] KrooshalUX opened #2155 "Replace instance of Timelion glyph with Timeline glyph"
Currently the interface for Create Visualization contains an out of date glyph for Timelion. Timelion is no longer a product in use by OpenSearch Dashboards and therefore the glyph should be replaced with the timeline glyph.
<img width="828" alt="Screen Shot 2022-08-16 at 5 55 00 PM" src="https://user-images.githubusercontent.com/105819041/185010623-df79cf0f-55c3-408e-9fcd-78eabbb92810.png">

Time

[2022-08-17 06:14] noCharger commented on #1978
Thanks Zhongnan, there are some difference in detail, feel free to check my PR :P

[2022-08-17 06:23] vinylen opened #2157 "[BUG] Wrong link for documentation in snapshot-managemet"
**Describe the bug**

This is a very minor issue but i could not find the source files to change this and submit a PR myself so i'm creating this issue instead.
On 2.2.0, if you go to Snapshot Management -> Snapshot policies and click on the "Learn more" link, the URL is malformed. The URL takes the user to https://opensearch.org//docs/latest/opensearch/snapshots/snapshot-management/. It's malform

[2022-08-17 07:53] noCharger opened #2158 "[MD] Add doc for feature flag"

[2022-08-17 15:53] manudipko commented on #1408
when might this feature be available on AWS OpenSearch Dashboards?

[2022-08-17 16:41] #1978 closed

[2022-08-17 16:51] peternied commented on #2159
@kavilla This is a good feature request, but the security team isn't focused on user experience changes of this nature.  If there is a data store needed that handles per user configuration, it might make sense for that to be implemented as part of the security plugin dashboards codebase, but the features and functionality that are offered using that store should be part of Dashboards.

[2022-08-17 18:41] kavilla opened #2160 "[Plugin as Extension] Research in packages/osd-pm"
[@osd/pm](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/packages/osd-pm) gets build and used by the build to set up the dependencies for the project.

Besides the README, there is not much insight underneath the hood for this package.

Requirements:
* Research and dive into the package and understanding it with the goal of how this package can be transformed to allow an ext

[2022-08-17 18:45] kavilla opened #2161 "[Plugin as Extension] Research in packages/osd-optimizer"
[@osd/optimizer](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/packages/osd-optimizer) optimizes the project when building.

Besides the README, there is not much insight underneath the hood for this package.

Requirements:
* Research and dive into the package and understanding it with the goal of how this package can be transformed to allow an extension to be built without

[2022-08-17 20:09] kavilla commented on #2157
Thanks for opening @vinylen! Will re-route to ISM team.

[2022-08-17 20:12] kavilla commented on #1679
Will close this issue.

[2022-08-17 20:12] #1679 closed

[2022-08-17 22:49] kavilla commented on #2159
@peternied,

It's a little bit of a gray area. The concept of user and tenancy does not currently exist for OSD. The problem occurs how the security dashboards introduces tenants and how the data is stored with a per user configuration.

Due multitenancy creating multiple system indices, each index has it's own document with a  type of `config`. This `config` document has the settings values for d

[2022-08-17 23:15] CCongWang commented on #1764
[code]

[2022-08-17 23:27] CCongWang commented on #1764
Now we can upgrade `geckodriver` to `3.0.2` which uses `got@11.8.5`

[2022-08-17 23:35] CCongWang commented on #1593
[code]

[2022-08-17 23:39] CCongWang commented on #1593
Currently `superagent` still uses `formidable@2.0.1` ([code](https://github.com/visionmedia/superagent/blob/master/yarn.lock#L4906)), do we need to wait for `superagent` upgrade formidable? @kavilla

[2022-08-17 23:40] CCongWang commented on #1906
what is the suggested fix?? upgrade to which version? @kavilla

[2022-08-18 00:21] seraphjiang commented on #1906
i believe the plan is to remove angular from osd

[2022-08-18 00:46] zhongnansu opened #2163 "[MD] Improve UT for data source plugin"
- [ ] Crypto module
 - [ ] Client Management modules

[2022-08-18 01:05] zhongnansu commented on #2113
resolved

[2022-08-18 01:05] #2113 closed

[2022-08-18 01:05] zhongnansu commented on #2112
resolved

[2022-08-18 01:05] #2112 closed

[2022-08-18 01:08] zhongnansu commented on #1985
I doubt if if we still need this, given that we have move the client management module from `core` to data source plugin. If the plugin is disabled by the config, none of the functionalities will work

[2022-08-18 01:45] peternied commented on #2159
@kavilla I think we've found a troublesome area in our breakdown of features within OpenSearch and Dashboards, I think we should have a discussion to iron out our expectations and how we want to resolve this issue - could you set something up?

[2022-08-18 03:34] sshock commented on #2159
Also, I think there may still be some confusion.  @kavilla We're not even using private tenants at my company, and my goal is not at all for private tenants to be able to inherit settings from the Global tenant.

If anything it is quite the opposite of that.  It is for users to be able to choose their own setting for dark mode, which I assume they already can within their own private tenant and th

[2022-08-18 15:49] jimkaba commented on #1242
Here's a data point, if it helps.

The company I work with put a significant amount of effort into developing an ELK stack and NMS dashboards based on Elastic/Kibana.  They then put a lot of effort into transitioning to OpenSearch, despite the fact that there were several Elastic/Kibana features that were not (yet?) available with OpenSearch.

**When the operators learned that they would not be ab

[2022-08-18 23:04] noCharger opened #2169 "Fix stream_type.test.ts on CI env"
Context:

[code]

Wasn't able to reproduce it on local env

[code]

isolated jest config and test on forked repo https://github.com/elastic-analytics/OpenSearch-Dashboards/pull/27/files

[2022-08-19 06:19] zhongnansu commented on #2153
@kristenTian Please don't expose internal code amazon link on github

[2022-08-19 06:22] zhongnansu commented on #1731
duplicate of #1988
closing

[2022-08-19 06:22] #1731 closed

[2022-08-19 06:24] #1985 closed

[2022-08-19 06:27] gharesagar opened #2172 "Facing issue "Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node""
Hello to everyone,

I am using Opensearch dashboard for analytics. While creating a new vertical bar -> Add bucket -> X-Axis I am facing the issue. I am not sure why it throws. I was working with the same index data in the old vertical bar. I have attached screenshots links below. Kindly help.

![Screenshot 2022-08-19 at 11 42 19 AM](https://user-images.githubusercontent.com/41360451/185555297-898

[2022-08-19 06:28] zhongnansu commented on #2008
this may need more discussion on if we need compatibility check or not

[2022-08-19 06:32] zhongnansu commented on #1989
It can be handled by search source refactor. No need to change them

[2022-08-19 06:32] #1989 closed

[2022-08-19 06:33] #1984 closed

[2022-08-19 06:33] #1983 closed

[2022-08-19 06:33] #1982 closed

[2022-08-19 06:34] #1979 closed

[2022-08-19 06:34] #1980 closed

[2022-08-19 06:35] #1971 closed

[2022-08-19 09:38] seraphjiang commented on #2153
Thanks Zhongnan. edit the content accordingly

[2022-08-19 15:47] seraphjiang opened #2173 "CVE-2022-31129 HIGH Severity Vulnerability"
moment is a JavaScript date library for parsing, validating, manipulating, and formatting dates. Affected versions of moment were found to use an inefficient parsing algorithm. Specifically using string-to-date parsing in moment (more specifically rfc2822 parsing, which is tried by default) has quadratic (N^2) complexity on specific inputs. Users may notice a noticeable slowdown is observed with i

[2022-08-19 16:58] #2050 closed

[2022-08-19 16:59] #2055 closed

[2022-08-19 17:02] noCharger commented on #2025
duplicate, close it

[2022-08-19 17:02] #2025 closed

[2022-08-19 17:33] zhongnansu opened #2174 "[MD] _msearch not likely to work with multiple data source"
batch search will issue `_msearch` requests to OpenSearch, which is not likely to work with multiple data sources. maybe deprecate this, or simply disable it when multiple data source is supported?

[2022-08-19 18:22] KrooshalUX commented on #2034
@kristenTian is this an icon for the "Saved Objects" table?

[2022-08-19 19:28] #1988 closed

[2022-08-19 19:28] #1992 closed

[2022-08-19 19:28] #1991 closed

[2022-08-19 19:28] #2119 closed

[2022-08-20 06:34] kavilla commented on #2172
Hello @gharesagar, thank you for opening!

Could you provide some details on the version of your OpenSearch Dashboards? Does you still face issues when you have a time filter attached?

Thank you!

[2022-08-20 10:28] gharesagar commented on #2172
Hi Kavilla,

Version is v1.3.2. The time filter was not attached to that index. After getting this error 4-5 times, I tried it again after some time surprisingly it worked properly. it was weird.

[2022-08-22 17:18] elfisher commented on #1308
@ahopp do you know what version this is targeting?

[2022-08-22 17:34] seok-lee opened #2178 "[BUG]"
**Describe the bug**

Cant create an index pattern. Anyone know why?…

(0)Access Control: Cognito. Federate. Midway. I am an admin user from the user pool. But I can’t see right top conner view roles as well.

(1)Opensearch Access Policy
    {
    "Version": "2012-10-17",
    "Statement": [
        {
        "Effect":    "Allow",
        "Principal": {"AWS": "arn:aws:iam::086758515564:role/Cognito

[2022-08-22 18:15] zhongnansu commented on #2178
@seok-lee Thanks for submitting issue. Every bug comes with a title, I added one for you. Feel free to change it.

[2022-08-22 18:50] zhongnansu commented on #2172
@gharesagar Does the error ever happen again after your successful try?

[2022-08-22 19:08] bbarani commented on #1801
@prudhvigodithi @AMoo-Miki @kavilla @seanneumann @dblock Having automated the version increment process for OpenSearch,  I would like to focus on automating the same for OpenSearch Dashboards as well. I am totally fine with using a different solution for Dashboards but at the same time dont want to add too much overhead on the build and release process. Do you have any specific recommendations?

[2022-08-22 23:14] kristenTian commented on #2064
DataSource could be used as follows:

- Real default cluster -- just allow user to update name, not anything else.
- Use default OS as a data source, but with different credential (different OSD users when using security plugin) -- use as a datasource

[2022-08-23 06:13] zhongnansu opened #2182 "[BUG] [MD] Update credentials that attached to datasource doesn't give the correct client."
**Describe the bug**

Update credentials that attached to datasource doesn't give the correct client.

**To Reproduce**
Steps to reproduce the behavior:
1. create 2 credentials. `cred-1`(right username/password) and `cred-2`(in-correct username/password)
2. create a data source `ds-1` attached to `cred-1`
3. create index-pattern `ip-1` that attached to `ds-1`
4. Use `Discover` to search on `ip-1`

[2022-08-23 06:24] zhongnansu commented on #2182
Originally I was thinking this is because the way we implement data source pooling(the LRU cache), but after double check, there's nothing wrong with that. We are only caching the root client, which is always a Client with no-auth. And for each time it needs a client, we always retrieve credential and create a child client to return, and we don't cache this child client.
https://github.com/opensea

[2022-08-23 09:47] rakhinarveka1 opened #2183 "Busy icon/progress bar on click of Refresh/Update button indicating the search operation in progress is missing on Kibana UI."
Description:
when user tries to search data on 'Discover' menu using search string and click on 'Refresh'/ 'Update' button, if data is not available in iframe then busy icon/progress bar is appearing.
If data is already present of previous search, then busy icon is not displaying. however ideally if search is in progress, then it should show busy icon/progress bar  on every search if we are changi

[2022-08-23 14:21] prudhvigodithi commented on #1801
Hey all, definitely this process has to be changed, for OpenSearch the [workflow action](https://github.com/opensearch-project/opensearch-build/actions/runs/2892328632) already in place and [AUTO] raised the version increment PR's, but whereas for dashboard its still manual and a person has to spend hours of time to do this.
Having a `.sh ` bash script per dashboard plugin is not a good idea to, i

[2022-08-23 15:43] noCharger opened #2184 "[MD] Add error modal on editing wizard and return back to list page"

[2022-08-23 17:38] ananzh opened #2187 "[DESIGN][Table] new table visualization plugin"
# Statement
Currently, table visualization is written in Angular. Angular is [not supported since 12/2021](https://blog.angular.io/discontinued-long-term-support-for-angularjs-cc066b82e65a) and cause [high severity CVE issues](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1558). Since we decided to remove angular from current code base, table visualization needs to be refactor

[2022-08-23 18:55] zengyan-amazon commented on #2182
thanks for the investigation, let's implement the fix

[2022-08-23 18:57] seanneumann commented on #2173
Look like this was fixed here: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1931

[2022-08-23 19:37] ruanyl opened #2189 "[Proposal] Automate versioning, releasing and changelog generating with Changesets"
Seeing people been discussing **automated release** in different contexts, I'd like to propose a possible solution.

Related issues https://github.com/opensearch-project/OpenSearch-Dashboards/issues/591 https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1741 https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1801

## What's Changesets?

More details about Changesets

[2022-08-23 19:38] CCongWang commented on #2126
I can't reproduce the issue on my local, steps I have taken were:
1. Add sample data `Sample eCommerce orders`
2. Go to Discover tab
3. Create query by adding `day_of_week: Saturday` filter, the url became http://localhost:5603/vil/app/discover#/?_g=(filters:!(),query:(language:kuery,query:''),refreshInterval:(pause:!f,value:900000),time:(from:now-7d,to:now))&_a=(columns:!(_source),filters:!(('$st

[2022-08-23 19:54] smakaravets commented on #2126
@CCongWang Did you saved query after 3rd step? It's necessary, to reproduce thiw bug.

Also reproduce this bug on: OpenSearch/Dashboards 2.2.0

[2022-08-23 20:08] zhongnansu commented on #2183
@rakhinarveka1 could you check if this is still the issue with Opensearch Dashboards? Thx

[2022-08-23 20:16] zhongnansu commented on #2178
might be related to user using incorrect IAM policy, routed to security plugin team to do further investigation

[2022-08-23 20:20] zhongnansu commented on #2173
need backport to 1.x

[2022-08-23 20:33] smakaravets commented on #2126
@CCongWang but if I don't want to save newest query. I want to share my query with some changes. Is it possible without saving changes and just share url?

[2022-08-23 23:55] zhongnansu commented on #2173
backport to 1.x https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2194

[2022-08-24 01:04] ashwin-pc commented on #1801
@prudhvigodithi do you have list of build automations you intend on introducing? version increment is too simple an automation to disscuss the pros and cons of different approaches since almost any approach should be able to do that.

[2022-08-24 01:10] ashwin-pc commented on #1801
One option we have is to introduce a package in `./packages` or adapt the `osd-pm` package to add additional build commands that we need to support like version bump. `osd-pm` is a cli tool that is currently responsible for similar functions like installing the dependencies, cleaning the the repo etc

e.g.
[code]

workflows can use this for the different automations it needs without a lot of rewir

[2022-08-24 02:32] ashwin-pc opened #2196 "Docker dev environment support"
**Is your feature request related to a problem? Please describe.**

Currently, development for OSD is optimized for the Linux environment. This adds friction to the development flow even if tools like remote dev servers are used. E.g. functional testing.

**Describe the solution you'd like**

Add a docker dev container so that every contributor can work on an identical dev environment and not worr

[2022-08-24 11:46] jgough opened #2197 "[BUG] Cannot open visualisations in new windows or tabs"
**Describe the bug**
If I go to /app/dashboards then I can middle click or right click on a dashboard in the list and open in a new window/tab
If I go to /app/visualize then I **cannot** middle click or right click on a visualization in the list to open in a new window/tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /app/visualize
2. Try to open a visualization in a new tab or wind

[2022-08-24 18:36] peternied commented on #2159
@sshock First off, thanks for bearing with us as we get our house in order.  With our implementation, we are not planning on support this scenario.

However, for the initiatives of Dashboards - see [issue #1405](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1405), `Dashboards Anywhere` will enable features like customized settings per user.

@kavilla How would you like to reso

[2022-08-24 18:59] kgcreative commented on #2159
@peternied & @kavilla -- perhaps we tag this as a feature request instead of a bug? That will allow us to keep it open, and close it when we do implement the changes resolve this.

[2022-08-24 19:30] dblock commented on #1098
@vamshin @junqiu-lei Is this https://github.com/opensearch-project/maps?

[2022-08-24 20:01] noCharger opened #2199 "[MD] Add README for data_source plugin and credential_management plugin"

[2022-08-24 20:51] sshock commented on #2159
I'm definitely in favor of calling it a feature instead of a bug if that is needed to keep it open.  I'll change the title but will need someone else to change the tag.

Any idea on the timeline of the `Dashboards Anywhere` initiative?

Finally, is there any way to work around this until then?  For example, can an individual force light or dark mode using a browser extension like Stylus?

Thanks!

[2022-08-24 21:04] sshock opened #2200 "[BUG] Tenant keeps switching to Global"
**Describe the bug**

Throughout the day, maybe once an hour, while using OpenSearch Dashboards it will randomly switch me from the custom tenant I am on to the Global tenant.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to a custom tenant.
2. Click around to view different dashboards, maybe do refresh, or simply leave your browser open to a dashboard with auto-refresh enabled.

**

[2022-08-24 21:31] joshuarrrr commented on #2065
I came here to add to the discussion, but I mostly just have agreement, particularly with @AMoo-Miki's general approach.

[2022-08-24 21:33] joshuarrrr commented on #2200
@sshock Thanks for filing the bug - re-routing to the security plugin repo.

[2022-08-24 21:33] #2200 closed

[2022-08-24 21:33] joshuarrrr commented on #2200
Issue moved to [opensearch-project/security-dashboards-plugin #1084](https://github.com/opensearch-project/security-dashboards-plugin/issues/1084) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-24 21:34] ohltyler opened #2201 "[PROPOSAL] Update D3 library"
The internal `vislib` charting library is built on top of D3, a library used for low-level data manipulation commonly used when building charts. The current version of D3 being used is 3.5.17, which is > 6 years old. Newer versions support a variety of new features and bug fixes, as well as modular refactoring of the library. This refactoring has made it easier for external packages to be integrat

[2022-08-24 21:56] joshuarrrr commented on #2159
I just wanted to highlight what I think is a key takeaway from @sshock:

It seems that our current data model overloads the system index with a bunch of heterogeneous settings. Within the core dashboards repo, this approach, while not exactly clean, causes no problems because "user" is not really a core concept. But for plugins that do need to distinguish between different types of settings (such

[2022-08-24 22:08] joshuarrrr commented on #2197
@jgough Thanks for filing. As a fellow tab junkie, I agree this is annoying.

I can confirm that this behavior still exists in `main` by reproducing at https://playground.opensearch.org/app/visualize

I'm pretty sure the cause of the behavior is that the visualization list items are actually `<button>` elements, although they're styled like links. For a11y and semantic purposes, it would definitel

[2022-08-24 22:14] joshuarrrr commented on #2196
@ashwin-pc +1 this sounds great. Can you provide a few more concrete details about what you envision the docker startup and dev process to look like (rough pseudo-flow comparison to the current local dev would be fine).

[2022-08-24 23:21] #2184 closed

[2022-08-24 23:51] seraphjiang opened #2203 "[BUG] Dashboards Health check should only run against node which support it."
**Describe the bug**
Dashboards Heath check is not able to exclude node we don't want. e.g. ingest, ml, transform

**Expected behavior**
Admin should has option to configure Dashboards health check to skip specific node type or specific node attributes.

e.g.

1. skip ingest node
2. skip by attribute box_type=warm
[code]

**OpenSearch Version**
1.x, 2.x

**Dashboards Version**
1.0, 1.1, 1.2, 1.3..

[2022-08-25 01:01] kgcreative commented on #2065
I'm finding myself nodding along to both @mihirsoni and @AMoo-Miki's points. I think we need to double down on core being the platform that enables features and functionality to be composable, interoperable, extensible, and secure. A huge area of opportunity is in investing in both developer experience (helping plugin developers know how to leverage and interact with the system) and administration

[2022-08-25 16:20] #2137 closed

[2022-08-25 19:12] abbyhu2000 opened #2205 "[D&D] Research on how plugins create and store reference objects"
Requirements:
* Research on how other plugins are creating reference object and how are they being stored
* What are the relationships among KibanaSavedObject, search source and reference object
* For https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1878, explore the option to skip the steps and create reference object directly
* Document findings here

[2022-08-25 20:22] joshuarrrr commented on #2205
Great list! While we can start by documenting the findings here, we'll also want to make sure they're saved somewhere under version control (as a README or other tutorial) so they're discoverable.

[2022-08-25 20:50] #2173 closed

[2022-08-26 03:14] noCharger opened #2206 "[MD] Add integration test for credential CRUD"
Use Cypress

[2022-08-26 03:15] noCharger opened #2207 "[MD] Refactor crypto module as a service"

[2022-08-26 08:13] zidludwig commented on #657
i was searching for long time how to put my nested objects with logstash into the DB to analyse it with kibana. Now i found the solution: "DON'T DO IT"! i will try to do with workarounds (split events,..) but i'd really love to it straight forward !

[2022-08-26 17:02] cliu123 commented on #2159
@sshock Yes, with the current design,the Advanced Settings is tied with tenants. The logic behind the design is that tenant intends to provide consistent user experience for all users selecting a same tenant. But your request is actually valid, it would help if we can have flexibility for users to configure personal preferences that can be applied to all tenants globally. Thanks for bringing this

[2022-08-26 17:15] zhongnansu commented on #975
@kavilla Do we have anything on the roadmap about cypress? Or any issue that tracks it?

[2022-08-26 18:06] elfisher commented on #1866
From the gif it looks like this would link out to a different page based on the type. Is there a reason for this? Could we be consistent since they are all dashboards?

[2022-08-26 21:18] zhongnansu opened #2210 "[BUG] OSD returns HTTP 500 internal server error messages when the wrapping key is changed"
OSD returns HTTP 500 internal server error messages when the wrapping key is changed and the service is unable to decrypt the credentials. When the user does not update the credentials and attempts to create a new index pattern, the calls to the target endpoint fails and return HTTP 500 errors. A generic error message is returned in response.

The recommendation will be to return an error message

[2022-08-26 21:27] noCharger commented on #2210
More context -

When we use random keyring to decrypt the message, an exception will throw with error message `unencryptedDataKey has not been set`. We have a test case to cover this https://github.com/opensearch-project/OpenSearch-Dashboards/blob/feature/multi-datasource/src/plugins/data_source/server/cryptography/cryptography_client.test.ts#L97-L115

Action Item:

Add exception handling logic wh

[2022-08-26 21:41] ananzh opened #2211 "Add a table vis for the sample data"
Currently, we don't have any table vis for any sample data.
<img width="779" alt="Screen Shot 2022-08-26 at 14 38 28" src="https://user-images.githubusercontent.com/79961084/186994405-de526053-2983-4e42-9848-788c39930ab0.png">

To reproduce:
1) add sample data
2) go to `Visualization` from the side menu
3) search `Data Table` to verify

Since we will start to build [a new table vis](https://github

[2022-08-27 00:23] ananzh opened #2212 "[Table Visualization] remove current table visualization and legacy code"
clean out current table visualization code

[2022-08-27 00:27] ananzh opened #2213 "[Table Visualization] add table visualization plugin in react"
add table visualization plugin. Requests:
* table visualization should be registered correctly in visualization plugin
* visConfig and visData are correctly created
* add a basic OUI Datagrid to render

[2022-08-27 00:29] ananzh commented on #2187
# Tasks

* cleaning current table vis code (Issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2212, PR: )
* add table visualization plugin in react: (Issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2213, PR: )

[2022-08-27 03:20] ashwin-pc commented on #2196
Havent had the time to setup a POC for this yet but it should be fairly simple. We can have a base docker image that has all the dependencies we need to build OpenSearch Dashboards and build it and then use a compose file like this:

[code]

to setup any docker image for OpenSearch Engine. Now we can connect to the osd container to run any commands that would not be supported on the native OS and

[2022-08-29 18:32] noCharger commented on #2210
Issue - Internal server error after expection throw

<img width="1792" alt="Screen Shot 2022-08-29 at 11 30 01 AM" src="https://user-images.githubusercontent.com/44716267/187272972-ad65a50c-db6b-4728-85be-244a2ba9345f.png">
<img width="1792" alt="Screen Shot 2022-08-29 at 11 30 05 AM" src="https://user-images.githubusercontent.com/44716267/187272976-b23866f3-e724-41be-ad52-d39d233439a2.png">
<img

[2022-08-29 18:47] noCharger commented on #2210
Proposed solution -

Add error handling logic and toast/other alert UX on everywhere integrated with new data source client.

For example -
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/feature/multi-datasource/src/plugins/index_pattern_management/public/components/create_index_pattern_wizard/lib/get_indices.ts#L105-L131

[2022-08-29 19:00] kavilla opened #2214 "[IMPROVEMENT] Healthcheck to filter out custom nodes"
Add ability for health check code to enable filtering out specifics nodes that can be configured.

[2022-08-29 21:14] zhongnansu commented on #2210
@noCharger Thanks for the investigation

Since the correct 400 error is thrown by `SavedObjectsErrorHelpers.createBadRequestError(error.message);` in the crypto manager side. The issue is more with the `opensearch/internal/search` API route handler side. It failed to interpret the error object accordingly in the response handling. Because the error is a `hapi/boom` object.
- The hapi/boom 400 erro

[2022-08-29 22:56] ashwin-pc commented on #954
The type picker will be added in two stages. For the 2.x release we will use the SuperSelect component and in 3.0, we will use an updated component from OUI that matches the final style.

[2022-08-29 23:18] ashwin-pc opened #2216 "[D&D] Update Datasource and Visualization type selector components"
Currently the Datasource selector is a custom built component in OpenSearch Dashboards and the Visualization type selector is a `SuperSelect` component that does not match the mocks. Update the components in Dashboards when the new components are ready in OUI

- Datasource Selector: https://github.com/opensearch-project/oui/issues/51
- Visualization picker: https://github.com/opensearch-project/ou

[2022-08-29 23:18] ashwin-pc commented on #954
Followup issue created here: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2216

[2022-08-30 01:50] AMoo-Miki opened #2219 "[BUG] Auto-complete menu of Dev Tools is missing `_index_template` and perhaps others"
Just like `_cat`, `_template` and many others appear when keying in, `_index_template` should appear in the list as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dev Tools
2. Key in `_template`
4. Notice that `_index_template` isn't in the auto-complete list

**Expected behavior**
`_index_template` in the list

**OpenSearch Version**
1.3

**Dashboards Version**
1.3

**Additiona

[2022-08-30 08:53] zhongnansu opened #2220 "Is there a plan to migrate from legacy client to opensearch client?"
Legacy ES client is still used in many places in OSD. E.g.
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/730a75a3b0515d2e827576a33323436f051bd3e0/src/plugins/index_pattern_management/server/routes/resolve_index.ts#L59-L64

Since opensearch js client is available, do we have a plan for OSD core to migrate to use new client, and remove legacy client?
For example the above code in

[2022-08-30 12:07] ashwin-pc opened #2221 "[D&D] Persist field when agg type changes"
Persist field when agg type changes. If the new agg type also supports the currently selected field, the field should remain after switching the agg type.

[2022-08-30 15:50] #2144 closed

[2022-08-30 18:44] abbyhu2000 opened #2223 "[BUG] osd/optimizer takes too long(~5 min) to respond"
**Describe the bug**

When developing in the wizard folder, the osd/optimizer package has inconsistent behaviors. It takes about 5 min to compile the bundles after yarn start; or it will take 5 min to respond to any changes. However, once it compiles, it will work as normal( can detect changes and restart immiediately)

**To Reproduce**
Steps to reproduce the behavior:
1. Start the application by

[2022-08-30 19:37] kristenTian commented on #2024
What is the error case for 3, and 4?

[2022-08-30 20:13] zhongnansu commented on #2182
PR merged, resolving

[2022-08-30 20:13] #2182 closed

[2022-08-30 20:19] kristenTian commented on #2196
[Triage]: @ashwin-pc is this issue sth you will be interested to look into?

[2022-08-30 20:29] kavilla opened #2224 "[BUG] OSD Optimizer understanding and update limits"
`node scripts/build_opensearch_dashboards_platform_plugins.js --update-limits`

generates a lot of changes in the [limits.yml](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-optimizer/limits.yml), why and what is this doing?

[2022-08-30 20:37] kristenTian commented on #2223
[Triage]: let's follow check if the optimizer is the problem.  #2224

Check if tsconfig is different and if it's doing sth different during compelling

[2022-08-30 20:52] kristenTian commented on #2219
https://cptnb.github.io/opensearch-dashboards-dev-docs/source/readmes/packages/osd-spec-to-console/
https://cptnb.github.io/opensearch-dashboards-dev-docs/source/readmes/src/plugins/data/#autocomplete

yarn spec_to_console
yarn run v1.22.19
$ node scripts/spec_to_console
Expected input
error Command failed with exit code 1.

[2022-08-30 21:11] #1879 closed

[2022-08-30 21:41] ashwin-pc commented on #2196
I cant promise that i'll get around to it soon, but if no one picks this up in a month or two, I may give it a whirl.

[2022-08-30 21:47] kristenTian commented on #2224
checking how pageLoadAssetSize is been used, the command will even change for the existing folders.

[2022-08-30 22:30] ashwin-pc commented on #2223
Some additional context. It looks like its not just a wizard plugin problem but a app problem in general. The first build for a plugin takes much longer than subsequent builds for it. And the time taken depends on the plugin. e.g. the `agg_params_helper` takes 30s while wizard takes 330s and visualize_editor_common takes 90s.

[code]

It is also the first build for that specific plugin that takes

[2022-08-30 22:50] ashwin-pc commented on #2223
Steps to repro consistently:
- Stop the app
- `yarn start`
- Make change in plugin and save
- Go to the app url: http://localhost:5601
- Wait and see console output for bundling time

[2022-08-31 00:27] kristenTian opened #2228 "[MD] Audit log query related operations"

[2022-08-31 06:41] gaiksaya opened #2230 "Release version 2.3.0"
This is a component issue for __2.3.0__.
Coming from [opensearch-build#2447](https://github.com/opensearch-project/opensearch-build/issues/2447). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-08-31 12:41] jgough opened #2233 "Customisable link colors"
I'd like to be able to customise the link color in OpenSearch Dashboards.  This is currently in many places in the CSS but would be great to be able to specify a color override.  Since it is possible to specify custom branding images this might be the next logical step in customisation.

For example, instead of the default blue links I might want orange links like this:
![image](https://user-image

[2022-08-31 15:08] kristenTian opened #2234 "Complete the design document for data source & it's integration"

[2022-08-31 15:12] dblock commented on #1388
I see that the proposal has a separate UX for credentials and data sources. I think this is a bad idea.

1. Bad user experience. How many data sources will a typical cluster have? I bet no more than 5, so why would users have to configure credentials in a separate panel, associate them with a data source, etc?
2. It's a security problem that implies everybody is an admin and anyone who can create

[2022-08-31 22:54] ashwin-pc opened #2240 "[BUG] count and value_count Metric aggregation types misclassified and missing"
**Describe the bug**

In OpenSearch Dashboards, we have `count` defined as a [metric aggregation](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/2.2/src/plugins/data/common/search/aggs/metrics/metric_agg_types.ts#L38). There is however no metric aggregation of type `count` in OpenSearch Core and it seems to use the `bucket.doc_count` metadata field as its value.

Similarly `value

[2022-08-31 23:14] ashwin-pc opened #2241 "[D&D] Resizable and collapsible side navs"
**Is your feature request related to a problem? Please describe.**

Currently the Left and Right navs in D&D are not collapsible or resizable. This makes it hard to use in smaller viewports.

**Describe the solution you'd like**

- Add the ability to collapse them
- Add the ability to resize them

![Drag   Drop - create visualization 06](https://user-images.githubusercontent.com/20453492/187800974

[2022-08-31 23:27] ashwin-pc opened #2242 "[Vis Builder] Mobile view"
We currently dont have a mobile view for Wizard. While not practical to use in mobile view, we should have a useable UI for mobile viewports.

[2022-08-31 23:39] #2203 closed

[2022-08-31 23:39] #2214 closed

[2022-09-01 06:19] cliu123 opened #2249 "[Feature Proposal] Across-tenant Saved Object Aggregation View"
**Is your feature request related to a problem? Please describe.**

Today, in OpenSearch-Dashboards with Multi-tenancy enabled, user can only see the saved objects that are created in the selected tenant. When user wants to see a list of saved object across all tenants that they have permissions to, there is no way for that.
![Screen Shot 2022-08-29 at 3 54 46 PM](https://user-images.githubusercon

[2022-09-01 10:51] jgough opened #2250 "[BUG] Timeline Y Axis labels are the wrong colour in dark mode making them very difficult to see"
In dark mode, when creating a visualisation of type Timeline, Y-axis labels are black which means they are difficult to see.

**To Reproduce**
Create a timeline visualisation with the following expression
`.es().yaxis(label="Y AXIS LABEL GOES HERE").title("TITLE GOES HERE")`

Note that in the created visualisation the title and legend are in white, but the y axis label is in black and is almost im

[2022-09-01 12:49] shivshankarb opened #2251 "[BUG]Control visualization case sensitivity versus Dynamic dropdowns"
While using control visualization for the options list, it appears that searches are case sensitive.
![image](https://user-images.githubusercontent.com/44229648/187917078-2b340ef9-4306-4ca6-9fe3-967b44ef6cf6.png)

However if we disable the dynamic option searches aren't case sensitive

![image](https://user-images.githubusercontent.com/44229648/187917234-76aee3fd-eed8-4155-adc9-e150cde9be75.png)

[2022-09-01 14:57] zakirpcs opened #2257 "Login issue in opensearch-dashboard"
I build customized rpm of opensearch & opensearch-dashboads now i am facing to start opensearch-dashboard service using systemd script.

I am getting below error message during service startup.

opensearch-dashboards[533384]:     at Function.Module._load (internal/modules/cjs/loader.js:746:27)
opensearch-dashboards[533384]:     at Function.executeUserEntryPoint [as runMain] (internal/modules/run_m

[2022-09-01 16:24] antoniocascais opened #2252 "[BUG] Document exists but search shows "no results" in Discover"
**Describe the bug**

Sometimes, in certain searches, we get "no results" if we do the search via Opensearch dashboards but we do get results if we call Opensearch api directly. So we are 100% sure the document exists!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Opensearch dashboards and search for "field exists"
2. See "no results" message

**Expected behavior**
The expected behav

[2022-09-01 18:50] zakirpcs opened #2254 "Unable to start opensearch-dashboards service"
I build customized rpm of opensearch & opensearch-dashboads now i am facing to start opensearch-dashboard service using systemd script.

I am getting below error message during service startup.

opensearch-dashboards[533384]:     at Function.Module._load (internal/modules/cjs/loader.js:746:27)
opensearch-dashboards[533384]:     at Function.executeUserEntryPoint [as runMain] (internal/modules/run_m

[2022-09-02 00:06] mend-for-github-com[bot] opened #2262 "WS-2022-0284 (High) detected in moment-timezone-0.5.34.tgz"
## WS-2022-0284 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-timezone-0.5.34.tgz</b></p></summary>

<p>Parse and display moments in any timezone.</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment-timezone/-/moment-timezone-0.5.34.tgz">h

[2022-09-02 00:06] mend-for-github-com[bot] opened #2263 "WS-2022-0280 (High) detected in moment-timezone-0.5.34.tgz"
## WS-2022-0280 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-timezone-0.5.34.tgz</b></p></summary>

<p>Parse and display moments in any timezone.</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment-timezone/-/moment-timezone-0.5.34.tgz">h

[2022-09-02 00:54] zhongnansu commented on #2242
an enhancement instead of bug?

[2022-09-02 07:51] ashwin-pc commented on #2242
Its a bug right now because the app is unusable in mobile view. Even if we dont plan on treating mobile view as a first class citizen for the app, the app should at-least be useable in a mobile browser like all other pages in OSD.

[2022-09-02 21:35] anirudha commented on #1866
we could structure the crums / accordingly to maintain consistency

[2022-09-03 00:43] kristenTian commented on #2224
--update-limits  will run a build and rewrite the limits file to include the current bundle sizes +5kb

Base on updateBundleLimits, it will compare the pageLoadAssetSize in the limit.yaml file vs the metrics file size. If the configured size is less than the real size, it will increase the pageLoadAssetSize by 15000.

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/4c3f2229efb7bde

[2022-09-03 16:53] kingnarmer commented on #866
I am running into same issue, I am logged in with admin user . Not sure how to make security tab visible. security has been initialized successfully.

[2022-09-05 09:59] grgoryuark opened #2267 "Point of Contact - AB Spend Analyzer"
Hi,

I am looking for the best POC at Amazon to discuss the 'AB Spend Analyzer' dashboard with.

Best wishes,

Joe

[2022-09-06 05:54] jason1122g opened #2268 "It is good to have a setting to adjust visualization tooltip width"
**Is your feature request related to a problem? Please describe.**

We have many visualizations showing long text as tooltip. But the default tooltip width is too short which makes us feel difficult to read.

**Describe the solution you'd like**

- Add a global setting to adjust tooltip width
- Add a visualization setting to adjust tooltip width

**Describe alternatives you've considered**

- Add

[2022-09-06 06:13] florianakos commented on #913
Any news on when this feature could land in OSD?

[2022-09-06 07:45] mend-for-github-com[bot] opened #2269 "WS-2021-0638 (High) detected in mocha-7.2.0.tgz"
## WS-2021-0638 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mocha-7.2.0.tgz</b></p></summary>

<p>simple, flexible, fun test framework</p>
<p>Library home page: <a href="https://registry.npmjs.org/mocha/-/mocha-7.2.0.tgz">https://registry.npmjs.org/mocha/-/moch

[2022-09-06 16:27] kavilla commented on #2254
Hello @zakirpcs!

Thanks for opening, do you mind telling me how you are running the build? So you forked OpenSearch Dashboards and then run the build script and attempting to run the artifact outputted? Or did you download the official release?

Also, which plugins are you running and what operating system are you running on?

Thank you!

[2022-09-06 16:28] kavilla commented on #2257
Will close this as a duplicate of this: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2254

[2022-09-06 16:28] #2257 closed

[2022-09-06 17:14] zakirpcs commented on #2254
Hello @kavilla

Thanks for your reply.

I build the rpm using official tarball file. And I am trying to run this rpm on AlmaLinux 8.4 environment which is clone of Red Hat 8.

No special plugin I am using.  I just try to run  the service by using default plugins.

Thank You.

[2022-09-06 17:36] joshuarrrr commented on #2268
Thanks @jason1122g , this is a good callout. I wonder if making individual vizualization creators responsible for the tooltip width/layout is the right way to go, though, or if we could do a better job with the default automatic layout. I'll keep this in mind as part of the work on a unified charting approach and library.

[2022-09-06 17:40] joshuarrrr commented on #2267
Hi @grgoryuark - this is the open source project for OpenSearch Dashboards library. If you're looking for an amazon-specific contact, I'd recommend other channels, such as email or support contacts. If you found this form through your OpenSearch Dashboards UI, you may also just want to contact your dashboards administrator. Sorry we can't be of more help!

[2022-09-06 17:40] #2267 closed

[2022-09-06 17:42] #1878 closed

[2022-09-06 17:52] #2155 closed

[2022-09-06 19:43] anubisg1 opened #2274 "dashboards doesn't understand " host.ip " (possibly host.* ) , breaking the UI"
As per title,

i'm ingesting into opensearch 2.2.1 using logstash 8.4 with output-plugin 1.3.0
The data is ingested fine by opensearch but opensearch-dashboard doesn't like the host nested fields.

when visualized under discovery, it's only possible to see "host" with content being a json.
adding filters also generates errors.

Notice that host.* is valid according to ECS schema v1 and v8

documen

[2022-09-06 19:50] kavilla commented on #2174
I wouldn't disable batch requests as it appears to be a highly used setting.

[2022-09-06 20:23] joshuarrrr commented on #913
@ashwin-pc to research further

[2022-09-06 20:24] pragmatic3 opened #2275 "[BUG] 'admin' can't see Security tab in GUI"
**Describe the bug**

The 'admin' user cannot see the security plugin listed under the 'OpenSearch Plugins' list in the GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'triple bar drop down menu'
2. Look under 'OpenSearch Plugins'
3. Note that Security is not listed

**Expected behavior**
Expected to see Security listed to be able to manage user, roles, etc.

**OpenSearch Version*

[2022-09-06 20:29] joshuarrrr commented on #2268
Added to the UX backlog for further research and brainstorming.

[2022-09-06 20:36] joshuarrrr commented on #1782
To reproduce in current UI: https://playground.opensearch.org/app/foobar

[2022-09-06 20:50] joshuarrrr commented on #2275
Issue moved to [opensearch-project/security-dashboards-plugin #1092](https://github.com/opensearch-project/security-dashboards-plugin/issues/1092) via [**Zenhub**](https://www.zenhub.com/)

[2022-09-06 20:50] #2275 closed

[2022-09-06 20:53] joshuarrrr commented on #2254
This may be a documentation issue - @AMoo-Miki will investigate.

[2022-09-06 20:54] joshuarrrr commented on #2254
@zakirpcs Can you provide the commands you ran?

[2022-09-06 21:00] joshuarrrr commented on #2252
@antoniocascais From the screenshots, it appears your asking about "no results" in a Discover search. Have you verified that the time range matches the time range of the query your using in the console query? Another thing to check is whether the timestamp fields exist in your doc (necessary for Discover queries), that the index pattern definition is using the correct timestamp field, and that the

[2022-09-06 21:17] peternied commented on #2275
@pragmatic3 Please create a request in the support forums to get help with this issue, https://discuss.opendistrocommunity.dev/

[2022-09-06 21:21] anubisg1 commented on #2274
Looking further into this, it seems that this is caused by an updated index pattern.

Coming from elastic i never had this problem before as new fields would be automatically refreshed, but with opensearch i had to manually refresh the index pattern fields, then the issue was solved

[2022-09-07 01:36] ashwin-pc commented on #913
The main problem here is with Dashboards caching the index pattern field list. And to solve this multiple approaches have been proposed:

1. Refresh list API
2. Remove caching

Looking into this a lil more, this should be fairly simple to implement if we make caching optional. It should satisfy both requirements of maintaining the existing behavior while also giving users the flexibility to overri

[2022-09-07 12:30] zakirpcs commented on #2254
@joshuarrrr

I am using below command to run the service.

systemctl status opensearch-dashboards

cat /usr/lib/systemd/system/opensearch-dashboards.service
[code]

[2022-09-07 18:39] zhongnansu commented on #2174
Got it. I saw the commit that removes the `deprecated` label of batch search setting. https://github.com/opensearch-project/OpenSearch-Dashboards/pull/735

[2022-09-07 20:17] ashwin-pc opened #2280 "[D&D] Feature feedback"
A meta issue to consolidate all the feedback for the new experimental Drag and Drop visualization creation experience or `Wizard` plugin.

[2022-09-07 20:22] seanneumann commented on #1157
Hey team, I'd like to propose a new name for this functionality. While drag and drop is a part of the story, we should give it a name that is more encompassing. Here are some thoughts:

1. Vis Builder
2. Vis Designer
3. Vis Maker
4. Vis Builder
5. Vis Wizard
6. Data Explorer

Let's discuss.

cc: @elfisher @ashwin-pc @ahopp

[2022-09-07 21:09] prudhvigodithi commented on #1801
Hey @ashwin-pc with list of build automations, its starts with version increment and it could extend more in future, one other scenario I see integrating a testing framework, this can also be done using a build tool, that can call a task to run the tests and many more ;), majority of [the cli's](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1801#issuecomment-1175482704) I see

[2022-09-07 21:21] kgcreative commented on #1157
I'm partial to:
1. Vis builder
2. Data explorer

[2022-09-07 21:58] xeniatup commented on #1157
1. Viz builder - because it explains what it does really clearly
2. Data Wizard - hints on ease of use and emphasizes the underlying data

[2022-09-07 22:13] btzeng commented on #1157
Vis Builder

[2022-09-07 22:21] abbyhu2000 commented on #1157
Vis builder or vis maker make the most sense for me:)

[2022-09-07 22:30] ashwin-pc commented on #2241
The right side is now collapsible. The left side remains

[2022-09-07 22:55] #2210 closed

[2022-09-07 23:00] zhongnansu commented on #2061
@kristenTian is this unblocked now？

[2022-09-07 23:01] #2029 closed

[2022-09-07 23:02] #1729 closed

[2022-09-07 23:28] #2151 closed

[2022-09-07 23:28] #2115 closed

[2022-09-07 23:28] #2111 closed

[2022-09-07 23:29] #2064 closed

[2022-09-07 23:29] #2061 closed

[2022-09-07 23:29] #2017 closed

[2022-09-07 23:32] #2234 closed

[2022-09-07 23:33] #2051 closed

[2022-09-07 23:33] zhongnansu opened #2285 "[MD] UI Error messages/pop-ups/alerts for data source client errors"
Follow up of #2236
Apply appropriate UI error alerts for failed API call that uses datasource clients.

- [ ] index pattern page
- [ ] discover/visualization page
- [ ] ...

### Update
for discover/visualization page, there's already logic to display error toast. We can leave it as it is, and refactor if further requested
<img width="1647" alt="image" src="https://user-images.githubusercontent.com

[2022-09-07 23:33] #1977 closed

[2022-09-07 23:34] #1973 closed

[2022-09-07 23:34] #2024 closed

[2022-09-07 23:40] #1981 closed

[2022-09-08 00:15] prudhvigodithi commented on #2189
Hey @ruanyl thanks for starting the discussion.

For dashboard plugins I see we have version increment done for more than one file (not only just the package.json files), example https://github.com/opensearch-project/security-dashboards-plugin/pull/1005/files, as part of the version increment process we should be able to handle them.
Also we have an extra digit along with SemVer example [2.0.0.0](

[2022-09-08 01:34] #1876 closed

[2022-09-08 01:34] #1968 closed

[2022-09-08 12:12] MedoDome commented on #1349
Hi,
I have the same issue with un-zooming and zooming it. This feature worked in OpenDistro but with OpenSearch from first versions till now 2.2 version issue persist.

How I understood density of dots are problem which triggers this huge dots on zooming it out.
I can provide one data set which triggers this issue with default precision and create new issue if is needed.

[2022-09-08 16:59] noCharger opened #2292 "Update to the `2.3` release branch in the distribution manifest."

[2022-09-08 17:34] #2292 closed

[2022-09-08 17:35] noCharger opened #2293 "Increment the version on the parent branch (2.x) to the next development iteration (2.4)."

[2022-09-08 17:41] prudhvigodithi commented on #1801
One other way I see is, probably better for node projects
Add custom scripts to the `package.json` that can do the version increment
A high level example:
[code]
Now call `npm run hello-world`
https://docs.npmjs.com/cli/v8/commands/npm-run-script

[2022-09-08 18:16] kristenTian commented on #2224
Closing the issue after synced up with Abby offline, feel free to reopen it if there are new action items.

[2022-09-08 18:16] #2224 closed

[2022-09-08 18:55] #954 closed

[2022-09-08 19:37] noCharger opened #2299 "Gather, review and publish release notes following the rules and back port it to the release branch.git-release-notes may be used to generate release notes from your commit history."

[2022-09-09 00:41] abbyhu2000 commented on #2223
After investigation, the compiling issue is not related to wizard plugin. However, it relates to this commit #2054. On the main branch, the compiling time takes around 20s before this commit; however, it takes around 6-7 min after this commit. Seem like using dart-sass instead of node-sass will slow compilation time significantly.

[2022-09-09 00:57] joshuarrrr commented on #2223
nice find! Now we just have to figure out how to fix 😁

[2022-09-09 01:01] joshuarrrr commented on #2223
It looks like it may actually be specific to EUI/OUI: https://github.com/sass/dart-sass/issues/113#issuecomment-766920979

[2022-09-09 01:09] abbyhu2000 commented on #2223
Thank you! I will take a look

[2022-09-09 12:14] MedoDome commented on #1349
I have unchecked now the map properties and change the threshold of precision to 4 and it works. Thank you for this tip ^^

But I am still wondering why it doesn't work like in legacy system.

[2022-09-09 15:34] ananzh opened #2305 "[Table Visualization] add OUI Datagrid component for table vis"
* restore sorting (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2502)
* restore pagination (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2461)
* format columns to make it render correctly (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2411)
* make column resizable (PR: https://github.com/opensearch-project/OpenSearch-Dashboards

[2022-09-09 16:13] ashwin-pc opened #2307 "[D&D] [BUG] Timeline fields in Wizard do not work"
**Describe the bug**

Histograms with time ranges in the X axis do not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to wizard
2. Drag count to the Y axis and click add. anew field in the X Axis
3. Select 'Date Histogram' in the fields section
4. See error

**Expected behavior**
We should be able to see a date histogram.

**OpenSearch Version**
2.3

**Dashboards Version**
2.3

**Pl

[2022-09-09 16:40] noCharger opened #2308 "Add this repo to the manifest for the next developer iteration"

[2022-09-09 16:52] ashwin-pc commented on #2223
This is interesting! Can we validate this? A few things that i've observed could be tied to this.
1. Making a SCSS change takes ~30s
2. Compiling the wizard plugin the first time takes ~300s
3. Compiling other plugins like visualize take between ~3s to ~90s.

The dart sass theory could explain this. If the issue is indeed related to sass, can we remove the sass imports in any one plugin (e.g. wiza

[2022-09-09 17:00] ashwin-pc commented on #1801
Yep, we can definitely do that. `yarn <command>` does exactly that where `<command>` is a custom script defined in the `package.json`. Thats why asked what exaclty the features we need to support are. The current build system is quite flexible and we have a lot of ways to add these functionalities.

`osd-pm` just takes this a step further and acts as a cli tool that also has access to the setup an

[2022-09-09 17:29] #2293 closed

[2022-09-09 18:45] ashwin-pc opened #2310 "[BUG] [D&D] Switching index pattern while editing agg breaks experience"
**Describe the bug**

Switching an index pattern while editing an aggregation throws an error and breaks the experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to wizard
2. Add a field and start to edit it
3. Change index pattern before navigating back to the editor
4. See blank screen

**Expected behavior**
Changing the pattern should work

**OpenSearch Version**
2.3

**Dashboar

[2022-09-09 19:47] kavilla commented on #2308
You can close this one. The issue that open is created across the project but for OpenSearch and OpenSearch Dashboards there is a cron job that automatically does this for us.

[2022-09-09 20:30] abbyhu2000 commented on #1214
I think it is okay to skip linter test for markdown only changes as well? Since i verified that linter test does not look at markdown files. @kavilla

[2022-09-09 20:30] noCharger commented on #2308
Sure. Will update that auto PR to the main issue after its done.

[2022-09-09 20:30] #2308 closed

[2022-09-09 23:59] #2221 closed

[2022-09-09 23:59] #1616 closed

[2022-09-10 00:00] #1617 closed

[2022-09-10 00:00] #1618 closed

[2022-09-10 03:03] BSFishy commented on #2197
With a quick inspect element, I can see that the issue is in fact that the element is a `button` on the visualize page instead of an `a`. Both pages seem to use a link component, so it should just be a matter of telling the component to use an `a` instead of a `button`.

I was trying to find the exact location of the issue just by browsing on Github, but I got a little lost. From what I did see, t

[2022-09-11 19:47] seraphjiang commented on #2197
Thanks @BSFishy for the research

@joshuarrrr  @bandinib-amzn would you help @BSFishy to locate the issue.

cc: @AMoo-Miki  in case the fix need to change in Oui.

[2022-09-11 21:40] BSFishy commented on #2197
I've found the cause of the issue by cross-referencing the code for the dashboard page. It seems that the link for the visualize page doesn't actually have an `href` attribute:

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/77af7f9a3331d48a25631010b9e31c4c472b3266/src/plugins/visualize/public/application/utils/get_table_columns.tsx#L104-L115

Compared to the dashboard page's:

h

[2022-09-11 22:01] seraphjiang commented on #2197
for Eui, we coud refer to https://elastic.github.io/eui/#/navigation/link

@AMoo-Miki Does Oui has equivalent doc site.

[2022-09-12 08:21] netimate opened #2313 "Coordinate Map Visualization - Fit Data Bounds display issue [BUG]"
**Describe the bug**
If you click the "Fit to Data Bounds" button within the "Coordinate Map" visualization, the GeoPoint marker scales incorrectly and the entire world map is highlighted in the respective color of the marker. Unfortunately nether zoom-in or zoom-out nor reloading the dashboard does help here either. Only when you close the dashboard and open it again, the visualization initially

[2022-09-12 09:10] anthosz opened #2314 "[BUG] - 2.1.0 - Unable to start docker image - Error: Cannot find module '../dev'"
**Describe the bug**

Unable to start docker image: Error: Cannot find module '../dev'

**To Reproduce**
Steps to reproduce the behavior:
1. docker run --env OPENSEARCH_HOSTS='["https://127.0.0.1:9200"]' opensearchproject/opensearch-dashboards:2.1.0

**Expected behavior**
It start

**OpenSearch Version**
2.1.0

**Dashboards Version**
2.1.0 or latest

**Plugins**
NC

**Screenshots**
![image](https:

[2022-09-12 11:52] Crazyigor1987 opened #2315 "[BUG] OIDC - Session Cookie which exceed 4kb causes redirect loop on authentication"
We use OIDC for authentication and authorisation, where the individual roles are declared as a group in the token. However, we now have users who belong to far more than 50 groups and the token is correspondingly large.  Placing it in a browser session cookie is not possible due to the 4KB limit and results in a redirection loop between Opensearch and our OIDC provider.

**To Reproduce**
Create an

[2022-09-12 12:04] Morata3006 opened #2316 "Cipher suites in Opensearch dashboards."
Need help to set cipher suites in Opensearch dashboards. Unable to completely understand the way it works and tried with node.options but no visible success. The objective is to avoid using RC4 based cipher suites.

[2022-09-12 13:22] arulselvan opened #2317 "OpenSearch Dashboard Bootstrap Stuck [Windows]"
Hi,  trying to setup the OpenSearch dashboard based on the developer guide(https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/DEVELOPER_GUIDE.md) but its sucks in the bootstrap stage for many hours during Building fresh packages...

 D:\project\dcep\repository\OpenSearch-Dashboards>yarn osd bootstrap
yarn run v1.22.19
$ node scripts/osd bootstrap
 info [opensearch-dashboards] ru

[2022-09-12 17:35] joshuarrrr commented on #1214
Yeah, eventually I'd love to actually have markdown linting, but that's a low-priority item for the moment.

[2022-09-12 17:43] abbyhu2000 commented on #2223
I validated that the slow compilation time issue indeed relates to sass. I removed all sass related imports in the wizard plugin(here is the PR in my own repo if anyone wishes to validate again: https://github.com/abbyhu2000/OpenSearch-Dashboards/pull/17) and compared the compilation time.

1. Wizard without sass: It took 3.5s for the first compilation
2. Wizard with sass: It took 409s for the fir

[2022-09-12 17:53] dblock commented on #1625
This problem comes up way too often in our managed service where users are confused, then the Engineer debugging a problem gets confused, and we get back to this again and again. Would someone care to contribute a fix for just the timeout leading to a 403 part of the problem? cc: @seanneumann

[2022-09-12 17:58] dblock opened #2320 "[BUG] When a call to OpenSearch back-end times out, Dashboards fails with an Access Denied (403)"
**Describe the bug**

Users get a 403 "Authorization Exception" on some operation in OpenSearch Dashboards. However, the back-end is timing out causing a socket hangup.

[code]

**Expected behavior**
Server-side timeouts should not translate into 403s.

**OpenSearch Version**
All versions.

**Dashboards Version**
All versions.

[2022-09-12 18:35] AMoo-Miki commented on #2197
There is one coming up soon.

[2022-09-12 21:25] #2307 closed

[2022-09-12 21:53] abbyhu2000 opened #2329 "[BUG] Fix integration tests to avoid strict log output comparisons"
**Describe the bug**

Previously the two integration tests failed when package canuise is outdated because they are comparing snapshots log output. We should modify the tests so they are not comparing the snapshot of log messages but comparing the actual code. Relates to https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2322

The two integration tests that are failing in packages/os

[2022-09-12 21:58] abbyhu2000 opened #2330 "[Research] Include caniuse update in the build or not"
Research on the use of caniuse and if it is necessary to include caniuse package update in the build.

The command to update caniuse: `npx browserslist@latest --update-db`

[2022-09-12 22:05] abbyhu2000 opened #2331 "Use sass-embedded to solve the optimizer performance issue with dart-sass"
**Is your feature request related to a problem? Please describe.**

This is a follow up issue to https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2223

After changing from node-sass to dart-sass, the first time compilation time has increased exponentially (from around 50s to 400s). One possible solution is to add a node-fiber package to improve the performance (https://github.com

[2022-09-12 22:14] #2299 closed

[2022-09-13 04:14] arulselvan commented on #2317
Please ignore this this could be related to my corporate network, while trying from some other network able to proceed but faced the below issue in windows cmd
![image](https://user-images.githubusercontent.com/6116938/189805754-778aed7e-147d-482f-8ec2-203f0f739f86.png)
later tried from Git Bash everything worked like a charm, thanks!

[2022-09-13 04:14] #2317 closed

[2022-09-13 05:52] sachinpkale opened #2337 "[Remote Store] Feature Feedback"
A meta issue to consolidate all the feedback for the new experimental feature - Remote Store option for improved durability.

Documentation - https://opensearch.org/docs/latest/opensearch/remote/
Feature Proposal - https://github.com/opensearch-project/OpenSearch/issues/1968
Design Proposal - https://github.com/opensearch-project/OpenSearch/issues/2700
Tasks that are part of 2.3 release - https://

[2022-09-13 07:59] wujunshen opened #2338 "brew install opensearch-dashboards,but don't be installed on machine with aarch64 architecture."
hi,all

When I use homebrew to install opensearch-dashboards. the messages tell me fail to install on machine with aarch64 architecture.

the message as belowed:

$ brew install opensearch-dashboards
opensearch-dashboards: The x86_64 architecture is required for this software.
Error: opensearch-dashboards: An unsatisfied requirement failed this build.

I just ask when will support aarch64 when I u

[2022-09-13 09:23] #2314 closed

[2022-09-13 09:37] model-collapse opened #2339 "ml-commons admin panel OSD Plugin"
ml-common is good machine learning library plugin for OpenSearch which enables the users to train their machine learning models using the data inside OpenSearch storage and conduct inference using the trained models. However, at this moment, people can only do these things by calling API. According to practices of AI model training, visualization will bring much better experience and boost the mod

[2022-09-13 12:04] asfoorial opened #2340 "[BUG] Mapping size is larger than 10MB - Why is it hardcoded!?"
Good day all,

I checked mappings.js in the latest OpenSearch Dashboards source code and I found the following (line 323). Apparently, the maximum  number of fields fetched is hardcoded to 10MB. Is there a reason for this? And will this be replaced with a configruation instead?

if (mappings) {
      const maxMappingSize = mappings[0].length > 10 * 1024 * 1024;
      if (maxMappingSize) {

[2022-09-13 17:03] joshuarrrr commented on #2340
I imagine there are a number of performance and UI concerns we'd need to address if we decided to increase the mapping limit. But first we'd need to better understand the use case you have and figure out whether that's really the best approach (for example getting flattened results may be preferable.) Can you explain more about your index patterns, document structure, and how you ran into this lim

[2022-09-13 17:12] joshuarrrr commented on #2339
Nice, sounds great! You'll want to get started by creating an OpenSearch Dashboards plugin to go along with the existing [https://github.com/opensearch-project/ml-commons](ml-commons) OpenSearch plugin, which you can do using the `@osd/plugin-generator`:

[code]

[2022-09-13 17:15] BSFishy commented on #2197
I had a quick conversation with @joshuarrrr, and we discussed if the `onClick` behavior could be replaced with a regular link. It basically came down to whether or not the logic in `application.navigateToApp` is trivial. Here is the relevant code:

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/a19a7412e5152c24cb046bce986c8c0772da22ea/src/core/public/application/application_servi

[2022-09-13 17:27] asfoorial commented on #2340
In fact, I am using the Dashboards query console (Dev Tools). The auto-completion fails giving that error because I have many fields in my indices. So probably the way field auto-completion works in Dashboards needs to be fixed.

[2022-09-13 17:28] asfoorial commented on #2340
I also think that all fields are loaded in the client automatically even if I don't request them!

[2022-09-13 17:31] asfoorial commented on #2340
Note also that the size that makes fail is 19MB. I don't think that this is too much for the browser to handle.

[2022-09-13 18:03] abbyhu2000 commented on #2331
@AMoo-Miki I tried using embedded-sass, and the first compilation still took around 300s, which is not a lot of improvement from the original.
![Screen Shot 2022-09-13 at 11 01 15 AM](https://user-images.githubusercontent.com/43937633/189976621-db3c3e19-b9a0-4922-8429-1a101fa9888e.png)

[2022-09-13 18:06] abbyhu2000 commented on #2223
Also tried replacing sass with sass-embedded, the first time compilation takes around 300s, which is not a big improvement from the original.

[2022-09-13 20:19] Flyingliuhub commented on #538
Yes. we can close this one, it will go out via 2.3 releaase

[2022-09-13 20:29] peternied opened #2343 "Dev Tools should support PATCH method"
### Reproduction:
- Find some documentation about a scenario in OpenSearch APIs that use a PATCH command, [like](https://opensearch.org/docs/latest/security-plugin/access-control/api/#patch-role)
- Get excited to try it out in your own cluster
- Open Dashboards, login as an admin user
- Navigate to Dev Tools
- Paste the following into the console window
[code]
- Select that text and hit the 'send

[2022-09-13 20:30] peternied commented on #2343
FYI @cwillum

[2022-09-13 21:12] #2205 closed

[2022-09-13 21:28] #2223 closed

[2022-09-13 22:15] bandinib-amzn commented on #2320
Looks like ```socket hang up`` error is causing 403 error which is misleading.

[2022-09-14 00:36] #1214 closed

[2022-09-14 01:22] ashwin-pc commented on #2250
The timeline visualization is using a very old jquery based charting library under the hood (flot). Given that @joshuarrrr is currently looking into unifying the charting experience across the project, this will likely be fixed with that.

[2022-09-14 01:34] noCharger commented on #538
Closed after syncup with @Flyingliuhub

[2022-09-14 01:34] #538 closed

[2022-09-14 02:48] ashwin-pc commented on #2331
Hmm, this makes me wonder if the issue is not with how fast the sass compiler is, but rather how `osd-optimizer` compiles them. What `fibers` did was allow sync operations to happen asynchronously. Which must mean that we must have an inefficient optimizer loop thats bottlenecking us.

[2022-09-14 02:53] ashwin-pc commented on #2339
@model-collapse Can you add more details on why we have this issue open in OpenSearch Dashboards? Judging by issue description, this feature needs to be implemented as a separate plugin in either the [https://github.com/opensearch-project/ml-commons](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/ml-commons) repo or in its own separate repo.

[2022-09-14 05:48] amanthakur opened #2349 "login page text is not customized"

[2022-09-14 09:30] smakaravets commented on #2126
@CCongWang  any updates about this bug?

[2022-09-14 10:35] antoniocascais commented on #2252
Hi @joshuarrrr

Thank you for coming back to me.

Our setup was
[code]

We removed kinesis from the setup and now everything works fine. It's still weird to me why we couldn't search for certain logs (when the documents existed), but now it's fixed.

I can't check the timestamp now (because we had to recreate the cluster to remove kinesis), but I'm 99% sure that was not the problem.

In some cases

[2022-09-14 14:49] dblock commented on #2339
If I read this correctly, we are trying to do two things: 1) a UI for managing models (pretty straightforward), and 2) a UI for training models. I think these are two separate features and belong in ml-commons UX. I'll move the issue, and recommend clearly writing down who the users are, what their needs are, what their experience needs to be, and the use-cases that are going to be thus enabled by

[2022-09-14 15:21] zakirpcs commented on #2254
If I change opensearch-dashboards.service file as follows then service run without any issue.

[Unit]
Description="OpenSearch Dashboards"

[code]

So its look like chroot mode issue to me.

[2022-09-14 19:08] kavilla commented on #2315
Hello @Crazyigor1987,

Thank you for opening. Will re-route to security plugin.

[2022-09-14 22:10] ananzh opened #2353 "[Tracking] vega and leaflet-vega npm repo replace"
In the [PR](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2352), we Use a forced CSP-compliant interpreter with Vega visualizations to prevent evaluation of unsafe methods.

This PR requires fixes in both vega and leaflet-vega.
Ref vega: https://github.com/vega/vega/pull/3570
Ref leaflet-vega: https://github.com/nyurik/leaflet-vega/pull/5

Currently we are using a private repo f

[2022-09-15 01:37] abbyhu2000 opened #2362 "[BUG] Wizard can not display correctly on the dashboard"
**Describe the bug**

When adding an existing wizard to the dashboard, the wizard can not display correctly and show an empty canvas.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a dashboard
2. Click on 'add'
3. On the add panel, choose a wizard to add to the dashboard
4. See error

**Expected behavior**
The wizard should display correctly on the dashboard.

**Screenshots**

<img wi

[2022-09-15 04:44] netimate commented on #2313
It seems I have found the cause of the problem.
We had installed a custom plugin here ("kbnNetwork" which enables a "node relation" map visualization -> https://github.com/dlumbrer/kbn_network/tree/osd-1.0.0). After we removed this plugin, the zoom factor via Fit Data Bounds works as expected... this plugin ran until version 2.2.0 supposedly without errors, but should lead to problems since 2.2.0.

[2022-09-15 04:49] netimate commented on #2313
Resolved by removing custom plugin "kbnNetwork" (https://github.com/dlumbrer/kbn_network/tree/osd-1.0.0).

[2022-09-15 04:49] #2313 closed

[2022-09-15 09:02] #2262 closed

[2022-09-15 09:02] #2263 closed

[2022-09-15 09:56] #2362 closed

[2022-09-15 14:00] herrkutt commented on #2280
Hello!
Just updated to 2.3.0 using docker (opensearch-dashboards:latest). I'm very excited to test and provide feedback on this feature as it will allow some of my users to make visualizations much faster :)
However, in my cluster I am unable to get the "Wizard" option to show up. I have enabled the experimental visualization option (and toggled it on/off, as per: https://opensearch.org/docs/lates

[2022-09-15 17:54] bandinib-amzn commented on #2320
According to this post: https://stackoverflow.com/questions/35063566/org-eclipse-jetty-io-eofexception-early-eof-thrown-while-uploading-large-file, the ```org.eclipse.jetty.io.EofException``` during ```flushing output for request``` means the response body content was unable to finish flushing to the network as the connection was terminated. And because of connection termination we are seeing ```s

[2022-09-15 17:55] amanthakur commented on #725
Anyone can tell me please how I can change  (please login to open search )  login page text . Where and how I can change this text . ??

[2022-09-15 18:53] ashwin-pc commented on #2280
@herrkutt thanks for calling that out. Looks like the doc needs to be updated. The plugin is disabled by default and you will need to enable it by adding the flag `wizard.enabled=true` in the `opensearch_dashboards.yml` file. The advanced settings option is just another way for the visualization type to be disabled. But that also disables the other experimental vis type "Controls"

[2022-09-16 00:42] joshuarrrr commented on #2048
@noCharger Thanks so much for opening this issue - I had also noticed it, and it is definitely an annoyance!

[2022-09-16 01:19] #2048 closed

[2022-09-16 09:18] amanthakur commented on #725
,external_osdSharedDeps_React_default.a.createElement(external_osdSharedDeps_ElasticEui_["EuiText"],{size:"m",textAlign:"center"},props.config.title|| ("please login open Search Dashboard ")

i want this with my custom text but  when i am changing it my custom text is not visual on login page there is same this text please anyonen can help me change this ????

[2022-09-16 17:45] kavilla commented on #1881
@ashwin-pc  are you picking this one up?

[2022-09-16 17:51] kavilla commented on #1881
Follow-up: Can the work applied here be applied in other places?

[2022-09-16 17:57] kavilla commented on #1913
Note: first understand how this is being done today (is this related to URL followed by filters), if this is the current behavior then keep it that way. But we need to do the research here.

[2022-09-16 18:03] kavilla opened #2378 "[VizBuilder] Integrate with vega-lite-expression"
TODO:
Create subtasks and add requirements here (for example mapping the saved object type)

[2022-09-16 18:08] kavilla opened #2379 "[Table Visualization] Table viz to export table as CSV and split table"
* split table vis under row and col directions (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2578)
* format column data to show date and percentage (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2562)
* export table vis as raw and formatted csv
* restore showTotal feature (PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2562)
* re

[2022-09-16 18:18] kavilla opened #2380 "[VizBuilder] Increase test coverage"
Parent task to fill in the gaps from the low initial coverage that the VisBuilder has.

## Sub tasks:

- [x] Add unit tests to functional code where it makes sense
- [x] Investigate and document functional testing flow to see if they can be made easier to write and debug
- [x] Add missing functional test workflows
- [x] Add Vis Builder FTR tests to OpenSearch Dashboards Repo (set the appropriate e

[2022-09-16 18:26] kavilla commented on #2380
[Follow-up]: Negative code coverage? Maybe we should have a rule if negative code coverage point to new functional tests.

[Follow-up 2]: Is there another way to calculate coverage accurately from a functional tests view point.

[2022-09-16 18:50] aoguan1990 commented on #2100
Removed. Thanks!

[2022-09-16 18:51] aoguan1990 commented on #2100
Links are removed. Thanks!

[2022-09-16 20:03] AMoo-Miki commented on #1756
I am not convinced that we needed an AWS package to do a simple AES encryption which is built into Node.

[2022-09-16 21:37] abbyhu2000 commented on #725
Currently the ability to configure logo and application title on the login page is not supported since the login page is associated with the security plugin.

[2022-09-16 21:37] abbyhu2000 commented on #725
Currently the ability to configure logo and application title on the login page is not supported since the login page is associated with the security plugin. @amanthakur

[2022-09-16 22:33] kolchfa-aws commented on #2280
@herrkutt - Please see updated info in the docs:
https://opensearch.org/docs/latest/dashboards/drag-drop-wizard/
If you have the default yml file, you can just uncomment the last line:
`# Set the value of this setting to true to start exploring wizard
# functionality in Visualization.
wizard.enabled: false`
If you have your own yml file, just add the line above to your file.

[2022-09-16 23:01] abbyhu2000 opened #2381 "[VizBuilder] Create a new wizard directly on dashboard"
Subtask of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/960

Requirements:
* Be able to create a new wizard directly from the dashboard by clicking 'Edit' then 'Create new'
* The save modal shows option to toggle between add to dashboard after saving or not
<img width="513" alt="Screen Shot 2022-09-16 at 4 00 49 PM" src="https://user-images.githubusercontent.com/43937633/1908

[2022-09-16 23:06] abbyhu2000 opened #2382 "[VizBuilder] Edit an existing wizard directly on dashboard"
Subtask of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/960

Requirements:
* Be able to edit an existing wizard directly from the dashboard by clicking 'Edit', then the click the top right of the chosen wizard, and select 'edit wizard'
* The save modal shows option to toggle between
    1. save as a new wizard or not
    2. add to dashboard after saving or not
<img width="601

[2022-09-16 23:17] abbyhu2000 opened #2383 "[VizBuilder] Create a new wizard directly on dashboard"
Subtask of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/960

**When creating a new wizard from dashboard, the topnav should have:**
1. `cancel` should discard the current changes and go back to dashboard
2. `save` button should show save modal

<img width="316" alt="Screen Shot 2022-09-16 at 2 58 48 PM" src="https://user-images.githubusercontent.com/43937633/190828983-2f4a5de

[2022-09-16 23:28] ashwin-pc commented on #2383
@btzeng In the case of Save and Return, does the "Add to Dashboard after saving" toggle still make sense?

[2022-09-16 23:39] abbyhu2000 commented on #2383
i think it does make sense since it provides an option for user to create a new visualization/wizard(cuz user can turn `save as new visualization` toggle on) and then save this new one to the dashboard? @ashwin-pc

[2022-09-16 23:49] abbyhu2000 commented on #960
This issue addresses the user flow:
1. Select a specific dashboard from the dashboard page
<img width="1188" alt="Screen Shot 2022-09-16 at 4 47 46 PM" src="https://user-images.githubusercontent.com/43937633/190831267-bac45ee9-da2d-463f-8ff7-681b26d826f2.png">

2. Create a new wizard or edit an existing wizard directly on that dashboard by clicking `Edit` on the top right corner of the dashboard
<

[2022-09-17 02:03] joshuarrrr opened #2385 "[Proposal] Consolidate chart-rendering to Vega-Lite"
**Is your feature request related to a problem? Please describe.**

Today, there are at five different charting libraries that are use to render different visualization types in OpenSearch Dashboards (OSD). This makes it difficult for developers to provide a consistent user experience across visualization types, because any vertical feature that targets all visualizations   must be implemented sep

[2022-09-19 01:33] kristenTian opened #2386 "[MD] Data source with wrong password connection in index pattern"
If a data source is created with wrong credentials, when user try to use it in index pattern creation. The current behavior will ask user to type in credentials (see screenshots).

However even type in correct ones there, it won't help with the connection. Tested with this data source http://54.70.243.216/app/management/opensearch-dashboards/dataSources/2c080040-37ba-11ed-9c7d-b99e8398c755 on [ind

[2022-09-19 16:31] zengyan-amazon commented on #2386
@zhongnansu can you take a look?

[2022-09-19 17:17] kristenTian commented on #2386
Please also test first create with wrong credential, then correct it using update data source, would it work in index pattern step.

[2022-09-19 18:03] manasvinibs commented on #2160
PR to developer doc site - https://github.com/CPTNB/opensearch-dashboards-dev-docs/pull/9

[2022-09-19 18:37] ahopp commented on #2385
@joshuarrrr Personally, I'm completely aligned on this recommendation. From my perspective, users don't particularly care about the underlying technology being used as along as they have a consistent, feature rich charting experience throughout. Given the integration and flexibility, Vega-Lite as the rendering layer and Vega-Lite as the declarative grammar to describe chart attributes and interact

[2022-09-19 20:34] kavilla commented on #2337
Hello @sachinpkale, do you have some insight for this? I don't have much information for this experimental feature.

[2022-09-20 07:28] #2230 closed

[2022-09-20 07:35] zhongnansu commented on #2169
I see the PR from feature branch to main branch gets merged and CI passed there. Can we resolve this? Also curious what kind of fix you have done. @kristenTian

[2022-09-20 09:58] sachinpkale commented on #2337
Hi @kavilla , adding some resource information in the description of the issue.

[2022-09-20 17:04] kavilla opened #2389 "Update SECURITY.md with more requirements"
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/SECURITY.md has a lack of requirements and expectations when reporting a vulnerability. This leads to erroneous reports or request for information which ends up taking more time to get than resolving the vulnerability.

We should update this with more details on what we expect on due diligence, commands to run and paste, CVE det

[2022-09-20 18:41] #1217 closed

[2022-09-20 18:42] bbarani commented on #1801
@seanneumann @seraphjiang Can you please help with this effort? We would need your help to understand the feasibility of the using npm script based solution.

[2022-09-20 18:50] seraphjiang commented on #1801
@bbarani @prudhvigodithi

@ashwin-pc proposed  ```yarn <command> ``` seems promising approach.

[2022-09-20 19:04] prudhvigodithi commented on #1801
Hey @ashwin-pc, is this related to [npm-run-script](https://docs.npmjs.com/cli/v8/commands/npm-run-script) or something different with `yarn <command>`, if possible can you shows us a POC?
Thank you

[2022-09-20 19:35] ashwin-pc commented on #1801
@prudhvigodithi `npm run <script_name>` and `yarn run <script_name>` are the same thing. We use `yarn` in OSD and the `run` command in `yarn` can be skipped, hence the `yarn <script_name>` syntax

[2022-09-20 21:20] noCharger opened #2394 "[Proposal] Maintain a changelog for OSD repo"
Hi Team,

When I was driving the OSD 2.3.0 release, I had to review all the changes made between the current release branch and the previous one in order to write release notes. The process could be expedited if we kept a `CHANGELOG`, where the commit owner added context each time a PR was merged to the main branch, even though it's good to gain knowledge for myself reading PRs. In addition, we ca

[2022-09-20 21:54] bbarani commented on #1801
@ashwin-pc Can you work with @prudhvigodithi on a POC to use scripts for incrementing the version for core OR any 1 plugin?

[2022-09-20 22:07] BSFishy commented on #2343
It seems that the request method simply isn't in the list here:

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/06abe83e0180f391a84c742cf5594866bc747ea2/src/plugins/console/server/routes/api/console/proxy/validation_config.ts#L37-L43

Something else of note is that it looks like the website doesn't recognize `PATCH` methods either, which would most likely be an issue with code so

[2022-09-20 23:20] AMoo-Miki commented on #1801
As far as Dashboards is concerned, this should be just bumping the version in `package.json` and doing a bootstrap to update the `yarn.lock` file.

* To set the version to something specific: `yarn version --new-version <version>`
* To bump the major version and reset minor and patch to zeros: `yarn version --major`
* To bump the minor version and reset patch to zero: `yarn version --minor`
* To b

[2022-09-21 00:51] Simbafa commented on #1681
It's network issue.

[2022-09-21 04:40] AMoo-Miki commented on #1801
* I have introduced a `version` command to the `plugin-helpers` in #2398; this can be used to update plugins before building them.
* For OSD version updates, please use the commands in my previous comment.

[2022-09-21 06:56] ruanyl commented on #2394
Totally agree that writing CHANGELOG at the point when making a release could be frustrating because the people drafting the release may not have a full context of the commits.

I have a proposal here https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2189 about fully automating the release process which includes the CHANGELOG generating.

The idea is to ensure each PR contains a d

[2022-09-21 08:30] ruanyl commented on #2189
Thanks @prudhvigodithi for the comment! Yes, I noticed the usage of 4 digit version, this could be challenge with Changeset as it expects SemVer, I'm not sure how easy to customize it via plugin, need to double check that.

Unlike release process which can be pretty much standardized, the version increment in other files can be different in different projects, a generic release automation tool pro

[2022-09-21 21:16] ahopp commented on #2394
I like the outcome but not super invested in the mechanism. @ruanyl your recommendation in #2189 seems sound to me and automated seems better than manual. @kavilla @ashwin-pc any thoughts on the mechanism proposed?

[2022-09-21 21:18] ahopp commented on #2383
Echoing @abbyhu2000 on this one, I also think it makes sense. Provide another option to safe with new, IMO. And it doesn't seem to decrement the user flow in any meaningful way.

[2022-09-21 21:21] kavilla opened #2400 "[Feedback] Multiple Datasources"
OpenSearch Dashboards provides tools to help you visualize and explore your data. Multiple datasources project allows for the connection to an OpenSearch cluster endpoint

[2022-09-21 21:23] ahopp commented on #2316
@Morata3006 Not sure the specific questions for this question. Can you help me understand the specific questions you have as well as you specific use case?

[2022-09-21 21:29] ahopp commented on #2268
@joshuarrrr could we take both paths? We first improve the default/automatic layout approach and also allow the visualization builder to modify for handling any aesthetic needs for the specific viz case. These would make it so individual visualization creators are not responsible for the tooltip width/layout by default but still allows them to control their output to handle aesthetics or edge case

[2022-09-21 21:54] kavilla commented on #2400
Data sources page reference legacy application

[2022-09-21 21:57] abbyhu2000 commented on #2400
maybe consider adding a readme doc to explain how to use the multiple datasource plugin and its functionalities?

[2022-09-21 22:11] kavilla commented on #2400
Unsure of the verification behind adding a data source connection. Still verifying. I am able to add a duplicate datasource will see the impact of this.

[2022-09-21 22:14] kavilla commented on #2400
`This will delete data source connections(s) and all Index Patterns using this credential will be invalid for access.`

` connections(s) `

[2022-09-21 22:15] kavilla commented on #2400
![Screen Shot 2022-09-21 at 3 15 05 PM](https://user-images.githubusercontent.com/12060704/191620042-db0a61c1-8183-440a-8067-01a7308fce6d.png)

I believe this not the standard from OpenSearch's for modal that can delete something. @KrooshalUX

[2022-09-21 22:19] kavilla commented on #2400
Sample data is able to add duplicate index patterns, should there be an indication on the index pattern page which source the index pattern is from?

[2022-09-21 22:26] kavilla commented on #2400
Information how my plugin can extend this functionality

[2022-09-21 22:49] kavilla commented on #2400
⚠️ for validation again, it does not do any validation on the version of the data source. currently we are coupled tightly with the version of OpenSearch. But it could get data from a data source that is really old or really new version with document's or APIs changes that we have yet to implement in the current version.

[2022-09-21 22:51] kavilla commented on #2400
⚠️ If MD is enabled, how did we want to handle if any outage on the other data sources? What is the experience? It seems like it will start since it will just check the default data source but visualizations associated to that index pattern from the data source should fail to load. Do we indicate that the data source is experiencing an outage?

[2022-09-21 22:57] kavilla commented on #2400
Batching concurrent requests fails

[2022-09-21 22:59] ananzh commented on #2400
Yes, I agree with @abbyhu2000. I have trouble to set it up as a developer. A developer guide / readme would be better with 1) setup in opensearch_dashboards.yml 2) instructions and example to create a data source 3) provide some sample endpoint_url

<img width="462" alt="Screen Shot 2022-09-21 at 15 57 42" src="https://user-images.githubusercontent.com/79961084/191624755-5ba6990e-5a3f-424c-8f84-4b

[2022-09-21 23:02] ananzh commented on #2400
I see the column sorting can do the sort on the lowercase named data source correctly. But if there is capital letter named data source or symbol started named data source, it is not working properly. Is there any restrictions on how to name the data source? is this some expected behavior?

<img width="1000" alt="Screen Shot 2022-09-21 at 15 53 23" src="https://user-images.githubusercontent.com/79

[2022-09-21 23:06] ananzh commented on #2400
Same with description sorting. not sure whether this is expected. seems if cx doesn't pay attention to lowercase/uppercase, then cx might not be able to find the correct data source immediately. If this is expected, we need to notice cx in the user guide.

<img width="984" alt="Screen Shot 2022-09-21 at 16 04 25" src="https://user-images.githubusercontent.com/79961084/191625485-8b67f076-8390-44af-

[2022-09-21 23:07] seraphjiang commented on #1388
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400

[2022-09-21 23:13] zhongnansu commented on #2031
duplicate

[2022-09-21 23:13] #2031 closed

[2022-09-21 23:13] zhongnansu commented on #2053
dup

[2022-09-21 23:13] #2053 closed

[2022-09-21 23:14] zhongnansu commented on #2199
related to #2158

[2022-09-21 23:14] zhongnansu commented on #2400
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2199

[2022-09-21 23:16] ananzh commented on #2400
I am reading this test:

[code]

but it seems we are allowing same data source (title, description, endpoint url and Authentication method) to be created
<img width="902" alt="Screen Shot 2022-09-21 at 16 11 17" src="https://user-images.githubusercontent.com/79961084/191626299-0d9222b3-2697-4870-8d06-e09ad25bbffe.png">

is this expected? from the test description, it seems not.

[2022-09-21 23:17] zhongnansu commented on #2400
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2174

[2022-09-21 23:35] abbyhu2000 commented on #2400
When i try to update password, there is no indication on if i successfully updated the password or not.

1. If i provide a wrong password for `Old password`, there is no error shown and it still allows me to click the `update `button. (I think it's helpful to have some messages like "Please provide a correct old password", and `update` button should not be allowed)
2. If i provide a correct passwo

[2022-09-21 23:39] ananzh commented on #2400
When I try to create an index pattern with system index. It is not showing properly.

1) search `.kiban` --> can see all the indices
<img width="1205" alt="Screen Shot 2022-09-21 at 16 36 15" src="https://user-images.githubusercontent.com/79961084/191628262-3a4f1a2d-8990-4cf5-949a-c3ae4e548418.png">

**2) search `.kibana` --> show only one. should this match all indices starting with `.kibana`?**

[2022-09-21 23:50] ananzh commented on #2400
should me remove alias?
<img width="1198" alt="Screen Shot 2022-09-21 at 16 46 44" src="https://user-images.githubusercontent.com/79961084/191629400-6a71cf86-84e8-4278-8a38-df7a31483490.png">

[2022-09-22 00:40] noCharger commented on #2400
Will prioritize this

[2022-09-22 08:58] sagar-rout opened #2402 "[BUG] Typo in the README"
Typo in the README

OpenSearch Dashboards is an open source search and analytics visualization. We aim **to to** be the best community-driven platform and provide all the contributors a great open source experience.

[2022-09-22 09:16] ashwin-pc commented on #2394
I agree that automated is better than manual, but for reasons like those called out by @prudhvigodithi in #2189, we may need an interim solution like that suggested by @noCharger.

I love the idea of a `CHANEGLOG.md`. In addition to that, we must also:

1. Backfill the changelog for all prior releases.
2. Add to the PR checklist a step to make sure that the `CHANGELOG.md` is updated if necessary

[2022-09-22 09:44] ashwin-pc commented on #2233
@jgough Based on the issue description im a lil confused as to whether this is a bug or an enhancement or both?

To your first point,

all links in OpenSearch dashboards should be using the `euiColorPrimary` sass value for its color and the `EuiLink` component to render it. Do you see any instances of links that do not follow this?

As for the option to theme it, yes I agree and this is what we wa

[2022-09-22 09:50] jgough commented on #2233
This isn't a bug, just an enhancement.  I really just want to be able to customise Dashboards just a little more.

Currently doing a big `sed -i` after bootstrapping in a custom build to replace these colours.  Not sure how I can modify with euiColorPrimary but will look into it.

[2022-09-22 11:27] ashwin-pc commented on #1704
Closing this in place of #2380 where i have listed the actual tests to cover

[2022-09-22 11:27] #1704 closed

[2022-09-22 15:15] #2402 closed

[2022-09-22 16:16] abbyhu2000 commented on #2400
After I created a new index pattern from an external data source, the `View single document` is broken.

![Screen Shot 2022-09-22 at 9 11 02 AM](https://user-images.githubusercontent.com/43937633/191798220-5f91c953-b665-4272-91e4-f0800b4bb474.png)
![Screen Shot 2022-09-22 at 9 11 14 AM](https://user-images.githubusercontent.com/43937633/191798261-5efd7ffa-5565-44c7-b086-e09e47ffc741.png)

`View si

[2022-09-22 17:11] joshuarrrr commented on #1619
It seems like there's consensus on "Vis Bulider": https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1157

[2022-09-22 17:12] joshuarrrr commented on #1706
It seems like there's consensus on "Vis Bulider": https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1157

[2022-09-22 17:14] joshuarrrr commented on #2380
See also:
- https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1884
- https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1885

[2022-09-22 17:16] joshuarrrr commented on #2268
@ahopp I think that's a good idea in theory, but I'd only hesitate because of backwards compatibility concerns - each direct UI control we add is reflected in the chart configuration object which we'll have an obligation to respect.

[2022-09-22 17:18] joshuarrrr commented on #1681
@Simbafa Were you able to successfully build after the network issue was resolved?

[2022-09-22 17:20] joshuarrrr commented on #2337
It appears this issue would make more sense in the https://github.com/opensearch-project/OpenSearch repo, as it doesn't seem to be a dashboards feature.

[2022-09-22 17:26] joshuarrrr commented on #2385
@brijos Accessibility of data visualizations is definitely important, and an area where there's room for improvement in most charting libraries and tools. The [Vega-Lite discussion issue](https://github.com/vega/vega-lite/issues/4244) is a useful window into some of the technical challenges, as well as ideas for further improvements. Regardless of the charting library we choose, this is an area wh

[2022-09-22 18:41] SbJornS opened #2406 "Enabling the drag&drop wizard breaks OS dash[BUG]"
**Describe the bug**

When enabling the wizard in the yaml pr https://opensearch.org/docs/latest/dashboards/drag-drop-wizard/, OS dash fails to load with the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add "wizard.enabled: true" to opensearch_dashboards.yml
2. restart service
3. refresh website
4. See error

**Expected behavior**
Site should reload and giv

[2022-09-22 19:16] BSFishy commented on #2268
Personally, I would hesitate to make aesthetics customizable for different viz cases, because to me, that opens the floor to more and more things being customizable. In theory, I think that would be nice, however with more and more things changing from one viz to another can make it difficult for multiple people to work on a viz because they aren't used to its specific aesthetic settings.

Maybe i

[2022-09-22 21:32] BSFishy commented on #2196
Alternatively, [Vagrant](https://www.vagrantup.com/) might be of use here, which can use Docker as a back-end and is made specifically with development in mind. It essentially spins up identical virtual machines (or Docker containers) for development.

[2022-09-22 23:52] zhongnansu commented on #2386
@zengyan-amazon @kristenTian
- The reason of the pop-up by browser is because, to support Data source in index management, we use opensearch client instead of the original `legacy` client in `indexpattern -> resolve_index.ts`
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/1dcf6fd54c5e24bc38e97805eae4425f8446f718/src/plugins/index_pattern_management/server/routes/resolve_index.ts#

[2022-09-23 02:41] seraphjiang commented on #2196
wow, never used that, could we get a demo :)

[2022-09-23 07:20] kavilla commented on #2406
Hey @SbJornS,

Thanks for opening, can you press the `Clear your session` button and see if this resolves your issue? Or did you select that already.

[2022-09-23 08:04] SbJornS commented on #2406
This is very strange: I did (re)try that several times in multiple browsers last night to no avail. My colleague couldn't get logged in with wizard enabled or disabled with the attached error message.
![image](https://user-images.githubusercontent.com/114183317/191915496-88fd26a9-1657-4e18-a6c4-2f463d745981.png)

My colleague was able of getting the rest api to work with curl: "if I take a valid C

[2022-09-23 08:04] #2406 closed

[2022-09-23 09:16] sachinpkale commented on #2337
Yes, this should be in `OpenSearch` repo. Thanks @joshuarrrr . Created an issue here: https://github.com/opensearch-project/OpenSearch/issues/4576
Closing this one.

[2022-09-23 09:16] #2337 closed

[2022-09-23 10:37] ashwin-pc commented on #2196
@BSFishy Thats actually pretty neat! Last time i used Vagrant, it could only run on a VM which was a big overhead especially if you are trying to develop on not the latest and greatest hardware. That being said i'd still lean just a lil bit towards only using docker since:
1. It is one less dependency
2. Looking at the docs it has for docker, I dont see a significant value add over using just dock

[2022-09-23 10:54] ashwin-pc commented on #2394
Ideally yes. But as Josh mentioned creating the initial file.

I also like how the PR template for OpenSearch has a checklist item for the changelog. Something we should consider too.

@joshuarrrr yeah this is a dupe. @noCharger lets close this and continue the discussion on #591

[2022-09-23 11:57] anubisg1 commented on #1500
Yes, this is seemgly a small thing but it's incredibly important in the UI in terms of usability. I hope to see this done sooner than later

[2022-09-23 17:03] kavilla commented on #2406
@SbJornS,

Thanks for getting back! Yeah, I have experienced this a couple times with the caching busting mechanism not working as expected. Perhaps, we could repurpose this issue to take the time to revisit that.

[2022-09-23 18:55] BSFishy commented on #2196
I'll be working on a work-in-progress Vagrantfile [over here](https://github.com/BSFishy/OpenSearch-Dashboards/blob/vagrant/Vagrantfile). Right now, it's getting hung up on ssh access, but that may just be a configuration issue on my machine.

Additionally, ssh access might not even be necessary if I can configure it to just start the development server, then let OSD optimizer deal with file watch

[2022-09-23 19:05] kavilla commented on #2400
Explicit message indicating that this is an experimental feature for example like the visualization builder:

![Screen Shot 2022-09-23 at 12 05 19 PM](https://user-images.githubusercontent.com/12060704/192039540-0b5a259c-4ed6-42ed-b220-edacfea4a38f.png)

[2022-09-23 19:05] ananzh commented on #1500
@anubisg1  thank you and this is a great feedback. I am working on switching table vis from angular to react by using data grid component. I will add resizing column in my current scope.

[2022-09-23 20:59] KrooshalUX commented on #2400
Moving a conversation from Slack into GitHub: There are still pending UX changes and copy edits to be made. I will work with @kristenTian, @mpabba3003 and others to help address those feedback items.

[2022-09-23 21:40] seanneumann commented on #1157
The official proposed name is "**Visualization Builder**"

@elfisher do you want to sign off on this?

[2022-09-24 21:49] seanneumann commented on #2389
@davidlago FYI

[2022-09-25 18:57] seraphjiang commented on #2389
@ZilongX  FYI

[2022-09-25 19:31] seraphjiang commented on #2087
the request is to ask for support Mac

[2022-09-25 19:32] seraphjiang commented on #1990
this should be lower priority, target for 2.5 or 3.0

[2022-09-25 19:37] seraphjiang commented on #1747
@Flyingliuhub this might align with what playground and create generic way to support ingestion example for user e.g. demo for plugin.

[2022-09-26 09:38] #2394 closed

[2022-09-26 10:22] eogredici commented on #1611
Hi @r0736202 ,
If your problem still persists, I faced the same problem. I fixed this issue, change plugins.security.disabled to:false
at opensearch.yml. Your specs may be plugins.security.disabled to:true.

Opensearch version: 2.3.0
OSD version: 2.3.0
I used tarball for the install method.

[2022-09-26 14:22] ervikrant06 opened #2416 "[BUG] opensearch-dashboard 2.2 crashing with Unhandled Promise rejection detected"
**Describe the bug**

A clear and concise description of what the bug is.

While trying to load the dashboards or visualizations. Following query was ending with 503 error.

https://kibana-0.test.com/api/saved_objects/_find?fields=title&per_page=10000&type=index-pattern

intermittenly crash of opensearch-dashboards is noticed in logs

[code]

After 2-3 hours automatically opensearch-dashboards sta

[2022-09-26 15:23] ervikrant06 commented on #2416
From the opensearch dashboards logs
[code]

[2022-09-26 16:21] anubisg1 opened #2417 "Missing API Compatibility with Beats"
When using external tools (like beats) to import dashboards into OpenSearch Dashboards, import fail because the API returns the actual dashboards version

[code]

OpenSearch itself provides a compatibility mode with

[code]

there isn't (or i haven't found any documentation about it) a comparable feature for OpenSearch Dashboards

[2022-09-26 16:22] bjo004 commented on #2400
Hi @ananzh ,

Should I assume it's the opensearch URL that will look like this https://<OPENSEARCH_URL>.com:9200

Kind regards,

Bankole.

[2022-09-26 16:30] BSFishy commented on #2196
After a bit more tampering, it seems that we would need a custom Docker image for SSH access. Essentially Vagrant needs the container to have sshd running, which most images, such as `node` do not. There are some images on Docker Hub, I think, but they mostly don't have what we need in an image, like Node.

I could try creating a new image with the necessary parts, but I'm not extremely experience

[2022-09-26 18:30] ananzh commented on #2213
PR #2279 resolved this issue

[2022-09-26 18:30] #2213 closed

[2022-09-26 22:47] zhongnansu commented on #1759
Is this research done, can we close the issue? @noCharger

[2022-09-27 03:02] kristenTian commented on #2386
Thanks for great details, what does `the service level` exactly means in option 1? If you already implemented, could you please share some code example.

[2022-09-27 06:24] kavilla commented on #2329
Thanks @abbyhu2000, I have marked as an improvement and marked as good first issue. I think your proposals make sense

[2022-09-27 10:07] sastorsl opened #2422 "Separate OpenSearch Dashboards from Opensearch for vital functions"
**Is your feature request related to a problem? Please describe.**

It is problematic that OpenSearch Dashboards ("the client") **must** have OpenSearch ("the backend") up and ready to function.

1. An intermittent issue with the backend causes the client to not give proper feedback to the client.
2. A "lifecycle" probe, i.e. on k8s can't detect if the client is working unless the backend is up
3.

[2022-09-27 11:35] sastorsl commented on #2422
Further discussions in https://github.com/opensearch-project/helm-charts/pull/172

[2022-09-27 12:57] rrnair commented on #1723
Any help/suggestion is highly appreciated.

I am having trouble importing *.ndjson files using SavedObject API within a Lambda, what I am trying is to import a bunch of *.ndjson files (dashboards, index-templates etc) at the time of creating a stack (via CDK) that includes Opensearch & Dashboard services. The Opensearch is configured for Cognito authentication and browser logins are working fine.

[2022-09-27 17:28] zhongnansu commented on #2386
In my PR, you can see `wrap401Error = false` was added as a default param in the `callAPI`. This is within the data source plugin. We don't need each caller to configure from their side. https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2204/files#diff-442cda9a371f9aa2ce417631ddf7a8b80f9ec6ade15676b1cfe390f1c25b3fe7R109

[2022-09-27 20:09] kavilla commented on #2087
Triage:

Thanks @seraphjiang perhaps we can get escalation on mac support on the build repo issue? https://github.com/opensearch-project/opensearch-build/issues/38

[2022-09-27 20:16] kavilla commented on #2240
[Triage]:

1. There is a difference we need to research why the difference.
 - Note: There is a difference in total count and return result count that could be the difference but we don't explicitly know why there is a non-mapping of 1 to 1 based on what is in OpenSearch Dashboards vs OpenSearch.
 2. If there is a difference are we okay with that since we want to encourage the split? Or do we want

[2022-09-27 20:28] kavilla commented on #2250
[Triage]:

More value would be to migrating this visualization as a priority to the new unifying charting experience. +1 to @joshuarrrr.

[2022-09-27 20:28] kavilla commented on #2385
[Triage]

@joshuarrrr could you provide some insight on a migration path for existing charts.

[2022-09-27 20:38] kavilla commented on #2251
[Triage]

@joshuarrrr could add this to your queue to research if you have availability. If this is expected it should be more explicitly called out. @KrooshalUX we should see if this even makes sense as an end-user experience.

[2022-09-27 20:44] kavilla commented on #657
[Triage]

@seanneumann @ahopp, as we can see this a high ask for the community. Could we get this prioritized?

[2022-09-27 20:48] kavilla commented on #2274
[Triage]

Thanks @anubisg1!

We are looking at options to provide a better experience to provide a refreshed index pattern if new fields are inserted into OpenSearch.

@opensearch-project/opensearch-ux could we get assistance here?

[2022-09-27 20:55] kavilla commented on #2338
[Triage]

Hello @wujunshen,

Thank you for opening. Could you verify if this is a duplicate of this issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1630?

If so, would you be able to comment on that issue?

[2022-09-27 20:55] kavilla commented on #1630
[Triage]:

@AMoo-Miki, could you look into RE builds for this.

[2022-09-27 21:04] KrooshalUX commented on #2251
Tagging @btzeng for visibility

[2022-09-27 22:51] seanneumann commented on #2385
@anirudha - I know you have a lot of thoughts here and are a big proponent of plot.ly. Can you chime in?

[2022-09-27 23:34] ashwin-pc commented on #1706
@kgcreative @btzeng do we need to update the VisBuilder Logo since the old one was created to reflect the name "Drag and Drop"?

[2022-09-28 01:04] kgcreative commented on #1706
Probably not a bad idea tbh

[2022-09-28 08:48] kilitr commented on #1647
Hi!

Is it also possible to create completely new Tenants, Visualizations and Dashboards through writing documents?

Also i'm currently exploring my environment through those kibana indexes, however i don't recognize my tenants? How would i identify those on a document level?

[2022-09-28 12:55] deepaksb2 opened #2424 "Unsafe Content-Security-Policy header"
Opensearch dashboards version: 1.3

Opensearch version: 1.3

Server OS version: CentOS

Browser version: Chrome 85.0.4183.83

Browser OS version: Windows 10

Original install method (e.g. download page, yum, from source, etc.): Docker image

Describe the bug:
Currentry the content security policy for Opensearch dashboards is following : "content-security-policy: script-src 'unsafe-eval' 'self'; wo

[2022-09-28 18:39] zengyan-amazon opened #2426 "[MD] Check data source name existence before creating"
We want to avoid having duplicated data source name, which may confuse user and cause bad experience. So when creating a new data source, we need to check if there is already a data source with the same name was already created, and give a warning to user to choose a different data source name.

[2022-09-28 18:55] zengyan-amazon opened #2427 "[MD] Add multi data source sample config in yml template"
Add multi data source sample config to the `opensearch_dashboards.yml` template to give users an idea how to enable and configure multi data source support feature.

[2022-09-28 19:15] joshuarrrr opened #2429 "[Meta] Workflow to catch/flag unintended `yarn.lock` updates in PRs"
**Is your feature request related to a problem? Please describe.**

It's common for developers to unintentionally update their local `yarn.lock` file while developing locally (simply bootstrapping the project may install slightly different patch versions of dependencies for example). But for maintaining dependencies, we'd like to make sure any dependency changes are intentional, and considered in

[2022-09-28 19:33] ashwin-pc commented on #2429
I like this idea but i'm not sure if we want to make it a workflow. An incorrect lockfile is an indication that the lock file is outdated and should probably be updated.

Instead of a workflow, cant we add it as a git precommit method?

[2022-09-28 20:02] joshuarrrr commented on #707
We're currently looking for someone to take over and finish this PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1132

The remaining work is essentially:

- update the PR by merging/rebasing with main
- manual testing to figure out if anything is broken here, if it breaks other plugins, and if it needs to be extended to other use cases

[2022-09-28 20:41] zhongnansu opened #2433 "[MD] Meta issue from feedback session & comments in closed PR"
Issues created based on #2400,  https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2409, https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2399

- [x] #2210
- [ ] https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2434
- [ ] https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2435
- [x] https://github.com/opensearch-project/OpenSearch-Das

[2022-09-28 20:49] mpabba3003 commented on #2433
[ ]  Documentation for "data_source" plugin
[ ]  Documentation for "data_source_management" plugin

[2022-09-28 20:51] zhongnansu opened #2434 "[MD] Polish Header wording"

[2022-09-28 20:53] mpabba3003 commented on #2434
@KrooshalUX Please provide the official wording for headers:
Data Source - Listing, Create & Update
IndexManagement - Listing, Create & Update

[2022-09-28 20:55] zhongnansu opened #2435 "[MD] [Research] Support test connection when creating datasource"

[2022-09-28 20:56] zhongnansu commented on #2400
Team decides it's not a release blocking issue, added to the roadmap of 2.5, #2435

[2022-09-28 20:56] mpabba3003 opened #2436 "[MD] Documentation for "data_source" plugin"
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2399#discussion_r978535575

Also, Look at this https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2199

[2022-09-28 20:58] mpabba3003 opened #2437 "[MD] Documentation for "data_source_management" plugin"
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2399#discussion_r978536039

https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254269426

Take a look at this, https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2158

[2022-09-28 21:09] mpabba3003 opened #2438 "[MD] Delete modal should be updated as per open serach standards"
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254285863

[2022-09-28 21:12] mpabba3003 opened #2439 "[MD] Polish helper text - Endpoint field in create/update datasource page"
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254317936

[2022-09-28 21:14] mpabba3003 opened #2440 "[MD] Update links to redirect to new application"
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254267024

[2022-09-28 21:16] zhongnansu commented on #2433
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2409#discussion_r981731054
@mpabba3003 please take a look

[2022-09-28 21:17] mpabba3003 commented on #2400
This is default sorting by EUI library InMemoryTable.

[2022-09-28 21:22] zhongnansu commented on #2400
I didn't get this one, do you have a screenshot? Is it about documentation links on the page? @kavilla

[2022-09-28 21:24] zhongnansu commented on #2400
#2437 #2436

[2022-09-28 21:26] zhongnansu opened #2441 "[MD] validate datasource uniqueness from UI"

[2022-09-28 21:27] mpabba3003 commented on #2400
This is still under work. As of now nothing happens when user tries to update password

[2022-09-28 21:28] zhongnansu commented on #2400
#2411

[2022-09-28 21:28] zhongnansu commented on #2400
#2411

[2022-09-28 21:30] zhongnansu commented on #2400
It's on the roadmap. To support Legacy client in ds is paving the road for external plugin integration. I'll create an issue for tracking

[2022-09-28 21:32] zhongnansu commented on #2400
#2174 tracking here

[2022-09-28 21:33] mpabba3003 opened #2442 "[MD] Identify the source for duplicate index patterns"
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254289458

[2022-09-28 21:35] ashwin-pc opened #2443 "[VisBuilder] [BUG] Empty workspace animation does not work in firefox"
**Describe the bug**

The visbuilder animation in firefox does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Visualization Builder](https://playground.opensearch.org/app/wizard) on firefox
4. See no animation

<img width="1904" alt="Screen Shot 2022-09-28 at 2 34 56 PM" src="https://user-images.githubusercontent.com/20453492/192893024-c27066ed-0209-4f83-9a1e-64332aacdff0.p

[2022-09-28 21:38] zhongnansu commented on #2433
need to create issue for this comment https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#issuecomment-1254337310

[2022-09-28 21:42] zhongnansu commented on #2400
@ananzh this issue has nothing to do with data source. It's the default index pattern behaviour. Please submit as a separate issue in repo to get more discussion

[2022-09-28 21:43] zhongnansu commented on #2400
fixed in #https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2431

[2022-09-28 21:46] zhongnansu commented on #2400
same thing, it's not related to our code change. Default index pattern behavior

[2022-09-28 22:29] noCharger commented on #1756
Hi @AMoo-Miki, updated the issue with more context. Please review~

[2022-09-28 22:39] zhongnansu commented on #2441
Duplicate of #2426, closing

[2022-09-28 22:39] #2441 closed

[2022-09-28 23:27] zhongnansu commented on #2169
stale. Since feature merged to main. I assume this issue is no longer valid. Closing

[2022-09-28 23:27] #2169 closed

[2022-09-29 00:39] #1882 closed

[2022-09-29 01:45] AMoo-Miki commented on #1756
@noCharger, I found the updated text very informative and helpful in my understanding of the reasoning behind the choice. Thanks a ton for your research and the update.

[2022-09-29 16:10] dblock opened #2451 "Run GHA CI on Windows"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/opensearch-build/issues/33, no tests run on Windows.

**Describe the solution you'd like**

Add GHA CI that runs on Windows.

[2022-09-29 17:49] #2133 closed

[2022-09-29 17:50] #2386 closed

[2022-09-29 18:05] zhongnansu opened #2455 "[MD] Onboard other plugins to multiple data source feature"
Not planned for 2.4 releases

Since we have support both legacy clients new clients, that paved the road to onboard both other plugins and external plugins (such as Alerting, AD, reporting, etc)
For example dev tools, ghant chart(external plugin)

- [x] research on dev tools, ghant chart as example
~~- [ ] provide documentation~~
- [ ] #2699

[2022-09-29 18:14] Flyingliuhub commented on #2422
Thanks @sastorsl for the suggestion here, OpenSearch Dashboards expose API (:5601/api/status) already. Is it possible to share your use case here? so we can understand more here. And is this PR "OpenSearchDashboards - Add healthcheck probes to charts" addressing your issue ? https://github.com/opensearch-project/helm-charts/pull/329/files

[2022-09-29 19:46] noCharger commented on #1759
close this for now, will reopen it in case we need keystore

[2022-09-29 19:46] #1759 closed

[2022-09-29 19:47] noCharger commented on #1872
Close these optional issues for now, will reopen based on priority

[2022-09-29 19:47] #1872 closed

[2022-09-29 19:47] noCharger commented on #1945
Close these optional issues for now, will reopen based on priority

[2022-09-29 19:47] #1945 closed

[2022-09-29 19:47] noCharger commented on #1976
Close these optional issues for now, will reopen based on priority

[2022-09-29 19:47] #1976 closed

[2022-09-29 19:50] noCharger commented on #2033
Close as https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2334 merged

[2022-09-29 19:50] #2033 closed

[2022-09-29 19:51] noCharger commented on #2046
Close as merged https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2334

[2022-09-29 19:51] #2046 closed

[2022-09-29 21:13] anirudha commented on #2385
*Priorities*

need to start working on an Abstraction interface , and the following requirements are met.

**Decisions / Questions**

1. What frameworks do the anywhere projects use to implement layering on Dashboards.
    1. Anywhere projects should not use a charting library but should use an “Abstract Charting Interface”.
2. What does the Abstract Charting interface use as its impl. library ?

[2022-09-29 21:21] anirudha commented on #2385
The Observability plugin needs the following requirements reviewed as we migrate to the abstraction interface.

[2022-09-29 22:48] zengyan-amazon commented on #2435
there isn't an OpenSearch API that can be used to verify the connection/authentication. While I think we can leverage the [`authInfo`](https://github.com/opensearch-project/security/blob/f431ec2201e1466b7c12528347a1f54cf64387c9/src/main/java/org/opensearch/security/rest/SecurityInfoAction.java#L63) API provided by the security plugin to verify the authentication if the data source has auth enabled

[2022-09-29 22:54] abbyhu2000 opened #2458 "[VisBuilder] Functional: create wizard directly on dashboard, save and return to the dashboard"
Write function tests for these scenarios:
1. select a dashboard, and create a new wizard
2. make sure `Add To Dashboard after saving` toggle is on
3. type a title and select `Save and return` button
4. should automatically navigate to the dashboard page, and the created wizard should be shown on the dashboard
5. click `save` on the dashboard

<img width="1048" alt="Screen Shot 2022-09-29 at 3 52 0

[2022-09-29 22:56] ananzh opened #2459 "[Test] local unit tests failed"
See some failing unit tests from local development.  CI is fine. Here is a summary of all the failing test cases:

[code]

[2022-09-29 22:58] abbyhu2000 opened #2460 "[VisBuilder] Functional: create wizard directly on dashboard, do not save to the dashboard"
Write function tests for these scenarios:

1. select a dashboard, and create a new wizard
2. make sure `Add To Dashboard after saving` toggle is off
3. type a title and make sure `Save` button is visible and select `Save` button
4. should stay on the wizard editing page, and the created wizard should not be shown on the dashboard
5. verify wizard is visible under saved object page
![Screen Shot 20

[2022-09-30 00:42] noCharger commented on #2459
Running single suite passed.
[code]
Running multiple suites serially also passed.
[code]

Seems to be a race condition when there's a worker pool of child processes that run tests. Need to dive deep.

[2022-09-30 01:13] ashwin-pc opened #2462 "[Docs] Update functional testing instructions"
[opensearch-dashboards-functional-test](https://github.com/opensearch-project/opensearch-dashboards-functional-test) is the official home for  OpenSearch Dashboards Functional tests. Since the migration of all the tasks is non trivial, the decision was to incrementally target the migration. To communicate this openly we should update the [TESTING.md](https://github.com/opensearch-project/OpenSearc

[2022-09-30 01:45] ashwin-pc opened #2463 "[BUG][VisBuilder] Last updated timestamp missing in visualization list"
**Describe the bug**

Last updated timestamp missing in visualization list

<img width="1059" alt="image" src="https://user-images.githubusercontent.com/20453492/193172048-08076d0e-28e6-41e7-b634-742b7f474612.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VisBuilder visualization
2. Go to Visualize
3. Search for the new visualization
4. See the missing timestamp

**Expected b

[2022-09-30 03:55] seanneumann commented on #2385
Thanks Ani!

[2022-09-30 17:11] kavilla opened #2465 "[Plugins as Extensions] Installation process"
* Plugins installing shouldn't require the OpenSearch Dashboards process to go down when installing and uninstalling
* Plugins shouldn't be able to install it's dependencies if there are some
  * For example, if there is an OpenSearch plugin that it depends on then it should install the OpenSearch plugin
  * If there is an dependent OpenSearch Dashboards plugin then it should install that plugin a

[2022-09-30 17:21] seraphjiang commented on #2465
One question,
will the platform leave existing Plugin behavior as is, it just introduce new `extension` as option to OSD admin/developer/user. developer could choose to migrate their `plugin` to `extension` if applicable. plugin owner are forced to migrate.

[2022-09-30 17:27] joshuarrrr commented on #2073
Proposal created: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2385

VisBuilder integration will be tracked in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2378

[2022-09-30 17:27] #2073 closed

[2022-09-30 17:30] kavilla commented on #1881
Assigning to @ashwin-pc

[2022-09-30 18:07] tianleh commented on #2462
For "All other tests will be", currently there is no concrete plan for it. The team could gradually build the development velocity by migrating a few tests first. We also welcome the community to help.

We have some high level proposal to automate test generation https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/205 which could extend to automate migration test cas

[2022-09-30 18:26] #1801 closed

[2022-09-30 22:24] noCharger commented on #2459
Created Jest issue https://github.com/facebook/jest/issues/13349

I couldn't find much information about how jest passes global configs when creating child processes. I'll also look into the Jest codebase for more information.

[2022-10-02 18:28] Jon-AtAWS commented on #1869
@Flyingliuhub

Let's add an observability data set as well. This will make it easier to get started with and demo the Observability plugin.

[2022-10-02 18:34] Jon-AtAWS opened #2481 "Add Sankey visualizations to Dashboards"
**Is your feature request related to a problem? Please describe.**

It's not particularly a problem... I was trying to play around with the Vega code here: https://github.com/danielneil/ELK-Sankey with little success. Is this something that we can onboard as a visualization?

**Describe the solution you'd like**

Add a "Sankey" visualization as a primary visualization type.

**Describe alternative

[2022-10-03 06:56] mend-for-github-com[bot] opened #2482 "WS-2022-0322 (High) detected in d3-color-1.4.1.tgz"
## WS-2022-0322 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>d3-color-1.4.1.tgz</b></p></summary>

<p>Color spaces! RGB, HSL, Cubehelix, Lab and HCL (Lch).</p>
<p>Library home page: <a href="https://registry.npmjs.org/d3-color/-/d3-color-1.4.1.tgz">https://regis

[2022-10-03 17:12] Flyingliuhub commented on #1869
Thanks @Jon-AtAWS for the suggestions. We created a issue for tracking Observability plugin work. https://github.com/opensearch-project/dashboards-anywhere/issues/82

[2022-10-03 19:33] ahopp commented on #2385
Do you mean we have to gather requirements from the plugins before making a proposal on any future abstraction layer? If so, I agree. I'm happy to help coordinate with the plugins with the help of @joshuarrrr and @ashwin-pc. Some of the work is already being down with the alerting / anomaly detection work @brijos is driving.

Can you help me understand a bit more here? Are you saying you want to s

[2022-10-03 20:07] ahopp commented on #2385
I think one of the goals of the abstraction layer would be to ensure that we have a path to enable all supported features in downstream visualizations as long as the abstraction layer is being used. Specifically, abstraction is used for a multitude of reasons (centralization, simplicity, improved testing, separation of policy and detail, etc.) but one of the goals of exposing an interface to handl

[2022-10-03 20:47] joshuali925 opened #2485 "[BUG][1.3] Plugin build fails with `Error: Cannot find module 'fs/promises'`"
**Describe the bug**

A clear and concise description of what the bug is.

https://github.com/opensearch-project/sql/pull/881#issuecomment-1265998109

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo 1.3 branch
2. Clone a plugin with 1.3.6.0 version to `plugins` dir (tried security dashboards and query workbench)
3. `yarn osd bootstrap && yarn build`
4. See error
[code]

**Expe

[2022-10-03 21:53] #2485 closed

[2022-10-03 21:57] kavilla opened #2488 "[Improvement] remove `@ts-ignore` from plugin builder update version file"
`@ts-ignore` was included [here](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-plugin-helpers/src/tasks/update_versions.ts#L6).

We should be able remove and backport to ensure modules imported from Node are available.

[2022-10-03 22:27] mpabba3003 commented on #2434
I am working on - Data Source - Listing, Create & Update

[2022-10-03 22:41] seraphjiang commented on #2440
update link to goto right documentation page, if no specific page, let's redirect to homepage of doc site
https://opensearch.org/docs/latest

[2022-10-03 22:59] seraphjiang commented on #2433
GLOBAL APP TO DO:
https://github.com/opensearch-project/ux/issues/16

- [ ] If an error is present on any page within the application due to a provided endpoint becoming unavailable or authentication failing, present user with a toast message appropriate to the error case -- defer to 2.5

 kroosh to update issue with approved error messages following writing meeting -- need more clarification to u

[2022-10-03 23:34] zhongnansu opened #2489 "[MD] update password is not working"
<img width="1528" alt="image" src="https://user-images.githubusercontent.com/32652829/193703942-d0f6f4fe-e6c0-4437-922e-fa3ff9c3ad1a.png">

Update password flow is broken. Frontend is not sending update requests to the server after button click. Besides the UI/UX change, we also need to fix this request call issue

also see https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400#is

[2022-10-03 23:53] zhongnansu commented on #2400
@abbyhu2000 we have #2489 to track the password issue

[2022-10-04 00:03] #2427 closed

[2022-10-04 04:33] ashwin-pc opened #2491 "[Testing] Migrate functional tests"
The official functional testing repository for OpenSearch dashboards is now [opensearch-dashboards-functional-test](https://github.com/opensearch-project/opensearch-dashboards-functional-test). We need to migrate all our existing Selenium based function tests to the new repository.

## Tasks

- [ ] Investigate automated migration options from selenium to cypress
- [ ] Create migration plan
- [ ] M

[2022-10-04 04:34] ashwin-pc commented on #2462
Created #2491 to collect feedback and track the migration plan.

[2022-10-04 09:17] amoghrajesh commented on #2488
@kavilla I would like to work on this issue if it is a part of the Hacktoberfest 2022. Could you provide some insights on how to test it and i can do the rest

[2022-10-04 14:11] Koustubh5585 opened #2493 "[BUG]: Visualization height panel issue for all charts"
**Describe the bug**

Height of the chart panel and height of the chart is mismatched. Chart is taking full height of page instead of chart panel height with vertical scroll bar. (attached screenshot for more clarity)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to visualization of any chart
2. Observe the height of the chart panel (grey color) and height of the chart
3. Scroll down to

[2022-10-04 17:27] noCharger opened #2494 "[MD] Support Refresh for data source"
The data source management portal could include a refresh button, similar to the one for saved objects.

![Screen Shot 2022-10-04 at 10 26 04 AM](https://user-images.githubusercontent.com/44716267/193885993-95cc6cf4-905f-4dc9-873a-8aa16136c8a1.png)

![Screen Shot 2022-10-04 at 10 25 51 AM](https://user-images.githubusercontent.com/44716267/193885957-95ed3159-b762-4f2e-b8dc-1adf4d7597e2.png)

[2022-10-04 18:04] CPTNB commented on #2493
I see this is in the Observability plugin--are you experiencing this in any other plugins?  Also, what viewport size are you using to get that vertical scrollbar?  I'm noticing lots of the elements on such a small viewport don't render ideally.

[2022-10-04 18:58] joshuarrrr commented on #2481
@Jon-AtAWS To help us prioritize various new visualization types, can you provide a little more context of your Sankey use-case? The type of data you're looking to compare, and the types of insights you're looking for.

[2022-10-04 19:04] joshuarrrr commented on #2429
Sure - but precommit hooks can be annoying to override, in the case where the lockfile does need an update.

[2022-10-04 20:10] joshuarrrr commented on #2424
@AMoo-Miki I believe you may have more context to provide here.

In the meantime, it's possible to specify CSP settings (for example, `csp.strict: true`) in [the configuration file](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/config/opensearch_dashboards.yml). See https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/core/server/csp/config.ts#L38 for t

[2022-10-04 20:11] joshuarrrr commented on #2424
Triage: We may want to consider coordinating with the build repo on the default settings.

[2022-10-04 20:21] joshuarrrr commented on #2416
In general, OpenSearch Dashboards requires OpenSearch to be available, and make requests. From the dashboards side, we'd be interested in better handling and communicating the errors from the cluster. Can you provide some example screenshots of the UI?

Triage: We need further research to identify where the request error handling failed.

[2022-10-04 20:24] joshuarrrr commented on #2416
This may be part of the larger epic/proposal here: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1625

[2022-10-04 20:29] joshuarrrr commented on #2488
Hi @amoghrajesh , thanks for volunteering!

1. Delete the `@ts-ignore` line
2. Verify that the project still lints successfully with `yarn lint`

That should be about it!

[2022-10-04 20:42] joshuarrrr commented on #2088
Updated the issue title.

[2022-10-04 21:43] joshuarrrr commented on #2219
Resolved via #2226

[2022-10-04 21:43] #2219 closed

[2022-10-04 21:43] #2381 closed

[2022-10-04 21:43] joshuarrrr commented on #2197
Resolved via #2395

[2022-10-04 21:43] #2197 closed

[2022-10-04 21:52] joshuarrrr commented on #1923
@jimkaba You bring up some good points, and most of them would apply to any visualization type that includes a timeseries axis or timestamp data.

@btzeng This is something we should consider as part of the OpenSearch Design System's approach to standardized timeseries interactions.

[2022-10-04 21:53] joshuarrrr commented on #1912
@kavilla Can we close this?

[2022-10-04 21:56] joshuarrrr commented on #1898
Hi @gaoyan0204 - for changing language settings in OpenSearch Dashboards, please take a look at the [i18n OpenSearch Dashboards plugin](https://github.com/opensearch-project/i18n-plugin). It should be able to do what you're looking for.

[2022-10-04 21:57] joshuarrrr commented on #772
We've created the [i18n OpenSearch Dashboards plugin](https://github.com/opensearch-project/i18n-plugin) to provide this functionality.

[2022-10-04 21:58] joshuarrrr commented on #943
We've now created the [i18n OpenSearch Dashboards plugin](https://github.com/opensearch-project/i18n-plugin). @ahopp @kavilla, is there more work to be done for this issue?

[2022-10-04 22:07] joshuarrrr commented on #1526
@dtaivpp This sounds totally reasonable to me. I haven't looked at the import/export formats enough to know all the differences, but they obviously would be equivalent and therefore mappable.

cc @ahopp @kgcreative

[2022-10-04 22:24] alicejw-aws opened #2504 "[BUG] remove Vega Help menu item from Dashboards UI"
We need to remove a menu item from the Dashboards for "OpenSearch Vega Help"

![](https://user-images.githubusercontent.com/32652829/172729444-98aee7f1-c191-4dfb-87c8-01bd067d7dc8.png)
![Screen Shot 2022-10-04 at 3 21 18 PM](https://user-images.githubusercontent.com/88908598/193940866-7f4ca7dc-9c23-442d-aa4f-36a65381fb68.png)

1. Go to OpenSearch Dashboards > Create Visualization > Vega
2. Select

[2022-10-04 23:29] kgcreative commented on #1612
Let's seek some additional clarity on implementation here. I think after sitting some time with this, it feels like we're creating a front-end abstraction that creates permanent objects to track ephemeral objects. Perhaps a different mechanism (PIT id in the URL when creating a dashboard snapshot?) might be a better mechanism for this.

[2022-10-05 01:02] joshuarrrr opened #2507 "[RFC] What type of visualization abstractions do developers need?"
**Is your feature request related to a problem? Please describe.**

OpenSearch Dashboards should provide users with a consistent, unified, and intuitive visualization experience throughout the application. To achieve that goal, we need better, easier-to-use visualization tools and interfaces for the developers building and creating those experiences.

Currently, it's difficult for developers to in

[2022-10-05 13:54] drBenway opened #2509 "[BUG] Delete query in query workbench returns )"
**Describe the bug**

GIVEN, I go the the query workbench
AND I run the select query
[code]
AND this query gives me multiple results
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1155682/194076989-6007a332-17b6-402a-a62a-c96fe666cb63.png">
THEN I expect that the delete query
[code]
to delete multiple entries. This is however not the case

<img width="388" alt="image"

[2022-10-05 15:37] #2206 closed

[2022-10-05 18:25] seanneumann commented on #2465
I would propose they co-exist, but Extensions will be the future, most supported, and capable. Perhaps at a much later point we can deprecate plugins. Thoughts?

[2022-10-05 19:33] joshuarrrr commented on #2252
@antoniocascais Thanks for the update! Hopefully your notes may help other users who run into something similar in the future.

[2022-10-05 19:33] #2252 closed

[2022-10-05 19:36] joshuarrrr commented on #1242
Thanks @jimkaba, it's always super useful to have specific user feedback like that! I think this is still very much a feature we intend to implement.

[2022-10-05 20:34] wholehope commented on #981
I was surprised to know this feature is missing from the Dashboards.

[2022-10-05 20:56] AMoo-Miki commented on #2251
As an end-user, I do not expect a type-ahead or search field imposing case-sensitivity; this is bad UX.

[2022-10-05 21:05] #2437 closed

[2022-10-05 21:05] #2436 closed

[2022-10-05 21:09] zhongnansu commented on #2442
https://github.com/opensearch-project/ux/issues/38

[2022-10-05 21:18] #2158 closed

[2022-10-05 21:22] #2068 closed

[2022-10-05 21:23] #2021 closed

[2022-10-05 21:24] zhongnansu commented on #2003
close as the most goals are met

[2022-10-05 21:24] #2003 closed

[2022-10-05 21:25] #1839 closed

[2022-10-05 21:25] #1810 closed

[2022-10-05 21:25] #1742 closed

[2022-10-05 21:27] zhongnansu commented on #1732
this has been completed

[2022-10-05 21:27] #1732 closed

[2022-10-05 21:27] #1730 closed

[2022-10-05 21:28] #1722 closed

[2022-10-05 21:31] zhongnansu commented on #2034
@kristenTian is this still on track for 2.4?

[2022-10-05 21:32] zhongnansu commented on #2019
close as I see many PRs related to it has been merged

[2022-10-05 21:32] #2019 closed

[2022-10-05 21:32] #2020 closed

[2022-10-05 21:53] noCharger commented on #2035
Close this for now. Will reopen by needs

[2022-10-05 21:53] #2035 closed

[2022-10-05 22:12] ashwin-pc opened #2517 "[CHORE] Leftover X Pack references"
**Description**

There are still some x-pack references in the code that need to be removed.

- [ ] https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/plugins/data/README.md?plain=1#L114
- [ ] https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-pm/src/utils/validate_dependencies.ts#L178
- [ ] https://github.com/opensearch-project/OpenSearch-Das

[2022-10-05 23:11] noCharger opened #2519 "Lint enhancement on CHANGELOG"
There's lint enhancement such as these when running `npx prettier`

![Screen Shot 2022-10-05 at 4 10 39 PM](https://user-images.githubusercontent.com/44716267/194180173-38826876-3af3-4e89-897a-6d682aac88f1.png)

[2022-10-05 23:22] noCharger opened #2520 "[MD] Support data source signing"
**Is your feature request related to a problem? Please describe.**

When docs are touched by attackers and the endpoint is modified, the attackers could obtain the password in plaintext under the current data source architecture.

**Describe the solution you'd like**

Signature algorithm: ECDSA with P-384 and SHA-384, ciphertext decryption will fail if it’s getting pullted. No one will be able to

[2022-10-06 09:32] Koustubh5585 commented on #2493
@CPTNB This issue only observed in Observability plugin. We have a solution of this issue .
- Thank you

[2022-10-06 19:03] zhongnansu opened #2524 "[MD] Add design docs of MD feature"
- [x] create `/doc` folder
- [x] high level design
- [x] user story
- [ ] Data source management detail design
- [ ] Crypto service detail design

[2022-10-06 20:21] kavilla commented on #1642
Closing for now.

@seraphjiang, would you be able to provide more insight on the closure.

cc: @zengyan-amazon

[2022-10-06 21:12] #2438 closed

[2022-10-06 21:12] #2439 closed

[2022-10-06 21:12] #2440 closed

[2022-10-06 21:12] #2489 closed

[2022-10-06 21:13] #2426 closed

[2022-10-06 21:13] mpabba3003 commented on #2426
This is done from UI only. There will be an error that blocks user from creating a data source with duplicate title.

[2022-10-06 22:38] noCharger commented on #2442
@mpabba3003  is this done since https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2521 merged?

[2022-10-07 06:11] Koustubh5585 commented on #2493
Closing this issue as fix for this issue is merged

[2022-10-07 06:11] #2493 closed

[2022-10-07 11:59] ashwin-pc opened #2531 "[VisBuilder] [BUG] Date histogram auto bounds says per 0 millisecond"
**Describe the bug**

When creatig a date histogram, the auto bounds says "says per 0 millisecond"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Wizard visualization
2. Add time field to X axis and edit its agg type to date histogram
3. Exit editing mode
4. See field name as described

**Expected behavior**
Display correct time-range

**OpenSearch Version**
Please list the version

[2022-10-07 17:20] zhongnansu commented on #591
Change log makes auto backport PRs fail a lot, since all PRs now will touch the same file `CHANGELOG.md`, and the chance  of a conflict becomes higher.

[2022-10-07 18:29] abbyhu2000 opened #2534 "[VisBuilder] When creating wizard from visualization page, provide additional options to add to new/existing dashboard, or add to library"
**Is your feature request related to a problem? Please describe.**
When user creates a wizard:
1. User can go to the dashboard page, choose a dashboard and create wizard there by clicking `Edit` and `Create new` https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2384
2. User can go to the visualization page, and create wizard; however, if user wants to add the wizard to a specific da