[2021-01-29 23:56] mihirsoni opened #1 "[PURIFY] Remove all trace of XPack code and allow build locally"
- [x] Remove x-pack directory
- [x] Remove any hardcoded x-pack from builds to enable it locally buildable.

[2021-01-29 23:57] mihirsoni opened #2 "[PURIFY] Ensure all test cases are passing"
- [x] Unit test cases
- [x] Integration tests
- [x] Mocha tests
- [x] Functional test.

[2021-01-29 23:58] mihirsoni opened #3 "[PURIFY] Audit plugins and make necessary changes"
- [x] Newsfeed plugin
- [x] Telemetry plugin

[2021-01-29 23:59] mihirsoni opened #4 "[PURIFY] Fix broken / transient unit test cases"
- [ ] With existing fixture, test `verify consistency of modes of files` inside zip.test.js fails. Need to fix it

[2021-01-30 00:00] mihirsoni opened #5 "[PURIFY] Fix broken / transient integration and functional test cases"
- [ ] copies files and directories from source to dest, creating dest if necessary, respecting mode (fs.test.ts) ?
- [ ] address TODO integration tests
- [ ] address skipped integration tests
- [ ] address inconsistent functional tests

[2021-02-03 20:10] mihirsoni opened #10 "[PURIFY] Remove proprietary plugins"
- [x] newsfeed
- [x] Telemetry

[2021-02-03 21:42] mihirsoni opened #11 "[CI] Enable CI for project"
- [x] Enable initial building on CI
- [x] Enable Unit test cases
- [x] Enable Integration tests
- [ ] Enable building distributions.

[2021-02-07 02:12] mihirsoni opened #19 "[FTR] Remove upstream deps downloads from Kibana dev / test env."
Currently codebase rely on upstream snapshots and bundles for running ES, remove it and update it with BFS elasticsearch

https://github.com/opendistro-for-elasticsearch/search

[2021-02-08 02:23] mihirsoni opened #20 "[PURIFY] Remove x-pack distribution and create only OSS distribution."
Remove x-pack distribution and clean up the code to vend default and OSS distribution,

[2021-02-08 02:25] mihirsoni opened #21 "[CI] Cleanup CI directory"
Currently , `.ci` directory has coupled with upstream infrastructure, remove it and start fresh for CI.

[2021-02-16 09:17] mihirsoni opened #26 "[PURIFY] create OSS distribution only and remove Default distribution."
The Default distribution is generated by Elastic license, we should remove it and only create OSS distribution and no other distribution.

**Clean up `distribution`**
- [x] Clean up non OSS distributions
- [x] Clean up non OSS distributions for all platforms

**Purify `buildtools`**
- [x] Remove all logic to check the distribution flavor and make the OSS as the only option.(i.e remove all other di

[2021-02-16 11:23] #20 closed, assigned to nobody

[2021-02-16 11:26] mihirsoni opened #27 "[PURIFY] Remove upstream endpoints for downloading ES"
Currently , the tests download ES from elastic or their snapshot, change that behavior and replace with opensearch  and for now to build from source.

[2021-02-20 22:52] mihirsoni opened #29 "[DOCS] Update CONTRIBUTING.MD"
Update Contributing guide lines, remove CLA and other not required information.

[2021-02-20 23:06] mihirsoni opened #30 "[PURIFY] Remove License checks."
Currently, Kibana has two lic, we will remove this and ensure there is only one lic Apache and remove the check from the source code.

https://github.com/opendistro-for-elasticsearch/website/tree/main/licenses

[2021-02-20 23:16] mihirsoni opened #31 "[PURIFY] Remove existing RFCs."
Current RFCs might not be valid, review and remove them.
https://github.com/opendistro-for-elasticsearch/website/tree/main/rfcs

[2021-02-20 23:36] mihirsoni opened #32 "[CI] Run all tasks and remove unused one."

[2021-02-21 20:42] mihirsoni opened #33 "[DOCS] Clean up Docs directory."
https://github.com/opendistro-for-elasticsearch/website/tree/main/docs

[2021-02-22 23:29] mihirsoni opened #34 "[PURIFY] Remove Issue / PR templates"
Remove existing ./github issues and PR templates.

[2021-03-03 07:05] mihirsoni opened #37 "[RENAME] Renaming from kibana -> opensearch Dashboards"
track progress toward renaming from kibana to the new opensearch dashboards  project

#### Methods / Comments / Variables / Docs / Classes / Interfaces

Old | New
-- | --
elasticsearch | opensearch
es | opensearch
Es | OpenSearch
kibana | opensearchDashboards
Kibana | OpenSearchDashboards
kbn | osd
KBN | OSD
Elasticsearch | OpenSearch

#### Files

Old | New
-- | --
kbn-* | osd_*
kibana | opensearc

[2021-03-19 19:36] boktorbb-amzn opened #193 "[BUG] Sample data path from Overview page is broken"
When navigating from the home page to the sample data page using the 'Try our sample data' link, it routes properly but if you use the same link from the overview page it breaks and gives an empty page.

This is likely because the code is currently just appending the `/tutorial_directory/sampleData` path to the current path the user is on. When navigating from overview, I see the path as `/opensea

[2021-03-21 19:56] #2 closed, assigned to mihirsoni

[2021-03-21 19:56] #1 closed, assigned to mihirsoni

[2021-03-22 01:45] #30 closed, assigned to nobody

[2021-03-22 01:45] #29 closed, assigned to nobody

[2021-03-22 01:47] #21 closed, assigned to mihirsoni

[2021-03-22 01:48] #33 closed, assigned to mihirsoni, ananzh

[2021-03-22 01:48] #11 closed, assigned to mihirsoni

[2021-03-22 01:49] #10 closed, assigned to boktorbb

[2021-03-22 01:49] #3 closed, assigned to boktorbb

[2021-03-22 01:50] #31 closed, assigned to nobody

[2021-03-22 01:51] #34 closed, assigned to nobody

[2021-03-22 01:57] mihirsoni opened #207 "[Tests] Ensure Unit test cases pass"
This issues is to track and ensure all the unit test cases are being passed. As part of rename exercises we have excluded snapshot files and will rely on jest to update them.
- [x] Update automated snapshots Run `yarn test:jest -u`
- [x] Run `yarn test:jest` and list down all broken unit test cases
- [x] Fix test cases / remove if not relevant anymore.

[2021-03-22 02:03] mihirsoni opened #208 "[Tests] Ensure jest Integrations test cases pass"
This issues is to track and ensure all the jet integrations test cases are being passed. As part of rename exercises we have excluded snapshot files and will rely on jest to update them.
- [ ] Update automated snapshots Run `yarn test:jest_integration -u`
- [ ] Run `yarn test:jest_integration` and list down all broken test cases
- [ ] Fix test cases / remove if not relevant anymore.

[2021-03-22 06:49] mihirsoni opened #215 "[Tests] Migrate mocha tests to jest"
There are few mocha tests which needs to be migrated to Jest.
Following test cases should be converted to jest.

Steps to convert :

* Move tests out `__tests__` directory and append it with `test.js` / `test.ts` extension.
* Ensure tests are passing and are able to run via Jest.

[code]

[2021-03-22 16:45] #37 closed, assigned to mihirsoni, kavilla, boktorbb, ananzh

[2021-03-23 16:54] kavilla opened #221 "[BUG] Maps show error"
**Describe the bug**
Calls to get map data errors out. While navigating to any page that makes a call to get map data it sends a request to a non-existent service. This is because the original URL for the service was replaced while the fork was undergoing renaming. This was expected bug to occur but will need to be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Load sample data
2. Go

[2021-03-23 20:09] boktorbb opened #223 "[Build] OpenSearch Dashboards working using OpenSearch Engine"
OpenSearch Dashboards should run using the OpenSearch engine and not using the OSS Elasticsearch Engine

[2021-03-23 20:14] boktorbb-amzn opened #224 "[Plugins] Get Anomaly Detection plugin working with OpenSearch Dashboards"
- [x] Get the Anomaly detection plugin building and working with OpenSearch Dashboards
- [ ] Write documentation of process for use by external plugin teams

[2021-03-23 20:23] boktorbb opened #225 "[Test] Ensure that all Jest Unit test cases pass"
This issues is to track and ensure all the jest unit test cases are being passed. As part of rename exercises we have excluded snapshot files and will rely on jest to update them.

- [ ] Update automated snapshots Run yarn test:jest -u
- [ ] Run yarn test:jest and list down all broken unit test cases
- [ ] Fix test cases / remove if not relevant anymore.

[2021-03-23 20:26] #225 closed, assigned to kavilla

[2021-03-23 20:28] boktorbb-amzn opened #226 "[Versioning] Release Process and Versioning for OpenSearch Dashboards"
### What is our release cadence

### What model of versioning will be used?

New forks will start using the Apache [Versioning](https://commons.apache.org/releases/versioning.html)

## How will [OpenSearch](http://github.com/opensearch/OpenSearch) and [OpenSearch-Dashboards](http://github.com/opensearch/OpenSearch-Dashboards) versions be related to each other?

OpenSearch Dashboards and OpenSearch

[2021-03-23 21:07] boktorbb-amzn opened #227 "[CI] Ensure OpenSearch Dashboards runs in CI"
Setup of CI for Dashboards

[2021-03-23 21:09] boktorbb-amzn opened #228 "Update Maps in Dashboards"
Fix maps integration in dashboards

[2021-03-23 21:10] boktorbb-amzn opened #229 "Apply exisiting security and marketing patches"

[2021-03-23 21:11] boktorbb-amzn opened #230 "Create build artifacts"
As of now There are no tested build artifacts, this issue ensures we have all the artifacts and cleaned build pipeline.

- [x] Use official NodeJS website for downloading the artifacts
- [x] Remove `-no-oss` flag from the build tool
- [x] Remove `-oss` flag from the build tool
- [x] Ensure we produce only oss distribution
- [x] Tar
  - [x] windows
  - [x] OSX
  - [x] Linux
- [x] Docker
- [x] OS Di

[2021-03-23 21:13] boktorbb-amzn opened #231 "Breaking changes and migration"
This issue is to track all the breaking changes after rename exercise.

[2021-03-23 21:15] boktorbb opened #232 "Write unit tests for restricted endpoints and upstream communication"
We need unit tests that make sure that no PRs or code is trying to hit the elastic telemetry endpoints such as `/api/ui_metric/report` or other telemetry endpoints

We also need unit tests that fail if `opensearch_dashboards.json` manifest files exist for plugins we have disabled such as Newsfeed and Telemetry Management Section

[2021-03-24 20:41] stockholmux opened #234 "[BUG] package contains legacy information"
**Describe the bug**

`package.json` contains legacy information.

 -  `"homepage": "https://www.opensearch.co/products/kibana",` - this URL will not exist.
 - `build` points to a number and sha hash that are probably not valid any longer.

It's questionable to have the `author` field still pointing to someone not involved with the fork - I'll leave this call to someone else.

[2021-03-26 22:34] #207 closed, assigned to kavilla

[2021-03-26 23:20] #223 closed, assigned to boktorbb

[2021-04-01 09:19] kavilla opened #242 "[Tests] enable integration tests ignored due to invalid snapshot url"
**Description**
In the file [osd-opensearch/src/artifact.js](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-opensearch/src/artifact.js#L32) there is a reference to the snapshot URL that is invalid, however, a valid link is required for the tests in `ui_settings/integration_tests/index.test.ts` and `ui_settings/create_or_upgrade_saved_config/integration_tests/cre

[2021-04-02 22:37] #208 closed, assigned to kavilla

[2021-04-05 19:03] kavilla opened #247 "[Tests] Ensure functional test cases pass"
This issues is to track and ensure all the fucntional test cases are being passed.

- [ ] Run `yarn test:ftr` and list down all broken test cases
- [ ] Fix test cases / remove if not relevant anymore.

[2021-04-05 23:12] mihirsoni opened #249 "Regenerate API docs for core framework"
Regenerate API docs for Core framework `yarn docs:acceptApiChanges`

[2021-04-07 20:51] ohltyler opened #256 "Update README 'Getting started' section"
Current README states to run `yarn start --oss` to start the server, but the `oss` flag has been removed after #251 and will fail. Note that just running `yarn start` will run on port 5603 instead of 5601. But, it will default to port 5601 by passing the `--no-base-path` flag.

Creating this issue to track what the suggested command should be here.

[2021-04-09 20:24] #249 closed, assigned to mihirsoni

[2021-04-09 20:29] #256 closed, assigned to boktorbb

[2021-04-09 20:32] #27 closed, assigned to boktorbb

[2021-04-09 21:23] seraphjiang opened #269 "[BUG] version missing match in packages.json"
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/package.json#L15

should packages.json version match with OpenSearch version 7.10.3?

what above branch? should it be 1.x?

[code]

[2021-04-09 21:31] seraphjiang opened #270 "[BUG] Improve the get started guidance for developer"
add nvm, yarn setup instruction before run

`Run yarn osd bootstrap in the OpenSearch Dashboards directory`

[2021-04-10 00:40] kavilla opened #278 "Remove update snapshot on .github/pr_check_workflow.yml"
**Is your feature request related to a problem? Please describe.**

When adding `yarn test:jest` to .github/pr_check_workflow.yml the workflow fails due to out of date snapshots. So we can some tests running we added `-u` to the workflow so that the snapshots update and the test can pass just like how we did the Jenkins file. But this bad because we should be failing tests if the code author have

[2021-04-10 03:23] #278 closed, assigned to nobody

[2021-04-13 17:15] jkowall opened #283 "Proposal: OpenSearch Dashboards Search Multiple Indices"
### Requirements - What kind of business use case are you trying to solve?
The ability to search multiple indices at the same time with a single query

### Problem - What blocks you from solving this today?
Today the user interface in Kibana allows for the query to only run against a single index.

### Proposal - what do you suggest to solve the problem or improve the existing situation?
We should

[2021-04-13 22:24] jgough opened #285 "[BUG] Errors building docker container"
I am trying to build a docker container with OpenSearch-Dashboards, but this fails with the following error:
[code]

The Dockerfile that I think is generated by src/dev/build/tasks/os_packages/docker_generator/templates/Dockerfile seems to reference kibana many times so guessing needs to be updated?

**To Reproduce**
Steps to reproduce the behavior:
Run the following commands
[code]

**Expected be

[2021-04-13 23:19] jgough commented on #285
I replaced kibana with opensearch-dashboards (and opensearch_dashboards for the config file) throughout this file and it successfully built.  Need to think about image names though as his creates then creates the image docker.opensearch.co/opensearch-dashboards/opensearch-dashboards, which is the wrong host.

Running a container built in this manner results in the following:
[code]

[2021-04-13 23:45] jgough commented on #285
Removing the line
```  ${!imageFlavor ? 'monitoring.ui.container.opensearch.enabled: true' : ''}```
from src/dev/build/tasks/os_packages/docker_generator/templates/opensearch_dashboards_yml.template.ts

Seems to fix this and makes the docker container run.  Would you like me to submit a pull request with these changes?

[2021-04-14 00:24] mihirsoni commented on #285
@jgough Thank you for reporting this issue. Would you be awesome if you can create PR for the same.

[2021-04-14 00:29] mihirsoni commented on #228
Closing in favor of #221

[2021-04-14 00:29] #228 closed

[2021-04-14 06:12] mihirsoni opened #287 "[Discuss] [Core] Decouple Plugin development"
**Is your feature request related to a problem? Please describe.**
Currently, developing plugin is cumbersome, requires entire repository to be available. We should find a way to reduce this and make Dashboards plugin development simplified.

A clear and concise description of what the problem is.

**Describe the solution you'd like**
Publish all independent packages to NPM repository (plugin-help

[2021-04-15 03:02] mihirsoni commented on #230
This has been partially generated locally, I'll keep this issue open until we have automated process to generate all the artifacts.

[2021-04-15 03:07] mihirsoni commented on #26
This has been taken care and all the `isOss` and `--oss` flaged has been removed.

[2021-04-15 03:07] #26 closed

[2021-04-15 03:55] mjglancy12 opened #293 "Try"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2021-04-15 03:55] #293 closed

[2021-04-15 05:16] mihirsoni opened #294 "[Discuss] [Core] Remove custom Package manager from osd-pm"
As of now the Dashboards project entirely depends on custom build logic inside [osd-pm](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/packages/osd-pm) The main purpose was to support OSS v/s non OSS development and distribution.  This adds up lots of extra overheads over custom build system maintenance.

**Describe the solution you'd like**
This issue is to provide idea / P

[2021-04-15 05:17] mihirsoni commented on #269
This issue has been taken care with #292

[2021-04-15 05:17] #269 closed

[2021-04-15 05:18] mihirsoni commented on #234
@stockholmux I've updated both information #238

[2021-04-15 05:18] #234 closed

[2021-04-15 05:23] mihirsoni commented on #283
Trying to understand more on proposal and use cases behind it, so with this change we can execute queries against multiple indices (may be completely different mapping) and display results on it. This field indicates on index patterns, does it also include searching over multiple index patterns ?

If we make this change allowing users to select multiple indices or indices patterns , how filters wi

[2021-04-15 05:28] mihirsoni commented on #221
In order to solve this problem, there are multiple approach :
* We provide guide to host user's own mapping server
* Work with Amazon internal to see if OpenSource Dashboards can leverage the existing Tiles / Maps service.

CC: @nknize

[2021-04-15 05:28] mihirsoni commented on #32
We have removed all the CI tasks that were not useful with our own infrastructure.

[2021-04-15 05:28] #32 closed

[2021-04-15 05:30] mihirsoni commented on #229
We have removed all marketing and upselling content from the dashboards.

[2021-04-15 05:30] #229 closed

[2021-04-15 05:32] mihirsoni commented on #226
Cross referencing from [here](https://github.com/opensearch-project/OpenSearch/issues/95#issuecomment-819813769)
Hi @dblock Lucene follows the main being always next major version.

i.e if it starts with 1.0 the main will be 2.0 and have corresponding branch for 1.x. All new features goes in to main and then get back ported to 1.x.

There are two possible paths to move forward
* Follow what Lucene

[2021-04-15 05:34] mihirsoni commented on #224
@ananzh Is this issue still WIP or we can mark it as closed ?

[2021-04-15 05:43] seraphjiang commented on #226
There might be multiple long term support major versions.

Let's say 1.9 is last 1.x. Next is 2.0
When move to 2.0, there are still user using 1.9, they will need long term support.

The version branching strategy should take these into consideration

[2021-04-15 06:11] nknize commented on #226
The good news is this isn't a one way door. We can always switch main out to be last stable if we decide later to go that route. To start I strongly advocate we mirror the Lucene approach (since it's well vetted and our "upstream" that will force breaking changes). Here's an example of the branches we would have if we were working long term on the next release as 3.0.0.

* main == 3.0.0 alpha
* 2.

[2021-04-15 13:49] #285 closed

[2021-04-15 14:16] mihirsoni commented on #226
Additionally, I would like to discuss on compatibility between versions of OpenSearch and OpenSearch Dashboards.

There are two possible approaches

**Pros:**
* One time deployment for users.

**Cons:**
* Release will always have to tie together with engine.

**Pros:**
* Dashboards can prepare and plan their own release

**Cons:**
* Users will have to plan different deployments and maintenance win

[2021-04-15 16:12] philoserf opened #295 "Cut an initial GitHub release"
As a OpenSearch Dashboard user
In order to use the source
I need a release target

[2021-04-15 20:02] kavilla commented on #247
Current failures locally:
[code]

[2021-04-16 07:19] geekygirldawn opened #296 "Maintainer Areas of Responsibility"
It would be great if we could also add people's areas of responsibilities to the new [MAINTAINERS file](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/MAINTAINERS.md). This helps people understand which of these maintainers is responsible for a particular area. We could add this as a new column to the existing table or as a separate section of the file. I'm happy to do if so

[2021-04-16 15:57] TheAlgo opened #297 "[BUG]Readme OpenSearch Github Repo Link"
**Describe the bug**

The READMe says to clone OpenSearch as a pre-requisite to run OpenSearch Dashboards but the link for OpenSearch Engine is of OpenSearch Dashboards. Can we rectify the README?

[2021-04-16 18:05] kavilla commented on #297
Good catch! Thanks for making the change.

[2021-04-17 12:08] TheAlgo commented on #297
No problem !

[2021-04-17 18:10] #297 closed

[2021-04-18 17:24] seraphjiang commented on #226
Though compatibility is always associated with version strategy. It should be worth to have a separated thread to discuss.
Here is some general thinking.

- OpenSearch might has its own compatibility strategy overall to its downstream application. (Dashboards is one of them)
- OpenSearch general guideline about forward compatibility and backward compatibility. e.g. we add new API for major.minor i

[2021-04-20 17:11] mihirsoni opened #303 "[BUG] Unable to build and start Debian"
**Describe the bug**
The Debian packages build ok with fpm, but installing it fails due
to an invalid username and group name (see useradd(8): CAVEATS).
Once this was fixed, the service failed to start due to parts of the startup
configuration wanting files that did not exist on disk.

**Expected behavior**
It should build and start the Deb package.

**Host/Environment (please complete the followi

[2021-04-21 09:12] kavilla commented on #247
Current failures locally:

[code]

[2021-04-21 09:13] kavilla commented on #247
[code]

When I run all the groups I get two indices `long_window_logstash` and `shakespeare`. In the test it tells you to delete any non-system indices and so once I update this test to specifically remove these indices it works everytime in isolation. Upstream, they have modified the code to completely restart the application to be in a fresh state. Which I recommend us doing but for now I think

[2021-04-21 14:20] micrictor opened #306 "[BUG] User cannot save a filter for ip field with CIDR notation value"
**Describe the bug**

Users of OpenSearch dashboards can not specify a CIDR mask value when creating a filter against a field of type `ip`. This syntax will work in the underlying search DSL, and users can manually input a CIDR mask by directly editing the DSL.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Discover page
2. Attempt to create a new filter on an IP field, using `is`

[2021-04-21 18:29] boktorbb-amzn opened #307 "[BUG] Jest unit tests have a memory leak or open handle that stops jest from exiting gracefully"
**Describe the bug**

When running the jest unit tests with command `yarn test:jest` tests pass but we get a warning that is:

`A worker process has failed to exit gracefully and has been force exited. This is likely caused by tests leaking due to improper teardown. Try running with --runInBand --detectOpenHandles to find leaks.`

This warning seems to be triggering job failures in our GitHub acti

[2021-04-22 18:25] joshuali925 opened #309 "[BUG] Unable to build plugins using main branch"
**Describe the bug**
main branch is on version `1.0.0`, but there is a version check expecting `7.9` when building plugins
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-plugin-helpers/src/cli.ts#L97-L102

And `yarn build` would fail with `These tools are not designed to work with version before 7.9, please checkout an earlier version of OpenSearch Dashboards to

[2021-04-22 23:03] mihirsoni commented on #309
Thanks for reporting the issue @joshuali925  @ananzh  Can you take a look at this ?

[2021-04-22 23:38] #306 closed

[2021-04-22 23:47] mihirsoni commented on #295
@philoserf  Thank you for reporting this issues, as initially mentioned on  launch day -- we are still working on getting the artifacts out. This should happen in coming weeks.

I'll be closing this issue and will track the project milestone Beta which will ensure we'll have artifacts which can be deployed.

Feel free to re-open the issue if more question.

[2021-04-22 23:47] #295 closed

[2021-04-23 01:47] ananzh opened #311 "Naming changes from x86_64 to x64 and from aarch64 to arm64"
This issue solves a renaming consistency issue. Plugins have the naming changes from x86_64 to x64 and from aarch64 to arm64. This naming is simple and clean. Dashboards decide to follow this naming convention.

Here are the naming changes required:
* x86_64 to x64
* aarch64 to arm64

[2021-04-23 20:39] ananzh commented on #309
Open an [PR](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/312)

[2021-04-24 01:26] #311 closed

[2021-04-24 18:14] mihirsoni opened #315 "[BUG] File name has typo opensearch-dasbhoards-plugin"
**Describe the bug**

A plugin filename has been incorrectly renamed https://github.com/opensearch-project/OpenSearch-Dashboards/blob/9a2d3e6918760c4bba8b44b9e8dfcd14e459a916/src/dev/build/tasks/bin/scripts/opensearch-dasbhoards-plugin

instead of `opensearch-dasbhoards-plugin` it should be  `opensearch-dashboards-plugin`

[2021-04-24 21:14] #315 closed

[2021-04-24 22:32] #224 closed

[2021-04-24 22:32] ananzh commented on #224
Issues solved. All plugins can be built and run on Dashboards.

[2021-04-26 08:36] kavilla commented on #221
Currently, if you pull `main`, it will fail out of the box. But you can get the app to work if you add the following to the [config/opensearch_dashboards.yml](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/config/opensearch_dashboards.yml):

[code]

[2021-04-26 08:37] kavilla commented on #221
Will be sending a PR to make a new maps client that extends the current map client.

[2021-04-26 16:20] #303 closed

[2021-04-26 18:58] ananzh commented on #309
Fix it. Solve by PR [#312](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/312)

[2021-04-26 18:58] #309 closed

[2021-04-27 04:00] #270 closed

[2021-04-28 17:53] #193 closed

[2021-04-28 19:57] dblock opened #319 "Proposal: Rename artifact from opensearch-dashboards-1.0.0-linux.x64.tar.gz to something else"
**Is your feature request related to a problem? Please describe.**

We are naming the bundle that contains OpenSearch Dashboards and plugins as opensearch-dashboards-1.0.0-beta1-linux.x64.tar.gz, which is the same name as what is produced out of this repository. Let's find a new name, maybe -min?

**Describe the solution you'd like**

A name consistent with how we do this in https://github.com/ope

[2021-04-29 15:51] ananzh opened #320 "Proposal: [Discuss][Clean build] Remove warnings"
**Is your feature request related to a problem? Please describe.**
When run command yarn osd bootstrap , yarn reports version incompatible warnings. This is not a clean build for customers.

**Describe the solution you'd like**
Explore the reasons that trigger these warnings. Help to understand npm/yarn package build.
Remove these warnings can be removed without breaking build and test.

**Describ

[2021-04-29 18:00] ohltyler opened #322 "Proposal: Allow custom plugin path when installing"
**Describe the solution you'd like**

Currently, when installing a plugin to dashboards via `./opensearch-dashboards-plugin-install file://<zip>`, the plugin folder name is automatically created using the plugin id [here](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/cli_plugin/install/install.js#L65), which is currently required to be camel case. This will create plugi

[2021-04-29 19:00] ananzh commented on #319
I will check this and update artifact name to include "beta1".

[2021-04-30 01:34] yilintao-amzn opened #324 "[BUG] yarn osd bootstrap failed for downloaded tar file"
**Describe the bug**

Run command `yarn osd bootstrap` failed for downloaded tar file for 1.0.0-beta1 and 1.0.0-alpha2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to OpenSearch-Dashboards release: https://github.com/opensearch-project/OpenSearch-Dashboards/releases
2. Download 1.0.0-beta1 source code
3. Unzip the downloaded file
4. Enter `cd OpenSearch-Dashboards-1.0.0-beta1`
5. Run `

[2021-04-30 07:15] ananzh commented on #319
Peter already created [artifact](https://github.com/opensearch-project/OpenSearch-Dashboards/releases/tag/1.0.0-beta1)  following the naming convention as OpenSearch.  We don't need to do anything for artifacts. To manually build artifact, just change version in package.json from 1.0.0 to 1.0.0-beta1.

[2021-04-30 07:15] #319 closed

[2021-04-30 17:41] hsiang9431-amzn opened #325 "[BUG] Dashboards index name has been changed, breaks backward compatibility with existing clusters"
**Describe the bug**
Kibana used to use `.kibana*` indices in ES cluster, while this behavior is altered after open search name change.
Instead of original `.kibana*` indices, it uses `.opensearch_dashboards*` indices.

This behavior change causes opensearch dashboards fail to startup if security policy is enforced in the backend cluster.

**To Reproduce**
1. Start an opensearch cluster with secur

[2021-04-30 19:42] #221 closed

[2021-04-30 22:35] ananzh commented on #324
This is because we don’t have .git file.  I find our artifact is not a binary code. Please correct me: my understanding is that for developers they can run `git clone` to get our repo. The purpose of artifacts is for people who just want to try dashboards. Artifacts allow people download quickly and people can run directly using `./bin/opensearch-dashboards` without build . Why we need an artifact

[2021-04-30 23:10] ananzh commented on #325
We changed default index from .kibana  --> .opensearch_dashboards for renaming and legal purpose. Changing default index cause permissions issue for security plugin because opensearch cluster with security plugin don’t have permissions for indices:admin/get. If add it back we still have .kibana index in our code which might cause legal issues. Even no legal issue, it is not a clean fork. Why we ke

[2021-05-03 13:33] dblock commented on #325
We won't, we just don't want to break absolutely everything for beta1.

[2021-05-03 16:30] sreekarjami opened #326 "[BUG] Having connection issues when running Dashboards"
**Describe the bug**
After running Dashboards, it fails to connect with the OpenSearch with "socket hang up" error.

Error:
  log   [16:27:35.170] [info][savedobjects-service] Waiting until all OpenSearch nodes are compatible with OpenSearch Dashboards before starting saved objects migrations...
  log   [16:27:35.260] [error][data][opensearch] [ConnectionError]: socket hang up
  log   [16:27:35.27

[2021-05-03 16:48] ananzh commented on #326
Sync up. Error msg is due to opensearch connection. not dashboards issue.

[2021-05-03 16:49] #326 closed

[2021-05-03 20:22] boktorbb-amzn commented on #296
I think that this topic was adequately covered in this issue over in the OpenSearch repo:

`https://github.com/opensearch-project/OpenSearch/issues/537`

On the dashboards side, we also haven't had the chance to particularly specialize into any roles and as alpha/beta releases keep moving forward we want to maintain an open process to allow for any available person to tackle what needs to be done

[2021-05-03 20:22] #296 closed

[2021-05-03 22:42] CEHENKLE opened #327 "Dashboards should be more dashboardy."
**Is your feature request related to a problem? Please describe.**

Testing bug moving.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features

[2021-05-03 22:50] vrozov commented on #325
Changing `.kibana` to ` .opensearch_dashboards` will likely cause not only backward compatibility issue, but will break multi-tenancy support on newly created cluster as well.

[2021-05-04 13:33] dblock commented on #325
@saratvemulapalli is looking at how we can support old index names with backward compatibility, maybe an index alias can work.

[2021-05-04 22:49] aetter opened #328 "[BUG] Docker image not respecting environment variables"
**Describe the bug**

With Docker, you have the option of overriding default values in `opensearch_dashboards.yml` with environment variables. That way, instead of passing a new `opensearch_dashboards.yml` file to the container, you can just specify a few lines in your Docker Compose file. OpenSearch Dashboards appears to be ignoring environment variables currently.

**To Reproduce**

1. Copy the

[2021-05-04 23:22] #328 closed

[2021-05-04 23:49] dblock commented on #328
@aetter What was the resolution here?

[2021-05-04 23:59] aetter commented on #328
@dblock I pulled the image around noon, and independent of this bug report, @peterzhuamazon pushed a new image with a fix a few hours later.

[2021-05-05 15:58] ananzh opened #329 "Proposal: Clean out elastic packages: elastic-datemath, elastic-eslint-config-kibana and elastic-safer-lodash-set"
**Is your feature request related to a problem? Please describe.**
Packages elastic-datemath, elastic-eslint-config-kibana and elastic-safer-lodash-set are elastic's NPM. When we have time we can think about rename these packages and publish under opensearch npm org.

**Describe the solution you'd like**

 When we have time we can think about rename these packages and publish under opensearch npm

[2021-05-05 18:32] kavilla commented on #5
There a couple of functional tests that fail locally but pass on the CI. This is an error on how the test was built and need to be improved. For example, a dirty data state where in the upstream they completely clear out everything where in our fork we don't clear it out.

Here are the current failures locally:

[code]

[2021-05-05 20:49] boktorbb-amzn opened #330 "[Bug] Ensure OpenSearch Dashboards stays available in large clusters"
### Problem Statement

For sufficiently large OpenSearch clusters, when Dashboards sends a health check out there can be a failure and Dashboards becomes unavailable.

### Root Cause of the issue

The default Dashboards behavior is to fan out healthcheck requests across the entire cluster. For large clusters, if any nodes are processing or ingestion heavy and time out then it fails the healthcheck

[2021-05-05 20:53] boktorbb-amzn opened #331 "[Patch] Graphite SSRF patch"
### Problem Statement

Dashboards contains a server side request forgery (SSRF) flaw in the graphite integration for Timeline visualizer. An attacker with administrative access could set the `timeline:graphite.url` configuration option to an arbitrary URL. This could possibly lead to an attacker accessing external URL resources as the Dashboards process on the host system.

The proposed open sourc

[2021-05-05 21:19] kavilla commented on #231
Most, if not all, saved objects had the property `kibanaSavedObjectMeta` within the rename we changed this to `opensearchDashboardsSavedObjectMeta`. Which has prevented objects from being imported.

[2021-05-05 21:27] kavilla commented on #231
The default index changed from `.kibana` to `.opensearch_dashboards`

[2021-05-06 09:25] galangel commented on #283
Hi @mihirsoni, we want to develop the ability to make a single query run on multiple indices and get all of the results,
So yes, that includes searching over multiple indices patterns.

Yes, field types should not conflict. If they do, there are solutions for that. Preemptively, we can validate before searching and indicate in the UI, or we could return an informative error.

A use-case that I am

[2021-05-07 18:49] dblock opened #334 "Support restart upgrades to OpenSearch Dashboards 1.0 from Kibana v7.10.x"
Upgrading your cluster from ElasticSearch to OpenSearch and OpenSearch Dashboards is just like upgrading your cluster between versions of ElasticSearch and Kibana. Specifically, OpenSearch supports rolling upgrades and restart upgrades from ElasticSearch 6.8.0 through ElasticSearch 7.10.2 and to OpenSearch 1.0. OpenSearch Dashboards supports restart upgrades from Kibana 6.8.0 through Kibana 7.10.2

[2021-05-07 19:10] dblock commented on #334
@seanneumann which versions do we want to be drop-in replacement for?

[2021-05-07 19:10] dblock commented on #334
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/325

[2021-05-07 19:25] seanneumann commented on #334
Primary focus is to support Kibana 7.10.2 to OpenSearch Dashboard 1.0.0.

[2021-05-07 19:46] kavilla opened #335 "[BUG] Replace documents with prod urls"
This issue has been repurposed to handle the replacing of the documents with prod urls because we replaced the dead links with the best of our ability but didn't have the best replacements so we replaced to the root document. Even with that there are gaps and even more so they are beta docs so the links aren't final.
----
**Describe the bug**

Any hyperlink that sends users to docs fails.

For exa

[2021-05-07 20:21] kavilla opened #336 "Pull external links from config file"
**Is your feature request related to a problem? Please describe.**

Most of the external links within the code seem to be hardcoded within typescript files.

**Describe the solution you'd like**

Config file where the project pulls the links from and the typescript files reference.

**Describe alternatives you've considered**

n/a

**Additional context**
We broke most links while renaming, now we

[2021-05-07 23:43] ananzh opened #338 "[BUG] Importing saved objects shows elastic logo"
**Describe the bug**
Stack Management > Saved Objects > Import > select a file > Import and then import a file. The spinner will show elastic logo.

**To Reproduce**
Open Dashboards. Click Stack Management > Saved Objects > Import > select a file > Import and then import a file.

**Expected behavior**
Remove all spinner elastic logos.

[2021-05-09 19:04] mihirsoni commented on #231
Url redirections from `/kibana` to `opensearch_dashboards`

[2021-05-10 07:47] #338 closed

[2021-05-10 16:52] dblock opened #339 "Cleanup 1.x branch"
I was confused what 1.x branch was vs. main vs. 1.0.0-beta1. Looks like 1.x was cut at some point but abandoned. As of the time of writing 1.0.0.beta1 = main, so 1.x has a set of changes that is confusing. I would nuke merge main -> 1.x to level all the things up and eventually increment version on main to 2.x (?).

[2021-05-10 22:15] dblock opened #340 "Release a standalone artifact, not just a bundle with plugins installed"
Release a standalone artifact, not just a bundle with plugins installed.

[2021-05-12 16:40] galangel commented on #230
Hi, Any update on the Docker part?

[2021-05-12 20:26] dblock commented on #322
This is what we are shipping in Beta 1.

[code]

to match OpenSearch plugin naming convention these should become

[code]
[code]

[2021-05-12 20:32] ohltyler commented on #322
@dblock typical notation in dashboards has directories be in snake case, including the preinstalled plugins. Is it more important to be consistent with the OpenSearch plugins or existing Dashboards plugins / ecosystem?

[2021-05-13 11:59] galangel opened #351 "Filters popover modal is too small [BUG]"
**Describe the bug**
Filters popover modal is too small

**To Reproduce**
Steps to reproduce the behavior:
Click add / edit filter

**Expected behavior**
We expect to have an easier way to see the field names and values

**Dashboards Version**
1.0.0

**Screenshots**
The screenshots below are from the sample data, in general usage the names are much longer and descriptive
<img width="416" alt="Scre

[2021-05-13 14:24] jkowall opened #353 "[PROPOSAL] Dashboard Rows in OpenSearch Dashboards"
## Requirements - What kind of business use case are you trying to solve?
*   Dashboarding today allows for long and complex dashboards, but they are hard to scroll and manage on screen
*   Allow dashboards to link to other dashboards or copy configurations from them
*   Create centralized views of data into a single dashboard for use cases in a NOC/operations center for example.

## Problem - Wha

[2021-05-13 15:14] galangel opened #354 "Add filter form initial focus should be the Field input [BUG]"
**Describe the bug**

The first input (Field) should be auto-focused

**To Reproduce**
Click on the new filter button.

**Expected behavior**
Field input is auto-focused, being able to type immediately.

**Dashboards Version**
1.0.0

**Screenshots**
![noautofocus](https://user-images.githubusercontent.com/8701610/118146091-ef2e4800-b416-11eb-8554-5722db7ce0bc.gif)

**Host/Environment (please compl

[2021-05-13 18:12] dblock commented on #322
This is what I'm thinking:

1. Users don't see directories, so this is just for consistency, and developers
2. `camelCase` folders are potentially error prone, because some systems may be case-sensitive and others may not
3. `camelCase` folders are embarrassing
4. **As a user, I'm least surprised when the folder name matches the plugin name, which should match the distribution .zip/tar.gz.**
5. Co

[2021-05-13 18:26] ohltyler commented on #322
Definitely agree about not using camel case. I guess my question was more about should we try to be consistent with the OpenSearch plugins (using `kebab-case`) vs. consistency with the Dashboards plugins / ecosystem (using `snake_case`).

[2021-05-13 18:31] dblock commented on #322
Thanks for reminding me it's called `kebab-case`! Do you have a strong opinion? We should go with yours.

[2021-05-13 20:19] ohltyler commented on #322
I think `kebab-case` may be preferred here, so all OpenSearch and Dashboards plugins can follow unified naming conventions regarding artifacts/zips and folder names. Although the installed folders will follow different conventions than the preinstalled plugins which are in `snake_case`, I feel this has less impact and is more of a hidden implementation detail.

[2021-05-13 20:57] dblock commented on #322
Let's relocate the preinstalled plugins too then? cc: @VachaShah

[2021-05-13 22:05] ohltyler commented on #322
@dblock to limit the blast radius, should we limit the changes to only default the new plugins installed via cli to be `kebab-case`? By renaming the pre-installed plugins in the `src/plugins` dir, it will break consistency within the core Dashboards repo itself (going from `snake_case` to `kebab-case`, and may have some other implications if folks have scripts relying on those filepaths, etc.

[2021-05-14 19:04] anirudha opened #358 "[BUG] link to DQL help page is broken from discover page"
**Describe the bug**

Link to DQL help is broken from discover page.
it currently links out to

https://www.opensearch.org/guide/en/kibana/main/kuery-query.html
<img width="950" alt="Screen Shot 2021-05-14 at 12 03 38 PM" src="https://user-images.githubusercontent.com/19362/118317170-927d6c80-b4ac-11eb-980c-6c80444cfc1d.png">

[2021-05-14 21:54] kavilla commented on #334
* Index renamed from .kibana to .opensearch_dashboards
    * Will impact auto-migration because it will look for the default index which is now currently .opensearch_dashboards and will not see any index of that name so it will not migrate but just create the new index.

* Object keys that have be renamed that will impact the ability to automatically migrate saved objects for .kibana to .opensearc

[2021-05-14 21:55] kavilla commented on #231
Will close this one and will address the issue in this issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/334

[2021-05-14 22:02] #231 closed

[2021-05-14 22:04] kavilla commented on #358
Looks like a duplicate of: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/335

[2021-05-17 21:54] JacobBrandt commented on #283
If you allow users to create their own aliases then Voilà all search and filtering is just going to work for everything that searches within the tool not just Discover.

[2021-05-17 23:33] jkowall commented on #283
I guess you could do that @JacobBrandt, but then if you have hundreds or in our case thousands of indices how would the user query multiple indices at the same time? I am not familiar with index patterns, but I assume there has to be some kind of regex match?

@galangel What do you think?

[2021-05-18 01:13] JacobBrandt commented on #283
@jkowall I have hundreds of indices as well.  Look into Aliases on Elasticsearch.  You can have 1 alias for hundreds or in your case thousands of indices.  You then create an index pattern from the alias, which you can give any name you want.  It's literally why it was designed this way.  So that you can query multiple indices, think time based indices in a cluster.  You don't want users needing t

[2021-05-18 01:17] JacobBrandt commented on #283
This alias mechanism is also not limited to only indices with the same mapping template.  I use it to group like minded indices together.  They share similarly mapped fields (like you mentioned with Request-ID) but also have many other various fields not in the other index.  Kibana handles all of this including letting you know when there is conflicting fields when you go to create the index patte

[2021-05-18 01:21] anutator opened #655 "Support Timber Vector agent, support node.js"
**Is your feature request related to a problem? Please describe.**
I found that you give examples in OpenSearch Dashbord for filebeat and metricsbeat.
Can you add support to Timber Vector https://vector.dev/ and use it instead of filebeat. They assert that Vector is much faster than Filebeat, FluentBit, FluentD, Logstash, SplunkHF, SplunkUF in Input-Output.
Is metricbeat as fast as Vector? Does it

[2021-05-18 01:49] jkowall commented on #283
I had a look at that feature. The only challenge is that your index needs to have a certain type of name associated with it. So you can do a wild card. ￼In this case we want to be able to select multiple indices that do not have the same pattern within their names.￼

[2021-05-18 02:08] JacobBrandt commented on #283
@jkowall Again what you are saying is wrong.  An alias can be named whatever you want it to be and the indices you add to the alias can be whatever name as well.

See [Elastic's example](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html)

The alias is named alias1 and the index added to this alias is my-index-000001.  You could then create an index pattern in Kib

[2021-05-18 15:24] asfoorial opened #359 "[BUG] Maps includes broken links to Kibana"
As shown in the screenshot. When creating a Visualization, it mentions "To get Maps, upgrade to the default distribution of OpenSearch"  with a link pointing to https://opensearch.org/downloads/kibana

Also, zooming levels is still limited.

![20210518_144203](https://user-images.githubusercontent.com/5801922/118678661-e0c0a180-b805-11eb-9d8f-27513f1507c5.jpg)

[2021-05-18 19:29] kavilla commented on #359
Hello @asfoorial,

Great catch! We will be removing the migration box in whole since that shouldn't be there.

For this, could you create another issue using the BUG template with the recreation steps and expected outcome?

Appreciate it!

[2021-05-18 21:35] seanneumann opened #360 "Launch OpenSearch Dashboards 1.0"
Launch OpenSearch Dashboard 1.0, a community-driven, open source fork of Kibana 7.10.2. OpenSearch is built to ensure customers continue to have a secure, high-quality, fully open source search and analytics suite with a rich roadmap of new and innovative functionality.

[2021-05-18 22:09] dblock commented on #322
Those paths aren't APIs, so I would say we can make that change, but I also don't feel strongly about it.

[2021-05-19 11:00] asfoorial opened #361 "[BUG] Limited zoom levels in Maps"
**Describe the bug**

Maps zoom level is limited. It stops at certain level and asks for upgrading to unlock deeper zoom levels.

**Expected behavior**
1. Deepest zoom level should be equivalent to that of OpenStreetMaps. Space Needle can be a test case here.
2. No upgrade message should show up.

**OpenSearch Version**
1.0.0 beta-1.

**Dashboards Version**
1.0.0 beta-1

[2021-05-19 18:47] JacobBrandt commented on #361
@asfoorial Wait this OpenSearch Dashboard repo asks for upgrading to unlock deeper zoom levels?  Upgrade to what Kibana?

Ew, I went to look into this a little deeper and AWS is being hardcoded into the baseline.  WTH?
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/fb2f79308ff13a8e647ab073fd991d5954ba30b5/src/plugins/maps_legacy/public/map/opensearch_dashboards_map.js#L614

[2021-05-19 20:09] JacobBrandt opened #362 "[BUG] AWS paths should not be hardcoded."
**Describe the bug**

Hard coded paths like these make it impossible to reach sections of the code without using AWS.

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/fb2f79308ff13a8e647ab073fd991d5954ba30b5/src/plugins/region_map/public/choropleth_layer.js#L196

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/fb2f79308ff13a8e647ab073fd991d5954ba30b5/src/plugins/m

[2021-05-19 20:23] dblock commented on #325
We discussed undoing this change. Assigning the issue to @mihirsoni who had some strong feelings about it to resolve.

[2021-05-19 22:33] kavilla commented on #334
There are a couple solutions that we are thinking about the most important tenant being "drop-in", the consideration on keeping `.kibana` index the same seems like the definite outcome as of right now. Just how we deal with the changed fields that we updated that will definitely require code change.

[2021-05-20 21:04] kavilla commented on #362
Hey @JacobBrandt, thanks for creating this issue.

However, the reason why I hardcoded these values was because these are specific code blocks for handling errors while using AWS for maps in replacement of using EMS. Do we foresee us requiring access to the code blocks that are handling specific errors?

[2021-05-20 21:07] JacobBrandt commented on #329
You left out @elastic/eui which is a huge part of the baseline.  What's wrong with using these packages?

[2021-05-20 22:52] JacobBrandt commented on #353
I like this idea of being able to show/hide sections of your dashboard.  I'd really like an option that takes this further and doesn't limit to just working with rows.  For instance, I'd like a way to create a panel that I could cycle through views as horizontal tabs.  Someone else might like it as vertical tabs and not full width rows.  Temporarily hiding individual visualizations that you could

[2021-05-20 23:34] JacobBrandt commented on #362
Yep, I understand why the values were changed and I understand that these were only used in this way to handle some edge cases.  However,  no section of code (even edge cases) should only be accessible when using AWS.

That's why I suggested to make this configurable.  Usually settings that affect the UI go in ui_settings.ts like I mentioned.  This way they can be changed from Advanced Settings an

[2021-05-21 01:26] kavilla commented on #362
You raise a great point! Will remove the untriaged label as this is something we should do.

[2021-05-21 01:30] kavilla commented on #361
Great catch, the toast should not being showing and there is no up-sell, just left over messages before the fork.

Will look into this and verify that this isn't a limitation on the service.

[2021-05-21 01:32] kavilla commented on #358
Will close, because this will be handled in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/335

[2021-05-21 01:32] #358 closed

[2021-05-21 07:50] ahopp opened #363 "[BUG] Stack Management Deprecation Language is Incorrect"
**Describe the bug**
There are a number of Stack Management links that point to pages that are 404'ing. In addition the "Batch concurrent searches" language is incorrect.

**To Reproduce**
No longer relevant (temporary) since we changed the links to direct to the docs home page:

~For 404'ing URLs;~
~1. Go to 'Stack Management'~
~2. Click on 'Advanced Settings'~
~3. Scroll down to any of the follo

[2021-05-21 07:55] ahopp commented on #363
Might be related to #336

[2021-05-21 07:59] ahopp commented on #359
@kavilla It looks like there is also a reference to 8.0 that isn't relevant to our versioning.

[2021-05-21 08:05] ahopp opened #364 "[BUG] SQL and PPL Documentation Links Not Correct"
**Describe the bug**
In Query Workbench the SQL and PPL docs links are still pointed to ODFE docs. Specifically, they are pointed to;

https://opendistro.github.io/for-elasticsearch-docs/docs/sql/ rather than https://docs-beta.opensearch.org/docs/sql/
https://opendistro.github.io/for-elasticsearch-docs/docs/ppl/ rather than https://docs-beta.opensearch.org/docs/ppl/

**To Reproduce**
Steps to repr

[2021-05-21 19:21] kavilla commented on #334
Kibana did not support rolling upgrades, OpenSearch Dashboards will not for this release either.

[2021-05-21 21:08] dblock opened #365 "Support rolling upgrades"
**Is your feature request related to a problem? Please describe.**

Kibana does not support rolling upgrades per https://www.elastic.co/guide/en/kibana/current/upgrade-standard.html. Support rolling upgrades without downtime.

**Describe the solution you'd like**

A way to perform a rolling upgrade between versions of OpenSearch Dashboards without downtime with multiple nodes of OpenSearch Dashboa

[2021-05-21 21:09] VachaShah commented on #322
I discussed with @nknize on this, he mentioned that if there is no directory name convention enforcement code, then we would be fine to rename the pre-installed ones and not break anything. A little side track to that I also found that the folder name for the same plugin is different when installed through cli vs copied to `plugins/` and built with dashboards. For example: I tried two ways of inst

[2021-05-21 21:34] kavilla commented on #334
To summarize, keep settings breaking (kibana.yml --> opensearch_dashboards.yml). We could provide a tool for updating or provide documentation.

For breaking changes will restore the default index and restore data fields (not aliasing, aliasing has pitfalls). This shouldn't really trigger a migration and will hit the tenant of allowing customers to rollback from OpenSearch Dashboards to Kibana. Ho

[2021-05-21 21:41] VachaShah commented on #322
Also, for the pre-installed plugins, it looks like its not just the folder names but also sub-folders and files all in snake_case. For example for plugin `advanced_settings`, there are sub-folders under it: https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/src/plugins/advanced_settings/public with snake_case naming conventions and files within them with the same: https://github

[2021-05-21 21:43] dblock commented on #334
I opened a feature request #365 to support rolling upgrades in the future.

[2021-05-23 06:39] trepersec opened #366 "Installing Plugins via Docs"
**Describe the bug**

Following the documentation listed on https://docs-beta.opensearch.org/docs/opensearch-dashboards/install/plugins/ . I am installing the plugins but the links aren't being referenced properly and causing an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs-beta.opensearch.org/docs/opensearch-dashboards/install/plugins/
2. Under the Install subcat

[2021-05-23 14:32] dblock commented on #366
That file, "https://d3g5vo6xdbdb9a.cloudfront.net/downloads/opensearch-dashboards-plugins/opensearch-alerting/opensearchAlertingOpenSearch Dashboards-1.0.0.0.zip" doesn't exist. I see two problems: 1) the file name has spaces and what not and should become kebab-case, 2) it wasn't published part of the beta

@VachaShah this is somewhat related to #357, could you please followup on plugins producin

[2021-05-23 21:44] trepersec commented on #366
I've tried different combinations of the link as I had the same assumptions, but none resolved:
e.g.
- /opensearchAlertingOpenSearchDashboards-1.0.0.0.zip
- /OpenSearchDashboards-1.0.0.0.zip
- /AlertingOpenSearchDashboards-1.0.0.0.zip

Obviously, I could just not know the correct combination, but still wanted to relay the issue. Thank you!

[2021-05-24 07:02] #354 closed

[2021-05-24 14:30] dblock commented on #366
@trepersec no, it doesn't exist in any form AFAIK, but I could be wrong: @bbarani what's the plan for these?

[2021-05-24 15:41] dblock commented on #322
It's clearly not a logical or desired behavior, I would open bugs (and fix them). I'd expect that installing a plugin via whatever way produces the same result.

Agreed.

Agreed.

I think you now have identified a whole bunch of problems and I am looking forward to fixes!

[2021-05-24 15:42] dblock commented on #322
I think that the answer is *yes* because it will make it all consistent. We should also document this in https://github.com/opensearch-project/opensearch-plugins/blob/main/CONVENTIONS.md once we're done.

[2021-05-24 19:41] dblock opened #367 "[BUG] Blue color doesn't match new logo blue"
**Describe the bug**

Coming from https://github.com/opensearch-project/security-dashboards-plugin/pull/766, the blue in the dashboards color scheme doesn't match the logo blue.

**Expected behavior**
Same belu.

![](https://user-images.githubusercontent.com/79167042/119395501-72a62f80-bc88-11eb-89e4-50e3abb23a0e.png)

[2021-05-24 20:38] tmarkley opened #368 "Update favicons with new branding"
**Is your feature request related to a problem? Please describe.**

OpenSearch Dashboards currently uses placeholder favicons that were set in the initial forking/renaming project: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/37

**Describe the solution you'd like**

New icons/logos have been created for the public OpenSearch branding: https://github.com/opensearch-project/pr

[2021-05-24 21:57] tmarkley opened #370 "Update OpenSearch logos site-wide with new branding"
**Is your feature request related to a problem? Please describe.**

OpenSearch Dashboards currently uses placeholder logos (e.g. "heatmap") that were set in the initial forking/renaming project: #37

**Describe the solution you'd like**

New icons/logos have been created for the public OpenSearch branding: https://opensearch.org/brand.html

All of the previous changes using the "heatmap" icon for

[2021-05-24 22:09] tianleh opened #371 "[BUG] Beta-1 has opensearch_security enabled by default"
**Describe the bug**

Download "Beta-1" from https://opensearch.org/downloads.html and the opensearch_security params are in the YML by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opensearch.org/downloads.html
2. Click on 'Download OpenSearch Dashboards'
3. Unzip the downloaded file
4. Open "config/opensearch_dashboards.yml" and "opensearch_security" params are set

[2021-05-24 22:17] peterzhuamazon commented on #371
Is this opensearch or dashboards, if it is the latter one, then the configs are suggested by Dashboards team.

[2021-05-24 22:18] peterzhuamazon commented on #371
https://github.com/opensearch-project/opensearch-build/blob/main/config/opensearch_dashboards.yml

[2021-05-24 22:24] peterzhuamazon commented on #371
This seems like an issue related to Dashboards, and Infra does not change anything until packing the bundle. Please help @mihirsoni @ananzh @kavilla Thanks.

[2021-05-24 22:29] mihirsoni commented on #371
@tianleh what is an issue if you could disable it in via configuration as well right ?

[2021-05-24 22:31] mihirsoni commented on #370
@tmarkley Would you be able to ensure you attach your PR to this issue ?

[2021-05-24 22:32] mihirsoni commented on #367
@dblock Thanks for reporting this,  This issue should be fixed from Security plugin right ?

[2021-05-24 22:40] tmarkley opened #372 "[Branding] OpenSearch Dashboards Branding"
The following branding changes are required for the 1.0.0 release: https://opensearch.org/brand.html

- [x] favicons #368
- [x] logos/icons #370
  * Any current "heatmap" icons that were changed in this commit: https://github.com/opensearch-project/OpenSearch-Dashboards/commit/905ccbe698ce88b3309c6b1f528e9b3a106f5d26
- [x] OpenSearch mark loading spinner
- [x] Change color on Primary "OpenSearch D

[2021-05-24 22:43] tmarkley commented on #370
@mihirsoni Yep, I'm working on a draft now.

[2021-05-24 22:57] mihirsoni commented on #371
@tianleh  I think since Dashboards ships by default security enabled, i would recommend to disable if you wouldn't not prefer security to be enabled in infrastructure.

Closing the issue. Feel free to re-open if required.

[2021-05-24 22:57] #371 closed

[2021-05-24 23:03] mihirsoni commented on #324
@yilintao-amzn the tag artifact download doesn't give you git meta data IMO, you would need to clone the repo and either checkout the tag / branch and try it out.

Let us know if that doesn't work.

Closing the issue as of now, feel free to re-open.

[2021-05-24 23:03] #324 closed

[2021-05-24 23:09] mihirsoni commented on #283
I think @JacobBrandt  @jkowall  is trying to propose search across multiple index pattern, and that's why I raised the question over the filters.

So for a reason I feel this is still valid use case
* A customer is ingesting all micro-services data within same OpenSearch Cluster
* One create index patterns based on different micro services
* Now let's say if you would have to dive deep based on th

[2021-05-24 23:15] mihirsoni commented on #283
Also I agree with @JacobBrandt  that we could achieve the same functionality from creating an alias:
* User can create alias, which points to multiple index regex. i.e
[code]
* You could now create an index pattern using the logs* and it would ensure to search across the fields.

Does this solve what you would have to achieve @jkowall  @galangel

[2021-05-24 23:16] mihirsoni commented on #325
@dblock as we have decided to restore it back, this will not be concern anymore, I am assigning this to @kavilla  who is currently working on this.

[2021-05-25 04:28] ahopp opened #373 "[BUG] 'Add data' links are broken"
**Describe the bug**
If you try to add data and click the available links for 'Learn more' or 'See the Quick Start' you will ingress into a 404'd page in opensearch.org.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add data'
2. Click on any listed data source
3. Click 'Learn more' OR 'See the Quick Start'
4. See 404 page

Some examples;
https://www.opensearch.org/guide/en/beats/met

[2021-05-25 14:42] AmiStrn commented on #283
@JacobBrandt you are correct regarding creating the aliases as being related to this feature, however:
- in terms of security Elasticsearch also mention:

To use the add or remove action, you must have the manage index privilege for both the index and index alias.
To use the remove_index action, you must have the manage index privilege for the index.

This is for good reason - if some OpenSearch u

[2021-05-25 15:18] galangel commented on #283
Thank you all for your comments,
We want to solve this without having the user learn how to use an alias, or maintaining an index naming scheme for every possible search.

What we want is to search multiple indexes On Demand, if we'll go with the alias, then I want to make it on the fly.
Not making aliases in advance for every situation.

[2021-05-25 17:38] JacobBrandt commented on #283
**This is an Open Source project not tailored to a single companies business needs**
This is a good thing and important to remember.

Kibana searches on search targets within the Elasticsearch cluster.  These search targets include index names (and regex patterns), aliases and data streams.  All of these search targets have been coined with the name index pattern in Kibana and all these search tar

[2021-05-25 18:41] VachaShah commented on #322
Thank you @dblock. I am going to separate out the problems into various issues so they are easier to manage.

For this issue, the following needs to be addressed:
1. Default to convert the folder name for a cli-installed plugin to kebab-case. (Addressed in PR: #357)
2. Convert the pre-installed plugins folder name to kebab-case. (Working on this).

[2021-05-25 18:43] VachaShah commented on #366
This PR has been merged now.

[2021-05-26 13:28] JacobBrandt commented on #283
@AmiStrn I apologize then.  I admit I have been a little frustrated with this dialogue as it seemed from the beginning I wasn't being listened to.

The challenges I listed only present themselves if the plan is to allow users to select multiple indices.  If instead the tool is used as designed they don't exist.

[2021-05-26 14:28] AmiStrn commented on #283
I like this dialogue. I think the feature description needs to speak for itself so you are correct @JacobBrandt that something is missing. I apologize for any frustration, I appreciate your involvement.

[2021-05-26 15:26] JacobBrandt opened #378 "Allow index pattern fields to choose a default metric/bucket aggregation"
**Is your feature request related to a problem? Please describe.**

There are many times where a field will be used in a visualization with a specific metric/bucket aggregation.  It would be really handy if the user didn't always have to select this but instead could assign a field in an index pattern to automatically select that metric/bucket aggregation for them.

**Describe the solution you'd l

[2021-05-26 16:05] dblock commented on #366
I've assigned this one to you @VachaShah and renamed.

[2021-05-26 17:20] JacobBrandt opened #379 "Drag & Drop visualization creation"
**Is your feature request related to a problem? Please describe.**

Metric, bucket, aggregation are all foreign terms to new users.  Right now the UI presents the users with a way to create visualizations but it's not intuitive and expects the users to know terminology about the technology behind the search.  This often becomes a burden for the user that just wants to see their data.

**Describe t

[2021-05-26 17:28] JacobBrandt opened #380 "Multi layer maps"
**Is your feature request related to a problem? Please describe.**

Currently if users want to see data from two data sets they have to create two maps.  Ideally they want to see this data overlaid on the same map.

**Describe the solution you'd like**
I have mentioned in the forums that a Kibana Maps alternative would be beneficial to this community.  I'm writing this ticket to gauge interest and

[2021-05-26 19:53] kavilla commented on #339
For 1.x, we have been cherry-picking commits from main into 1.x. Probably at the time this issue was created we haven't done a complete sync but now they are equal. We have some PRs to make it into main then 1.x but once those PRs are merged we will cut the branch out of 1.x, then update main to bump up the semantic versioning on main to which point main and 1.x will "diverge".

[2021-05-26 20:11] #325 closed

[2021-05-26 20:32] #368 closed

[2021-05-26 20:36] kgcreative commented on #372
for the loading spinner, you can reference this: https://codepen.io/kgcreative/pen/gOmxrXX

[2021-05-26 21:47] #370 closed

[2021-05-26 21:58] kavilla commented on #372
Is branding configurable?

[2021-05-26 22:08] kgcreative commented on #372
I don't think it's configurable out of the box - @tmarkley, i know you've been looking under the hood at some of this

[2021-05-27 00:04] tmarkley commented on #372
It's not currently configurable, we'd have to add that as a feature. I think Rocky was asking whether it _should_ be configurable.

[2021-05-27 02:15] kgcreative commented on #372
I think it *should* be, particularly if we want to make it easier to whitelabel

[2021-05-27 03:08] seanneumann commented on #372
@kgcreative let's create an issue soon to track configuration options/branding options. This is out of scope for 1.0.

[2021-05-27 19:30] kavilla commented on #334
As linked in the PRs we have decided to restore keys (_magic_ words) related to functionality. So we restored the default index to .kibana and others. Currently working on timelion. This is to help data stored be seamlessly upgrade from 7.10 Kibana to OpenSearch Dashboards 1.0. This should have no change in the visual/branding but internally keep the code the same.

[2021-05-27 21:35] kavilla opened #384 "[BUG] "Upload a file" button disabled in Stack Management > Index Patterns"
**Describe the bug**

When you cluster is empty and when you go to Index Patterns in Stack Management, the Upload a file button is disabled with the hover message being "This feature requires a Basic license." Once you add sample data or have any data in your cluster then this view isn't available.

![Screen Shot 2021-05-27 at 11 10 53 AM](https://user-images.githubusercontent.com/12060704/1198999

[2021-05-27 21:53] kgcreative commented on #372
Im going to take on:
[ ]  OpenSearch mark loading spinner
[ ] Change color on Primary "OpenSearch Dashboards" card in the main home landing page

PRs coming soon

[2021-05-27 23:25] mihirsoni commented on #322
@dblock  I think we should just make changes for external plugin for now and not change any internal ones. We should do that gradually as part of 2.0 as it doesn't have user facing requirement after understanding their code bas and reasons for it.

[2021-05-28 01:15] kgcreative opened #388 "[BUG] Remove 'Basic license' reference in DQL helper popover"
**Describe the bug**

The DQL helper popover references a 'Basic license' in the description.

<img width="1678" alt="Screen Shot of incorrect popover text" src="https://user-images.githubusercontent.com/3443142/119915104-98486880-bf16-11eb-9c73-355aa4880e3a.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Discover'
2. Click on 'DQL' to the right of the "Query" input.
3. See popo

[2021-05-28 18:47] denysvitali opened #389 "Add .dockerignore"
**Is your feature request related to a problem? Please describe.**

Currently the `.dockerignore` file is missing, and this might cause the Docker image to include unwanted files / be slow just because we're copying useless stuff.

**Describe the solution you'd like**

A `.dockerignore` that excludes:
- .git
- node_modules
- Dockerfile

**Describe alternatives you've considered**

None

**Addition

[2021-05-28 19:49] #339 closed

[2021-05-28 21:04] mihirsoni commented on #322
If we can do it gradually with smaller PRs, to ensure no git history is lost as well functional tests passes on each one should be good, my only point s we can keep making progress, I remember kibana had earlier using `-` but changed to camelCase as part of new framework need to understand the reason why it is like that.

Overall my point was, not to add any scope for GA, we can do it as part of 1

[2021-05-30 08:11] kavilla commented on #372
For branding, do we have a replacement for this K that turned into an "in and out" door.

In Home and Overview (maybe more):

![Screen Shot 2021-05-30 at 1 06 15 AM](https://user-images.githubusercontent.com/12060704/120097175-f2e2ef80-c0e3-11eb-9968-27cd9ccbf565.png)
![Screen Shot 2021-05-30 at 1 06 42 AM](https://user-images.githubusercontent.com/12060704/120097176-f37b8600-c0e3-11eb-97b9-d1e0cf

[2021-05-30 08:16] kavilla commented on #19
Is this accurate anymore? Like it's removed but we don't have the replacement with the correct snapshot url when we have one.

[2021-05-30 08:24] kavilla commented on #230
Hi @galangel, we got a little busy. Will bring this up in our sync up to see if have more details.

[2021-05-30 08:39] kavilla commented on #329
@JacobBrandt, great point!

 I think for this one @ananzh was referencing that within the package folder we have these packages:
* https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/packages/opensearch-datemath
* https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/packages/opensearch-eslint-config-opensearch-dashboards
* https://github.com/opensearch-project/Op

[2021-05-30 08:47] kavilla commented on #335
For this issue, we don't have a replacement document website. We have https://docs-beta.opensearch.org/docs/opensearch-dashboards but it isn't versioned and there is missing documents there.

We did the best we can with some replacements that we have. Once we have a permanent replacement then we can complete this issue.

[2021-05-30 08:52] kavilla commented on #373
Thanks @ahopp, I would consider this a sub-issue of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/335.

But will keep this issue open because this helps to have specific issues.

Thanks!

[2021-05-30 09:07] kavilla commented on #361
Still haven't been able to reach someone about the service we are using. A brief message was the limitation is zoom level 8 from the service, if that is the case I will see about timelines when we can have parity of OpenStreetMaps.

[2021-05-30 17:28] kgcreative commented on #372
We don't currently, but we should. Let me look into this.

[2021-06-01 15:43] tmarkley commented on #334
### Investigation for URLs containing “kibana”:

It doesn’t look like we need to worry about any shared link objects that contain “kibana”/“opensearch-dashboards”. The only two pages I found with the tiny URL generation is `/app/discover` and `/app/dashboards`.

However, I think we would need to consider the defaultRoute saved object. It’s possible to have something like `/app/management/kibana`.

[2021-06-01 17:58] kavilla commented on #334
appending timelion. right not that is restored in the https://github.com/opensearch-project/OpenSearch-Dashboards/pull/390 since it has to be for the application to be backwards compatible but if we migrate that to be fully timeline then the url will change.

[2021-06-02 19:03] kavilla commented on #334
All DQL stuff is untouched on how the data is stored should be backwards compatible with no restoration.

[2021-06-02 20:59] kavilla commented on #334
For backwards compatibility testing, what we have been doing is using the `.kibana` index created and updated by a 7.10.3 artifact of Kibana. Then having sample data loaded, non-default settings, added visualizations, and queries added by utilizing the application. So when testing if our changes are backwards compatible, we update OpenSearch Dashboards to point to the cluster with the indices crea

[2021-06-02 21:35] tmarkley opened #406 "[Build] Upgrade Node.js from v14 to v16"
We're currently running Node.js v10.24.1. This issue will track progress towards upgrading to a newer version.

v16 is the upcoming active LTS: https://nodejs.org/en/about/releases/

Tasks:
- [x] v10 -> v14 #920
- [ ] v14 -> v16 #835

[2021-06-03 03:01] mihirsoni opened #413 "Proposal: [Discuss] [Core] Storage adaptor for Dashboards"
**Is your feature request related to a problem? Please describe.**
Currently, Dashboards stores its metadata inside OpenSearch, though it works out of the box but it creates different challenges at scale for Dashboards to be operated and depending on the OpenSearch cluster health and could become unavailable. Idea to allow additional datasource to be configured  for the metadata such as (kibana in

[2021-06-03 04:19] tmarkley commented on #227
What are the individual steps that we need to take to achieve this?

[2021-06-03 06:28] Mosarvit opened #416 "[BUG] “Remember my selection next time I log in from this device.” doesn’t work"
Hello!

“Remember my selection next time I log in from this device.” doesn’t seem to be working as it is intended. We have a multi-tenant ELK setup and when a user set a tenant and click on the remember preference checkbox it still takes back the user to global tenant each time they login or refresh the session(page reload on session expiry).

**To Reproduce**

1. Create more than one tenant
2. En

[2021-06-03 07:24] #359 closed

[2021-06-03 07:24] #384 closed

[2021-06-03 07:24] #388 closed

[2021-06-03 18:02] kavilla commented on #416
Hey @Mosarvit, this seems like an issue related to the [security plugin](https://github.com/opensearch-project/security-dashboards-plugin) it should be raised in that repo.

[2021-06-03 20:08] seanneumann opened #426 "Remove Tutorials from "Add Data" page"
After reviewing the Tutorial Directory (/app/home#/tutorial_directory), we believe everything should be moved to our documentation site. For the purposes of this issue, remove all tutorials, keep the Sample Data options, and add a link to our documentation site.

**Remove...**
![image](https://user-images.githubusercontent.com/1413295/120705473-bb21d200-c46c-11eb-99ec-f839eaac4586.png)

**Keep...*

[2021-06-03 20:38] seanneumann commented on #426
Docs URL to use for RC: https://docs-beta.opensearch.org/

[2021-06-03 20:51] seanneumann opened #427 "README.md Updates for RC"
**Describe the bug**

Go to README.md.

### Change "Alpha" to "RC"
![image](https://user-images.githubusercontent.com/1413295/120709961-64b79200-c472-11eb-9da7-afc74829236b.png)

### Remove extra ">" from Guiding Principles text
![image](https://user-images.githubusercontent.com/1413295/120709719-10141700-c472-11eb-8877-34cd6347f21b.png)

### Remove extra "-" from Guiding Principles text
![image](

[2021-06-03 20:59] seanneumann opened #428 "Overview Header says "OpenSearchDashboards""
The header for Overview pages says "OpenSearchDashboards" (no space). It should say "Overview"

![image](https://user-images.githubusercontent.com/1413295/120710755-5f0e7c00-c473-11eb-810d-13f45570df00.png)

[2021-06-03 21:02] seanneumann opened #429 "Query Workbench Header says "OpenSearchDashboards""
The header for Query Workbench pages says "OpenSearchDashboards" (no space). It should say "Query Workbench".

![image](https://user-images.githubusercontent.com/1413295/120711529-58cccf80-c474-11eb-8654-82af6045503e.png)

[2021-06-03 21:19] stockholmux opened #430 "[BUG] Visualizations with maps triggers a console warning in browser"
**To Reproduce**

If you open a map-based visualization the, you'll get a console message:

"mapsLegacy.chunk.1.js:1 The "manifestServiceUrl" parameter is deprecated in v7.6.0. Consider using "tileApiUrl" and "fileApiUrl" instead."

**Expected behavior**
No warning thrown

**OpenSearch Version**
1.0-RC1

**Dashboards Version**
1.0-RC1

**Plugins**

All OpenSearch

**Host/Environment (please comple

[2021-06-03 21:51] kavilla opened #431 "[BUG] Icons fail to load in Stack Management"
**Describe the bug**

Icons fail to load

**To Reproduce**
* Navigate to Stack Management > Saved Objects
* Notice an empty white box and browser throwing errors

![Screen Shot 2021-06-03 at 2 46 17 PM](https://user-images.githubusercontent.com/12060704/120716396-d8f63380-c47a-11eb-9c33-6c0af30063ea.png)

**Expected behavior**
Icons load and no errors

**OpenSearch Version**
1.0

**Dashboards Vers

[2021-06-03 22:01] stockholmux opened #432 "[BUG] Sample data may contain trademark "JetBeats""
**Describe the bug**
The sample data contains puns on related software - one of which is "JetBeats."

This happens to be a band in Grand Rapids, Michigan. [They have a sound cloud](https://soundcloud.com/user-572781670#:~:text=The%20JetBeats%20are%20a%204,since%20it's%20inception%20in%202014.).

Perhaps we want something more neutral.

**OpenSearch Version**
1.0-RC1
**Dashboards Version**
 1.0-RC1

[2021-06-04 05:16] Mosarvit commented on #416
Thank you, @kavilla , will do!

[2021-06-04 05:16] #416 closed

[2021-06-04 14:44] JacobBrandt commented on #413
Could you elaborate on the different challenges you are saying exist with the current approach?  You mentioned the cluster health but if the OpenSearch cluster heatlh is problematic then the user is going to have more problems then trying to get the saved objects to display on the tool.

As an aside, it's not immediately apparent if you are talking about Dashboards (a saved object within the tool)

[2021-06-04 18:54] ananzh opened #440 "[Migration][discuss] deprecate setting names in opensearch_dashboards.yml"
**Is your feature request related to a problem? Please describe.**

We have many `deprecations: ({ renameFromRoot })` in the code to deprecate setting names no longer used. Some of them are old and could be removed. Some related to odfe use and migration which might be affected by our fork and rename. For the migration pain, here are some examples:

example 1:
[code]
example 2:
[code]
In example1,

[2021-06-04 19:31] kavilla commented on #230
The code base can generate all these items, and we are in discussions just to have the code generate the artifacts but the ownership of the automation still needs to be resolved.

[2021-06-04 19:40] kavilla commented on #431
Verified using these icons are fine for launch.

[2021-06-04 20:17] #431 closed

[2021-06-04 20:18] #428 closed

[2021-06-04 22:08] #331 closed

[2021-06-07 19:10] #429 closed

[2021-06-07 19:16] kavilla commented on #429
Fixed in https://github.com/opensearch-project/sql/issues/111.

[2021-06-08 03:54] tmarkley opened #448 "Remove unused x-pack dependencies"
After investigating a recent Dependabot commit, I realized that there were quite a few direct dependencies in the `package.json` that were left over from x-pack and not removed.

I used [`yarn-check`](https://www.npmjs.com/package/yarn-check) to identify the unused dependencies. This isn't a perfect solution because there are a lot of false positives - many of the packages listed as unused were in

[2021-06-08 16:34] #320 closed

[2021-06-08 16:34] #448 closed

[2021-06-08 16:49] ananzh commented on #426
Team, it seems this issue request  think I need a clarification on how we want to change. If we delete everything just keep `try sample data`
<img width="806" alt="Screen Shot 2021-06-08 at 9 43 54 AM" src="https://user-images.githubusercontent.com/79961084/121225328-4371ef80-c83e-11eb-9e2b-5e3e4c11f6a3.png">

Then we also need to make some changes on the home page. We should move "Try sample data

[2021-06-08 19:01] ahopp commented on #426
Thanks for the callout @ananzh!

1. What do we think about pulling in the "Try sample data" and making the add data section explicitly for the sample for the time being? Once we get the "learn more", "quick start", and instructions updated we can add back the more generic content. it would read something like this;

      **Add sample data**
      Get started with sample data, visualizations, and

[2021-06-09 06:26] DavidSche opened #465 "[BUG]cannot remove securityDashboards in opensearch-dashboards:1.0.0-rc1"
**Describe the bug**

A clear and concise description of what the bug is.

I cannot  remove securityDashboards  in opensearch-dashboards:1.0.0-rc1 , it's ok in  opensearch-dashboards:1.0.0-beta1

I uses this Dockerfile

[code]
the opensearch_dashboards.yml

[code]

**To Reproduce**
Steps to reproduce the behavior:

when I run opensearch-dashboards-plugin  list  command , the securityDashboards plu

[2021-06-09 19:46] kavilla commented on #334
Will re-open to verify telemetry doesn't block people.

[2021-06-09 21:02] chloe-zh opened #471 "Update semantic suggestion menu for new endpoints and plugins in Dev Tools"
**Is your feature request related to a problem? Please describe.**

The semantic suggestion menu in Dev Tools are helpful for users to draft and debug their queries, but for now the suggestions are only limited to the original ES query using DSL. Since the plugin and new endpoints are compatible with the OpenSearch, we may well update the semantic suggestion to the new endpoints as well.

**Descri

[2021-06-09 21:24] ananzh opened #472 "FollowUp: Enable Tutorials from "Add Data" page"
**Is your feature request related to a problem? Please describe.**
In P[R#464](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/464), we temporarily remove tutorial from "Add Data" page due to no available instructions and artifacts to instruct customers to add data. Once we have these ready, we should get tutorials back and modify it based on future changes or decisions.

Before:

[2021-06-09 22:12] peterzhuamazon opened #473 "De-Couple Dashboards building process with modular approach"
**Is your feature request related to a problem? Please describe.**

When running `yarn build --skip-os-packages` it will build 4 tarballs for Dashboards (2x linux, 1x macOS, 1x windows) and takes 10+min to do so.

Compares to OpenSearch, running `./gradlew :distribution:archives:linux-tar:assemble` will only build 1 tarball (1x linux) to be exact and takes 2min.

Overall, Dashboards takes longer t

[2021-06-10 21:41] kavilla opened #475 "Improve snapshot mechanism for tests"
**Is your feature request related to a problem? Please describe.**

[artifact.js](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-opensearch/src/artifact.js) is able to download daily snapshots for Linux x64 but there are no current replacements for non Linux x64 or no guaranteed that these snapshots are permanent.

It also should be purified of any licensing ref

[2021-06-11 01:39] #330 closed

[2021-06-11 02:57] boktorbb opened #477 "[Bug]Update/Remove ensure_opensearch_version unit tests that rely on TestScheduler"
`TestScheduler` in rxjs seems to cause an oom issue related to:

`https://rxjs.dev/guide/testing/marble-testing#known-issues`

The following 2 unit tests in `ensure_opensearch_version.test.ts` have been skipped for now:
`it.skip('starts polling immediately and then every opensearchVersionCheckInterval'` and
`it.skip('waits for opensearch version check requests to complete before scheduling the nex

[2021-06-11 05:59] #426 closed

[2021-06-11 12:31] drBenway opened #481 "[BUG]node 10"
**Describe the bug**

node version is outdated
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/package.json#L463
as you can see at https://nodejs.org/en/ current LTS is version 14

[2021-06-11 12:33] drBenway commented on #481
my bad, duplicate of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/406

[2021-06-11 12:33] #481 closed

[2021-06-11 18:18] #19 closed

[2021-06-11 18:18] #242 closed

[2021-06-11 20:14] #432 closed

[2021-06-11 21:15] kavilla commented on #465
Hey David,

Thanks for opening this up. I definitely see the confusion. The value listed in the plugins cli does not match the actual plugin.

As you can see in this PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/357 we converted to kebab case based on github.com/opensearch-project/OpenSearch-Dashboards/issues/322.

This is technically a duplicate of https://github.com/opense

[2021-06-11 21:29] kavilla commented on #322
For the following issues:
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/465
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/366

We should update this [file](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/cli_plugin/list/list.js#L44) to output better aligned with what the CLI is expecting. Since the output is actually just outp

[2021-06-11 21:32] kavilla commented on #465
Let me know if it is acceptable if I close this issue using this [issue](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/322#issuecomment-859919937) to track it.

[2021-06-11 22:29] ohltyler commented on #322
@kavilla good callout, looks like it was missed in the `list` CLI command.

From my understanding the overall goal is to still remove camelCase entirely from Dashboards - unfortunately the ID change from camelCase to kebab-case is much more involved, so only partial changes could be done by RC1.

Preferably the ID isn't customer-facing at all, but looks like a conversion to kebab-case was missed f

[2021-06-11 22:34] kavilla commented on #430
Updating this issue for context:

We extended EMS Client to build OpenSearchMapsClient which is what the application uses for maps. This warning is bubbling up from the EMS Client. Probably not a quick and clean fix to resolve this.

[2021-06-14 13:36] taf2 opened #482 "[BUG] Broken link"
Just installed opensearch dashboard and started testing found the following broken link while adding an index as a source.

<img width="1305" alt="Screen Shot 2021-06-14 at 9 35 40 AM" src="https://user-images.githubusercontent.com/1568/121900912-f2f20a80-ccf3-11eb-8a2c-5f03afbc4d24.png">

broken link is http://www.opensearch.org/guide/en/elasticsearch/reference/current/mapping.html

my current lo

[2021-06-14 20:48] tmarkley commented on #482
For tracking purposes: sub-issue of #335

[2021-06-14 20:52] #472 closed

[2021-06-15 01:52] ananzh opened #483 "[BUG] Fix skipped unit tests"
**Describe the bug**

Currently, there are 258 skipped unit tests, 9 todo. We want to investigate whether we can enable the skipped tests. Some of the tests might need to be removed.

[code]

**To Reproduce**
Run:
`yarn test:jest`

**Expected behavior**
A clean unit test. No skipped tests.

**OpenSearch Version**
OpenSearch 1.0.0

**Dashboards Version**
Dashboards 1.0.0

**Sub issues**
[#307 ](htt

[2021-06-15 13:04] galangel commented on #353
@JacobBrandt what do you think about adding tags to Viz's?

I am thinking that instead of arranging them into groups, we could show and hide Viz's in dashboards (filtering) based on tags.

So maybe instead of this, we should add tagging functionality.

Maybe the default tag that will be available from the start is "Favorite", it could also accept special styling,
Other tags could be created and ap

[2021-06-15 15:29] JacobBrandt commented on #353
@galangel I like that you're thinking about tagging as I believe tagging should be possible for when saving the saved objects (visualizations, dashboards, saved searches). I also have thought of an idea that utilized tags but not used in a way as filtering the dashboard view as you proposed here.  Tagging would be useful for users to be able to quickly find related views and has benefits not just

[2021-06-15 21:20] kavilla commented on #334
Some test workflow how I was able to verify BWC.

Install ODFE
* Navigate to https://opendistro.github.io/for-elasticsearch/downloads.html#try
* Download docker-compose.yml
* Run `docker-compose up`

Add data
* Navigate to localhost:5601 and login into global with admin/admin
* Navigate to home#/tutorial_directory/sampleData
* Add all sample data

Add Timelion visualization
* Navigate to Visualize

[2021-06-15 21:20] kavilla commented on #334
Settings are actually BWC but the settings are not being migrated and when the settings is loaded it is loaded by version.

[2021-06-16 01:21] DavidSche commented on #465
thanks @kavilla ,  your Dockerfile is ok !  thanks !

[2021-06-16 07:58] kavilla commented on #465
No problem! Thanks for bringing this up.

Will close this issue and will use https://github.com/opensearch-project/OpenSearch-Dashboards/issues/322 to track it, if you could please keep track of the outcomes there or comment your opinion please do!

Otherwise, if you still run into issues and not sure where to comment please feel free to re-open this issue.

[2021-06-16 07:58] #465 closed

[2021-06-16 16:59] ananzh opened #486 "[Test] unit test schema_error.test.ts is skipped now"
**Describe the bug**

Currently, `schema_error.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to schema_error.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remove

[2021-06-16 20:44] seanneumann commented on #406
Let's do a patch release now and we can prioritize moving to 14 at a later point.

[2021-06-16 21:23] ananzh commented on #483
Include all skipped unit test and issues in a summary issue [#483](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/483). Close this issue.

[2021-06-16 21:23] ananzh commented on #4
Include all skipped unit test and issues in a summary issue [#483](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/483). Close this issue since it is duplicate.

[2021-06-16 21:33] ohltyler commented on #334
@kavilla I'm running into issues with the opensearch docker-compose - any idea?
[code]

[2021-06-16 23:41] ohltyler commented on #334
@kavilla thanks for the breakdown of steps, this is really helpful.

One thing I might add: when copying over the `data` files to the OpenSearch nodes, I had to remove the extra `/` to prevent the folder from being placed inside the existing `data` folder. My commands looked like this:

`docker cp ./data/data1 opensearch-node1:/usr/share/opensearch/data`
`docker cp ./data/data2 opensearch-node2:/u

[2021-06-17 03:54] kavilla commented on #334
really? I just had to copy over over and gave OpenSearch permissions to read it. Was there more manual work for that?

[2021-06-17 15:08] ananzh opened #487 "[Test] unit test help.test.ts is skipped now"
**Describe the bug**

Currently, `help.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to help.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remove all? if yes, cre

[2021-06-17 16:33] ohltyler commented on #334
When using those `cp` cmds, it was placing a new `data1` dir inside of the `data` dir, and not using it, even after `chmod`ing. So the cluster was coming up as if I hadn't transferred any data over. Basically I had to `mv` the contents of `data1` to replace/overwrite the default contents in `data`, which was automatically created when first spinning the cluster up.

[2021-06-18 06:44] ananzh opened #490 "[Test] unit test api.test.ts is skipped now"
**Describe the bug**

Currently, `api.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to api.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remove all? if yes, creat

[2021-06-18 06:46] ananzh opened #491 "[Test] unit test empty_news.test.tsx is skipped now"
**Describe the bug**

Currently, `empty_news.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to empty_news.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remove al

[2021-06-18 06:48] ananzh opened #492 "[Test] unit test loading_news.test.tsx is skipped now"
**Describe the bug**

Currently, `loading_news.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to loading_news.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remov

[2021-06-18 07:18] kavilla commented on #334
Ah I see, I might have actually ran
`docker cp ./data/data1/.`

like the inverse of what I did when copying over the contents of the folder from the container.

[2021-06-18 09:32] kavilla opened #494 "[BUG] Theme version references v7 and v8"
**Describe the bug**
In Advanced Settings, there is a setting that lets you set the theme version from v7 to v8 implying versions that do not exist yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Settings'
2. Search for 'Theme version'
3. Click drop down
4. See v7 and v8 (beta)

**Expected behavior**
Either no reference to a later version's theme or change the settings t

[2021-06-18 09:49] kavilla commented on #322
Hey @VachaShah, thanks for the change. I know you did it a lot of hard work and I appreciate it, but with some stuff being missed I'm not positive about the total impact that this has within the application. Specifically related to BWC.

With that in mind, I am kind of thinking of committing this to `2.0` or vNext for these changes and reverting https://github.com/opensearch-project/OpenSearch-Das

[2021-06-18 18:14] tmarkley commented on #334
Where are we providing documentation for this?

[2021-06-18 18:31] ananzh opened #498 "[Test] unit test telemetry_sender.test.ts is skipped now"
**Describe the bug**

Currently, `telemetry_sender.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_sender.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we

[2021-06-18 18:33] ananzh opened #499 "[Test] unit test telemetry_service.test.ts is skipped now"
**Describe the bug**

Currently, `telemetry_service.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_service.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can

[2021-06-18 23:21] ananzh opened #503 "[Test] unit test render_opt_in_banner.test.ts is skipped now"
**Describe the bug**

Currently, `render_opt_in_banner.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to render_opt_in_banner.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

[2021-06-18 23:23] ananzh opened #504 "[Test] unit test render_opted_in_notice_banner.test.ts is skipped now"
**Describe the bug**

Currently, `render_opted_in_notice_banner.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to render_opted_in_notice_banner.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and

[2021-06-21 15:39] ananzh opened #507 "[Test] unit test telemetry_notifications.test.ts is skipped now"
**Describe the issue**

Currently, `telemetry_notifications.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_notifications.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the

[2021-06-21 16:07] ananzh opened #508 "[Test] unit test fetcher.test.ts is skipped now"
**Describe the issue**

Currently, `fetcher.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to fetcher.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remove all? if

[2021-06-21 16:08] ananzh opened #509 "[Test] unit test get_cluster_info.test.ts is skipped now"
**Describe the issue**

Currently, `get_cluster_info.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_cluster_info.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can

[2021-06-21 16:18] ananzh opened #510 "[Test] unit test get_cluster_stats.test.ts is skipped now"
**Describe the issue**

Currently, `get_cluster_stats.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_cluster_stats.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- ca

[2021-06-21 22:10] ananzh opened #512 "[Test] unit test get_local_stats.test is skipped now"
**Describe the issue**

Currently, `get_local_stats.test` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_local_stats.test}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we remov

[2021-06-21 22:12] ananzh opened #513 "[Test] unit test get_nodes_usage.test.ts is skipped now"
**Describe the issue**

Currently, `get_nodes_usage.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_nodes_usage.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we

[2021-06-21 22:14] ananzh opened #514 "[Test] unit test get_data_telemetry.test.ts is skipped now"
**Describe the issue**

Currently, `get_data_telemetry.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_data_telemetry.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

-

[2021-06-21 22:16] ananzh opened #515 "[Test] unit test get_telemetry_saved_object.test.ts is skipped now"
**Describe the issue**

Currently, `get_telemetry_saved_object.test.ts` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_telemetry_saved_object.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and clo

[2021-06-21 22:18] ananzh opened #516 "[Test] unit test opt_in_banner.test.tsx is skipped now"
**Describe the bug**

Currently, `opt_in_banner.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to opt_in_banner.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we rem

[2021-06-21 22:20] ananzh opened #517 "[Test] unit test opt_in_message.test.tsx is skipped now"
**Describe the issue**

Currently, `opt_in_message.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to opt_in_message.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the issue

- can we

[2021-06-21 22:22] ananzh opened #518 "[Test] unit test opted_in_notice_banner.test.tsx is skipped now"
**Describe the issue**

Currently, `opted_in_notice_banner.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to opted_in_notice_banner.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the

[2021-06-21 22:24] ananzh opened #519 "[Test] unit test opt_in_example_flyout.test.tsx is skipped now"
**Describe the issue**

Currently, `opt_in_example_flyout.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to opt_in_example_flyout.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR and close the i

[2021-06-21 22:25] ananzh opened #520 "[Test] unit test opt_in_security_example_flyout.test.tsx is skipped now"
**Describe the issue**

Currently, `opt_in_security_example_flyout.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to opt_in_security_example_flyout.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a

[2021-06-21 22:26] ananzh opened #521 "[Test] unit test telemetry_management_section.test.tsx is skipped now"
**Describe the issue**

Currently, `telemetry_management_section.test.tsx` test suite is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_management_section.test.tsx}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all? if yes, create a PR a

[2021-06-22 12:44] 0asp0 opened #526 "[BUG] - re-login not working after logout."
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. login to opendashboards with default credentials admin/admin -> login is successful
2. logout
3. try tp relogin with the same credentials
4. nothing happens. Login page appears again. In Dev Console (F12) I can see http 401.

**Expected behavior**
re-login is possible

**

[2021-06-22 14:45] dblock opened #527 "Document release branching"
Coming from [.github#13](https://github.com/opensearch-project/.github/issues/13), document release branching to match what [OpenSearch](https://github.com/opensearch-project/OpenSearch) is [doing](https://github.com/opensearch-project/.github/blob/main/RELEASING.md#branching).

Add a RELEASING.md that links to, or has content from [.github/RELEASING.md](https://github.com/opensearch-project/.gith

[2021-06-22 15:40] #486 closed

[2021-06-22 17:45] kavilla commented on #526
hey @0asp0 thanks for logging this. Could you update the title to be a little bit more descriptive? Can look into this but will most likely will need to be reassigned to the OpenSearch security plugin.

[2021-06-22 17:48] 0asp0 commented on #526
sorry, just missed the tile line ;-). Topic is renamed.

[2021-06-22 19:01] #440 closed

[2021-06-22 19:06] VachaShah commented on #322
Hey @kavilla, can we merge the PRs after the review to `main` if not add to the feature branch? I already have all the PRs out and have also updated the `list` command in the PR mentioned above. Let me know what you think.

[2021-06-23 04:49] #492 closed

[2021-06-23 04:50] #491 closed

[2021-06-23 04:51] #490 closed

[2021-06-23 13:25] mrudrego opened #533 "Removal of non-inclusive term "whitelist" with neutral language"
**Is your feature request related to a problem? Please describe.**

OpenSearch-Dashboards(Kibana) has a configuration property elasticsearch.requestHeadersWhitelist.
There are concerns raised on usage of this non-inclusive terminology. Linux team has approved on replacing these non-inclusive terminologies. There are many other tech companies and open-source projects that have removed references to

[2021-06-23 14:49] dblock commented on #533
Thanks for highlighting this. A similar issue was discussed in https://github.com/opensearch-project/OpenSearch/issues/472, specifically https://github.com/opensearch-project/OpenSearch/issues/472#issuecomment-822506656. We want to fix this, please do consider contributing a backwards-compatible change.

[2021-06-23 18:40] tmarkley opened #535 "Migrate from Node Sass to Dart Sass"
**Is your feature request related to a problem? Please describe.**

Node Sass and LibSass are deprecated: https://sass-lang.com/blog/libsass-is-deprecated

**Describe the solution you'd like**

Migrate to Dart Sass: https://sass-lang.com/dart-sass

**Describe alternatives you've considered**

A temporary version bump was done in #501 to use a newer version of LibSass that addresses current securit

[2021-06-23 23:41] kavilla commented on #526
hey @0asp0, it's looking like `security_authentication` is getting wiped out and can't return even after logging in until you restore the params in the url and refresh the application. Might be from the API side when we log out of Dashboards.

But it's related to the security plugin, although I believe it is the engine's plugin that is failing I think it's worth creating in the Dashboard's plugin

[2021-06-24 00:17] kavilla commented on #322
Hey @VachaShah sorry about the delay. I think before merging into main a feature branch might be a good idea for now. Are we are aware of any backwards compatibility issues that this may cause.

[2021-06-24 05:55] #515 closed

[2021-06-24 05:55] #514 closed

[2021-06-24 05:56] #513 closed

[2021-06-24 05:56] #510 closed

[2021-06-24 05:57] #509 closed

[2021-06-24 05:57] #508 closed

[2021-06-24 05:57] #507 closed

[2021-06-24 05:58] #504 closed

[2021-06-24 05:58] #503 closed

[2021-06-24 06:41] zhongnansu opened #538 "Playground - OpenSearch Demo Site"
Do you have plan to add a demo page for Dashboards?
Similar to Kibana: https://demo.elastic.co/app/dashboards#/view/welcome_dashboard?

[2021-06-24 15:48] ohltyler commented on #322
@kavilla from my understanding this shouldn't cause any BWC issues - installed folders prior to the change will still be in camelCase, and can be removed as such, as long as the `list` changes are merged that will list out the exact folder names (they can still always be manually removed by looking in the `OpenSearch-Dashboards/plugins/` dir, but we definitely would want the `list` to accurately r

[2021-06-24 15:53] ohltyler commented on #322
Only caveat is anyone that has scripts or any piece of software relying on the camelCase folder name to perform some actions (remove plugins, access plugin folder contents directly, etc.). Again, they would only run into trouble after installing anything new, since existing installations & folder names would remain unchanged.

Obviously worth calling out in the release notes, but I believe that wa

[2021-06-24 16:27] tmarkley commented on #364
Related to #335

[2021-06-24 16:37] tmarkley commented on #406
For 1.0.0 we're upgrading to 10.24.1 and will work on the major version upgrade post-GA.

[2021-06-24 16:55] tmarkley opened #542 "OpenSearch Dashboards Distribution: Publish to NPM?"
We want to have an open discussion regarding the plan for publishing Dashboards artifacts.

NPM seems like the correct destination, but here are some questions that we need to consider:
* How are plugins currently building against Dashboards?
* How do other third-party developers need to consume Dashboards?

[2021-06-24 17:35] ananzh opened #543 "[Test] unit test about authorization header in is test suite request.test.ts is skipped now"
**Describe the issue**

Currently, test case `doesn't expose authorization header by default` inside test suite `request.test.ts` is skipped. To make a clean unit test, we want to explore and decide whether we still need to keep it as skipped.

[code]

**To Reproduce**
Run:`yarn test:jest {path to request.test.ts}`

**Expected behavior**
explore the skipped unit tests, check:

- can we enable all?

[2021-06-24 17:44] dblock commented on #542
What are the alternatives to npm?

[2021-06-24 18:03] tmarkley commented on #542
@seraphjiang mentioned previously that we could consider RPM, Debian, and/or Homebrew.

[2021-06-24 18:25] ananzh commented on #543
After investigation, I think this test case should be skipped for now. There was a header filter (getFilteredHeaders method) to screen out authorization header.  The filter got remove in 2019 because there are cases in reporting and security plugins which need to know all headers. To provide access for these plugin usage,  filter function is removed and now we provide access to them. I think the q

[2021-06-24 18:37] ananzh commented on #477
Tried to increase the heap size in both ubuntu and Jenkins env by:

1) Ubuntu:
NODE_OPTIONS="--max_old_space_size=8192" yarn test:jest /home/anan/work/OpenSearch-Dashboards/src/core/server/opensearch/version_check/ensure_opensearch_version.test.ts

2) Jenkins
Change Jenkinsfile and add `env.NODE_OPTIONS = '--max_old_space_size=8192'`

Tried size = 8192, 12288, and 16384. None of them work. Need to

[2021-06-24 19:49] dblock commented on #542
That works for distributed artifacts, but not for node versioned dependencies.

[2021-06-24 19:52] kavilla commented on #538
Hey @zhongnansu!

Speaking for myself I definitely believe we wanted one and I believe the @opensearch-project/opensearch-dashboards-maintainers agreed. In terms of timelines I believe we wanted to have a stable release version but will need to get resources and allocation for this.

@ahopp what do you think?

[2021-06-24 22:01] tmarkley opened #546 "[BUG] Google Chrome version in the Dockerfile does not match chromedriver version"
**Describe the bug**

Our Dockerfile downloads the latest stable version of Google Chrome: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/1.0.0-rc1/Dockerfile#L14

This can cause problems with tests in a Jenkins environment if the version of Chrome that is downloaded doesn't match the version of `chromedriver` that is defined in our dependencies. For example, the current stable v

[2021-06-24 22:53] #487 closed

[2021-06-25 00:55] ananzh commented on #499
Partially solved by: PR[#502](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/502)

One test case is still skipped: calls expected URL with 20 minutes
This test case is skipped is due to function `fetchTelemetry` is disabled. We should enable this unit test when `fetchTelemtry `function is restored.

[2021-06-25 05:42] kavilla commented on #364
This was SQL/PPL Workbench plugin issue, looking at their repo looks to have been fixed https://github.com/opensearch-project/sql/commit/e4692ba75889800dd055680c4c0f2bb35268be17

[2021-06-25 05:42] #364 closed

[2021-06-25 05:46] kavilla commented on #526
Hello @0asp0, I've gone ahead and opened the issue in the security plugin repo.

Please track updates here: https://github.com/opensearch-project/security-dashboards-plugin/issues/790

Thank you!

[2021-06-25 05:46] #526 closed

[2021-06-25 07:38] SalvoDiMa91 opened #550 "Try to see the first dashboard"
Hi,

I would like to study this project and I'm trying to download, install and run the docker on my Windows PC.
I installed Docker and all components as described in this page: **https://docs-beta.opensearch.org/** but if I try to see an empy dashboard on the page: **http://localhost:5601/** I can see only the message " _OpenSearch Dashboards server is not ready yet_ ".

On Docker Dashboard I can

[2021-06-25 07:44] kavilla commented on #335
Will need a replacement for Mappings API documentation.

[2021-06-25 16:37] tmarkley opened #551 "Replace `sass-lint`"
`sass-lint` is an [unmaintained](https://github.com/sasstools/sass-lint#this-project-is-currently-unmaintained---last-developmentstable-release-october-2017) repo and has dependencies on packages with known security vulnerabilities.

One potential alternative is [`stylelint`](https://github.com/stylelint/stylelint).

[2021-06-25 19:00] #527 closed

[2021-06-25 19:44] #516 closed

[2021-06-25 19:44] #517 closed

[2021-06-25 19:44] #518 closed

[2021-06-25 20:48] ananzh opened #554 "[Test] Clean and investigate console errors/warnings in unit tests"
**Describe the bug**

Currently, there are many console.errors in the unit test. To build a clean unit test, we want to investigate these console errors and clean up if possible. Some examples are:

[code]

[code]

**To Reproduce**
Run:
`yarn test:jest --runInBand --detectOpenHandles --reporters=default`

If see an error like this:
[code]
then pass ab argument:
`yarn test:jest --runInBand --detect

[2021-06-25 21:00] ananzh opened #555 "[Test] Investigate console error in telemetry_management_section.test.tsx"
**Describe the issue**

Currently, `telemetry_management_section.test.tsx` prints out console errors when run the unit test. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_management_section.test.tsx}`

**Expected behavior**

explore each problem uni

[2021-06-25 21:08] ananzh opened #556 "[Test] Investigate console warnings in get_local_stats.test.ts"
**Describe the issue**

Currently, `get_local_stats.test.ts` prints out console warnings when run the unit test. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code]

**To Reproduce**
Run:`yarn test:jest {path to get_local_stats.test.ts}`

**Tasks**

I think the logger warning is being called as expected, indica

[2021-06-25 21:13] ananzh opened #557 "[Test] Investigate console error in telemetry_service.test.ts"
**Describe the issue**

Currently, `telemetry_service.test.ts` prints out console errors when run the unit test. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code]

**To Reproduce**
Run:`yarn test:jest {path to telemetry_service.test.ts}`

**Expected behavior**

explore each problem unit test cases and investi

[2021-06-26 00:08] #519 closed

[2021-06-26 00:09] #520 closed

[2021-06-26 00:09] #521 closed

[2021-06-26 00:09] #512 closed

[2021-06-26 00:14] #499 closed

[2021-06-26 00:15] #498 closed

[2021-06-26 00:41] ananzh opened #561 "[Test] Unit test case 'verify consistency of modes of files' fails due to file mode"
**Describe the issue**

With existing fixture, test verify consistency of modes of files inside zip.test.js fails. This is due to diff file mode in different system when doing same command or operation. For example, in our ubuntu, when create a file using mkdir cmd, the file mode is 775. But local machine, the file mode is 755.

The two test expectations can be either 775 or 755 depending on file

[2021-06-26 05:07] kavilla commented on #550
Hey @SalvoDiMa91,

For sure! Currently, the documentation remains in a beta state. It has content gaps and might contain bugs. After looking at the content the steps for setting up Dashboards seem a little bit confusing since it tells you to docker pull and then have a docker compose file with the contents to start docker containers. I would avoid that and do one or the other.

Basically means it

[2021-06-26 09:23] #482 closed

[2021-06-26 09:39] kavilla commented on #380
Apologies @JacobBrandt about the delay.

I really like this, I can definitely see the use case. I know a core tenant of OpenSearch is to be backwards compatible and I know it can migrated but if we go with the replacement then it will be ensuring that it gets migrated properly. So it might easier to create it separately as a plugin and perhaps we can deprecate the current maps if we can find out u

[2021-06-26 09:43] kavilla commented on #379
This one seems very customer focus and empowering users. @ahopp would this be something that can build into the roadmap?

[2021-06-29 07:39] galangel opened #563 "Proposal: Option to disable DSL"
**Is your feature request related to a problem? Please describe.**
Users would sometimes paste and run queries that they have seen on the internet and create high load to the point of DOS.

**Describe the solution you'd like**
Add a setting option to disable the DSL query in all relevant places.

add in Stack Management \ Advanced Settings \ Search the option Disable DSL edit.
the option will be a

[2021-06-29 16:43] elfisher commented on #538
If we do this, can we break the logic of generating the data set out into a plugin or something? I think it would be really powerful if there was a way to easily configure a generator for sample data sets :)

[2021-06-29 17:12] #4 closed

[2021-06-29 18:40] bbarani opened #564 "Standardize the directory name to include version number"
**Is your feature request related to a problem? Please describe.**
No

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Unpacking the Opensearch TAR creates the directories with the version number but Opensearch-dashboards doesn’t. We would like to standardize the folder names hence we need to add the version number to the directory for the OpenSearch-Da

[2021-06-29 20:07] camerski commented on #542
NPM seems to be the de-facto standard for node versioned dependencies. Is there a reason to not use NPM, at least as a baseline? That wouldn't block adding other distribution channels in future.

[2021-06-29 22:36] ahopp commented on #379
Yes @kavilla @JacobBrandt, this would absolutely be great for users - and something I've been putting some thought into. We have some really phenomenal products to learn from (e.g. Splunk, Tableau, etc.) that have set strong precedence for this type of interface. Not only would an interface like this be a great step toward a more intuitive UI but I think there is a opportunity to enable a more exp

[2021-06-29 22:44] ahopp commented on #538
Thanks @kavilla! I agree that this would be great to add - after GA I think this would be a great addition to the roadmap.

RE: breaking out the logic of generating the data set into a plugin, this sounds like a separate feature but one we should also add to the backlog for prioritization.

[2021-06-29 23:46] kavilla opened #567 "[Improvement] noreferrer on doc links"
**Is your feature request related to a problem? Please describe.**
Stemming from this PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/565. Links inconsistently have `noreferrer` on the reference.

'Adding rel="noopener noreferrer" to links protects your site's users against having the site you've linked to potentially hijacking the browser'

**Describe the solution you'd like*

[2021-06-29 23:53] kavilla commented on #564
When the tar files are built they include the version number for me. Do you have more context for this?

Like do you have an example of the the files and what you expect the files to look like?

[2021-06-30 07:24] JacobBrandt commented on #379
@ahopp I'd love to see what you've been thinking.  I've drawn out some rough diagrams of what I've been thinking for a new visualization editing experience that goes beyond just a drag & drop interface.

Here is a list of some things I would like to see from a new visualization editor which hopefully helps with a roadmap.

- Drag and Drop functionality.
- Ability to change index pattern/saved sear

[2021-06-30 16:00] tmarkley commented on #542
Agreed on both accounts. I don't think there's a reason not to use NPM considering it seems like there are plenty of use cases where customers would benefit. It's not clear to me why the repo was never published to NPM before.

[2021-06-30 16:15] kgcreative opened #569 "[Enhancement] Redesign global header"
**Is your feature request related to a problem? Please describe.**
We've had some requests to remove the top bar, as well as making it easier to change the top logo. This is a meta issue that covers redesigning the global header.

See: https://discuss.opendistrocommunity.dev/t/change-top-left-elastic-logo-on-opendistro-kibana/5436

**Describe the solution you'd like**

The initial proposal is to c

[2021-06-30 16:15] #546 closed

[2021-06-30 19:19] tmarkley commented on #564
@bbarani @peterzhuamazon can you answer the questions above?

[2021-06-30 19:46] tmarkley opened #570 "Create Release Notes for v1.0.0"
We can follow the lead of OpenSearch and use the release notes drafter: https://github.com/opensearch-project/OpenSearch/issues/789

I also want to consider starting a changelog for 1.0. I brought this up [in the issue](https://github.com/opensearch-project/OpenSearch/issues/789#issuecomment-871675956) above. If we decide it's worthwhile, let's create another Issue for that.

[2021-06-30 21:08] Hronom opened #571 "Search Profiler visualization"
**Is your feature request related to a problem? Please describe.**
Hard to read JSON output of profile API.

**Describe the solution you'd like**
Add some visualizer like this https://www.elastic.co/guide/en/kibana/current/xpack-profiler.html

[2021-06-30 21:25] ananzh opened #572 "Static anti-CSRF may increase likelihood of successful attack"
**Describe the issue**

We find a static osd-xsrf value (opensearchDashboards) in the header. "Since attackers know the value of this token, it is trivial to construct an attack that can exploit this vulnerability (Cross-Site Request Forgery (XSRF). An attacker can trick an authenticated user (or a user on a security-disabled instance) to visit a malicious website, which will cause the browser to

[2021-06-30 21:27] ananzh commented on #572
For [Option 2] SameSite can have 3 values: strict, lax and none. We can’t simply remove none because 1) some older browsers don’t support SameSite 2) If Dashboards want to work in an iframe on a 3rd party website, it needs to set cookies to have SameSite=None. We might consider to provide configuration for SameSite in opensearch-dashboards.yml to customer. Customer has the option to control this s

[2021-06-30 21:42] tmarkley opened #573 "Enforce backport workflows/PRs post-GA (1.0)"
So far all commits merged to `main` have been backported to `1.x` and `1.0` via merging/rebasing manually. Once we release `v1.0.0` this will not be the case so we must enforce workflows and PRs for backporting to either branch.

[2021-06-30 21:45] #572 closed

[2021-07-01 00:57] ananzh commented on #232
I think we can ignore the unit test for now. Currently the response to fetch elastic telemetry endpoints such as `/api/ui_metric/report` are disabled.

[code]

[2021-07-01 11:42] galangel opened #575 "Proposal: Default filter operator"
**Is your feature request related to a problem? Please describe.**
I would like to Speed up usage, having fewer actions to make when adding filters manually. by having the Operator already filled with a value of my choice, ( usually `Is` ) after the waiting phase (the operator is disabled/waiting when the field input is empty).

**Describe the solution you'd like**
add in Stack Management \ Advanc

[2021-07-01 12:47] galangel commented on #569
Good idea,
IMO it could event be just the side bar,
User/Account info could also be there at the top, similar to other apps.

the only thing I'm not sure about is merging the contextual buttons and breadcrumbs, it would be too crowded there.

[2021-07-01 16:18] JacobBrandt commented on #575
Hmm, interesting.  This preselected operator won't always be what you want and so it definitely should not skip the operator when tabbing as you'll still need to choose the operator.  It would be annoying if it skipped.  It also doesn't seem like this would need to be an advanced setting.  The process today seems pretty reasonable as is for unplanned filtering on a dashboard since it handles all w

[2021-07-01 16:35] JacobBrandt commented on #563
I'm thinking that if this option were to be added then the "Edit as Query DSL" should not be hidden but placed in a disabled state that upon hover tells the user they can enable this feature in the advanced setting.  Otherwise this repo will get tons of bug tickets suggesting that the DSL option is missing on version X.

Also, keep in mind that with this option disabled it still won't disable user

[2021-07-01 16:42] galangel opened #576 "Proposal: Better suggestions search match highlighting"
**Is your feature request related to a problem? Please describe.**
when searching for a filter value, the search is case sensitive and matching only from the start.

**Describe the solution you'd like**
I want to get a case-insensitive match regardless of the position of the match in the suggestions values.

**Additional context**
This will most likely result in changing the search regex and add a

[2021-07-01 17:01] jkowall commented on #283
Closing this out until we modify the plugin system, proposal is coming soon.

[2021-07-01 17:01] #283 closed

[2021-07-01 17:34] kavilla commented on #550
Closing this issue for now @SalvoDiMa91, please feel free to re-open if you are still having issues.

[2021-07-01 17:34] #550 closed

[2021-07-01 20:09] ananzh opened #577 "Update readme in main"
**Describe the issue**

Go to README.md. Update "RC" to "GA".

[2021-07-01 20:43] kgcreative commented on #569
This is a really good point, Gal. I think the interesting thing here is that there seems to be a lack of clarity regarding how the whole application chrome is architected.

The top-most bar seems to be mostly global actions, and it's there mostly as an anchor for the side menu. The side menu went from being a partially revealed side-navigation to being completely removed when closed, and the secon

[2021-07-01 22:20] ananzh opened #585 "Add the release note for 1.0.0"
**Describe the issue**

Add the release note for 1.0.0 GA release

[2021-07-01 23:01] kavilla opened #586 "[BUG] cert generation documentation refers to non-existent script"
**Describe the bug**
As seen here: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-dev-utils/certs/README.md#certificate-generation, we can see the README calls out for running bin/opensearch-certutil to generate the certs.

This was simply renamed and this script only existed in the upstream x-pack version of the Engine.

**Expected behavior**
Documentation upda

[2021-07-02 19:33] #585 closed

[2021-07-02 20:19] #577 closed

[2021-07-02 20:25] shdubsh opened #590 "[BUG] OSD fails to start with OpenSearch cluster in rolling upgrade"
**Describe the bug**

OpenSearch-Dashboards fails to start while the cluster is transitioning to OpenSearch.  This renders Kibana and OpenSearch-Dashboards unavailable for the duration of the upgrade.  For clusters with a lot of data to move or large clusters, this could manifest as a long maintenance window or outage.

**To Reproduce**

1. Bootstrap ES (OSS) 7.10 cluster.
2. Join OpenSearch node

[2021-07-06 17:31] kavilla commented on #590
Hey @shdubsh! Unfortunately, this is a known issue.

If you do not mind, I will close as a duplicate of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/365, but will reference it because you raise a really good point.

The upstream prevented multiple versions for a rolling upgrade due a saved object's structure changing potentially causing data loss, although running the engines

[2021-07-06 17:31] #590 closed

[2021-07-06 18:04] dblock commented on #334
I opened https://github.com/opensearch-project/documentation-website/issues/71

[2021-07-06 19:10] tmarkley commented on #573
`1.x` and `1.0` branches have been protected, and the `backport` label is created.

[2021-07-06 19:10] #573 closed

[2021-07-06 22:27] tmarkley opened #591 "[Proposal] Create a changelog to track releases over time"
**Is your feature request related to a problem? Please describe.**

We currently (i.e. for v1.0.0) generate [release notes](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/release-notes) for each release, but changelogs are often easier to parse/search when dealing with version bumps/upgrades than individual release notes. Having a complete summary of breaking changes, new fe

[2021-07-06 22:29] tmarkley commented on #570
Duplicate of #585

Opened a separate Issue to discuss a changelog: #591

[2021-07-06 22:30] #570 closed

[2021-07-07 14:53] galangel commented on #591
Good suggestion

[2021-07-07 14:57] dblock commented on #591
+1, and I would want this to be in https://keepachangelog.com/en/1.0.0/ format

A stretch idea would be to both enforce the format and require changelog entries on PRs, thus not needing to do any work for releases notes before releases. I use https://github.com/dblock/danger-changelog for this.

[2021-07-08 07:21] ahopp opened #592 "[BUG] Updates needed in README.md, CONTRIBUTING.md, etc."
**Describe the bug**
There are some documentation issues that need to be addressed in the repo docs.

- [x] CONTRIBUTING.md says we're in a pre-alpha state.
- [x] CONTRIBUTING.md has a "Feature Requests" section, but doesn't link to the Feature Request Issue template.
- [x] CONTRIBUTING.md has “w00t!!!" at the very end.
        PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/5

[2021-07-08 15:49] ananzh opened #593 "[Test] Investigate and fix " [React Intl] Could not find required `intl` object" console error for unit tests"
**Describe the issue**

Currently, we observe the following console error when run unit tests. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code]

Here is a list of all the unit test suites which have the above issue:
* src/plugins/telemetry_management_section/public/components/telemetry_management_section.tes

[2021-07-08 15:56] ananzh opened #594 "[Test] Investigate and fix 'UnhandledPromiseRejectionWarning: TypeError' console error in search_service.test.ts"
**Describe the issue**

Currently, `search_service.test.ts ` prints out the following console errors when run the unit test. If run unit tests with cmd `yarn test:jest --runInBand --detectOpenHandles --reporters=default
`, this will cause the cmd stuck or fail. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code

[2021-07-08 17:55] ahopp commented on #592
I'll start with with the updates needed for CONTRIBUTING.md.

[2021-07-08 19:28] ananzh commented on #592
@ahopp For this issue "/src/core/README.md has broken links: Core Public API, Core Server API, and OpenSearch Dashboards Platform Plugin API", we don't have replacements for these broken links for now. Should we leave them for now?

[2021-07-08 20:19] yilintao-amzn opened #601 "[BUG] Build RPM failed"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run command" yarn build --rpm
2. Failed to build the RPM.

**Expected behavior**
The RPM should be built and can be found in the target folder.

**OpenSearch Version**
1.0.0

**Dashboards Version**
Please list the version of OpenSearch Dashboards being used.
1.0.0
**Plugi

[2021-07-08 23:26] ananzh commented on #592
For issue "/packages/osd-eslint-import-resolver-opensearch-dashboards/lib/get_project_root.js incorrectly references the @elastic/eslint-import-resolver-kibana package (twice)", we currently don't have our own package to replace it. We will fix this issue once we have our own package.

[2021-07-09 06:24] yilintao-amzn opened #612 "[BUG] Bootstrap failed on Linux"
**Describe the bug**

A clear and concise description of what the bug is.
Bootstrap fail on Linux system and works fine on MacOS. It works fine with the previous source code I checked out from main branch. But I tried with the rc1 or the current source code from main branch, it failed bootstrap on Linux.

**To Reproduce**
Steps to reproduce the behavior:
1. run bootstrap command in Linux
2. See er

[2021-07-09 16:32] ananzh opened #615 "[Discussion][Proposal] Develop dev config system"
**Is your feature request related to a problem? Please describe.**

Currenlty config file is loaded via server.config() when the server is started. There are cases that we need to use the config service without a server start/restart.

**Describe the solution you'd like**
need discussion

**Describe alternatives you've considered**
need discussion

[2021-07-09 18:04] mihirsoni commented on #615
https://github.com/elastic/kibana/issues/55656

[2021-07-09 18:30] ananzh opened #619 "Check command 'node scripts/opensearch snapshot ' working or not without license parameter"
**Describe the issue**
We removed the license concept in the [PR](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/602). We haven't verified the following command work without specifying license.

Run a snapshot
[code]
**Expected behavior**
Check and verify this command is still working. If not, modify the concepts.

**OpenSearch Version**
OpenSearch 1.0.0

**Dashboards Version**
D

[2021-07-09 19:26] ananzh commented on #592
For issue "/packages/osd-optimizer/README.md references a kibana GitHub Issue" I will remove this one from pre-GA. We haven't decided what we want to do for replacing kibana issues. These kibana issues contains useful discussions, ideas from many contributors. If we replace them with any investigation, we will lose these info and might cause duplicate work. It is better to replace once we have tim

[2021-07-10 15:33] dpocock opened #640 "[BUG] CSV download has wrong MIME type"
**Describe the bug**

I tried to download a CSV

The server told me it was text/plain

The browser wanted to open it in a text editor

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

The MIME type should be ```text/csv```

The browser should offer to open the file in a spreadsheet, not a text editor.

[2021-07-12 17:36] ananzh commented on #601
Hey @yilintao-amzn, the following cmds work for me:

[code]

Then artifact is generate in /target folder:

[code]

Go to OpenSearch-Dashboards/target:
[code]

Start dashboards:
```./bin/opensearch-dashboards```

[2021-07-12 17:39] yilintao-amzn commented on #601
The command I have issue is "yarn build --rpm". Can you have a check?

[2021-07-12 18:41] tmarkley commented on #335
Confirmed with the owners of https://github.com/opensearch-project/documentation-website that the beta site will remain up for the 1.0 GA launch and we can do a follow-up to change the links to point to the production website.

[2021-07-12 20:31] ananzh commented on #601
To run `yarn build --rpm` directly, some work before:

[code]

[2021-07-12 20:51] ananzh commented on #601
Error msg for reference:
[code]

[2021-07-13 16:34] #475 closed

[2021-07-13 18:01] kavilla commented on #601
Thanks @ananzh, @yilintao-amzn I was able to get a build with the commands she listed. Where you able to?

If so then I think it's a bug in the documentation (or lack of documentation) and we should update it to include those commands.

[2021-07-13 18:06] deknos commented on #542
Please provide Debian Packages, perhaps even talk to the debian guys, if you are allowed to push it into the debian repositories

You could also have a look at pkgsrc (netbsd packging, also usable on linux and on Free/Open/NetBSD) and nixos (very good at reproducible builds)

[2021-07-13 18:12] kavilla opened #645 "Change docs-beta links to /docs"
A production site for documentation exist at https://opensearch.org/docs/, so we should replace all instances related to https://docs-beta.opensearch.org/.

Warning, there are multiple locations where docs-beta was inserted. For example (but not limited to):
* https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/core/public/doc_links/doc_links_service.ts
* https://github.com/o

[2021-07-13 18:39] kavilla commented on #334
Will close this issue for tracking purposes, but will open if any issues related to GA prop up.

[2021-07-13 18:39] #334 closed

[2021-07-13 20:09] kavilla commented on #230
There is a CI for building the artifacts, but should be improved upon. Will keep this issue open and target 1.1.0 for improvements related to automation.

[2021-07-13 20:43] dblock commented on #645
Please get link-checker in! It would have immediately flagged these.

[2021-07-13 23:17] kavilla opened #646 "Verify broken links automatically"
**Is your feature request related to a problem? Please describe.**

There were broken links that existing apart of the renaming exercise.

As we are dynamic and things are fluid, links to other repositories might become broken.
Developers find these problems when they use documentation, but we should have an automated way to check and notify broken links.

**Describe the solution you'd like**

Imp

[2021-07-13 23:19] kavilla commented on #645
Sounds good, created an issue here: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/646

[2021-07-14 14:02] stockholmux opened #647 "[BUG] tutorial shows incorrect URLs and platforms"
**Describe the bug**

At `/app/home#/tutorial/systemLogs` the tutorial shows links to non-existent, webpages, tools, and platforms.

Examples:
https://www.opensearch.org/guide/en/beats/filebeat/main/filebeat-module-system.html -> 404
https://www.opensearch.org/guide/en/beats/filebeat/main/filebeat-installation-configuration.html -> 404
https://www.opensearch.org/downloads/beats/filebeat -> 404
htt

[2021-07-14 20:37] kavilla commented on #640
Hello @dpocock!

Would you be able to update the description to reproduce and environment details? Trying to recreate and I don't get the same behavior.

Thank you!

[2021-07-14 20:55] kavilla commented on #647
As you called out we removed the ability to navigate within the application to hit the tutorial page, but left the code and routes pretty much intact in case we want to re-use the content once we have replacements.

We basically didn't want people to go to the page but you could directly go to if you know the route or have a bookmark. My proposal is to remove the tutorials from the router, however

[2021-07-14 20:57] stockholmux commented on #647
@kavilla That makes sense.

[2021-07-14 20:58] dpocock commented on #640
Please try this:

- create a new dashboard
- choose Data Table
- in the Dashboard view, you see "Export: Raw Formatted"
- click either of the links, Raw or Formatted

It will offer you a CSV file (based on the filename extension) but it says the document is plain text.

[2021-07-14 21:00] kavilla commented on #647
Sounds good we can use this issue to remove the tutorials from the router.

[2021-07-14 23:01] kavilla opened #648 "[BUG] Node-RE2 build missing for ARM"
**Describe the bug**
This bug existed pre-fork with the error message including: `node_modules/re2/build/Release/re2.node: cannot open shared object file: No such file or directory`. It turns out the application uses node-re2 so that it can safely use the regular expressions specified by end-users within Timeline, but [Node-RE2](https://github.com/uhop/node-re2) does not contain a hosted build for

[2021-07-15 16:23] tmarkley commented on #360
https://github.com/opensearch-project/OpenSearch-Dashboards/releases/tag/1.0.0

[2021-07-15 16:23] #360 closed

[2021-07-15 16:51] tmarkley opened #649 "[CI] Automatically run unit tests on push and in PRs"
Currently all tests are run manually either locally or via a private Jenkins pipeline. We should enable automated unit tests via our GitHub workflow: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/.github/workflows/pr_check_workflow.yml

[2021-07-15 16:51] tmarkley opened #650 "[CI] Automatically run integration tests on push and in PRs"
Currently all tests are run manually either locally or via a private Jenkins pipeline. We should enable automated integration tests via our GitHub workflow: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/.github/workflows/pr_check_workflow.yml

[2021-07-15 16:52] tmarkley opened #651 "[CI] Automatically run functional tests on push and in PRs"
Currently all tests are run manually either locally or via a private Jenkins pipeline. We should enable automated functional tests via a GitHub Action/Workflow.

[2021-07-15 16:54] tmarkley commented on #227
Tests successfully run in CI via Jenkins. I opened new Issues to automate the test runs on push and in PRs: #649 #650 #651

[2021-07-15 16:54] #227 closed

[2021-07-15 18:07] kavilla opened #652 "[BUG] Default pattern resetting (transient)"
**Describe the bug**

https://discuss.opendistrocommunity.dev/t/kibana-default-pattern-randomly-resetting/335/6

Users set their default patterns but notice it does not save. There is a couple of pre-fork issues open up as well.

**To Reproduce**
Steps to reproduce the behavior, however the issue is transient so it might not be easy to reproduce:
1. Create an account with their personal tenant and

[2021-07-15 19:17] tmarkley commented on #648
@ahopp how should we prioritize this?

[2021-07-15 19:18] tmarkley commented on #652
@ahopp how should we prioritize this?

[2021-07-15 20:41] robcowart commented on #569
@kgcreative I like the simple bar. This is closer to the earlier Kibana 7 styling before the screen real estate wasting top bar with useless search box was added (sorry... I am a bit opinionated on this). I would even go further and omit "Home" and simply let that be the action when clicking the logo.

[2021-07-16 15:25] jkowall opened #653 "[DISCUSS] Forking EUI and Charts into new repo or existing codebase"
As per https://discuss.opendistrocommunity.dev/t/talk-about-opensearch-ui/6319/15 we would like to determine the path forward for EUI. The project is no longer open source, so we'd need to fork the last version which seems to be: previous to this PR https://github.com/elastic/eui/pull/4930

Since we would like to begin work on skinning this decision needs to be made sooner than later. This will ma

[2021-07-16 15:37] stockholmux commented on #653
@elfisher you might be interested.

[2021-07-19 17:52] jkowall commented on #653
Seems like the decision here is the move it into the opensearch dashboards codebase, which seems fine to me. We just have to determine the impact to the builds and such. We will open a PR when the AWS team is ready and ensure it works properly.

[2021-07-19 19:51] kavilla commented on #335
Duplicate issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/645

[2021-07-19 19:52] kavilla commented on #645
This is a duplicate issue will use the older issue but will copy the contents.

[2021-07-19 19:52] #645 closed

[2021-07-19 19:52] kavilla commented on #335
A production site for documentation exist at https://opensearch.org/docs/, so we should replace all instances related to https://docs-beta.opensearch.org/.

Warning, there are multiple locations where docs-beta was inserted. For example (but not limited to):
* https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/core/public/doc_links/doc_links_service.ts
* https://github.com/o

[2021-07-19 19:53] kavilla commented on #335
Referenced in #645

Sounds good, created an issue here: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/646

[2021-07-19 20:04] kavilla commented on #647
This issue will encompasses this issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/373

[2021-07-19 20:07] kavilla commented on #373
Will close this as technically a duplicate of this issue #647, right now we remove the ability to get these docs within this application but you can directly go these by typing the route. We need to remove the routes from the router. Will use #335 for final URLs.

[2021-07-19 20:07] #373 closed

[2021-07-20 14:18] msproact opened #656 "[Beats 7.12.1] Workaround for error while loading dashboards "Exiting: Kibana API is not available in Kibana version 1.0.0""
I set up Metricbeat 7.12.1 with the version work-around in OpenSearch. However I did not see anything similar regarding the version check against OpenSearch Dashboards. So I get this:

[code]

I bet I could load the dashboards manually into OpenSearch Dashboards which is what I am going to try next. However of course it would be nice to have it just work out of the box.

This is with OpenSearch 1.

[2021-07-20 14:45] jcgraybill commented on #653
Pulling an Apache-2.0-licensed fork of EUI into the OpenSearch Dashboards codebase looks looks like the lowest-effort approach to meet the current need, so I think that one is effectively the de-facto default choice. Let's keep the issue open for a few more days, though, to give more stakeholders a chance to weigh in.

[2021-07-20 17:33] #351 closed

[2021-07-20 17:46] kavilla commented on #653
I'm on the side of forking into a new repo but I think the forum and comments here raise some good points. The work upfront will be the lowest effort especially related to publishing builds.

I think now it can be merged into an existing repo to solve our issues now but in the future make it into a new repo? The codebase is so large already and uninviting to develop in plus it would nice to have a

[2021-07-20 18:49] tmarkley commented on #226
Closing this since we released 1.0 and have our RELEASING.md: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/RELEASING.md

Feel free to reopen or create a new issue to discuss compatibility, long-term support, etc.

[2021-07-20 18:49] #226 closed

[2021-07-20 18:53] tmarkley commented on #230
The original issue here is resolved. Follow-ups for automation are in the build repo: https://github.com/opensearch-project/opensearch-build/issues

[2021-07-20 18:53] #230 closed

[2021-07-20 18:53] seanneumann commented on #653
This is a two-way door. Let's move it into the Dashboards codebase. Down the road if there is a strong case to pull it out into a separate repo, we can do it then.

[2021-07-20 18:57] tmarkley commented on #232
@boktorbb-amzn can you add more info to this Issue?

[2021-07-20 19:00] tmarkley commented on #287
This is a great idea. We need to put together a plan to address this.

[2021-07-20 19:31] kavilla commented on #656
Hello @msproact!

Might need more clarity on this issue. We have a (not so descriptive) issue here https://github.com/opensearch-project/opensearch-build/issues/69 related to Metricbeat. Do you have a link to the referenced workaround?

Also would you considered this a bug?

[2021-07-21 09:21] msproact commented on #656
Oh, I just meant the work-around for Elasticsearch version check in Metricbeat, so Metricbeat can load work with OpenSearch¹.

I do not have a work-around for loading the dashboards into OpenSearch Dashboards. I bet I can just export them and use curl to stuff them into OpenSearch Dashboards, but I did not do this yet.

Bug or enhancement depends on point of view I'd say. If you expect Metrictbeat

[2021-07-21 12:12] dblock commented on #287
@saratvemulapalli

[2021-07-21 13:30] MerwaneHAMADI opened #657 "Nested field support in visualizations"
**Is your feature request related to a problem? Please describe.**

As you know, nested support is not available in OpenSearch Dashboards Visualizations. [The community craves for it](https://github.com/elastic/kibana/issues/1084) because not everyone is working with unstructured data.

A lot of users work with a relation database as a source of truth they connect to Opensearch. So the data is rel

[2021-07-21 18:19] ahopp commented on #657
@MerwaneHAMADI I think the path you laid out (i.e. support plugin compatibility first as a proof of concept and iterate from there) seems like the correct approach. I'll tag as "help wanted".

@ananzh I believe you mentioned that nested field support "Phase 1" was released in Kibana 7.6.0 but it's not enabled. Is that correct? Given we are forked 7.10.2, the assumption would be in the OpenSearch c

[2021-07-21 22:38] kavilla opened #658 "[BUG] Timeline icon does not show in list visualizations"
**Describe the bug**

Timeline icon is not showing

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Visualize
2. Create a Timeline visualization
3. Navigate back to the Visualize List
4. Notice the Timeline visualization does not have an icon

**Expected behavior**
Should load the icon

**OpenSearch Version**
1.0

**Dashboards Version**
1.0

**Screenshots**
![Screen Shot 2021-07-1

[2021-07-22 04:20] kavilla commented on #640
Ah yes I see it now. Will remove the untriaged label for now.

[2021-07-22 17:21] boktorbb-amzn commented on #307
- plugins_discovery.test.ts
- extract_default_translations.test.js
- download.test.js
- pack.test.js
- telemetry_service.test.ts
- check_collector__integrity.test.ts
- scan_delete.test.ts
- config.test.ts
- projects.test.ts
- manage_schema.test.ts
- decompress.test.js
- loader.test.ts
- integrate_locale_files.test.ts
- project.test.ts
- zip.test.js
- log_rotator.test.ts
- run.test.ts
- projects_tr

[2021-07-22 17:27] boktorbb-amzn commented on #307
Attempted to resolve the issues on `plugins_discovery.test.ts` and `log_rotator.test.ts` by first closing a possible open handle with `done()` but the tests use async/await and `done()` does not work.

The second attempt was to increase the global jest timeout to a higher value in case the promises just take a longer period of time to resolve. I tried raising the value from the default 5000ms up t

[2021-07-22 20:40] ananzh opened #660 "[Bug][ARM] Missing re2 ARM build cause Internal Server Error"
**Describe the bug**

Currently, re2 doesn't have an ARM build. When run osd in graviton instance, we observe the following error:

`node_modules/re2/build/Release/re2.node: cannot open shared object file: No such file or directory
`

<img width="1768" alt="Screen Shot 2021-07-21 at 10 15 20 AM" src="https://user-images.githubusercontent.com/79961084/126705546-0c653e5f-ad96-4324-b99d-9a191ddbe4ff.

[2021-07-22 22:44] ananzh commented on #660
To solve this issue, we need to modify the native modules [here](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/7604a49efe89f745b8540ff58d96fd2978c22bde/src/dev/build/tasks/patch_native_modules_task.ts#L50) and add similar url and sha256 for linux-arm64

Some steps to solve:
1) create linux-arm64-64.gz
[code]

2) upload to a storage place and provide url and sha256 in this issue

[2021-07-23 17:07] kavilla commented on #660
Should we close this issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/648

[2021-07-23 19:25] ananzh commented on #660
O sorry. I think it is duplicate. I will close this one.

[2021-07-23 19:25] #648 closed

[2021-07-23 22:17] tmarkley opened #665 "[BUG] Not all default routes are translated correctly when upgrading to Dashboards"
**Describe the bug**

When upgrading from ODFE 1.x or Kibana 7.x to Dashboards 1.0, not all default routes are migrated to the new routes if names have changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [BWC testing instructions](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/334#issuecomment-861841231) but use a default route such as `/app/opendistro-ale

[2021-07-23 23:32] ashwin-pc opened #666 "[BUG] Developer guide does not have instructions on how to build Dashboards locally"
**Describe the bug**

There are no instructions on [DEVELOPER_GUIDE.md](https://github.com/ashwin-pc/OpenSearch-Dashboards/blob/main/DEVELOPER_GUIDE.md) for how to build OpenSearch Dashboards locally. The [Developer Guide](https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md) for OpenSearch core does include these instructions. I also could not find these instructions anyw

[2021-07-24 01:35] MerwaneHAMADI commented on #657
@ahopp You are [correct](https://www.elastic.co/guide/en/kibana/7.x/release-notes-7.6.0.html).
It looks KQL supports nested queries right now.
If you add a simple nested object like this :
[code]
We can see the KQL queries it properly :
1 result as expected
![Screen Shot 2021-07-23 at 6 17 56 PM](https://user-images.githubusercontent.com/9652976/126853802-e2baaef6-3ee6-4407-8d2e-1c524ee5fae8.png)

[2021-07-24 01:53] MerwaneHAMADI commented on #657
Also quick feedback for anyone starting to contribute :
1- I thought of using docker for opensearch and git clone only dashboard, but the docker-compose.yml [here](https://hub.docker.com/r/opensearchproject/opensearch) has SSL implemented so unless you want to deal with authorization issues, you're better off just git clone opensearch as well. Normally, if you have the correct JAVA SDK, it should

[2021-07-24 02:12] ppadovani commented on #657
Hey folks this is my plug-in, and I'm happy to see some interest in trying to push this forward.

Let me provide a list of what this plugin was capable of doing at the time I no longer had time to develop it.

- Full support for most visualizations and aggregations
- Knql provided a basic query language for building nested queries. There were limitations around more complex query types that were n

[2021-07-24 15:19] MerwaneHAMADI commented on #657
@ppadovani I am glad to see you here ! Thanks for your work on KNQL. I never got to use it, because our ES version is 7.7,  but I read all the github history and I think it's going in the right direction.
I have some questions :

1- What do you think is the most stable version of your plugin ? So we can test it ?

You wrote in your blog :
[code]
I like your syntax for that reason. Users don't need

[2021-07-24 17:50] MerwaneHAMADI commented on #657
I just installed Elasticsearch and Kibana 6.4.3, ran bin/kibana-plugin install https://github.com/ppadovani/KibanaNestedSupportPlugin/releases/download/6.4.2-1.0.2/nested-fields-support-6.4.2-1.0.0.zip
And it looks like I can't enable the plugin.
![Screen Shot 2021-07-24 at 10 47 38 AM](https://user-images.githubusercontent.com/9652976/126877017-d3789052-a915-4e4f-823d-7f1462c26dfd.png)

I am on c

[2021-07-24 17:58] ppadovani commented on #657
The latest released version was the most stable. As for a docker compose file, I'll have to go see if I have one kicking around.

I would start with the visualize and aggregation part before I worry about the query language as this provides the foundation that the query language can build on top of. This was from 3 years ago, so I'm dredging through my memories, but in general the following will n

[2021-07-24 18:14] MerwaneHAMADI commented on #657
@ppadovani
Haha ! Well I am not going to refuse some help, particularly because you probably know this problem better than me! But I also think you've already given a lot !

I realized it's just easier to download elasticsearch and kibana from the official website, without docker-compose.

As I said before, I got unlucky with the last release : version 6.4.2, so I am going to try the version just

[2021-07-24 18:22] ppadovani commented on #657
I can't look at this today due to family things. I should be able to pull my code and get it running again tomorrow morning.

[2021-07-24 18:33] MerwaneHAMADI commented on #657
Thanks !
By the way I replaced this install command

`bin/kibana-plugin install https://github.com/ppadovani/KibanaNestedSupportPlugin/releases/download/6.4.2-1.0.2/nested-fields-support-6.4.2-1.0.0.zip
`
By this :
`
kibana-6.4.2-darwin-x86_64/bin/kibana-plugin install https://github.com/ppadovani/KibanaNestedSupportPlugin/releases/download/6.4.2-1.0.2/nested-fields-support-6.4.2-1.0.2.zip
`

But

[2021-07-25 16:04] MerwaneHAMADI opened #667 "[BUG] Testing page not found"
**Describe the bug**
Testing page not found on main page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/opensearch-project/OpenSearch-Dashboards
2. Click on Testing : https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/TESTING.md
3. page not found
![Screen Shot 2021-07-25 at 9 01 51 AM](https://user-images.githubusercontent.com/9652976/126905655-46

[2021-07-25 16:57] MerwaneHAMADI commented on #667
Also, I don't want to open an other issue for it, but the tutorial on how to get started disappeared.
There were nice instructions on which node version, yard osd bootstrap, etc, etc..
I think it should be really easy to access it from the main github page

[2021-07-25 19:52] MerwaneHAMADI commented on #657
tldr;
- Opensearch dashboard doesn't even recognize include_in_root in visualizations anymore. Somehow it got removed between 6.4.2 and 7.10.2
- as @ppadovani said, the first step is to change the index pattern loading code to pull the nested information.

These are the simple steps to understand the feature I think opensearch dashboard should support :
1- Install [elasticsearch 6.4.2](https://www

[2021-07-26 14:00] ppadovani commented on #657
Pulled the main of this repo, and started to look things over.. everything as been refactored from three years go, right?!? LOL

Anyway, the file `index_patter_field.ts` is the starting point that will need to be worked with. Go backward from there.. if I have time I might work on a branch.

[2021-07-26 15:24] #658 closed

[2021-07-26 15:33] #594 closed

[2021-07-26 18:10] JacobBrandt commented on #653
Consensus seems to move EUI into the same repo so I'm assuming https://github.com/elastic/elastic-charts will as well.  Is that correct?

[2021-07-26 18:12] kavilla commented on #667
Will be handled in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/666

[2021-07-26 18:13] kavilla commented on #667
Thanks for creating this issue will go about adding a TESTING doc.

[2021-07-26 18:26] kavilla commented on #593
Can be closed now right @ananzh ?

[2021-07-26 19:19] tmarkley commented on #666
Hi Ashwin, thanks for documenting this! We had some instructions in the README.md but recently edited that. I'll add them to the DEVELOPER_GUIDE and add a link in the README.

[2021-07-26 19:30] tmarkley commented on #667
Same is true for the `Admin Responsibilities` link because we don't have an ADMINS.md file either.

[2021-07-26 19:47] kavilla commented on #665
For the original, I was too worried about generically replacing kibana/opendistro.

The third option we could revert it back to default or I was thinking have a button that lets them go back to app home and potentially another button to take them to settings?

What do you think @tmarkley ? @ahopp  as well.

[2021-07-26 19:58] tmarkley commented on #665
I like giving the user options. Would we want to edit the 404 experience in general so that in all cases they have the ability to go back to app home or settings?

I'd be hesitant to revert it back to default without asking the user first.

[2021-07-27 00:03] MerwaneHAMADI commented on #657
@ppadovani Don't hesitate to push even a PR where the plugin is setup and it does a simple hello world.
because I am not familiar with the way plugins interact with Opensearch dashboard or Kibana, so having a boilerplate is really valuable.

[2021-07-27 05:02] ananzh opened #673 "[Test] Investigate console warnings in field_editor.test.tsx"
**Describe the issue**

Currently, `field_editor.test.tsx` prints out console warnings when run the unit test. To make a clean unit test, we want to explore the reasons for these errors/warnings and decide whether we could fix or remove them.

[code]

**To Reproduce**
Run:`yarn test:jest {path to field_editor.test.tsx}`

**Expected behavior**

explore each problem unit test cases and investigate e

[2021-07-27 07:53] kavilla commented on #667
Below is a draft of the contents, what do y'all think:
---
OpenSearch Dashboards uses [Jest](https://jestjs.io/) for unit and integration tests and [Selenium](https://www.selenium.dev/) for functional tests.

- [General information](#general-information)
- [Requirements](#requirements)
- [Running tests](#running-tests)
  - [Unit tests](#unit-tests)
  - [Integration tests](#integration-tests)
  - [

[2021-07-27 08:50] sagar-rout opened #676 "[BUG] README Section has broken link in Code of Conduct "Amazon Open Source Code of Conduct""
In the README .md > Code of Conduct > "Amazon Open Source Code of Conduct" link is broken. I believe we can use same CODE of CONDUCT for opensearch (https://github.com/opensearch-project/OpenSearch/blob/main/CODE_OF_CONDUCT.md).

[2021-07-27 12:57] ppadovani commented on #657
The PR is going to have to be against existing code... we need to have the nested path stored as part of the index pattern field. Once that is in place and functional, then the remaining code around aggregations can be modified to take advatage of it.

[2021-07-27 17:41] elfisher commented on #653
@seanneumann, charts is also going to get moved in like EUI, right?

[2021-07-27 19:12] seanneumann commented on #653
@CEHENKLE will drive this discussion, but it probably makes sense to keep EUI/Charts in the Dashboards repo.

[2021-07-27 19:43] CEHENKLE commented on #653
Yup, we are cutting a separate issue for Charts.   We'll update here once that issue is up :)

[2021-07-28 08:05] ashwin-pc opened #679 "Add Browser sync during development"
**Is your feature request related to a problem? Please describe.**

Currently while developing on a Dashboards plugin, updating the code triggers a rebuild, but unfortunately a manual page refresh is needed to pull the latest UI changes to the browser.

**Describe the solution you'd like**

We can use [browser-sync](https://www.npmjs.com/package/browser-sync) to make this less cumbersome

**Descri

[2021-07-28 18:11] tmarkley commented on #679
Hey Ashwin, this is a good recommendation. I don't think this is something our core team will be able to get to for a while, but if you want to take a stab at getting this to work we'd happily support you and review PRs.

[2021-07-28 18:15] #673 closed

[2021-07-28 20:19] #676 closed

[2021-07-28 21:17] ashwin-pc opened #680 "[BUG] Running `yarn uiFramework:start` fails to build osd-ui-framework"
**Describe the bug**

The package `osd-ui-framework` does not build on running `yarn uiFramework:start`. The biggest issue here seems to be that the dependencies were updated but the docsite build was not run since the update. `react-router` was updated from 3 to 4 which was a complete rewrite of the package causing a lot of breaking changes. There are a few other issue which make the build fail a

[2021-07-28 22:18] kavilla commented on #665
Same.

It could be easy to provide a button to app home but it might be difficult to determine if the user got to the 404 page because their default route took them there or some other way.

[2021-07-28 22:30] kavilla opened #681 "Version bump to 1.1"
**Describe the issue**

Normally I would not have created an issue for version increments but we are currently blocked. We need to update the semantic versioning of OpenSearch Dashboards on the `main` and `1.x` branch. However, we run into issues with automation if we currently modify package.json to be 1.1 because a nightly artifact of OpenSearch Engines is not being built. Why is this a problem?

[2021-07-28 22:34] kavilla commented on #640
Attached the `help wanted` label for now, since I am not able to get to this soon.

[2021-07-29 04:41] ananzh opened #683 "[CI] Automatically run tests on Windows and macOs via github actions"
Currently we are focusing on automate all tests under ubuntu environment. GitHub Actions Virtual Environments have been extended to involve windows and macos. We could investigate and enable automation on diff environments. Below is the current support env:

<img width="863" alt="Screen Shot 2021-07-28 at 9 36 51 PM" src="https://user-images.githubusercontent.com/79961084/127432597-d7764254-8a48-4

[2021-07-29 08:10] closingin opened #684 "[Proposal] Upgrade commander to a version >= 8.0.0"
#### Is your feature request related to a problem? Please describe.

Currently, help texts for commands' arguments simply display a raw `undefined`:

[code]

#### Describe the solution you'd like

Commander added a new `.argument(name, description)` method in [`8.0.0`](https://github.com/tj/commander.js/releases/tag/v8.0.0), which would allow us to add help text to arguments.

Considering that the

[2021-07-29 16:31] elfisher commented on #542
Would each OpenSearch Dashboards plugin artifact be published as its own node package in NPM?

[2021-07-29 17:22] seanneumann commented on #653
@CEHENKLE after more discussion, we are thinking we can combine the effort. We'll comment on the approach and request comments shortly.

[2021-07-30 13:58] sooslaca opened #686 "[BUG] FATAL ValidationError: child "plugins" fails because ["security" is not allowed]"
**Describe the bug**

Cannot configure OIDC auth for opensearch_dashboard as written at https://opensearch.org/docs/security-plugin/configuration/openid-connect/

Each line starts with `plugins.security` throwing error:

[code]

**To Reproduce**
Install opensearch, install opensearch-dashboards.
Enable `openid_auth_domain` in opensearch, reload config with `securityadmin.sh`
configure opensearch-d

[2021-07-30 15:13] ict-one-nl opened #687 "[BUG] Setting override_main_response_version to true on OS triggers error in dashboards"
**Describe the bug**

Set override_main_response_version to true to get other programs working again

Result:

![image](https://user-images.githubusercontent.com/2643715/127673945-533db587-49aa-42e3-b7fd-55535d0ef5d8.png)

Dashboards will not boot

**Expected behavior**
Since it's an official option Dashboards should take this into account.

**OpenSearch Version**
1.0.0

**Dashboards Version**
1.0

[2021-07-31 13:33] ict-one-nl commented on #687
Hmm, setting it to false again does not help to get Dashboards going again. It is still complaining about invalid version numbers and requests (see screenshot)

[2021-07-31 14:29] ict-one-nl commented on #687
Arf, it was a config error: I updated the password of the dashboards user.... Error could have been clearer though :)

[2021-07-31 14:29] #687 closed

[2021-07-31 21:46] MerwaneHAMADI commented on #657
Thanks for this information. I [first added the nested fields to the visualizations](https://github.com/MerwaneHAMADI/OpenSearch-Dashboards/pull/1/files), because it wasn't possible to see them.
The code is here :
This is the result I have so far. As you can see, the acura special option is under all car brands, which shows that the aggregation is wrong right now.
By the way the only reason I have

[2021-08-01 02:45] MerwaneHAMADI commented on #657
It's not so obvious how to integrate the code to the toDSL. For now I am going to create from scratch just to understand a little better how the code works, but if you have a working version, don't hesitate to share it.

[2021-08-01 13:11] MerwaneHAMADI commented on #666
For anyone having this kind of issue, you can change versions on github, and see if the install instructions are present.

I found them here https://github.com/opensearch-project/OpenSearch-Dashboards/tree/1.0.0-beta1

Granted, they might be different now, but it's better than nothing.

[2021-08-02 00:18] MerwaneHAMADI commented on #657
So in this [branch](https://github.com/MerwaneHAMADI/OpenSearch-Dashboards/pull/1/commits/cee50caed40bc0d3a92a76984e3d8e32c2e8a192) I copied your agg_config and agg_configs files and converted them to typescript.

the value of dslTopLvl just before the return is :
[code]
So that looks ok, because this is exactly the aggregation I asked for.
But somehow elasticsearch fails to load response data. I

[2021-08-02 01:37] ppadovani commented on #657
This looks good so far. Sorry I haven't been able to do much, life gets in the way.

What you want to do is look at the agg_response code in my repo and compare against the existing implementation. This is the code that handles the response from
Elastic and formats it correctly. Pay attention to the two sub dirs.. tabify is what's used to create the table of data you can see on visualizations.

[2021-08-02 01:42] MerwaneHAMADI commented on #657
Thanks ! No worries !
I have a question : What did you change in agg_response/tabify/_buckets.js ? It looks like it's the same.

[2021-08-02 01:52] ppadovani commented on #657
I believe that was a clone in order to get around a weird access issue I had. So I cloned and owned it.

[2021-08-02 01:59] MerwaneHAMADI commented on #657
ok thanks for the information. I am on build_hierarchical_data and it really looks different.

It looks like the most important code of build hierarchical data is here :
const aggData = resp.aggregations[firstAgg.id] || resp.aggregations['nested_' + firstAgg.id][firstAgg.id];
const split = buildSplit(agg, metric, bucket[agg.id] || resp.aggregations['nested_' + firstAgg.id][firstAgg.id]);

but the

[2021-08-02 02:02] ppadovani commented on #657
So kibana named the aggs based on the order they were defined as numbers. What I did was prefix nested_ to those levels that were, well, nested in ores to pull them back out on the response correctly.

I'll try and grab some time first thing in the morning and look at your branch.

[2021-08-02 02:45] MerwaneHAMADI commented on #657
I just realized what's wrong : the ui folder got removed :
https://github.com/elastic/kibana/tree/6.8/src/ui => in 6.8 it was here
in 7 it's gone :
https://github.com/elastic/kibana/tree/7.0/src/ui

[2021-08-02 12:47] ppadovani commented on #657
Looks like it got moved to here: [https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/src/plugins/data/common/search/aggs](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/src/plugins/data/common/search/aggs)

All of the code that I overrode I used the same file names... so searching for date_histogram allowed me to locate the code that needs to be modified.

[2021-08-02 23:47] rewilliams opened #689 "[BUG] Share > Copy link broken in Safari"
**Describe the bug**

When viewing a search in Safari, the `Share` > `Copylink` button does not change the content of the Clipboard - whatever was already on here remains on there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Discover area in the global tenant.
2. Enter some search criteria and do a search. Pretend you want to save this search with someone else.
3. Click `Share`

[2021-08-03 01:10] MerwaneHAMADI commented on #657
[code]
For these 2 lines, it's not so obvious where to attach them in build_hierarchichal_data.ts :
- resp is not used as a variable name anymore, neither is aggData.
- I am looking for buildSplit accross the whole app, and it's only mentioned in the legacy plugins.

I am debugging build_hierarchichal_data to see where to stick prefix with '_nested'.

[2021-08-03 11:01] ict-one-nl opened #690 "Add query & query result to alerting module"
When I get an alert I need to create a manual query to examine what the problem is what triggered the alert.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Add the query and the result that was done to the GUI and the mustache templates for actions. This saves a lot of time reverse engineering the query for the problem.

A clear and concise descripti

[2021-08-03 17:18] #666 closed

[2021-08-03 17:57] ict-one-nl opened #693 "[BUG] Alerting module alerts without data that triggers the alert present"
**Describe the bug**

Noticed the same behavior for multiple alerts we are using.

Definiton and graph showing 0 results
![image](https://user-images.githubusercontent.com/2643715/128063197-e0570d7f-703d-487d-bb57-568e13b83461.png)

Yet, history shows red:
![image](https://user-images.githubusercontent.com/2643715/128063126-76950ebf-a547-4eb3-bbe2-d355fbf6c685.png)

Data:
![image](https://user-ima

[2021-08-03 18:05] ict-one-nl opened #694 "Make exporting & importing alerts posible through GUI"
**Is your feature request related to a problem? Please describe.**

If I destroy my cluster I need to recreate the alerts by hand

**Describe the solution you'd like**

I want to export alerts and import them on another cluster through the GUI

**Describe alternatives you've considered**

Using the api, but I find that a bit difficult

**Additional context**

Add any other context or screenshots a

[2021-08-03 18:11] AMoo-Miki opened #695 "[RFC] Charts & EUI: Forking vs Merging-in vs Folding-in"
# Charts & EUI: Forking vs Merging-in vs Folding-in

[Elastic UI Framework](https://github.com/elastic/eui) (EUI) is a collection of React UI components used throughout the interfaces of Elastic's web products and [Elastic Charts](https://github.com/elastic/elastic-charts) is a set of chart components used within EUI and Elastic's web interfaces. Both EUI and Elastic Charts were built specifically

[2021-08-03 18:22] tmarkley commented on #689
Can you confirm the versions of OpenSearch and Dashboards that you're using? You listed ES 7.1 and Dashboards 1.0.0-rc1.

[2021-08-03 18:25] tmarkley commented on #684
Thanks @closingin, this is a good suggestion. If you want to take this on we are happy to review your PRs.

[2021-08-03 18:26] AMoo-Miki commented on #653
I have filed an RFC, #695, with the options I considered for Charts and EUI, along with a proposal. I would like your feedback.

[2021-08-03 21:39] CEHENKLE commented on #653
@jkowall  Hey Jonah!  I wanted to make sure you saw #695.  I'm really looking forward to hearing your thoughts.

Thanks!
/C

[2021-08-03 23:09] kavilla commented on #686
Hello @sooslaca ,

Sorry about the delay but thanks for bringing this up! This is more so a problem with the documentation. Unfortunately there are gaps in the documentation and apparently errors. The configuration should be:
`opensearch_security.auth.type: "openid"` [[Code reference](https://github.com/opensearch-project/security-dashboards-plugin/blob/main/server/index.ts#L59)]

All the settings

[2021-08-03 23:09] #686 closed

[2021-08-03 23:26] hsiang9431-amzn opened #873 "[BUG] Read only user seeing 403 error when viewing Dashboards"
**Describe the bug**
When logging in as a read only user, `403` error with message "Unable to update UI setting" is shown in the browser app.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new user
2. Duplicate the role `kibana_user` to `kibana_user_global_ro`
3. Edit `kibana_user_global_ro` so that it has read only permission on `global_tenant`
4. Create index pattern and dashboar

[2021-08-04 01:12] kafonek commented on #686
@sooslaca @kavilla if you have a working set of configuration files for this, I'd appreciate seeing them.  We struggled with this exact problem today and even switching it to `opensearch_security` instead of `plugins.security` still leaves us with 401's from the Dashboard UI.

We've been running a slightly modified version of https://github.com/opensearch-project/opensearch-build/blob/main/release

[2021-08-04 06:34] tmarkley commented on #612
@yilintao-amzn is this still the case for you on 1.0?

[2021-08-04 13:07] jkowall commented on #653
Looks like a good plan to me. I would like @galangel as more of an expert to comment on it as well. He is reviewing.

[2021-08-04 14:57] JacobBrandt commented on #695
I agree that folding-in makes the most sense here for the EUI.

There is one other option that I think should be discussed before folding-in Charts though.  The Charts library is not heavily used within this repository like EUI is.  Maybe one day Charts will be used more with future enhancements like #379.  However, that would be another topic of discussion for that roadmap on whether or not that

[2021-08-04 16:20] tmarkley commented on #667
@kavilla that looks pretty good! A few minor comments/suggestions:

* `OpenSearch Dashboards uses Jest for unit and integration tests and Selenium for functional tests.` - should this go under the `General Information` section?
* `Unit tests: small and modular utilizing mocks for external dependencies.` --> `Unit tests: small and modular tests that utilize mocks for external dependencies`
* `End-t

[2021-08-04 16:35] galangel commented on #695
just my 2 cents.
I'm ok with having it as yet another package, but it will be a huge one keep in mind. so I'll give it my vote =)

there are pros and cons to everything but,
I still hold the opinion that we should fork it. and maintaining yet another repo isn't so bad.

In my vision, the OpenSearch components library should be separate, and this style guide should be one of the faces of the projec

[2021-08-04 17:29] kavilla commented on #686
@kafonek, I see there are a few open issues in the security plugin related to open id: https://github.com/opensearch-project/security-dashboards-plugin/issues?q=is%3Aissue+is%3Aopen+openid. I see a closed issue that is similar to what you are seeing to which was solved with: https://github.com/opensearch-project/security-dashboards-plugin/issues/672#issuecomment-781507352.

As the original issue w

[2021-08-04 18:04] JacobBrandt commented on #695
@galangel Honestly, I could get behind a fork of EUI as well.  It just seemed like that was a hard no from the team.

EUI can hold its ground against the other React based UI component libraries.  The point that there is a warning about using EUI outside of Elastic doesn't mean much.  FWIW, Elastic still talks about the Kibana plugin API as an experimental, use at your own risk, feature.  I think

[2021-08-04 18:18] kafonek commented on #686
yep https://github.com/opensearch-project/security-dashboards-plugin/issues/806 opened, thanks so much @kavilla

[2021-08-04 23:25] kavilla commented on #690
Hello @ict-one-nl, thanks for this.

I believe this would be an enhancement for the alerting plugin [here](https://github.com/opensearch-project/alerting-dashboards-plugin).

@opensearch-project/admin could we get this issue transferred.

[2021-08-04 23:26] kavilla commented on #693
Hello @ict-one-nl, same as the other issue.

I believe this would be an enhancement for the alerting plugin .

@opensearch-project/admin could we get this issue transferred to [alerting plugin repo](https://github.com/opensearch-project/alerting-dashboards-plugin).

Thanks!

[2021-08-04 23:27] #647 closed

[2021-08-05 06:23] closingin commented on #684
You can assign me to the issue then, I'll take it.

[2021-08-05 06:24] jgough opened #705 "Pivot table visualisation"
A long-standing feature request on Kibana since 2015 is to have a [pivot table visualisation](https://github.com/elastic/kibana/issues/5049) of some sort.

At the time of writing this issue has 50 thumbs-up reactions making it one of the most requested features in Kibana that has not been implemented.

I don't know exactly how this would work from a UI perspective but being able to split a series

[2021-08-05 06:43] jgough opened #706 "Allow Y Scales to independently fit data bounds of split charts"
A long-standing feature request on Kibana since 2014 is to add functionality to allow [independent y-scales ](https://github.com/elastic/kibana/issues/2021) on multiple charts displayed with the "Split chart" functionality.

At the time of writing the original Kibana issue has 70 thumbs-up reactions making it one of the most requested features in Kibana that has never been implemented.

For exampl

[2021-08-05 06:52] jgough opened #707 "Change the index pattern on a visualization"
One of the most requested features in Kibana was the ability to [change the index pattern on a visualisation](https://github.com/elastic/kibana/issues/17542).  This issue was eventually closed as it was implemented in Kibana's Lens feature.

Currently, once a visualisation has been made then it is impossible to change the index pattern unless you go into "Saved Objects" and manually alter the visu

[2021-08-05 07:28] jgough opened #708 "Creating Filters using the Keyboard is more complex than need be"
I create a _lot_ of filters... In Kibana 6, filters were easy to create with just the keyboard, saving time and not having to reach for the mouse.

In Kibana 7 the UI was changed and it made it significantly harder to navigate the filter creation with just the keyboard.  Although there have been some improvements there are still some issues.

Here are the steps for creating a filter for _environme

[2021-08-05 16:41] JacobBrandt commented on #705
An implementation of a pivot table goes hand in hand with a pivot chart which is one of the features of what I envision #379 should provide.

[2021-08-05 16:42] JacobBrandt commented on #707
Related to #379.  The ability to change index patterns is a feature of this new visualization creation experience I'm proposing here.

[2021-08-05 17:39] tmarkley commented on #708
@kgcreative thoughts?

[2021-08-05 17:48] kgcreative commented on #708
@tmarkley - I think it's worth revisiting the tab + keyboard behavior in EUI input / forms. I suspect this might have been an attempt to improve accessibility, but it's had the unintended side effect of adding a lot of extra keystrokes. We should revisit inputs to make sure they are as aligned to browser default as possible.

[2021-08-05 18:46] ahopp commented on #708
I agree with @kgcreative - I think it's worth revisiting. We should make sure that anything we change this round doesn't cause additional oscillations in the future.

Thanks for raising @jgough!

[2021-08-05 20:08] tmarkley commented on #655
@anutator just checking in here - can you add any clarification/additional info?

[2021-08-05 20:19] ananzh commented on #555
solved

[2021-08-05 20:19] #555 closed

[2021-08-05 20:20] #593 closed

[2021-08-05 20:22] kavilla commented on #361
Sorry about the delay in response there is a limitation in zoom. This is being deferred to the team working on the mapping service we are using.

[2021-08-05 20:26] ahopp commented on #379
@JacobBrandt still working on the deep dive for feature with the team - just wanted to let you know this is still on my radar.

[2021-08-05 20:29] ahopp opened #709 "[Branding] Dark Model Logo Based on Theme"
**Describe the bug**
We need to close on the branding changes and inlcude logic to display darkmode/default logos based on the theme.

**Additional context**
Previous conversation here; https://github.com/opensearch-project/OpenSearch-Dashboards/issues/372

Brand guidelines here; https://opensearch.org/brand.html

[2021-08-05 21:29] jgough commented on #708
Thanks for considering this.  I know it may sound trivial when looking at the steps and the explanation above but I'm sure if you are used to keyboard shortcuts you get very frustrated when these are taken away!

If there is anything else I can do to make this clearer then let me know.

[2021-08-06 01:32] MerwaneHAMADI commented on #657
@ppadovani I still didn't add build_hierarchichal_data, but it's already working.
I managed to get a chart, and I checked that this is correct.

So what is the use case that build_hierarchical_data enables ?

@ahopp is there some kind of documentation around building plugins on osd ?

[2021-08-06 14:51] tmarkley commented on #372
1.0 branding was completed. Further branding changes can be tracked in separate issues.

[2021-08-06 14:51] #372 closed

[2021-08-07 04:13] tmarkley opened #711 "Correct copyright notices to reflect Copyright OpenSearch Contributors."
Coming from opensearch-project/.github#21.

The correct copyright for open-source projects in opensearch-project is "Copyright OpenSearch Contributors". Please correct any places that say otherwise, especially where it says copyright Amazon. Make sure NOTICE.txt and README match. See opensearch-project/.github#24 for an example.

[2021-08-07 04:26] tmarkley commented on #680
I confirmed that `yarn build`, `yarn build:types`, `yarn uiFramework:build`, and `yarn uiFramework:start` all fail with the latest changes in `main`.

[2021-08-07 06:42] kavilla opened #714 "[BUG] Missing SECURITY.md"
README references SECURITY.md and it is missing. Will be helpful for developers to report security issues.

[2021-08-08 02:35] MerwaneHAMADI commented on #657
Are hacks still possible on opensearch dashboards ? Because it looks like that's what we need to build the plugin.

Is there some kind of boilerplate working on opensearch dashboard where a hack is implemented and where a method is overwritten ?

[2021-08-08 15:59] MerwaneHAMADI commented on #657
to give more context, the plugin for nested support is defined like this :

[code]
But I can't find ui_exports on opensearch dashboard. has it been replaced by something else ?

[2021-08-09 05:48] electricbrain-code commented on #656
I have also run in to this very issue. There appears to be a fix already in place for OpenSearch server which goes in the opensearch.yml config file:

compatibility.override_main_response_version: true

This causes the version "number" to become 7.10.2 instead of 1.0.0
While this fixes a slightly different thing it is similar to this situation. Metricbeat will actually create the index template me

[2021-08-09 06:54] electricbrain-code commented on #656
Further to my recent post, I have succeeded in finding how metricbeat know the kibana/opensearch-dashboards API version:

curl -u admin:admin -XGET -H 'Content-Type: application/json' http://localhost:5601/api/status

This api url is in the go source file.

Lots of JSON comes back at you. Stuff like (note: "number":"1.0.0" is the offending piece) :
{
  "name": "42f975ee9b4f",
  "uuid": "9bb7854c-a

[2021-08-09 12:59] ppadovani commented on #657
You don't need to do any of this I believe. This code was all about turning on nested fields in an index pattern and loading the nested paths. This is already done in the base kibana code. We just need to make sure the visualizations/aggregations support detecting and handling nested fields.

In terms of hacking via plugins, I think that is the wrong approach. The support for nested aggregations m

[2021-08-09 14:14] jgough commented on #569
I made [a comment in 2019](https://github.com/elastic/kibana/issues/40719) about how the Kibana header was getting more and more progressively complex with each successive release.  Elastic does not seem interested in changing things though.  Hoping things can be simplified here in Opensearch Dashboards.

[2021-08-09 15:18] MerwaneHAMADI commented on #657
In terms of hacking via plugins, I think that is the wrong approach. The support for nested aggregations must be baked into the main code itself and not hacked in with a plugin. This aligns with the nested path support in the index pattern.

Ok, good to know.

After reading all the issues you had merging this feature into kibana, I was thinking building a plugin was the correct way. But now, I rea

[2021-08-09 20:44] stockholmux commented on #657
@MerwaneHAMADI I'd like to hear more voices here, but my gut says that iterative is the best approach - so, support the pie chart first. Option 2 on the second question makes sense - if you are running `include_in_root` you are progressively enhanced, if not you have the same thing - right?

[2021-08-10 01:25] MerwaneHAMADI commented on #657
Not sure what I made myself clear, so I a going to detail.

if we go for option 2 of not allowing nested pie charts to be clickable, then even if you have your object include_in_root, you won't be able to filter against it, because it's just not clickable.
But it's a strict improvement, in the sense that right now nobody can create nested pie charts. So if we give them non filterable nested pie ch

[2021-08-10 03:17] MerwaneHAMADI commented on #657
Forget what I said above about nested filters on pie chart visualizations : it's actually working. I tested it on fields that are not included in root and it works.
This means when someone clicks on a pie chart, it actually selects only the records that match with the criteria in the pie charts, and it's automatically using the filter of the pie chart. Obviously, it's still not smart enough to sel

[2021-08-10 17:29] ahopp commented on #657
@MerwaneHAMADI RE: viable implementation, in general my bias is "progress not perfection"! I think the incremental approach would be my preference. It seems to be the best path for feedback and iteration - and learn what works well as what we'd want to change before expanding to all visualizations.

RE: Communicating to users, did you have a preferences? One treatment could be some tag with qualif

[2021-08-10 17:49] ppadovani commented on #657
Just to be clear... the field support for nested is already baked in. Adding the support to the visualization controls for buckets/metrics and the updates to the agg_config.ts code will enable nested aggregations for more than the pie chart, as I believe the code works this way. So I don't think you can just turn on support for pie charts.

Personally I would add the basic support, and run through

[2021-08-10 20:04] jkowall commented on #655
This doesn't have anything to do with OpenSearch Dashboards, Vector is a replacement for FileBeat/Fluentbit. It supports sending data to OpenSearch for sure, we have customers using it and it's fully compatible with a Logstash format. We are shying away from it and suggesting fluentbit as the #1 choice since Vector is now owned by DataDog and we know how this ends up 😬

[2021-08-11 01:17] kavilla opened #716 "[Build] Upgrade Node.js from v10 to v12"
Subtask of: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/406

We're currently running Node.js v10.24.1. This sub-issue will track progress towards upgrading to at least v12 on our road to v16. That way if we have a dependency and that requires at least Node.js 12 then we can track it better. Also, the change from v10 to v16 might be large so it breaks it into chunks.

[2021-08-12 02:13] MerwaneHAMADI commented on #657
@ahopp ok, so you also lean towards starting with the pie chart.
And I agree with what you said for the UX treatment. Fortunately, the biggest UX hurdle is gone, now that the user can actually filter on nested pie charts.

@ppadovani There is a way to not display nested fields for specific visualizations. in the field.ts react component, you can allow nested fields based on the query parameter ?ty

[2021-08-12 09:41] hackacad commented on #406
Node 14+ will be a requirement for a FreeBSD port of OS Dashboards as well. (current major release is 16, node 14 backport would be possible)
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=257558#c4

[2021-08-12 18:02] #667 closed

[2021-08-13 02:30] waynehamadi opened #718 "[BUG] Index pattern with timefield as nested date returns an error"
**Describe the bug**

When you create an index with a date field in a nested object and make this date the primary date of the index pattern, OSD tries to display this field in the visualization tab, and fails to do so because nested fields are not supported.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the dataset in this gist https://gist.github.com/MerwaneHAMADI/249c86357548dd28

[2021-08-13 02:34] MerwaneHAMADI commented on #718
We can also wait for nested field support to be supported.
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/657

[2021-08-13 02:47] MerwaneHAMADI commented on #657
This bug happens in the main branch :
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/718

It's good to know it now, because we'll know it's not a regression from the nested field support.

[2021-08-13 04:36] Smithx10 opened #719 "Prometheus Time Series Support"
With the announcement that Grafana will be no longer a viable option for many users (https://grafana.com/blog/2021/04/20/grafana-loki-tempo-relicensing-to-agplv3/), there is now a demand for a friendly licensed piece of software to step in.   Given the values of this project, perhaps Opensearch-Dashboards should fill this need.

[2021-08-13 16:19] stockholmux commented on #656
@electricbrain-code I just saw your article - it's an incredibly good write up of the problem with metricbeats described in this issue
https://www.electricbrain.com.au/pages/analytics/opensearch-vs-elasticsearch.php

[2021-08-13 19:20] drewrutl opened #720 "[Enhancement] Compatibility check prevents Elasticsearch backend"
**Describe the bug**

It's probably not an intended use case, but it seems like compatibility checks comparing Elasticsearch/Kibana versions (and Opensearch/OS-Dashboards) prevent the use of Elasticsearch with Opensearch-Dashboards. I was attempting to use an existing Amazon Elasticsearch Service cluster as the backend for an on-prem Opensearch Dashboard, trying to follow the instructions for conn

[2021-08-13 23:41] kavilla commented on #720
Hey @drewrutl!

Yeah there is logic to prevent major version differences because the data might have changed and this could create corrupted data. But for OSD 1.0.0 we specifically reverted any data changes so technically it should work with OS 1.0.0 or ES 7.10.2

My proposal is that if and only if OSD is 1.0.0 and the engines are on version 7.10.2 or 1.0.0 then the application can start. We shoul

[2021-08-16 06:27] prashant407 opened #721 "Same index-patterns exists in kibana UI"
**Describe the bug**
If there is index pattern available in kibana UI and we try to create the index pattern with same title through REST api it allows us to create. After that there are two index pattern available in kibana UI with same name.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy elk 7.8.0 chart.
2. Login with kibana UI and create some index pattern.
3. Now from the REST ap

[2021-08-16 13:51] dblock commented on #720
If we can make sure integration tests run on such a configuration, why not.

[2021-08-17 16:28] waynehamadi opened #723 "Add visual studio code launch.json in the documentation"
**Is your feature request related to a problem? Please describe.**
Currently I am not able to set breakpoints in visual studio code or even webstorm.
I am able to set them in chrome, but I would rather develop in vscode.

To work around this problem right now I am typing debugger; manually.
**Describe the solution you'd like**
Can someone share his launch.json on vscode ?

**Additional context**
I

[2021-08-17 16:35] MerwaneHAMADI commented on #723
@mihirsoni @kavilla @boktorbb-amzn @ananzh @tmarkley  any of you use vscode or webstorm to debug ?

[2021-08-17 20:48] MerwaneHAMADI commented on #716
This would be great, there are some functionalities in my code editor I don't get because node is too old.

I have a question : why are we in version 10 ? Kibana upgraded to v12 before the fork :
https://github.com/elastic/kibana/commits/master/.nvmrc
By the way, [this](https://github.com/elastic/kibana/commit/4c49d5d1be0b959be515307131c1a420226c372b#diff-2c8effdf840690ccb88c7e21e56148978c6adb2c69

[2021-08-17 21:53] kavilla commented on #721
I might need more insight or perhaps we can get a RFC about changing this to see if this is expected functionality in the API. I understand from the experience from the application prevents it, perhaps for confusion sake. But there seems to be some use cases to enable duplicate index patterns but different time fields.

Could this be better solved by allowing for nicknames on index patterns.p

[2021-08-17 22:11] kavilla commented on #723
Think most of us use vscode. But like you I set my breakpoints in chrome. Might take some playing around.

[2021-08-18 01:58] ahopp commented on #719
@Smithx10 Thanks for opening this issue. In general, I think we should consider supporting as many community use cases as we can.

Can you share some more about what you'd like to see in Dashboards? Specifically around streams of timestamped values if that's the primary ask. This is a big topic and I think we should start specific and work out from there!