[2022-10-07 18:38] btzeng commented on #2534
@abbyhu2000  thanks for posting this. Let's prioritize number 1 and 3 for now. Add to a new dashboard requires another flow to create a new dash. Will put more thought on this one.

[2022-10-07 20:13] peterzhuamazon opened #2535 "[Enhancement] Add Windows Specific Parameters for just Windows builds"
As of now there is no specific params to build `windows-only` archives.
[code]

I am using this comment right now to build all platforms then only take windows.
`% yarn build-platform --all-platforms --skip-os-packages --release`

It would be really helpful to build only the windows version and also reduce the amount of build time.

Thanks.

[2022-10-07 21:48] kavilla opened #2536 "[CI] Add code coverage from cypress tests workflow"
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/.github/workflows/cypress_workflow.yml

Runs the tests related to Core OpenSearch Dashboards from the https://github.com/opensearch-project/opensearch-dashboards-functional-test repo.

We should be able to add test coverage from this to PRs and within the [README](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/

[2022-10-07 21:51] kavilla opened #2537 "[Meta] a11y within OpenSearch Dashboards"
Meta issue to track holistically that improves OpenSearch Dashboards a11y (includes usage of mobile devices). Includes ways to derive intelligence to understand usage of the min-application or the distribution.

Adding tools to test for example: https://www.digitala11y.com/open-source-accessibility-tools/

[2022-10-08 01:34] ashwin-pc commented on #2429
Not really. You simply need to add the flag `--no-verify` or `-n`

[2022-10-08 16:30] wantdrink opened #2539 "[BUG] Setup OpenID Connect with Latest Opensearch/Dashboards and Keycloak"
Hi there,

I've installed opensearch + dashboards 2.3.0 with the latest chart. Also Keycloak  bitnami/keycloak:19.0.2.
After configured as https://opensearch.org/docs/latest/security-plugin/configuration/openid-connect/#opensearch-dashboards-single-sign-on describes, and log in opensearch dashboard, it failed with:
`{"statusCode":401,"error":"Unauthorized","message":"Unauthorized"}`

**To Reproduc

[2022-10-10 00:36] seraphjiang commented on #2539
should we move this to https://github.com/opensearch-project/security-dashboards-plugin/

@cliu123 @aoguan1990

[2022-10-10 01:03] aoguan1990 commented on #2539
@seraphjiang @cliu123 This is a security plugin configuration related issue. We can move it.

[2022-10-10 01:28] cliu123 commented on #2539
@seraphjiang @aoguan1990
Yes, this should be transfered to [security-dashboards-plugin](https://github.com/opensearch-project/security-dashboards-plugin).
Keycloak is not supported by the plugin at this moment. So not only configuration, enhancements will be needed.

@opensearch-project/transfer-request Please transfer the issue. Thanks!

[2022-10-10 01:49] aoguan1990 commented on #2539
@cliu123 @seraphjiang Keycloak used standard OpenID Connect protocol, which is supported by our existing OIDC authentication handler. But we do need reproduce the issue based on information provided by the requester and confirm if this is a valid bug or configuration issue.

[2022-10-10 02:05] seraphjiang commented on #2539
Thanks @cliu123  and @aoguan1990 let's transfer to right repo and see what we could help

[2022-10-10 13:43] davidlago commented on #2389
We are updating this at the project level [here](https://github.com/opensearch-project/.github/pull/90). Unless there are repo-specific variance, I'd recommend all repos just link back to the overall SECURITY.md and then if we feel like any changes are needed then just update that single doc.

[2022-10-10 17:23] peterzhuamazon commented on #2535
Hi @opensearch-project/opensearch-dashboards-core could you take a look when you have time?
Thanks!

[2022-10-10 17:51] joshuarrrr commented on #2535
There are a couple other open issues related to windows builds - not sure if either are blockers:

- https://github.com/opensearch-project/OpenSearch-Dashboards/issues/796
- https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2451

[2022-10-10 17:54] joshuarrrr commented on #2249
@cliu123 Is there a reason you're proposing this here, rather than in https://github.com/opensearch-project/security?

[2022-10-10 17:55] #2285 closed

[2022-10-10 18:09] peterzhuamazon commented on #2535
Hi @joshpalis

Our milestone have limit the scope of the new Windows release to `64bit only, x86_64`. So the 32bit version is not in the scope right now, as well as arm architecture now.

Thanks.

[2022-10-10 18:32] kavilla commented on #1881
[Planning]:

Needs verification if this completed.

[2022-10-10 18:34] kavilla commented on #2385
[Planning]

To make an epic and break down @joshuarrrr to make issues.

* Chart abstraction
* Catalog current state

[2022-10-10 18:35] ananzh commented on #2305
All the PRs are under review.
Close this issue.

[2022-10-10 18:35] #2305 closed

[2022-10-10 18:37] kavilla commented on #2534
[Planning]

@btzeng do you have insight for a new dashboard?

[2022-10-10 19:02] #1914 closed

[2022-10-10 19:08] kavilla commented on #2535
[Planning]

@seanneumann follow-up on this.

[2022-10-10 20:08] mpabba3003 opened #2543 "[MD] move static text content i18n translation into respective components to make text translated dynamically"
[MD] move static text content i18n translation into respective components to make text translated dynamically

[2022-10-10 21:20] #2382 closed

[2022-10-10 23:09] kavilla opened #2544 "`yarn opensearch` arg to setup dependencies"
**Is your feature request related to a problem? Please describe.**

As a developer working on an external plugin (for example the AD dashboards plugin) that requires a corresponding OpenSearch plugin, but I can not use the `yarn opensearch` command to start up the cluster because it will install a `min` of OpenSearch.

Therefore, I must either download a docker image, download a distribution, or p

[2022-10-10 23:09] seanneumann commented on #2507
@ahopp - Do you have some thoughts about circulating this to encourage some more feedback?

[2022-10-10 23:41] #2462 closed

[2022-10-11 17:15] #2520 closed

[2022-10-11 17:15] #2207 closed

[2022-10-11 17:16] ananzh opened #2549 "[Table Visualization] [research] store a unique id for column data"
Currently, in the new Table Vis code, we have switch usage between col.id and col index frequently. For example
[code]

The reason is that when we add/remove a column, the id might change. Below is an example that I add another column day_of_week. Count id is changed.

<img width="430" alt="Screen Shot 2022-10-10 at 19 32 13" src="https://user-images.githubusercontent.com/79961084/195156334-0a7164

[2022-10-11 17:27] ananzh opened #2550 "[Table Visualization][research][enhancement] local state management (sort and resize)"
Regarding this feedback (https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2502#discussion_r988409245 ), we are using extra local states for column sort and resize. `uiState.set` from `PersistedState` won’t let me to render the component. If I switch `setSortColumn(updatedVisState.sortColumn);` to `uiState.set` then it won’t re-render with corrected sorted columns.

I am using an ex

[2022-10-11 17:28] ananzh opened #2551 "[Follow-up][Table Visualization] Replace old table vis, add tests, improve local state management"
There are couple of things left for Table Visualization:

* replace old table vis (issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2855)
* add unit tests
* simply local states (issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2550)
* [research] store a unique id for column data (issue: https://github.com/opensearch-project/OpenSearch-Dashboards/is

[2022-10-11 17:37] #2212 closed

[2022-10-11 20:46] #2434 closed

[2022-10-11 20:57] kavilla commented on #2519
[Triage]

@noCharger, thanks for opening this issue. I agree we should include this file in our linter check but we should use the linters that we have [defined](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/package.json#L64) with the repo.

[2022-10-12 01:01] peterzhuamazon opened #2554 "[BUG] Dashboards 2.x failed to build on Windows Agent"
[code]

Running on Windows 2019 with nodejs 14.20.0 installed.
Able to run on Ubuntu with no issues.

Thanks.

[2022-10-12 01:01] peterzhuamazon commented on #2554
Hi @opensearch-project/opensearch-dashboards-core could you take a look at this?
Thanks.

[2022-10-12 08:51] xonvanetta opened #2555 "[BUG] Suggestion list cutoff"
**Describe the bug**
Suggestion list in discovery is cutoff after 250px width

**To Reproduce**
Steps to reproduce the behavior:
1. Search some log text i.e `message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, libero nec dictum scelerisque, ligula tortor tempus turpis, eget semper erat ante eget dolor. Nullam."`
2. Suggestion box wont show the full text

**Expected

[2022-10-12 12:49] aggarwalShivani commented on #838
Hi,
Can you help us with the plan for supporting TLS 1.3 on Opensearch-dashboards? There is no update from last 1yr and we're really looking forward to move to TLS 1.3.

[2022-10-12 14:06] elfisher commented on #1157
Sounds good. I see there is a lot of momentum in 2.4 for this project. Are we overall on track to finish the tasks in this meta in 2.4?

[2022-10-12 18:02] peterzhuamazon opened #2556 "Release Version 2.4.0"
Release Version 2.4.0

This is a component issue for __2.4.0__.
Coming from [opensearch-build#2649](https://github.com/opensearch-project/opensearch-build/issues/2649). Please follow the following checklist.
__Please refer to the DATES / CAMPAIGNS in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch

[2022-10-12 21:39] mend-for-github-com[bot] opened #2560 "CVE-2022-37599 (High) detected in loader-utils-2.0.2.tgz"
## CVE-2022-37599 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>loader-utils-2.0.2.tgz</b></p></summary>

<p>utils for webpack loaders</p>
<p>Library home page: <a href="https://registry.npmjs.org/loader-utils/-/loader-utils-2.0.2.tgz">https://registry.npmjs.org/

[2022-10-12 22:53] ashwin-pc commented on #1157
Unfortunately no, we have focused our 2.4 efforts to harden the feature and fix bugs. I'm also hoping to have it enabled by default in 2.4.

Here is what we will actually be shipping for 2.4
- #2380
- #960
- #2534
- #1913
- #1706
- [Open bugs](https://github.com/opensearch-project/OpenSearch-Dashboards/issues?q=is%3Aopen+is%3Aissue+label%3A%22vis+builder%22+label%3Abug+label%3Av2.4.0)

cc: @seanne

[2022-10-12 23:45] peterzhuamazon commented on #2026
This is a hard blocker for windows as well.
https://github.com/kavilla/OpenSearch-Dashboards-1/blob/main/src/cli_plugin/install/settings.js#L48

[2022-10-12 23:58] seraphjiang commented on #2026
@kavilla  do we any concern to remove the linux specific check to unblock windows distribution (also other OS)

[2022-10-13 01:23] JoeAtOpenSearch opened #2564 "Enabling livereload or hotload feature in opensearch-dashboard project"
**Is your feature request related to a problem? Please describe.**
No

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I’m working on ISM plugin and find it annoying to reload page while making some changes to FE code. Can we add a new option when start the webpack server to enable the livereload and hotload feature, which will help to improve the effic

[2022-10-13 13:52] ryn9 opened #2565 "TSVB - "group on" over multiple fields / dimensions"
**Is your feature request related to a problem? Please describe.**

When using TSVB, is is not possible to "group on" over multiple fields / dimensions.
The issue is described here: https://github.com/elastic/kibana/issues/33928

**Describe the solution you'd like**

Would like the modules updated to support  "group on" over multiple fields / dimensions.

**Describe alternatives you've considered*

[2022-10-13 14:07] ryn9 commented on #2565
Regarding runtime fields - its also worth noting that there are PPL Runtime Fields, but AFAIK, those cannot be used for legacy visualizations and, instead, would only be compatible with newer observability plugin visualizations

[2022-10-13 16:02] mpabba3003 opened #2566 "[MD] Add unit test coverage for Data source management"

[2022-10-13 16:24] davidlago commented on #2100
Linking related issue to add documentation for this feature: https://github.com/opensearch-project/documentation-website/issues/1488

[2022-10-13 16:56] ahopp commented on #2507
I also think we can summon some of the folks that have had opinions previously... like @jkowall @galangel @JacobBrandt @AmiStrn might have some good perspective! ;)

[2022-10-13 17:17] ahopp commented on #2507
Couple of questions/ideas relative to the current requirements;

- Should we have requirements around testing at functional and visualization levels, i.e., unit and visualization integration and regression testing available in the abstraction layer?
- Should we add some requirements specifying how customizable the end state will be? We will likely get feedback that exposing the highest layer of ab

[2022-10-13 17:34] abbyhu2000 commented on #2534
As I work on this issue, some questions arise and i want more opinions:
1. Visualizations in OpenSearch Dashboards has a 1 to many relationship with dashboards so that means we allow the same visualization to be added to multiple dashboards. However, by adding this dropdown to add to a single dashboard when creating the visualization, it seems to imply to the end user that visualizations have a 1

[2022-10-13 18:13] kgcreative commented on #2534
We can use `[OuiComboBox](https://eui.elastic.co/v34.6.0/#/forms/combo-box)` here to multi-select dashboards and keep the same 1:many relationship.

We can remove `Add to saved objects` by Saving, it automatically adds to saved objects, and there is no case where a saved object is added to a dashboard, but NOT added to saved objects, so this will simplify the flow.

I think it makes sense to add t

[2022-10-13 19:32] abbyhu2000 commented on #1706
I documented all the string reference of 'wizard' in the current dashboard UI: https://quip-amazon.com/tN23Aq10MmHz/References-of-wizard-string-in-dashboards

[2022-10-13 20:19] jkowall commented on #2507
Thanks for putting this together. I will pass this off to our architect who is working on the dashboards side more, and he can bring in the right engineers. I, personally, don't have any comments since this is too detailed for my depth of knowledge on how Dashboards works.

Thanks.

[2022-10-13 22:01] joshuarrrr commented on #950
Yeah, the plan for now is to port over as much of the existing Discover field summary functionality as makes sense, which will help with consistency and user familiarity. In the future, #1995 is where we'll iterate, refine, and improve on the user experience in both applications.

[2022-10-13 22:05] joshuarrrr commented on #950
@btzeng I have a couple questions now that I have a working prototype implemented:

1. Do we want the "+" button on the field, like in Discover? In Discover, it's a quick action to add that field as a column. In VisBuilder, it would probably be something like a quick-add, and behave equivalently to dragging the field to the main canvas. But since we haven't yet implemented that, I suggest we skip

[2022-10-13 22:40] btzeng commented on #950
@joshuarrrr   The second one is a very nice feature.   @ahopp are these planed for any targeted release?
1. This one needs more work. For example when clicking on the "+" button, can the app figure out where the field should be added to- metric or bucket. Right now we have a solid flow that requires the user to drop directly to metric or bucket. Or click the + button directly in the field under me

[2022-10-14 06:08] zhongnansu commented on #2566
can this be closed?

[2022-10-14 14:50] kgcreative commented on #1706
UX Issue for Icon: https://github.com/opensearch-project/ux/issues/45

[2022-10-14 16:05] yibow98 commented on #2566
Yes. I will close it.

[2022-10-14 16:06] #2566 closed

[2022-10-14 17:33] kavilla opened #2573 "[OUI] Refactor namespacing to use OUI instead of EUI"
Instead of creating breaking changes when we insert OUI into OpenSearch Dashboards, we aliased `OUI` to `EUI` so that we didn't need to change any of the components for core or plugins.

We should replace with components with their `OUI` namespacing and create a breaking change.

[2022-10-14 17:33] kavilla commented on #2573
@AMoo-Miki, @seanneumann, @opensearch-project/opensearch-dashboards-core,

what's the priority on this?

[2022-10-14 17:52] kavilla commented on #2534
Blocking for now: until @abbyhu2000 @btzeng @opensearch-project/opensearch-ux  work out the finer details.

[2022-10-14 17:57] kavilla opened #2575 "[DOC] capabilities"
Document stuff related to capabilities that plugins can hook into

[2022-10-14 18:40] seanneumann commented on #2554
@AMoo-Miki is looking at this and will respond by EOD Monday.

[2022-10-14 18:53] #2543 closed

[2022-10-14 18:56] mpabba3003 opened #2576 "[MD] Add cypress integration tests for Datasource management"
- [x] Listing
- [x] Create
- [x] Update

[2022-10-14 21:22] ashwin-pc commented on #2534
@abbyhu2000 great callouts. @kgcreative @btzeng This makes me think if we can actually make the save and navigation logic a lot simpler and sensible for the user?

My proposal:
- Consolidate all save buttons into one. (Saves as, Save and Return, etc) to a simple "Save" button. This is only responsible for saving a visualization (Either as a new saved object, or save as, or overwrite depending on t

[2022-10-14 21:41] ananzh commented on #2379
all the sub-issues have targeted PRs in review
close this issue

[2022-10-14 21:41] #2379 closed

[2022-10-14 21:58] ananzh opened #2579 "[Table Visualization] manual tests on new Table Vis features and track bug fix"
# Manual Tests on Features

We are shifting table visualization from angular to react using DataGird. From our current understanding, there is no breaking changes. We expect no customer impact when upgrade to newer OSD version. Therefore, we are targeting to release table vis in a minor version.

To fulfill this, there are two main questions on feature tests of Table Vis.
* **Backward compatibilit

[2022-10-14 22:01] abbyhu2000 commented on #2534
@ashwin-pc @kgcreative  @btzeng Although I think it is a useful flow to allow user add visualization directly to dashboard, there are currently some implementation blockers. First of all, we do not have existing flow that let user to add any visualization directly to a dashboard outside of the dashboard app. The current flow is that user go to the dashboard and add the visualization from the add p

[2022-10-14 22:08] kgcreative commented on #2534
I would be aligned with de-scoping "Add to dashboard" from 2.4 and consider it an incremental feature for all visualizations

[2022-10-14 22:12] ashwin-pc commented on #2534
This is definitely a pain for users, especially newer users. But i'm aligned with @kgcreative here. The complexity here is not trivial and needs more research.

[2022-10-14 23:12] abbyhu2000 opened #2580 "Reminder for unsaved dashboard when navigating away"
**Is your feature request related to a problem? Please describe.**

If we need to make changes to a current dashboard, we click Edit button. Then the dashboard will be in edit mode, and the changes will only be saved when we click save button.

The only indication of an unsaved dashboard is the (unsave) string on the breadcrumb. However, if we navigate to a different page, there is no reminder tha

[2022-10-15 00:23] KrooshalUX commented on #2580
Within OUI there is OuiOutsideClickDetector which can be utilized to trigger a message to appear. I can imagine this being utilized when a user tries to click on any button or link that would navigate the user away from the dashboard.

It may be worth creating a POC of this so we can work out the details of what does or does not qualify as an "outside click" as it seems container based, and I can

[2022-10-16 04:24] vimalMK commented on #2517
Can I do the clean up?

[2022-10-17 15:58] ananzh commented on #2579
**[Split Feature Tests][IMPROVE] remove repeated column in split tables by col**
Currently, when we split table by columns, the split column is shown both in the table title and as a separate column. In below example, a separate city col is not needed because the whole table is for that specific city. We could produce a cleaner table vis by removing the repeated column.

<img width="1470" alt="Scr

[2022-10-17 17:19] joshuarrrr opened #2584 "[Research] Inventory existing visualization abstractions and APIs"
As part of our effort to make the visualization UX more consistent, we've identified the need for better abstraction layers to improve the developer experience. In addition to asking the community for input (https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2507), we also need to inventory the existing abstractions and plugins that already exist, so that we can distinguish between

[2022-10-17 17:58] joshuarrrr commented on #2544
@kavilla Am I right in thinking this is mostly helpful in the case where a developer is just working on an OpenSearch Dashboard plugin? If they're working on both the OpenSearch Dashboard and OpenSearch plugin at the same time, they wouldn't be able to take advantage of the snapshot, right?

[2022-10-17 18:14] manasvinibs commented on #2544
@joshuarrrr I think you're right! As part of the Extension installation process, we want to solve some of the problems for OpenSearch Dashboard developers and this will be one of them.

[2022-10-17 18:18] kavilla commented on #2544
@joshuarrr yes but using just using the CLI . Developers can download with knowing the snapshot link. The goal here though should be focusing on the OpenSearch Dashboards developer to only pull down OpenSearch Dashboards requirements.

[2022-10-17 18:19] kavilla commented on #2517
@vimalMK feel free to work on it! Let us know if you need any help on it!

[2022-10-17 18:42] joshuarrrr opened #2585 "[Research] Document `charts` plugin"
1. What are it's capabilities?
2. Which visualizations use these capabilities?
3. Is it worth enhancing/extending for improved visualization abstractions?

[2022-10-17 18:42] joshuarrrr opened #2586 "[Research] Document visualization color palettes and theming implementations in use"
- [ ] List of palettes in use by different visualization plugins (including Observability)
- [ ] Explain generated vs static palettes with output of each

[2022-10-18 00:08] zhongnansu opened #2591 "[MD] multiple datasource doesn't throw 401 error as expected when security plugin enabled"
### Issue description
Security-dashboards-plugin has below logic to detect any 401 error on the page, and enforce reload of the page to achieve log out. This was intended to handle the session time out. However, in MD use case, since data source client could also throw 401 error during connection, if provided with invalid auth. Current logic in security plugin couldn't distinguish if 401 is from `

[2022-10-18 02:27] kristenTian opened #2592 "[MD] Meta issue from bug bash"
Data source

- [x] [Provide valid OpenSearch Dashboards' document link ](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2593)
- [ ] [Create Data source with roles of no relevant permission - should render proper error state](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2594)
- [x]  [After save the data source updates, should stay on current page](https://g

[2022-10-18 02:47] seraphjiang commented on #2591
good finding, thanks @zhongnansu

[2022-10-18 03:27] kristenTian opened #2593 "Provide valid OpenSearch Dashboards' document link"

[2022-10-18 03:28] kristenTian opened #2594 "Create Data source with roles of no relevant permission - should render proper error state"
Try to create datasource with user only has read permissionFrom UI get error`Creation of the Data Source failed with some errors.

`From API{"statusCode":403,"error":"Forbidden","message":"no permissions for [indices:data/write/index] and User [name=opendistro_security_anonymous, backend_roles=[opendistro_security_anonymous_backendrole], requestedTenant=null]: security_exception: [security_excepti

[2022-10-18 03:30] kristenTian opened #2595 "After save the data source updates, should stay on current page"
After authentication update and click on the `Save Changes` button, it now brings user back to the data source list page, it feels better to just keep the current focus still on the original data source details page just witn authentication updated, similar like in `Advacned Settings`

[2022-10-18 03:34] kristenTian opened #2596 "Create index pattern with data source with wrong credential - should render proper error state"

[2022-10-18 03:34] kristenTian opened #2597 "[MD] Allow create index patterns for indices with same name but from different datasources."
I cannot create an index pattern with an existing name (I should be able to do so, since the data source should be part of the unique ID to disambiguate)

[2022-10-18 03:34] kristenTian opened #2598 "Create index pattern with data source with bad endpoint, and toggle Include system and hidden indices, spinner keep spinning -- should render proper error state"

[2022-10-18 03:34] kristenTian opened #2599 "Prepend `<datasource-name>.` to index pattern name to differentiate across data sources"
In Discover, Prepend datasource. to the index pattern name to help users differentiate between data sources

[2022-10-18 12:11] ashwin-pc commented on #1885
@joshuarrrr What exactly do we need to test for this flow? I have as a part of the functional test flow steps to seed saved object data for Vis Builder. Would that cover the import section of this test?

Also does this need to be a part of the vis builder functional test suite or Dashboards in general?

[2022-10-18 13:51] lashewi commented on #2536
Hi @kavilla, appreciate it if you can explain this issue a bit more

[2022-10-18 13:59] lashewi commented on #2443
Hi @ashwin-pc , can I work on this?

[2022-10-18 14:58] louzadod opened #2600 "[BUG] Query Workbench does not work for non admin users"
**Describe the bug**

People with read/write access to tenant are able to open dashboards but unable to run SQL queries in the Query Workbench but they are allowed to open dashboards on the same indexes mentioned in the SQL queries.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in with less permissions than admin
1. Go to 'Query Workbench'
2. Write any SQL Query and run it
4. See erro

[2022-10-18 16:52] ananzh commented on #2579
# Table render, visualization page and saved objects Tests

- [x]  basic table vis is rendered when create.
        click `Visualize` on the left nav bar. click `New visualization` and choose `Data table`. select a sample doc. see table
        vis is rendered with default settings.

[2022-10-18 16:53] ananzh commented on #2579
# Metrics Feature tests

Vis default editor for aggregatable visualization implements an aggregation metrics panel which allows base and advance metrics features.

### custom label
- [x]  custom label is updated in table vis.
         tried: `total`, `Total`, `Total number` and `TotalN*`

### basic metrics
Basic metrics includes aggregation in `Average`, `Count`, `Min`, `Max`, `Median` and `Percen

[2022-10-18 16:53] ananzh commented on #2579
# Buckets Feature tests

[2022-10-18 16:55] ananzh commented on #2579
# Backward Compatibility Tests

[2022-10-18 18:00] joshuarrrr commented on #1885
After looking at this again, I'm not sure it's in scope? It's more about testing whether we correctly integrated with the saved object management plugin, so that some of its standard flows (such as importing/exporting via UI) work as expected.

But given the open issues around import/export, such as https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1526 and https://github.com/open

[2022-10-18 19:48] vimalMK opened #2603 "Getting error while bootstrapping opensearch dashboard in Windows"
**Describe the bug**

While trying to setup the OpenSearch dashboard in my windows machine following the guide.

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/DEVELOPER_GUIDE.md

when I try to run:
 $ yarn osd bootstrap

I get the following error
![image](https://user-images.githubusercontent.com/35750792/196528905-172b0515-de21-43c7-a9a7-0771f9e8160c.png)

**To Reproduce**

[2022-10-18 20:04] kavilla commented on #2603
Hello @vimalMK,

Currently in progress: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2601

[2022-10-18 20:22] zhongnansu commented on #2599
does it mean when we create a index pattern with data source ,and we want to name is "ds-1". After creation, what actually saved in the index is with name field `datasource.ds-1`?

[2022-10-18 20:22] zhongnansu commented on #2598
what does it mean by `bad` endpoint?

[2022-10-18 20:23] zhongnansu commented on #2593
this should be transferred to doc website repo, right?

[2022-10-18 20:25] zhongnansu commented on #2594
This is standard error message returned by security plugin.

[2022-10-18 20:25] kristenTian commented on #2596
@zhongnansu this is related to https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2591 Right now the page acts with refresh. Error state includes more than just error message.

[2022-10-18 20:26] kavilla opened #2604 "[Documentation] release process"
How as a community member release a feature. If I want to target a specific date. How do I get this reviewed and accepted? How do I know if it's safe? How do I know if my feature experimental? What about feature branching? Can I demo my stuff ahead of time?

[2022-10-18 20:29] kristenTian commented on #2593
We still need to update the url in our repo once the link is ready

[2022-10-18 20:31] kristenTian commented on #2599
I don't think so, it should be a UI tweak in Discover app, after the UX review meeting, let's decide which phase this feature is needed.

[2022-10-18 20:32] ananzh commented on #2573
I have some issues when use OUI in table vis. I will create a bug issue. @ananzh

[2022-10-18 20:34] kavilla opened #2605 "[BUG] Be able to use OUI and EUI"
We currently alias OUI components to EUI to be non-breaking for developers. But new dev should be implemented in OUI if possible.  However the project fails to work when using OUI namespacing.

We should be able to use OUI and EUI within OpenSearch Dashboards.

[2022-10-18 20:41] ananzh commented on #2565
@seanneumann @ahopp @kgcreative what is the priority of this feature? thx

[2022-10-18 20:48] ananzh commented on #2564
I think we need to understand what we want to implement here: hotload or live-reload or both.
what are the benefits and what are the implement plans.
need some community help.

[2022-10-18 20:52] ashwin-pc commented on #2564
The difference is outlined well here: https://stackoverflow.com/a/41429055

This is also a duplicate of #679. Marking it as such and adding these details to the original issue

[2022-10-18 20:54] ashwin-pc commented on #2564
The difference is outlined well here: https://stackoverflow.com/a/41429055

This is also a duplicate of #679. Marking it as such and adding these details to the original issue

[2022-10-18 20:54] #2564 closed

[2022-10-18 21:08] vimalMK commented on #2603
@kavilla Thank you for the quick response. Good to hear its noticed and work is in progress.

Meanwhile If anyone needs a workaround until its fixed, this is what I did just to make it work .

Reading some blogs and forums based on the error I was getting, it more looked like a package manager/ Resource Negotiator issue and with some help found in following forums .

https://stackoverflow.com/ques

[2022-10-18 21:12] zhongnansu commented on #1733
closing. Since all required tasks are marked as done

[2022-10-18 21:12] #1733 closed

[2022-10-18 21:36] ananzh commented on #2555
We could provide a short-term fix for the bug. But for the suggestion list cutoff behavior, we definitely need more feedbacks from the community.

[2022-10-18 21:58] ananzh opened #2606 "[Discuss][Follow-up] Suggestion list cutoff behavior"
This is a follow-up discussion issue of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2555.

In the previous issue, we have provided a quick bug fix for customer to browser auto select a width for specific element.

<img width="1543" alt="Screen Shot 2022-10-18 at 14 27 47" src="https://user-images.githubusercontent.com/79961084/196552575-e969093c-5201-4271-b537-a033f84c89f0.p

[2022-10-18 22:39] dblock opened #2608 "[PROPOSAL] Introduce an OpenSearch-Dashboards SDK"
**Is your feature request related to a problem? Please describe.**

Around 2015, Kibana started offering a plugin system, but [no public plugin APIs](https://github.com/elastic/kibana/issues/4704#issuecomment-132375561). By 2020, before the OpenSearch fork, it has launched the [Kibana Development Platform](https://www.elastic.co/blog/introducing-a-new-architecture-for-kibana) that significantly im

[2022-10-19 00:43] KrooshalUX opened #2609 "[Discussion] Allow users to filter in column headers by updating OuiBasicTable"
Proposing a change to OuiBasicTable to aid in increased table filtering needs https://github.com/opensearch-project/ux/issues/48

[2022-10-19 05:41] Kiran-Dexter commented on #974
OpenSearch Dashboards server is not ready yet

when we are starting the dashboard we are encountering this error can some shed some light here

OS = Centos 8

[2022-10-19 13:13] mend-for-github-com[bot] opened #2612 "CVE-2022-37601 (High) detected in loader-utils-1.4.0.tgz"
## CVE-2022-37601 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>loader-utils-1.4.0.tgz</b></p></summary>

<p>utils for webpack loaders</p>
<p>Library home page: <a href="https://registry.npmjs.org/loader-utils/-/loader-utils-1.4.0.tgz">https://registry.npmjs.org/

[2022-10-19 13:13] mend-for-github-com[bot] opened #2613 "CVE-2022-3517 (High) detected in minimatch-3.0.4.tgz"
## CVE-2022-3517 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimatch-3.0.4.tgz</b></p></summary>

<p>a glob matcher in javascript</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimatch/-/minimatch-3.0.4.tgz">https://registry.npmjs.org/minimat

[2022-10-19 15:24] kgcreative commented on #1612
Empty state:
![image](https://user-images.githubusercontent.com/3443142/196735172-712a32ab-9cf5-41c4-987a-c75cd623c536.png)

[2022-10-19 17:26] Joymfl commented on #2488
@joshuarrrr Awesome! Yarn is acting up for some reason. Once I'm done wrestling with yarn I'm gonna quickly make a PR

[2022-10-19 17:57] yibow98 opened #2614 "[MD] Datasource experimental callout wording"
1. The feature → This feature.
2. Should change the *OpenSearch Forum* to [forum.opensearch.com](url)
<img width="1081" alt="image" src="https://user-images.githubusercontent.com/109543558/196768490-b5f63523-e628-4f86-911e-fe8a3b21b766.png">

[2022-10-19 18:00] yibow98 opened #2615 "[MD] Datasource table column header wording"
Datasource column header: should be **Title** rather than **Datasource**

[2022-10-19 18:06] yibow98 opened #2616 "[MD] Datasource listing page delete button refactor"
Need to change delete button to danger state (Red), refer to Save Objects delete modal.

[2022-10-19 18:08] yibow98 opened #2617 "[MD] Datasource listing page create button in empty state"
Empty state: should make the button in empty state component to be secondary button, see screenshot below:
<img width="1663" alt="Screen Shot 2022-10-18 at 5 48 56 PM" src="https://user-images.githubusercontent.com/109543558/196770581-dfa86c46-423d-4196-bb44-17248ca42bc2.png">

[2022-10-19 18:11] yibow98 opened #2618 "[MD] Datasource create page spacing between header description and Connection Details"
Need to add some spacings between header description and Connection Details: see screenshot below:

<img width="810" alt="image" src="https://user-images.githubusercontent.com/109543558/196771152-5a380367-6459-453c-afb4-347ed550e647.png">

[2022-10-19 18:12] yibow98 opened #2619 "[MD] Datasource create page endpoint field placeholder wording"
Endpoint URL: placeholder should remove the wording: **Sample URL**
<img width="441" alt="image" src="https://user-images.githubusercontent.com/109543558/196771458-8fc5c33b-8f0f-412f-b179-17ebbb2a5c22.png">

[2022-10-19 18:19] vimalMK commented on #2517
@kavilla Thank you! I have a question before PR. In the last link(file)

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/plugins/apm_oss/server/tutorial/instructions/apm_server_instructions.ts#L39

Shall I remove the whole default message and keep in empty or do you want to add something else.

[2022-10-19 18:19] yibow98 opened #2620 "[MD] Datasource create page toast that fail to save"
Toast: should be danger state if fail to save

[2022-10-19 18:21] yibow98 opened #2621 "[MD] Datasource update page endpoint field refactor"
- [ ] All left side of Endpoint Field needs to be removed, see screenshot below:

<img width="763" alt="image (1)" src="https://user-images.githubusercontent.com/109543558/196772961-462dbace-f85c-4dc7-84e4-7e38507d4d58.png">

- [ ] Right column to have enough length(2 column wide) to show the endpoint URL

[2022-10-19 18:23] yibow98 opened #2622 "[MD] Datasource update page bottom bar refactor"
Disappear the bottom bar when it successfully save changes, keep the user on the page

[2022-10-19 18:31] yibow98 opened #2623 "[MD] Meta issues from UX sign-off meeting"
#### Experimental callout
- [x] #2614

#### Datasource listing page
- [x] #2615
- [x] #2616
- [x] #2617
- [x] #2626

#### Datasource create page
- [x] #2618
- [x] #2619
- [x] #2620

#### Datasource update page
- [x] #2621
- [x] #2622

[2022-10-19 18:52] yibow98 commented on #2614
@KrooshalUX Should we change to [forum.opensearch.org](url) instead of [forum.opensearch.com](url)
![image](https://user-images.githubusercontent.com/109543558/196779066-a651dd69-c089-4b9a-89ef-83213f938a17.png)

[2022-10-19 18:54] KrooshalUX commented on #2614
It should be .org - I think I may have misspoken on our call yesterday.

[2022-10-19 19:16] ruanyl commented on #2026
I have the same issue on OSX, I was trying to trace the commit history and the original unit tests. But couldn't find a particular reason for why having the `platform` restriction on the plugin installation.

I can see that `osd-opensearch` has a restriction on OpenSearch snapshot installation for a particular platform(Linux) which makes sense if OpenSearch snapshot artifacts are only available fo

[2022-10-19 19:31] KrooshalUX commented on #2616
Clarification: delete button should be "danger" state, which is red. Warning state is more of an orange.

[2022-10-19 19:32] KrooshalUX commented on #2623
Commented on issue #2616  for clarity, all others look accurate. Thanks @yibow98 !

[2022-10-19 20:21] kavilla commented on #2608
They actually don't have to if they set a reserve word in the `opensearch_dashboards.json`. For the key `opensearchDashboardsVersion` they can set to `opensearchDashboards`. And it will work, but devs need to trust that there plugin works.

[2022-10-19 20:24] yibow98 commented on #2616
I have modified the description. Thanks @KrooshalUX  for clarification!

[2022-10-19 21:57] ashwin-pc commented on #2599
@kristenTian Is MD not transparent to the applications? Will each plugin need to be modified to support MD?

[2022-10-19 21:59] yibow98 opened #2626 "[MD] Datasource list page fail toast"
The toast should be danger state.

[2022-10-19 22:33] mpabba3003 commented on #2595
This is same as #2622

[2022-10-19 22:34] #2595 closed

[2022-10-19 22:43] peterzhuamazon commented on #2026
@AMoo-Miki is working on fixing this as part of the windows support.

[2022-10-19 23:24] #2621 closed

[2022-10-19 23:24] #2622 closed

[2022-10-20 00:10] ashwin-pc commented on #2443
Sure! Let me know if you need any help with this

[2022-10-20 00:48] peterzhuamazon commented on #2535
With @AMoo-Miki latest change we are able to use --windows to only build windows related artifacts.
Confirmed on the test pipeline through our fork code.

[2022-10-20 00:49] peterzhuamazon commented on #2554
@AMoo-Miki latest code in his fork is able to build windows on windows agent.

[2022-10-20 01:26] ashwin-pc opened #2631 "[BUG] [MD] Visbuilder"
**Describe the bug**

In the dev playground instance, when i open visbuilder `/app/wizard` I see the following error popup

<img width="788" alt="Screen Shot 2022-10-19 at 6 22 11 PM" src="https://user-images.githubusercontent.com/20453492/196834044-d90bb43a-5835-4dcb-9ad6-34f09543cc79.png">

Visbuilder is using the following flow to fetch the available index patterns

[code]

**To Reproduce**
Ste

[2022-10-20 06:32] ashwin-pc commented on #1612
@kavilla thanks for the clarity.

My biggest concern with this feature in Dashboards is how its integrated with another similar but purely dashboard feature "`Saved Search`". Judging by the design here, it looks like we want to give the user granular control to constrain data that a particular feature (e.g. visualization, discover) uses for a given index(s). For this feature its a point in time. f

[2022-10-20 07:02] ashwin-pc commented on #2608
@dblock I have a few question's about this approach.

1. How do we want to handle UI extensibility? Currently since there is an expectation that plugins and OSD share a common react dependency and ecosystem, components built directly using React can be injected into the different parts of the exiting app. (Micro frontends maybe?)
2. Do we want to support exchange of API's between plugins? Currentl

[2022-10-20 07:43] kgcreative commented on #1612
Hi @ashwin-pc -- Here's my thinking around how PIT correlates to other dashboard object constructs, and ways we might be able to continue to potentially abstract or enhance the feature.

PIT is orthogonal to saved search, and might be more closely related to snapshots. From a back-end perspective, you can think of a PIT as an ephemeral index snapshot. Given a PIT ID, it preserves the state of an i

[2022-10-20 08:34] ashwin-pc commented on #1612
@kgcreative That makes sense. From that perspective the difference between "Saved searches" and "PIT" is clearer (and yes, the name could be better). But i'm still not very happy with how we are integrating this feature into the different apps. I love how Multi Datasource solved this problem by being transparent to the apps that relied on the core services. To the visualize, dashboards and other a

[2022-10-20 08:44] ashwin-pc commented on #1884
@joshuarrrr doesnt this test the saved object management plugin and not vis builder? or am i missing something?

[2022-10-20 11:02] Arpit-Bandejiya opened #2633 "[BUG] Sample data creation fails for the new feature"
**Describe the bug**

Due to the changes done here in Opensearch : https://github.com/opensearch-project/OpenSearch/pull/3462/files#diff-013717f93370bf1d9635d1b84aee81e7e003e3fd6c6bb7c74b9890a1327a04b6

We are seeing that the sample data creation is failing due to low replica count

**To Reproduce**
Steps to reproduce the behavior:
1. create a cluster with the feature mentioned above enabled.
2. c

[2022-10-20 15:17] #2576 closed

[2022-10-20 16:46] kgcreative commented on #1612
@ashwin-pc In the fullness of time, we need full integration with Discover, Saved Search, Dashboards, Visualizations, and any other saved object that can interface with Index Patterns. I think we're basically just looking at what we can deliver incrementally to start delivering value, which in this case, being able to integrate with Discover solves the short term need of being able to interact wit

[2022-10-20 16:47] kgcreative commented on #1612
(For example, we could leverage PITs for cached results and pagination transparently under the hood if the backend feature exists, and we could track that temporarily for some ammount of time, which could greatly increase performance for some things)

[2022-10-20 17:32] kristenTian opened #2634 "[MD] Error when get data source client with multitenancy"
With private or shared tenant, it will error out when trying to fetch the data client with error: "Cannot find savedObject of dataSource/id "

<img width="1763" alt="image" src="https://user-images.githubusercontent.com/105667444/197018835-9fe9d591-64af-4e49-b940-a790b4f1b96c.png">

[2022-10-20 18:00] ananzh commented on #2633
@Arpit-Bandejiya do we when this will be release in OS? is it v2.4? Thx

[2022-10-20 18:12] AMoo-Miki commented on #2633
@Arpit-Bandejiya Does it produce any logs or errors during the failure?

[2022-10-20 18:13] kavilla commented on #2633
@Arpit-Bandejiya  can you provide insight on what the fix here? And if our sample data is failing could it be possible that others will experience this in other ingest software? Therefore, is this not technically a breaking change and it should a 3.x change?

[2022-10-20 18:34] zengyan-amazon commented on #2631
@ashwin-pc It seems due to one of the data source (cf594c00-4e66-11ed-85b2-dfe7b949e559) password was incorrect, which caused that error. Update password to the correct one fixed that error.

However, I see visBuilder keeps attempting to load the problematic index pattern and generating a lot of error toast, do we have a retry logic there until we load all index patterns in vizBuilder

[2022-10-20 18:39] kristenTian commented on #2599
Synced offline. In short, for plugin leveraging data plugin search client will be transparent.

[2022-10-20 18:44] bbarani commented on #1164
@joshuarrrr @kavilla Please tag this issue to the correct version.

[2022-10-20 18:47] zhongnansu commented on #2596
close as duplicate with #2591, the other one has more context

[2022-10-20 18:47] #2596 closed

[2022-10-20 20:33] vimalMK commented on #2517
Please find the PR #2638

[2022-10-20 21:20] #2615 closed

[2022-10-20 21:21] #2614 closed

[2022-10-20 21:21] #2617 closed

[2022-10-20 21:21] #2626 closed

[2022-10-20 21:21] #2618 closed

[2022-10-20 21:21] #2619 closed

[2022-10-20 21:21] #2620 closed

[2022-10-20 21:21] #2616 closed

[2022-10-20 21:22] #2623 closed

[2022-10-20 21:41] seraphjiang commented on #2608
for extensibility, I'm looking forward to see SDK extension experience like https://vscode.dev/

![image](https://user-images.githubusercontent.com/550437/197063638-66095f7b-314e-49b5-8eaa-35831b39fa62.png)

[2022-10-20 21:46] seraphjiang commented on #2608
@dblock this is a little bit vague, need clarification

Relax version check from OSD to OS, or release plugin's version check to OSD. or both

[2022-10-20 23:39] peternied commented on #2608
There are a couple of areas that I often see from the orbiting the Security space to include in this new design, if we built up these areas we can create better user experiences and unlock plugins for Dashboards we've never seen before.

#### Ways to know users permissions
There are some ugly user experiences where Dashboards plugins are unaware of what the user's capabilities are.  This often man

[2022-10-21 01:56] himsgupta1122 opened #2641 "IBM X-Force ID: 220063 Unset-value HIGH Severity Vulnerability"
**Describe the bug**
Potential  issue with OpenSearch Dashboard image ( 2.3.0) and discovered the following issues:
  Node.js unset-value module is vulnerable to a denial of service, caused by a prototype pollution flaw in the unset function
  in index.js. By adding or modifying properties of Object.prototype using a __proto__ or constructor payload, a remote
   attacker could exploit this vulnera

[2022-10-21 05:20] subramaniant06 commented on #1723
You need to include the lambda execution role as 'Backend Role' in the corresponding Opensearch Dashboard Role.

[2022-10-21 06:06] Arpit-Bandejiya commented on #2633
Replica count enforcement is done only when `cluster.routing.allocation.awareness.balance` is enabled. This feature is disabled by default. Hence it is not a breaking change.

Also, when you say latest version, do you mean main branch of OpenSearch or the 2.3 release?

error reponse:
[code]

This feature is present in main as well as in 2.3 release

[2022-10-21 08:56] ashwin-pc commented on #1612
Talked to @kgcreative offline. I think what we need here are we need user stories. What are the user problems we are trying to solve. My personal opinion is that PIT is a very interesting feature. But we should be careful to not use Dashboards as a kitchen sink to demo that feature. We have to also think about how this feature will integrate with other dashboards projects like different datasource

[2022-10-21 09:03] ashwin-pc commented on #2507
2 features I'd like to call out is two way databinding and fine grained drag and drop support. e.g.
1. Clicking or drawing on the chart should result in actions/events that the application can use
2. Dragging and dropping items in specific target drop locations on the visualization must be possible.

[2022-10-21 09:29] ashwin-pc opened #2643 "[BUG] [Vis Builder] Incorrect index pattern causes multiple errors"
**Describe the bug**

For the error in [#2631](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2631) there were multiple error toasts displayed for a single error.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a mis configured index pattern
2. Go to Vis Builder
4. See error

**Expected behavior**
The error toast should only show up once.

**OpenSearch Version**
3.0

[2022-10-21 09:32] ashwin-pc commented on #2631
Got it! No, its not retry but a react state update that retriggers the request. The client should already be caching this value so this should not be an issue if everything is correct, but as we've seen here, if there is an error with the index, we have too many errors. I've created an issue for Vis Builder to track that in #2643

Closing this as the error was actually expected.

[2022-10-21 09:32] #2631 closed

[2022-10-21 14:47] aoguan1990 commented on #2249
@cliu123 This is an awesome feature to improve user experience. But I am very curious about the following design details: which tenant is associated with aggregation view? As we need to call tenant api to capture the current Tenant, if user want to check the aggregation view, which tenant should users switch to? Do we by default populate the tenant that owns the aggregation view?

[2022-10-21 16:31] ananzh commented on #2579
# Backward Compatibility Tests

[2022-10-21 19:46] kgcreative commented on #2534
If I recall correctly, `notebooks` can also embed visualizations, so another requirement may be to add to other type of saved objects. If in the future we have multiple dashboard types, we should be able to add a visualization to any type of container object.

[2022-10-21 20:14] #2555 closed

[2022-10-21 21:04] ananzh commented on #2579
[Option Panel Tests][BUG] enable `Show partial rows` option currently shows metrics to all column

Currently, when we enable `Show partial rows` in the `Options` panel, we see metrics been added to every column even though `Show metrics for every bucket/level` is not enabled.

<img width="1523" alt="Screen Shot 2022-10-19 at 12 51 25" src="https://user-images.githubusercontent.com/79961084/1972877

[2022-10-21 21:21] kavilla opened #2649 "[FEATURE] Index patterns should have titles?"
Should index patterns have titles themselves? Underneath the hood, index-patterns utilize the title to be the index pattern but should we have a unique title?

[2022-10-21 21:46] joshuarrrr commented on #2649
In general, the purpose/customer benefit of the saved object `title` property is that it allows users to create a human-meaningful reference to that object. For simple index patterns, the pattern itself may be a good default title, if the underlying indices also have semantically meaningful names. But for more complicated patterns or distinguishing between two very similar patterns, a separate tit

[2022-10-21 22:06] joshuarrrr commented on #2649
@AMoo-Miki I'm afraid it's as you feared. Here's where we actually set the pattern into the `title` property on save: https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/plugins/index_pattern_management/public/components/create_index_pattern_wizard/create_index_pattern_wizard.tsx#L200

What's worse, there is not `pattern` property - the pattern just is the `title` as far as t

[2022-10-21 23:53] ananzh opened #2650 "[BUG][Vis Builder] misleading loading bar in metrics"
**Describe the bug**
When use Metric vis in vis builder, there is a loading bar at the top which looks like the data is still loading. But there is actually no data in this short period. This loading bar is a bit misleading.

<img width="973" alt="Screen Shot 2022-10-21 at 16 03 57" src="https://user-images.githubusercontent.com/79961084/197305829-b55f9040-6822-4790-92a8-118d7410034f.png">

**To R

[2022-10-22 00:35] ananzh opened #2651 "[Table Visualization] research and add error handling"
Currently, we don't have any error handling for the new table vis. This might be an issue, for example:

[code]
We need some error handling for the case that handlers.uiState is undefined. Maybe it's something we want to fail earlier on or else wait for.

[2022-10-22 00:46] joshuarrrr commented on #1884
Well it's a cross functional test - yes, part of what we're testing is the saved object management plugin, but the more important thing we're testing is that I correctly integrated visbuilder with that plugin (and that we've configured visbuilder management correctly to work the way we want). Things like the navigation between saved object management and visbuilder for instance.

[2022-10-22 12:17] ashokfredrick commented on #1611
Hi Friends, I'm also facing the same issue, please advise.

Issue : Not able to login with initial ID&pwd in opensearch dashbaords and getting 404.

RPM installation

[2022-10-22 12:19] ashokfredrick commented on #1611
Hi @eogredici,

Tried with opensearch.yml / plugins.security.disabled to:false but not working for me.Any idea, please?

[2022-10-22 13:44] kavilla commented on #1611
Hello!

Can you confirm if the security dashboards plugin is still enabled or installed?

You will have to make sure to disable it for dashboards and remove any configurations related to it in `opensearch_dashboards.yml`

REF: https://opensearch.org/docs/latest/security-plugin/configuration/disable

[2022-10-22 15:03] ashokfredrick commented on #1611
Hi Kavilla,

Thanks for your reply.

Can you confirm if the security dashboards plugin is still enabled or installed?
You will have to make sure to disable it for dashboards and remove any configurations related to it in opensearch_dashboards.yml
<ashok> Means you want to uninstall all plugins (currently 10(2.3) plugins are there in my server?
have added plugins.security.disabled: true in opensear

[2022-10-23 00:16] seraphjiang commented on #2394
I'm proposing deprecating changelog file which cause more issue than the benefit. we should figure out better solution to generate release note for sure.

https://github.com/opensearch-project/OpenSearch/issues/4769

https://github.com/opensearch-project/OpenSearch/issues/1868

FYI

@noCharger @ruanyl @ahopp @ashwin-pc @kavilla @joshuarrrr

cc: @dblock

[2022-10-23 15:07] rrnair commented on #1723
Apologise @subramaniant06 , I failed to notice your response

I do have Lambda role mapped to `all_access` backend role and this is also done via CDK code just after creating the domain and dashboard.

`let requests: object[] = [{
            method: 'PUT',
            path: '_plugins/_security/api/rolesmapping/all_access',
            body: {
                backend_roles: [ adminUserRoleArn, lam

[2022-10-24 06:52] eogredici commented on #1611
Hi @ashokfredrick ,

Could you please share your **opensearch.yml**

I will share  my opensearch.yml and opensearch_dashboards.yml to bellow;

**opensearch.yml**

`network.host: 0.0.0.0
discovery.type: single-node
plugins.security.disabled: false

plugins.security.ssl.transport.pemcert_filepath: $YOUR_PATH/node1.pem
plugins.security.ssl.transport.pemkey_filepath: $YOUR_PATH/node1-key.pem
plugins.s

[2022-10-24 13:53] zakirpcs opened #2655 "[BUG] apache proxy based authentication"
**Describe the bug**

I want to login into opensearch-dashboards through apache proxy. Is there any official documents for that? By the way i have been following https://opensearch.org/docs/latest/security-plugin/configuration/proxy/ this documents but its did not work for me. Also note that my opensearch-dashboards version is 2.2.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...

[2022-10-24 16:43] peternied opened #2657 "Input fields that can accept sensitive data should have `spellcheck='false'`"
_I'm not sure if this should belong in the Dashboards or OUI repro, please move this issue it if is more appropriate somewhere else._

Spell checking systems can send user sensitive data to 3rd parties, the best want to be sure this does not happen is to add `spellcheck=false` onto html elements that should be protected such as user password fields.

If there are any 'masked' fields in OpenSearch

[2022-10-24 17:13] ananzh commented on #2560
[code]

[code]

[2022-10-24 17:18] ananzh commented on #2560
I put a summary here later

[2022-10-24 17:20] ananzh commented on #2560
* This cve is about a Regular expression denial of service (ReDoS) flaw was found in Function interpolateName ([code](https://github.com/webpack/loader-utils/blob/d9f4e23cf411d8556f8bac2d3bf05a6e0103b568/lib/interpolateName.js#L83)). I checked our repo, I don’t see any interpolateName func used in our code. Meanwhile, according to the usage and also search in loader-utils repo, I don’t see any ind

[2022-10-24 17:42] zengyan-amazon commented on #2608
@dblock if we want to address the build overhead due to versioning, do we really need to build a sophisticated extension framework? As @kavilla mentioned in this thread, developers can specify their plugin version to match building OpenSearch Dashboards version in the plugin manifest file, so that they can just build and release new version without making code change.

Regarding the release proces

[2022-10-24 17:56] #2641 closed

[2022-10-24 18:11] kavilla commented on #2554
@AMoo-Miki  can this be closed?

[2022-10-24 18:11] kavilla commented on #2249
@cliu123 is this in 2.4? should we migrate this to security dashboards repo?

[2022-10-24 18:18] kavilla commented on #2100
@aoguan1990 is this possible for 2.4 I believe feature freeze is next week if this is going to open as PR it might require some time to review.

[2022-10-24 18:19] zhongnansu opened #2658 "[CI] WhiteSource Security check failed or failed to run"
- failed to run : https://github.com/opensearch-project/OpenSearch-Dashboards/runs/9020125348

- ran and failed: https://github.com/opensearch-project/OpenSearch-Dashboards/runs/9049928954
re-run couldn't be triggered

I noticed that PRs are merged no matter this CI check passed or not. If this workflow is not reliable, and people are not depending on it, can we remove it?

[2022-10-24 18:34] #2160 closed

[2022-10-24 18:47] kavilla opened #2659 "[VisBuilder] Icons and strings implementation"
Parent ux issue: https://github.com/opensearch-project/ux/issues/49

This issue for the implementation side of things.

[2022-10-24 19:08] kavilla commented on #2658
Hello @zhongnansu,

This run is added at an org level so the maintainers of this repo actually do not have access to remove this check or not. It has succeeded in the past like 2 weeks ago, but it could be related to bugs within WhiteSource. Did we want to reach out to the WhiteSource folks again to see if something changed again?

[2022-10-24 20:18] ashwin-pc commented on #2394
@seraphjiang can we wait on a path forward before deprecating? That seems to be the case but just making sure.

[2022-10-24 21:31] zengyan-amazon commented on #2608
If we want to solve the version compatibility problem, I think we need to ensure complete functional test being executed for all plugins with each new version of OpenSearch Dashboards, to ensure all functions are working as expected. A mono-repo can solve this in a pretty straight forward way. Or with separate repositories, we can built some sort of notification mechanism so that all changes to Op

[2022-10-25 00:10] ashwin-pc opened #2663 "[BUG] Object tables with `updated_at` takes up too much space"
**Describe the bug**

Ever since #1218, each item in an object table has a lot less space to work with e.g.  in the Visualize page each visualization occupies 2 line. This is because we use the expanded notation for time for each record.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Visualize
4. See the timestamp

**Expected behavior**

There are a few ways to fix this:
1. A pretty p

[2022-10-25 00:48] acha5066 opened #2665 "[BUG]"
**Describe the bug**

date_range type displays as an unknown field in the dashboard even though the mapping appears correct and range queries are working.

**To Reproduce**
1. Create a `date_range` type
2. Index some data that uses it.
3. Data appears to index correctly and range queries work.
4. Unknown field icon displays next to `date_range` field and it has an `unknown` type in index managemen

[2022-10-25 02:18] ashwin-pc commented on #1782
There is also a spinner that shows up after a few seconds that overlaps the text underneath

[2022-10-25 02:35] ashokfredrick commented on #1611
Hi @eogredici,

Thanks for the details.

I have tried with your yml (opensearch.yml and opensearch-dashboard.yml) file without plugins.security settings for opensearch.yml and it's not working for me.
Error message : Error Code:404 / Unauthorized / authentication required.
FYI, i'm not using any ssl/certs/ldaps config from my server and just trying with default.

Please advise.

[2022-10-25 08:33] ashwin-pc opened #2666 "[Vis Builder] Add FTR tests to OSD CI"
VisBuilder is disabled by default in the CI for functional tests from the Functional testing repo. This issue is to track enabling it and running those tests in the CI.

[2022-10-25 08:37] ashwin-pc commented on #2443
Hey @lashewi! Just checking in to see how you are doing with the issue.

[2022-10-25 09:24] ashwin-pc commented on #1885
Closing this as per @joshuarrrr recommendation. Will need a comprehensive "saved object management" test flow thats separate from VisBuilder

[2022-10-25 09:24] ashwin-pc commented on #1885
Closing this as per @joshuarrrr recommendation. Will need a comprehensive "saved object management" test flow thats separate from VisBuilder

[2022-10-25 09:24] #1885 closed

[2022-10-25 15:13] #2026 closed

[2022-10-25 15:14] AMoo-Miki commented on #2554
Thanks Peter for confirming. This is fixed by #2601.

[2022-10-25 15:14] #2554 closed

[2022-10-25 15:15] AMoo-Miki commented on #2535
Thanks Peter for confirming. This is fixed by #2601.

[2022-10-25 15:16] AMoo-Miki commented on #1310
This is fixed with #2601.

[2022-10-25 15:16] #1310 closed

[2022-10-25 15:18] AMoo-Miki commented on #796
This is solved with #2601.

[2022-10-25 15:18] #796 closed

[2022-10-25 15:41] AMoo-Miki commented on #2658
I have been in talks with Mend (formally WhiteSource). The issues is with a bug they introduced in their agent which makes it incompatible with monorepos. They are working on fixing it.

[2022-10-25 16:51] dbastin commented on #1633
This error appears to be resolved. Was able to `brew install opensearch-dashboard` on arm64 M1 silicon today.

At the time of writing, the architecture requirements listed on the homebrew page (https://formulae.brew.sh/formula/opensearch-dashboards) remain out of date as well.

[2022-10-25 17:38] aoguan1990 commented on #2100
@kavilla Thank you so much for following up on this feature. Here is the [PR.](https://github.com/opensearch-project/security-dashboards-plugin/pull/1110l)

[2022-10-25 18:25] ahopp opened #2667 "[PROPOSAL] Update OpenSearch Dashboards' Design Strategy"
### What problem are you trying to solve?
Historically, delivering disparate features via plugin tabs was the only way developers could historically add features to OpenDistro given the limitations of the influencing an actively commercialized upstream. This approach not only solved the problem of the commercialized upstream and helped differentiate what was delivered from upstream solutions among

[2022-10-25 20:22] ananzh commented on #2651
Will work on this after 1) hookup table to vis builder and 2) add tests

[2022-10-25 20:29] joshuarrrr commented on #2604
Triage: we can list out what are the expected release-able tasks (including test coverage scope, test-automation, feature review, code-review window). Feature-releases should be somewhat separate from a library release. Can also provide guidelines for semver/backport.

[2022-10-25 20:42] joshuarrrr commented on #2605
The PR that aliases it https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2080

other aliasing links:
https://github.com/opensearch-project/oui/commit/9abf87e5c5ffcf970d0b45c5fa7db0ea8f7c18df

https://github.com/opensearch-project/oui/commit/2504b430a853b0f93bdc5ce42621fbf3dce176a3

[2022-10-25 21:03] joshuarrrr commented on #2657
@peternied Is this issue for the entire project (including security-dashboards plugin), or is this specific for fields in core dashboards?

Also, why is this tagged `2.4.0`?

[2022-10-25 21:35] peterzhuamazon opened #2669 "[Bug] Path comparison issues causing plugin not able to build on Windows"
Coming from https://github.com/opensearch-project/dashboards-reports/issues/191#issuecomment-1291166886.

The issue being that Windows treat `Administrator` dir and `ADMINI~1` dir as the same on Windows.
But the code here in dashboards core is using `===` to compare:
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/d7004dc5b0392477fdd54ac66b29d231975a173b/packages/osd-plugin-helper

[2022-10-25 21:45] seanneumann commented on #2669
@manasvinibs can you prioritize this issue?

[2022-10-25 21:52] peternied commented on #2657
This issue impacts the entire OpenSearch project.

The security-dashboards plugin has 2.4.0 components that are adding new fields that should have this property enabled on them, wanted to make sure we had this discussion and potential resolution before those features shipped.

[2022-10-25 22:03] peterzhuamazon commented on #2669
More resources:
* https://learn.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#short_vs._long_names

Seems like we can try to disable this behavior on windows agent:
* https://learn.microsoft.com/en-US/troubleshoot/windows-server/performance/stop-error-code-0x00000019

[2022-10-25 22:04] peterzhuamazon commented on #2669
I would say the best solution is to find a way to resolve this on typescript side, without pushing windows agent to disable short names.

Since there will be community members using this code to build themselves.

Thanks.

[2022-10-25 22:58] peterzhuamazon commented on #2669
More details:
https://manjusullad.wordpress.com/2016/01/06/how-can-i-find-create-short-path-for-windows-folders-directories/

[2022-10-26 00:50] ashwin-pc opened #2671 "[BUG] [Vis Builder] Saved Object Management view broken"
**Describe the bug**

Inspecting the visbuilder object in the saved object management view is broken

Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Management -> Saved Objects
2. Click on any Vis Builder object's inspect icon
4. See blank screen

**Expected behavior**
Should be able to see the inspect view

**OpenSearch Version**
3.0

**Dashboards Version**
3.0

**Plug

[2022-10-26 00:57] ashwin-pc opened #2672 "[Vis Builder] Enabled by default"
Tracking issue to set VisBuilder to be enabled by default in the config.

[2022-10-26 01:32] #2531 closed

[2022-10-26 01:32] #2310 closed

[2022-10-26 04:41] rednaksi91 commented on #2573
@ananzh can you please link (in this thread) the bug issue you created for when you use OUI in table vis?

[2022-10-26 15:36] bharath-techie commented on #1612
@kgcreative @ashwin-pc @kavilla ,
We are gearing up for actual development of 2.5 milestones that we've kept for Point in time UX changes for which we did the POC.

Can we finalize on the scope for 2.5 ? There are lots of great points mentioned above, but some are quite different from POC - so it'd be great if we can get a direction on this.

[2022-10-26 16:54] ananzh commented on #2573
Currently when I switch `import { EuiDataGridProps, EuiDataGrid, EuiDataGridSorting, EuiTitle } from '@elastic/eui';` to `import { OuiDataGridProps, OuiDataGrid, OuiDataGridSorting, OuiTitle } from '@elastic/eui';` and then modify the table_vis_component.tsx to use OUI. here is what I got:
<img width="1665" alt="Screen Shot 2022-10-26 at 09 38 22" src="https://user-images.githubusercontent.com/799

[2022-10-26 18:00] CCongWang opened #2675 "[BUG] Sorting is not working as expected in TSVB visualization"
**Describe the bug**

Sorting is not working correctly in TSVB visualization after changing global filter

**To Reproduce**
Steps to reproduce the behavior:
1. Add eCommerce sample data
2. Create TSVB visualization with the following config, I need to choose ignore global filter as yes
<img width="1783" alt="Screen Shot 2022-10-26 at 10 41 02 AM" src="https://user-images.githubusercontent.com/9911

[2022-10-26 18:35] kaddy645 commented on #2573
Thanks for the steps @ananzh Looks like we are just importing eui theme not oui|
[Here](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-ui-shared-deps/theme.ts#L46)

[2022-10-26 20:07] manasvinibs commented on #2605
@AMoo-Miki @kaddy645 @kavilla  Discussion notes: This is not a bug. OUI will be used exclusively in 3.x and we should not be using it along with EUI in 2.x as it will break backporting and plugins compatibility.

[2022-10-26 21:37] davidlago commented on #2608
👍 to this one. Right now the saved objects construct in Dashboards is way too coupled with OpenSearch. As we think of the future of sharing with Dashboards (i.e. what today is somewhat fulfilled by Tenants, cc @shanilpa), we will have to provide data isolation purely inside of the Dashboards application (decoupling the metadata store), and we should account for extensions in doing so, being able t

[2022-10-26 22:18] mihirsoni opened #2676 "[Enhancement] Rename sample data index with prefix sample_*"
**Is your feature request related to a problem? Please describe.**
Sample data index are named with `opensearch_dashboards_sample_data_*` this works great but since there are lot of chances that customer might have actual logs named index `opensearch_*` or any other real logs. This could conflict since one can have template on `opensearch_*` open-search dashboards sample index to get applied

A cl

[2022-10-27 01:22] ashwin-pc commented on #960
Closing this issue the core functionality has been implemented. The functional tests are tracked separately and cancel issue is not slated for 2.4.

[2022-10-27 01:22] ashwin-pc commented on #960
Closing this issue the core functionality has been implemented. The functional tests are tracked separately and cancel issue is not slated for 2.4.

[2022-10-27 01:22] #960 closed

[2022-10-27 04:18] #2463 closed

[2022-10-27 04:20] ashwin-pc commented on #2380
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2458
         https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2460

[2022-10-27 04:29] ZilongX opened #2677 "[PROPOSAL] Introduce in automatically generated release notes"
### Proposal in one sentence
Enable the automation of release notes generations for `OpenSearch-Dashboards` repo

### What problem are you trying to solve?

Currently, both `Release Notes` and `CHANGELOG` are updated mainly by manual efforts.

* For the Release Notes, each release would required a PR to add respective markdown notes file to `release-notes` folder :
  * Folder path : https://github

[2022-10-27 04:52] subramaniant06 commented on #1723
How are you making this API call? from lambda? This is possible only if you assume the master user role that you used to enable the Fine grained access for Opensearch.

let requests: object[] = [{ method: 'PUT', path: '_plugins/_security/api/rolesmapping/all_access', body: { backend_roles: [ adminUserRoleArn, lambdaRoleArn ], hosts: [], users: [], } }]

I'm able to create tenants, roles, monitors,

[2022-10-27 05:18] ashwin-pc commented on #2677
Having seen it being used in the other repo's I can attest that this is much better! Thanks @seraphjiang and @ZilongX. But, since i've never actually had to generate a release notes or a changelog for an OSD release, I'd love to hear from @ananzh and others who have actually gone through the process of generating one to see if this meets the requirements. And if not, how can we adapt it such that

[2022-10-27 10:07] albgus opened #2680 "[BUG] OpenSearch Dashboards keep asking to select Tenant with multi-tenancy disabled"
**Describe the bug**

A have a newly provisioned OpenSearch cluster with minimal configuration. Due to that multi-tenancy is not enabled. Yet OpenSearch dashboards keep showing this popup asking me to select a tenant, which isn't possible because multi-tenancy is not enabled. This happend every time opening OpenSearch Dashboards or opening a new tab.

**To Reproduce**
Steps to reproduce the behavi

[2022-10-27 12:28] josefbilendo commented on #1633
@dbastin
Interesting! I just updated my M1 MacBook to Ventura (macOS 13.0).

I'm still facing the same issue as @TechAilurus:
<img width="625" alt="Bildschirm­foto 2022-10-27 um 14 27 25" src="https://user-images.githubusercontent.com/20594372/198284039-e8b795e6-ad81-43c2-8476-0863f0ce6ab4.png">

[2022-10-27 15:20] dbastin commented on #1633
Yeah, that is interesting.
[code]
Hmmm. I see I have Rosetta running (https://support.apple.com/en-us/HT211861). I suspect this is somehow working with brew to allow the install and handle the runtime. Sorry for the misleading information above.

[2022-10-27 16:28] bharath-techie commented on #1612
Hi.
So far, for 2.5, this is the scope that we've planned.

Area | Item
-- | --
Stack management | New plugin changes
  | Table changes
  | Create PIT Side drawer
  | Rename PIT option
  | Success / failures
  | Showing PIT details screen - general tab
  | API integration - List pits, delete pit and create PIT
  | Delete PIT after expiry - data plugin
  | Plugin experimental flag changes
  |  
Sav

[2022-10-27 16:42] mihirsoni commented on #2677
To make it super productive we need to ensure that we have very high bar on the commit messages while we merge PRs, ensure they we use squash merge to reduce noisey commits. In general these automated generator takes the commit messages.

[2022-10-27 17:27] seraphjiang commented on #2677
Agree, we need to ensure high bar on commit message. and ensure use squash merge.
The automated generator takes from PR (commit) as my observation.

The effort to ensure high quality commit message for PR and high quality for change log message are same. To save effort, we should focus on ensure high bar on commit message anyway.

[2022-10-27 17:30] seraphjiang commented on #2677
@ZilongX  @ashwin-pc @ananzh @AMoo-Miki

suggest to add releease.yml and have a try in 2.4.0 release, compare the auto generated note vs manual changelog so we know the gap.

[2022-10-27 18:36] rrnair commented on #1723
Guess we are in the same juncture of issue. The lambda execution role is set as `masterUserArn` in `fineGrainedAccessControl` of domain.  I use Axios to wire roles/rolesmapping (which works fine) and multi-part upload of index patterns/dashboard/visualizations are failing for me as well with a HTML response.

The lambda that imports index-patterns/dashboards etc are triggered from S3 and creates a

[2022-10-27 20:28] bbarani commented on #2669
@AMoo-Miki Any update on this issue?

[2022-10-27 21:11] ashwin-pc commented on #2458
https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/340

[2022-10-27 21:11] #2458 closed

[2022-10-27 21:14] ashwin-pc commented on #2659
@abbyhu2000 Doesn't #2645 resolve this?

[2022-10-27 22:05] vimalMK commented on #2488
@joshuarrrr is it still open?

[2022-10-27 22:56] seraphjiang commented on #2680
@opensearch-project/transfer-request could we transfer to https://github.com/opensearch-project/security-dashboards-plugin/

@cliu123  @davidlago

[2022-10-27 23:39] joshuarrrr commented on #2676
Do we think there's benefit in any further attempts to prevent collisions?

- `sample_data_*`
- vs `_sample_data_*`
- vs `__sample_data__*`

[2022-10-28 00:19] zhongnansu commented on #2677
@ZilongX Great proposal. Change log today is making lots of backport PRs to fail. Because different PR are touching the same file and even worse, same section. Backport automation bots fail a lot. I've had a nightmare working on backport PRs. I like the idea to target for automation. The key seems to correctly label PRs, and as mentioned, have high bar of commit messages. Again we can't rely on hu

[2022-10-28 00:51] ashwin-pc opened #2684 "[BUG] Add integration and Add Sample data do the same thing"
**Describe the bug**

On the page shown in the screenshot below, both "Add Integration" and "Add Sample Data" both take the user to the add sample data page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh instance of OS and OSD
2. Go to the homepage
3. Click on either button
4. See the same result

**Expected behavior**

Either we should remove the "Add integration" button or

[2022-10-28 01:26] joshuarrrr commented on #2488
@Joymfl Are you still planning to submit a PR? If not let @vimalMK know so they can pick it up.

[2022-10-28 02:00] Joymfl commented on #2488
Hey, I am still working on it. But if you think it's taking long, I don't mind if you hand it over :D

[2022-10-28 02:06] opensearch-ci-bot opened #2685 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-Dashboards-1.4.0"
***Received Error***: **Error building OpenSearch-Dashboards, retry with: ./build.sh manifests/1.4.0/opensearch-dashboards-1.4.0.yml --component OpenSearch-Dashboards**.
                      The distribution build for OpenSearch-Dashboards has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4198/consoleFull

[2022-10-28 13:09] AmiStrn commented on #2507
I would like a way to add lookup lists so that uuid's returning from log data can be replaced with human readable data such as "user name".

[2022-10-28 18:05] vimalMK commented on #2488
@Joymfl If you are working on it , Please carry on :).

Thank you

[2022-10-28 18:10] kristenTian commented on #2677
Thanks Zilong, really had the pain to resolve conflicts on Changelog when it is manual work, also people need to require random X times of approval base on the X times they need to rebase.

I also would like to try this new approach and if not sufficient for our use case can migrate to other tools like @zhongnansu mentioned. In that case, given that these tool only impact on newly created PR so ev

[2022-10-28 18:32] #2671 closed

[2022-10-28 18:42] abbyhu2000 commented on #1706
Finish replacing wizard to VisBuilder for both UI and in-code reference for 2.4. There will be more discussions on some of the UI strings in the future.

[2022-10-28 18:42] #1706 closed

[2022-10-28 18:43] abbyhu2000 commented on #2659
Yes, close this one as #2645 is resolved. @ashwin-pc

[2022-10-28 18:43] #2659 closed

[2022-10-28 18:57] abbyhu2000 opened #2688 "Add manual instruction for VisBuilder saved object migration"
Here is an instruction on how users can manually migrate the previous visualizations created using earlier release version of VisBuilder. There are two changes to the stucture of the saved objects that created from VisBuilder since we release VisBuilder:

1. In 2.3 release, we change the way of storing index pattern: previously we save index pattern in the visualizationState, now we save index pat

[2022-10-28 20:21] #2612 closed

[2022-10-28 20:22] vimalMK commented on #1928
Anyone please confirm, if this is still happening. Not able to reproduce the ordering issue. Thank you.

[2022-10-28 21:01] joshuarrrr commented on #2280
Additionally, for any developers running it locally, config values can be set as flags: `yarn start --wizard.enabled=true`

[2022-10-28 22:56] joshuarrrr commented on #955
@btzeng Do we still need this issue open in the context of visbuilder, or is it something we can revisit as part of the abstraction project?

[2022-10-28 23:01] joshuarrrr commented on #1615
Assigned to @ananzh, as she's actively working on this.

[2022-10-28 23:49] joshuarrrr commented on #1881
@abbyhu2000 Is this complete?

[2022-10-29 00:17] abbyhu2000 commented on #1881
I think @ashwin-pc said he will confirm on this one. @joshuarrrr

[2022-10-31 14:44] ARud12 opened #2697 "Error: Failed fetching inputs: org.opensearch.OpenSearchSecurityException: no permissions for [indices:data/read/search] and associated roles[BUG]"
When deploying an alert and the monitor is triggered, the following error is seen: Error: Failed fetching inputs: org.opensearch.OpenSearchSecurityException: no permissions for [indices:data/read/search] and associated roles
The alert then goes into an error state and cannot be acknowledged.

[2022-10-31 15:51] #2598 closed

[2022-10-31 15:51] #2634 closed

[2022-10-31 15:52] #2591 closed

[2022-10-31 16:50] CCongWang commented on #2675
Hi team, any updates?

[2022-10-31 16:59] ahopp commented on #2481
@Jon-AtAWS revisiting @joshuarrrr question: Can you add some context on some of the use case you'd like to use this for?

I've only used this visualization type to map one or more paths through a set of stages but the graphic above seems to be mapping proportionally from side A and side B (i.e., more like an alluvial diagram) e.g., the above graph doesn't have any node intermediate nodes. I'd assu

[2022-10-31 17:03] Jon-AtAWS commented on #2481
Thanks for digging that out - that's exactly what I meant, a multi-stage graph. The A->B is just the degenerate version of that.

[2022-10-31 17:15] #2517 closed

[2022-10-31 17:16] #2433 closed

[2022-10-31 17:18] AMoo-Miki commented on #2573
This should be labelled 3.0.

[2022-10-31 17:20] AMoo-Miki commented on #2605
We should NOT be using or be able to use the OUI namespacing in OSD 2.x.

[2022-10-31 17:20] #2605 closed

[2022-10-31 17:40] kristenTian commented on #2140
do a global check if error handling is missing

[2022-10-31 17:41] #2163 closed

[2022-10-31 17:43] #2400 closed

[2022-10-31 17:46] kristenTian commented on #2442
Create a new index pattarn, then install the sample data to defualt.

[2022-10-31 17:46] #2442 closed

[2022-10-31 17:49] kristenTian commented on #2592
closing for scope of 2.4 are done.

[2022-10-31 17:49] #2592 closed

[2022-10-31 17:51] kristenTian commented on #2594
@KrooshalUX is the error message valid? `

[code]

[2022-10-31 17:54] kristenTian commented on #2597
Pending tasks:
- The UI validation needs update
- Save Object listing page
- Visualization creation /Discover page

Done:
-  index pattern DS column support

[2022-10-31 18:00] kristenTian commented on #1728
Dropping the hashed credentials instead.

[2022-10-31 18:14] kristenTian opened #2699 "[MD]Multi data source integration with Dev tool"

[2022-10-31 18:26] zhongnansu commented on #2153
## TSVB
- *API*:
  - `api/metrics/vis/data` to query data
  - `api/metircs/fields` to get fields, see #2153
-  *Research*:
    1. TVSB register to expression plugin and add viz configs [here](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/1.2.0/src/plugins/vis_type_timeseries/public/plugin.ts#L82-L85) (https://github.com/opensearch-project/OpenSearch-Dashboards/blob/1.2.0/src/plu

[2022-10-31 18:34] kristenTian commented on #1990
Yes, for 2.5 we are targeting more plugin integrations with multiple data source. Including TSVB and dev console(https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2699) -- This requires UX update on existing experience, users now should be able to navigate between data sources before perform existing supported operations. For example, for dev console, UX should specify which data

[2022-10-31 18:44] zhongnansu commented on #2110
Currently we have supported
- No auth
- basic auth

[2022-10-31 19:58] rednaksi91 commented on #1114
@ahopp need some guidance from the priority standpoint for the visualizations team

[2022-10-31 20:08] kavilla commented on #2697
Hello @ARud12,

Do you think you can add more details about your permissions you have here?

[2022-10-31 20:48] kavilla commented on #2677
Thanks for creating this issue @ZilongX,

I think there was discussion in another repo but I am not able to find it so I will recapture some of the comments I posted there.

Historically, any automation was really painful for the release owner still because the commits were not descriptive enough. As @mihirsoni stated, we should have a high bar for commit messages and that point we are still requi

[2022-10-31 21:16] kavilla commented on #2667
@ahopp do we plan on migrating old experiences or keeping current models the same (like how alerting does stuff)? Because then we should mention security and permissions in the design strategy.

[2022-10-31 23:09] ananzh opened #2704 "[Vis Builder] hookup table visualization in vis buidler"
**Description**
We would like to hook up table vis in the vis builder to allow customer to explore the new table vis.

**Expected behavior**
After enabling vis builder, go to `Visualize` and click `Create Visualization`. Click `VisBuilder` then choose `table` as the visualization type.

**OpenSearch Version**
2.4

**Dashboards Version**
2.4

[2022-11-01 00:29] ananzh commented on #2675
Let me reproduce it. Thanks @CCongWang for opening this issue.

[2022-11-01 03:35] seraphjiang commented on #2677
This per repo things for now. Only OpenSearch and OpenSearch Dashboards tried, and no other repo is adopting it. We have discussed with @dblock and he agree to experiment in different repo.

The way github's release note generated based on PR not the commit, it support ignore label to skip the commits are not needed.

There are lots of discussion, why not we have a try in 2.4.0 and compare to the

[2022-11-01 05:16] ananzh commented on #1593
The fix is to bump formidable to v3.2.4+

Currently superagent@7.1.2 is using formidable@2.0.1. The [latest superagent](https://github.com/visionmedia/superagent/blob/e8d532632bea846e6a8c7677a268dca3641271e7/package.json#L27) is still using `formidable:^2.0.1`.

[2022-11-01 05:52] ananzh commented on #2269
The fix for the above issue
https://github.com/mochajs/mocha/commit/61b4b9209c2c64b32c8d48b1761c3b9384d411ea

is only released in the latest version v10.1.0:
https://github.com/mochajs/mocha/blob/5f96d511dbf913f135b92198aab721a27f6b44fe/lib/utils.js#L79

To fix it, mocha needs to be bumped to v10.1.0

[2022-11-01 16:00] saratvemulapalli commented on #2608
Thanks @dblock for the proposal.
I love the idea and always onboard with lowering the entry bar for developers to hop on to Dashboards platform.

💯 We should strive to expose simple interfaces for developers to consume while not having to worry about versions of Dashboards.
As we are working through similar problems on OpenSearch, the time I've spent(probably very little)  on Dashboards I see few

[2022-11-01 16:13] jonathon2nd opened #2712 "[BUG] Dashboard fails to connect when using securityconfig"
**Describe the bug**

Dashboard does not connect when trying to set and use different passwords.

**To Reproduce**
Steps to reproduce the behavior:
Deploy cluster from operator.

`securityconfig-secret` is taken from https://github.com/Opster/opensearch-k8s-operator/blob/main/opensearch-operator/examples/opensearch-cluster-securityconfig.yaml
I have rehashed passwords by using the `hash.sh` I foun

[2022-11-01 16:37] #2560 closed

[2022-11-01 17:29] jonathon2nd commented on #2712
Changing to `1.3.6` for both opensearch and dashboard does not change anything.
Re-validated that install works without trying to modify security.

[2022-11-01 17:46] jonathon2nd commented on #2712
OK I got a working setup with https://github.com/Opster/opensearch-k8s-operator/blob/main/opensearch-operator/examples/opensearch-cluster-securityconfig.yaml and https://github.com/Opster/opensearch-k8s-operator/blob/main/opensearch-operator/examples/securityconfig-secret.yaml
So I must have some issue with my config I tried to build from the docs, either that or the updated passwords I hashed did

[2022-11-01 18:54] ohltyler opened #2717 "Support vega-lite v5"
Currently Dashboards has a hard dependency on [vega-lite v4](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/package.json#L457). [v5](https://github.com/vega/vega-lite/releases/tag/v5.0.0) was released in early 2021 and provides a lot of functionality and simplicity improvements related to interactivity on the charts using _parameters_.

Upgrading will provide a lot of benefi

[2022-11-01 19:09] joshuarrrr opened #2718 "[Research] Document Timeline visualization type"
- [x] [Research] Document `timeline` plugin
- [x] [Research] Document `vis_type_timeline` plugin

[2022-11-01 19:28] jonathon2nd commented on #2712
If I just change the passwords I get the following
[code]
And the dashboard also does not connect, but when adding `admin-credentials-secret` with the same password,

But the exact same problem is happening, dashboard will not connect
[code]

Redid password hashing, so made sure that it was the same.
[code]

[2022-11-01 20:15] bandinib-amzn commented on #2663
Need to check if `prettyduration` solves this issue.

[2022-11-01 20:27] bandinib-amzn commented on #2712
Issue moved to [opensearch-project/security-dashboards-plugin #1177](https://github.com/opensearch-project/security-dashboards-plugin/issues/1177) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-01 20:29] bandinib-amzn commented on #2712
Moved to https://github.com/opensearch-project/security-dashboards-plugin/issues/1177

[2022-11-01 20:29] #2712 closed

[2022-11-01 20:46] bandinib-amzn commented on #2677
Let's have discussion in [main thread](https://github.com/opensearch-project/OpenSearch/issues/1868)

[2022-11-01 21:03] AMoo-Miki commented on #2675
What i observed is that the sorting remains as it was chosen (which is good) but the arrow jumped over which is the problem.

[2022-11-01 21:06] ananzh commented on #2675
We reproduced the issue. Ideal fix should be to allow customer keep the sort state before refresh.

[2022-11-01 23:52] bandinib-amzn commented on #2684
`Add integration` should allow user to add data from a variety of sources (e.g. apps, services etc). It should not lead to sample data set.

We will first provide short term fix which is removing `Add integration` button and just keep `Add sample data' button as both the buttons are taking user to sample data page.

For long term fix, @kavilla will create issue and work with UX team to decide work

[2022-11-02 00:12] ananzh commented on #2704
Follow-up:
Currently, in table visualization, we are using `setState` in parent component. When table_vis_component updates sort/width, setState will force the parent to re-render.

[code]

However, this will create duplicate states since `uiState` in `handlers` also have sort and width state. We would like to eliminate this duplicate state.

[2022-11-02 02:45] wanglam commented on #1561
@joshuarrrr  I will take this issue, and may raise a PR about it later.

[2022-11-02 04:31] seraphjiang commented on #2677
@bandinib-amzn we have reach agreement, this is per repo based discussion. That thread is only for OpenSearch. We should focus drive the best approach for OpenSearch Dashboards repo.

[2022-11-02 04:40] seraphjiang commented on #2677
@ZilongX @AMoo-Miki  @kavilla @ashwin-pc @dblock

Could we try the release note automation provide by Github?
love automation, but no need to reinvent wheel.

We already had a try on other repo, results are elegant.  I really what to know are concerns to give a try which could be done in 5 minutes.

https://github.com/opensearch-project/dashboards-anywhere/releases/tag/v0.8.0
https://github.com/op

[2022-11-02 08:55] ashwin-pc opened #2727 "[BUG] [Vis Builder] Sort order changes when editing a categorical value"
**Describe the bug**

After dropping a field, on clicking the field to edit it, the sort order for the chart changes.

https://user-images.githubusercontent.com/20453492/199444803-6aceb8b7-e372-4db5-bd4b-319ab6bd774f.mov

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description o

[2022-11-02 09:06] #2460 closed

[2022-11-02 12:49] ashwin-pc commented on #2704
@ananzh Can you move that comment into a separate issue? When you resolve this issue, this will get lost in the ether without an open issue to tack it.

[2022-11-02 17:42] ananzh opened #2731 "[Table Visualization] Add a more detailed Readme for table vis"
Add a more detailed Readme if possible.
* What is Table Vis
* How to use Table Vis
* How it interacts with the rest of the application

[2022-11-02 19:46] ananzh opened #2735 "[Table Visualization] Test on exporting blob data on different browsers"
Currently we are exporting blob data
[code]
Exporting blob data on the client is not universally supported. We might want to test this on multiple browsers (Especially safari). Not a blocker though

[2022-11-02 19:48] ashwin-pc commented on #2672
Resolved with #2725

[2022-11-02 19:48] #2672 closed

[2022-11-02 20:00] sempervictus opened #2736 "DQL auto-completion of search keys"
**Feature Request**

Enable auto-completion of search term keys from the template of the currently selected index analogous to the KQL functionality in the last OpenDistro Kibana (7.10.x IIRC).

[2022-11-02 20:02] sempervictus opened #2737 "Permit multiple buckets in coordinate map visualization"
**Is your feature request related to a problem? Please describe.**

The current implementation of the geopoint visualization only permits rendering a single geo field in the selected index. Situations where both client and server are geocoded, or where a traceroute needs to be visualized, require the ability to have multiple points rendered on a single visualization.

**Describe the solution you'd

[2022-11-02 22:04] ananzh opened #2741 "[Table Visualization] add more tooltips for options"
Current table vis options are not clear to customers, could add more tooltips to explain
<img width="1196" alt="Screen Shot 2022-11-02 at 15 02 35" src="https://user-images.githubusercontent.com/79961084/199611201-0b90e536-ed1e-4238-908a-e8e07e478394.png">

[2022-11-03 00:31] ananzh opened #2751 "[Discuss] Plugin version convention"
**Description**
This is a discussion issue for plugin versioning. Currently, it is not clear about how to define version in opensearch_dashboards.yml for refactoring plugins. A suggestion is made here in [this comment](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2705#discussion_r1012112270):

[code]

From [this comment](https://github.com/opensearch-project/OpenSearch-Dashboar

[2022-11-03 00:32] ZilongX commented on #1777
Do we have an ECD for fixing this bug ?

[2022-11-03 00:41] ananzh opened #2752 "[Clean] @internal annotations used in OSD repo"
**Describe the bug**
From table vis, we have noticed that there are many @internal annotations. If we search `/** @internal */`, there are about 123 results in 57 files. As commented [here](https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2705#discussion_r1012130370):
[code]

Should we get more understanding about these `@internal` annotations and remove the un-necessary ones?

[2022-11-03 02:53] #2684 closed

[2022-11-03 07:09] #2666 closed

[2022-11-03 07:30] ashwin-pc opened #2761 "[Vis builder] simplify getSchemas"
In VisBuilder metric and table visualization we use a custom `getVisSchemas` function to generate the expression string. This is based on a similar function from `src/plugins/visualizations/public/legacy/build_pipeline.ts` but without the dependency on the `Vis` class. This issue is to track two things

1. Consolidate both the custom functions into a single one
2. See if we can reuse the function

[2022-11-03 07:40] ashwin-pc opened #2762 "[Vis Builder] Data persistence Meta Issue"
Data persistence meta issue for vis-builder.

Research and documentation tasks:

- [x] Research and document on the various persistence solution's (both existing solutions in OSD and external) https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2876
- [x] Research and document on how current plugin can persist their global data on the nav bar. https://github.com/opensearch-project/O

[2022-11-03 07:47] ashwin-pc opened #2763 "[Vis builder] Persist data when switching visualization types"
Currently the field values are cleared when the user switches between vis types. VisBuilder should be able to persist values across compatible types and ideally between incompatible types too to whatever degree possible.

Tasks:

- [x] Investigate potential persistence solutions
- [x] Investigate how the solutions will scale with varying visualization types (May tie into Visualization Abstractions

[2022-11-03 07:56] peterzhuamazon opened #2764 "[BUG] opensearch-dashboards-data-source-audit.log do not have line separator on cygwin/msys/mingw"
Hi,

https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3383848918/jobs/5620140524#step:9:35

This will not happen on powershell but will happen on any mingw related emulated shell on windows.

bash: line 1: D:tmpopensearch-dashboards-data-source-audit.log: command not found

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/890a4b649c0a4169a868

[2022-11-03 08:12] peterzhuamazon commented on #2764
After taking a look it is a non-issue, closing now.

[2022-11-03 09:40] ashwin-pc commented on #2280
From version 2.4 of OpenSearch Dashboards this config value has been updated to `vis_builder.enabled` and is enabled by default. Use the flag to disable it in production.

[2022-11-03 10:36] kavilla commented on #1777
Hey @ZilongX, the current plan for this is to prevent users from setting a reserve word. It might still fail for existing items.

[2022-11-03 17:58] ZilongX commented on #1777
Thanks @kavilla , do we have a detailed list of reserved words or maybe a regex checking that customer should avoid using ?

[2022-11-03 18:17] AMoo-Miki commented on #1777
To me, it sounds like OpenSearch should ultimately validate and not accept these and if OpenSearch accepts them, Dashboards should honor them.

While it would be nice for Dashboards to do validations too, I don't think it fits the long-term plans.

[2022-11-03 18:56] arunx2 opened #2768 "[BUG] Remove frozen tier search settings in advanced settings"
**Describe the bug**
Looks like it is coming from the fork. We don't have frozen tier in OpenSearch. Either it should be removed or changed to warm nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'stack management'
2. Click on 'Advanced Settings'
3. Scroll down to 'search section'
4. last option in that section mentioned frozen tier.

**Expected behavior**
Either it should be re

[2022-11-03 19:19] btzeng commented on #950
@joshuarrrr  We can skip the "+" button on the filed. For accessibility, we already have the "+" button in the data configuration panel where user can click to select field (works the same as dropping in a field).

Let's skip this for now. Long term we can think about what quick action we want to prioritize if needed.

[2022-11-03 19:38] ananzh opened #2771 "geckodriver version inconsistent in main and 2.x"
geckodriver - only used in running functional tests. It got bumped to 11.8.5 on 2022-06-02.

geckodriver has been bumped to 3.0.2 before and backported to 2.x PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2397

Due to this PR:
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2409 geckodriver is set back to 3.0.1. Therefore, we will reset it to 3.0.2.

However

[2022-11-03 23:01] zhongnansu commented on #2153
UX refactor discussion , need input from UX team
- TSVB is different with other index-pattern based visualizations, such as pie chart, metric, etc.
- TSVB currently doesn't only work with saved index patterns. Specifically, it allows the user to enter a string (which can be the index pattern title, an index name, multiple indices names, multiple index-patterns, wildcards).
<img width="1035" alt="i

[2022-11-03 23:20] joshuarrrr opened #2780 "[Vis Builder] For field summaries use agg service to make field-specific queries"
In https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2705, we ported over field summary views from `discover`, which makes a single fetch of a sample of docs with all fields. That hit data is then flattened and aggregated client-side. There's no need to do this, because OpenSearch supports agg queries to get that data directly.

[2022-11-03 23:44] joshuarrrr opened #2782 "[BUG] [Vis Builder] Fix field summary field popover position on scroll"
Fix summary field popover positioning so that it repositions itself correctly when scrolling/collapsing the field selector. The `repositionOnScroll` property is insufficient, because it only listens to global window scroll events: https://github.com/opensearch-project/oui/blob/main/src/components/popover/popover.tsx#L535

https://user-images.githubusercontent.com/1679762/200054474-ded9c12f-880e-45

[2022-11-03 23:48] joshuarrrr opened #2783 "[Vis Builder] Improve UX when switching index patterns with filters applied"
One of the advantages of Vis Builder over the traditional visualization authoring is that users can easily switch data sources (index patterns). But if any filters have been applied to particular fields, switching index patterns will initially result in no matching documents, because the new data source is unlikely to have the same field and values to match the filter. We currently provide small w

[2022-11-04 00:42] #2771 closed

[2022-11-04 04:43] AMoo-Miki opened #2792 "[BUG] Dashboards fails to start after enableing the data source plugin on Windows due to unsuitable default"
**Describe the bug**

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/812f1131f7f9742e3021b49fd206c7559e1b558f/src/plugins/data_source/audit_config.ts#L39

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/812f1131f7f9742e3021b49fd206c7559e1b558f/src/plugins/data_source/README.md?plain=1#L22

`/tmp` is not available on all operating systems and should not be chosen

[2022-11-04 06:08] mihirsoni commented on #2676
@joshuarrrr we can't start index name  prefixed with `_` and is not allowed characters in OpenSearch.  `_` is reserved for the internal APIs like `_cat/indices`, `_cluster/status`.

[2022-11-04 06:19] ashwin-pc commented on #1561
@wanglam can you add `resolve` to that list?

You can search for all imports from the `url` lib and see if we are using any other deprecated methods

[2022-11-04 06:24] opencmit1 opened #2879 "Whether the ccr function can be configured through the opensearch-dashboard page, not only through commands"

[2022-11-04 17:41] #950 closed

[2022-11-04 18:43] joshuarrrr commented on #1615
complete via #2705

[2022-11-04 18:43] #1615 closed

[2022-11-04 19:34] manasvinibs opened #2799 "Add a plugin config to define backend plugin dependency and research if it can be installed on cluster through opensearch API"
Is your feature request related to a problem? Please describe.

Installing an extension should automatically installs OpenSearch extensions it depends on.

Description:
Installing a plugin does not install it's corresponding OpenSearch plugin. In fact the plugin assumes it's available.

As part of this task:
1) Add a new key for example in this [file](https://github.com/opensearch-project/OpenSear

[2022-11-04 19:51] manasvinibs commented on #2799
@kavilla can you take a look at this?

[2022-11-04 23:08] #1764 closed

[2022-11-05 00:45] ashwin-pc commented on #2704
@ananzh Is this good to close?

[2022-11-05 00:59] joshuarrrr commented on #2782
@ashwin-pc @btzeng There's another UX challenge here, once we solve the initial positioning issue - there are some weird implications about the way some of these elements are layered. As a user scrolls the field list, fields disappear "behind" the search bar, which implies that the field list is deeper on the page than the search and the configuration panel to the right. The popovers, in contrast,

[2022-11-06 02:25] AMoo-Miki opened #2811 "[BUG] [@osd/opensearch] Calling `stop` on an already ended `Cluster` producess different results on different platforms"
**Describe the bug**

OSD uses `tree-kill`, a library that terminates a process and all of its children, for stopping processes started using `Cluster`. This library behaves differently on different platforms. If the `pid` it is asked to terminate is not running:
* on `darwin` and `linux`, it silently returns without throwing and exception
* on `win32` in produces an exception which

As a result,

[2022-11-07 06:02] wanglam commented on #1561
Sure, the resolve method is also be marked legacy. We can find all the usages and replace them.

[2022-11-07 15:37] shcohen2002 opened #2815 "[BUG] SAML Invalid requestId error"
**Describe the bug**
Following the SAML configuration instructions https://opensearch.org/docs/latest/security-plugin/configuration/saml/
After IDP successfully authenticated my login, a SAML POST response from IDP to SP is sent and i am getting the following browser error (https://<ip_address>.ip.linodeusercontent.com/_opendistro/_security/saml/acs):
{ statusCode: 400, error: "Bad Request", messa

[2022-11-07 17:30] abbyhu2000 commented on #2688
The instructions has been updated in the description. Close this issue.

[2022-11-07 17:30] #2688 closed

[2022-11-07 17:40] #2249 closed

[2022-11-07 17:41] kavilla commented on #2657
@kristenTian do you know if we should add this to the password field to MD?

[2022-11-07 17:42] seanneumann commented on #2657
Long term solution is to make this change in OUI. @KrooshalUX to create an issue in that repo.

Short term solution is to update any masked fields in sec plugin and MD. @kristenTian to look.

[2022-11-07 17:42] #2100 closed

[2022-11-07 17:43] KrooshalUX commented on #2657
I would like to discuss what other fields besides password are potentially sensitive data so we can provide additional guidance/guardrails at a Design System level (OUI components). Endpoint URLs come to mind as potentially another field that we might consider sensitive.

[2022-11-07 17:56] #2593 closed

[2022-11-07 17:56] #2792 closed

[2022-11-07 18:07] kristenTian commented on #2657
In MD, the related changes are:

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/115105a3c945dae4c2218caaeacaa854b2789afa/src/plugins/data_source_management/public/components/edit_data_source/components/update_password_modal/update_password_modal.tsx#L116-L154

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/8d5e504041ce808c0c897a32485de5f8eed30d2a/src/plugins/dat

[2022-11-07 18:14] ahopp commented on #2667
@kavilla good question! I don't think this strategy necessarily dictates either option. Rather it means making design and development decisions informed not by isolated use cases but informed but the holistic user experience and an overall view of the user's needs. In some cases that might be slightly modifying current experiences and in other cases it might required some migrating. @kgcreative an

[2022-11-07 18:34] dmitry-by-step-logic opened #2816 "[i18n] ru, ru-RU locale support"
**Is your feature request related to a problem? Please describe.**

Plugins translations using `@osd/i18n/react` component `FormattedMessage` not work as expected with `ru`, `ru-RU` locales.
Register this locales in `packages/osd-i18n/src/core/locales.js`, ref [#1582](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1582).

[2022-11-07 18:51] dblock commented on #2677
With this proposal, how can I find out what has been *unrelased* on 2.x? This is a major ask and a big part of why the manual CHANGELOG was introduced int he first place.

[2022-11-07 18:55] dblock commented on #2677
@kotwanikunal I believe you've resolved much of the backport conflict problem in OpenSearch, what do you recommend doing here?

[2022-11-07 19:08] joshuarrrr opened #2819 "[Epic] [Visualizations] Consolidate visualization-rendering to Vega-Lite"
This is the meta-issue/epic to track all the migration and deprecation tasks as we consolidate visualization rendering as described in #2385.

### Update Vega-Lite to latest version

Upgrade `vega-lite` from current (`^4.16.8`) to latest (`5.4.0`)
 - [x] https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2717

### Implement common interaction patterns in Vega-Lite

- [ ] Audit Vega

[2022-11-07 19:16] seanneumann commented on #800
@KrooshalUX @ashwin-pc @ahopp can you take a look at this? What are next steps?

[2022-11-07 19:18] seanneumann commented on #1263
@ahopp @kavilla can we triage this? Next steps?

[2022-11-07 19:19] seanneumann commented on #1681
Please re-open if you are still having issues. Thanks!

[2022-11-07 19:19] #1681 closed

[2022-11-07 19:20] seanneumann commented on #1713
Please re-open if you're still having issues. Thanks!

[2022-11-07 19:20] #1713 closed

[2022-11-07 19:21] seanneumann commented on #1748
@ahopp @kavilla is this still an issue?

[2022-11-07 19:22] seanneumann commented on #2491
We need to understand how much work is here and then where to prioritize it.

[2022-11-07 19:24] seanneumann commented on #2145
Advised to close by @kavilla

[2022-11-07 19:24] #2145 closed

[2022-11-07 19:25] seanneumann commented on #1724
@ahopp Needs triage. What are next steps?

[2022-11-07 19:27] seanneumann commented on #2161
Closing as we don't need it.

[2022-11-07 19:27] #2161 closed

[2022-11-07 19:30] joshuarrrr opened #2820 "Migrate line chart vis type to Vega-Lite rendering"

[2022-11-07 19:31] seanneumann commented on #2604
Do we need to update the release md for this?

[2022-11-07 19:32] seanneumann commented on #2604
Let's get https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2533 reviewed this sprint and updated if necessary. @noCharger

[2022-11-07 19:55] apasun commented on #2667
Excited to work with you on this @ahopp!

[2022-11-07 20:54] KrooshalUX commented on #800
@seanneumann  we are moving away from the E in favor of the new experimental guidance. We have updated OUI to include new experimental badges and messaging will be corrected there. We will need to create a separate issues to have each product change their experimental UI to the new guidance and new OUIExperimentalBadge component. I would suggest closing this out as a wont-do.

[2022-11-07 21:23] joshuarrrr commented on #2820
@lezzago - This issue may be overly broad compared to what you're actually planning to tackle. Feel free to create more specific sub-tasks as issues and re-assign to those as needed. I just wanted to track that you're actively working on this.

[2022-11-07 22:21] kristenTian commented on #2597
Need to append data source in front of index pattern, pending UX input on:

- Save Object listing page support
- Visualization creation
- Discover page support

[2022-11-07 23:40] ananzh commented on #2704
yes. Let me close it.

[2022-11-07 23:40] #2704 closed

[2022-11-07 23:41] ananzh commented on #2550
table vis could use uiState. see current feature/tableVis.

[2022-11-07 23:41] #2550 closed

[2022-11-07 23:45] nandi-github commented on #2667
In order to pursue the new direction in Ux/Visualization, is there any standardization or change required from the core side of the OpenSearch ?

[2022-11-08 00:01] joshuarrrr opened #2823 "[Discuss] Separate out data source configurations from existing visualization types"
Today, one of the implicit assumptions in OpenSearch Dashboards visualization and dashboard implementations is that the data source for any visualization is likely the result of a query to OpenSearch. As we move toward support for [multiple datasources](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1388), we need to make sure our visualization abstractions clearly separate vis

[2022-11-08 00:20] joshuarrrr opened #2824 "[Discuss] Define standard visualization capabilities as contracts"
To enable a consistent experience across all visualizations, we first need to catalog and document the "standard" behaviors and interactions that we expect all visualizations to provide, regardless of how they're implemented. A contract-based approach would provide several benefits:

1. Apps which embed visualizations (e.g. `dashboards`) will be able to know which visualizations support global ope

[2022-11-08 01:13] ahopp commented on #2667
@nandi-github Can you help me understand what you mean by "Ux/Visualization"? There's multiple approaches depending on what you want to do in said "new direction", but a flow through the process might look like this;

1. Open an issue speaking to the gap in the current direction
2. Make a proposal to resolve with new direction
3. Get alignment with community and maintainers
4. Submit a PR for the

[2022-11-08 01:13] ahopp commented on #2667
Likewise!

[2022-11-08 01:27] cliu123 commented on #2249
@kavilla @joshuarrrr good call!
@opensearch-project/transfer-request Please transfer this to security-dashboards-plugin. Thanks!

[2022-11-08 02:28] peterzhuamazon commented on #2764
This is actually an issue that needs to be resolved by dashboards.
https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3415811911/jobs/5685325875#step:10:90

[2022-11-08 02:29] ashwin-pc opened #2826 "[VisBuilder] Drop field on workspace research spike"

[2022-11-08 02:39] peterzhuamazon commented on #2764
Seems like fixed in this PR just not being pulled in the latest artifact.
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2793

[2022-11-08 03:48] bandinib-amzn commented on #2663
For current `Pretty duration` implementation, we will need to convert `Last updated` to relative time e.g. `now-15m`, `now` and also need to provide custom `commonDurationRanges`.

These are the  existing commonDurationRanges

[code]

There are two options available to display a pretty print version of the timestamp e.g. `2 hours ago`

1] Convert timestamp to relative time and use prettyDuration O

[2022-11-08 05:51] AMoo-Miki commented on #1040
A similar problem was also observed with `Detected mapping change in "properties.originId"` on OSD 1.3.2.

[2022-11-08 17:07] CCongWang commented on #2675
Hi team, any updates?

[2022-11-08 17:28] ananzh opened #2827 "[BUG][Table Visualization] table vis first column won't sort"
**Describe the bug**
In new table visualization, the first col won't sort. Other columns sort correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Visualize'
2. Click on 'Create Visualization'
3. Choose `VisBuilder`
4. Set type to `table`
5. Create a table with multiple columns
6. Click the title of the first column and choose sort direction
7. See error

**Expected behavior**
f

[2022-11-08 18:04] ahopp opened #2829 "[Feedback] OpenSearch Dashboards Multiple OpenSearch Clusters Support"
OpenSearch Dashboards supports [multiple data sources](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1388), allowing users to manage connections to different OpenSearch endpoints and build visualizations and dashboards with data from different OpenSearch clusters. Available as an experimental feature, this is the first of many capabilities on the [project roadmap](https://gith

[2022-11-08 19:27] joshuarrrr opened #2830 "[Proposal] Improve and expand `charts` plugin to become the "Visualization Style Integrator""
The current [`charts` plugin](https://github.com/opensearch-project/OpenSearch-Dashboards/tree/main/src/plugins/charts) is lightly and inconsistently used, and provides some miscellaneous utilities for use in visualizations:

1. Color palettes (schemas, maps)
2. Theme fetching services
3. A collection of static visualization option UI components

I propose that we use this as a starting point to b

[2022-11-08 19:40] AMoo-Miki opened #2831 "[BUG] Timeseries graphs are off by an hour as a result of DST"
**Describe the bug**

Certain visualizations don't use `moment-timezone` like:
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/fe4b8607b248fa379ce49ac46f2879b93771955c/src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/time_shift.js#L32

This results in graphs being off by an hour where DST is observed.

**To Reproduce**
Steps to reproduce the behavior:

[2022-11-08 20:15] joshuarrrr opened #2832 "[Proposal] Create `vis_options` plugin for creating modular visualization editing interfaces"
Many user-specified visualization options are common and repeated across a variety of different visualization types. Today, authors of new visualization types need to 1. define the user configurable options in some sort of visualization config definition; 2. build out UI components to map to those configurations; 3. make sure the chart type rendering function correctly implements those configurati

[2022-11-08 20:33] joshuarrrr opened #2833 "[Proposal] Improve and expand visualization type definitions for easier plugin use"
There are many features where a plugin author might need to provide a pre-configured visualization in their application. For consistent look, feel, and interaction experience, we'd like to make it as easy as possible to embed one of the visualization types already defined in OpenSearch Dashboards. For example, if a security analytics plugin wanted to provide a histogram on the homepage of their ap

[2022-11-08 21:43] seanneumann commented on #2831
Triage: assigning to oncall @Flyingliuhub

[2022-11-08 21:49] kavilla opened #2834 "Add integrations"
When forking we removed integrations sections since it had a lot of stuff that we don't have up to date information for or if they were compatible with OpenSearch Dashboards.

Then https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2684 removed the section that linked to integrations.

TODO:

* Do we want to have a replacement here?
* If we do want to update this section with lates

[2022-11-08 21:52] seanneumann commented on #2811
Triage - @AMoo-Miki to apply a fix to mitigate it, but we should also follow-up with a longer term solution.

[2022-11-08 21:57] seanneumann commented on #2768
Triage - Does OpenSearch still support Frozen indices (https://opensearch.org/docs/latest/opensearch/index-data)?

Setting to do a research spike.

[2022-11-08 21:58] seanneumann commented on #2752
Triage - Needs research.

[2022-11-08 22:00] arunx2 opened #2835 "[BUG] View Surrounding logs doesn't work on Application analytics"
**Describe the bug**
View Surrounding logs doesn't work on Application analytics.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create application on Application dashboard.
2. Go into Application
3. Click on "log events"
4. Select any log entry in the below section.
5. Click on "view surrounding logs" on top right corner
6. See error tha

[2022-11-08 22:02] seanneumann commented on #2751
Triage - Need to come up with guidance on this one. @kavilla

[2022-11-08 22:16] kavilla commented on #2835
@arunx2 do you have insight if Observability plugin is creating their own view surrounding docs or are they using the core repos logic?

[2022-11-09 00:54] #2827 closed

[2022-11-09 01:32] joshuarrrr opened #2840 "[Initiative] Visualization framework unification improvements"
As part of the [new proposed design strategy](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2667), we want to:

1. Provide OSD users with a clean, unified visualization experience that looks polished and consistent
2. Provide OSD developers with unified interfaces to easily develop, enhance, extend, and interact with visualizations

This initiative focuses on goal 2; the theor

[2022-11-09 02:53] ps48 commented on #2835
@kavilla This looks like a bug in App Analytics. Please move this issue to Observability repo. Also, the Observability plugin uses PPL for most of the backend calls. Hence, it has its own implementation for viewing surrounding docs.

[2022-11-09 06:15] seraphjiang opened #2841 "[MD][Oui] DataSourcePickup"
**Is your feature request related to a problem? Please describe.**

OSD introduced multiple datasource feature which allow user to create and connect to remote data sources. Then it could be selected when used in Dashboards/Visualization/Discover and plugins.

The functionalities we'd like to support are:

1. Be able to show list of data sources, read from saved object data source type -- must hav

[2022-11-09 06:18] seraphjiang commented on #2841
@zhongnansu @kristenTian @KrooshalUX team please review the initial feature request

cc: @kgcreative

[2022-11-09 12:27] toby181 opened #2843 "[BUG]Indices - "Data streams" drop down - name not readable when too long"
**Describe the bug**

We're using data streams ([link](https://opensearch.org/docs/latest/opensearch/data-streams/)) instead of regular indices.
The name of the data streams is build by this scheme: logstream-<kubernetes_cluster>-<namespace>, which can lead to names that are too big for the drop down, see screenshot below.
There's no possibility to see the full name, except if it's selected and sh

[2022-11-09 19:32] vagimeli commented on #962
https://github.com/opensearch-project/documentation-website/pull/1808

Content development is iterative so I anticipate making updates with each release.

[2022-11-09 19:39] DanielBelmes opened #2847 "[BUG] Possible race condition when running build clean empty folder task on Mac OS"
**Describe the bug**

In `src/dev/build/lib/fs.ts deleteEmptyFolders` there is a race condition that can occur with the [del library](https://github.com/sindresorhus/del/issues/68) that will cause an error to be thrown(similar one referenced in the link to bug.)

**To Reproduce**
Steps to reproduce the behavior:
1. Run build on Mac OS
2. At end of build when clean empty folders is run you might se

[2022-11-09 20:30] seraphjiang commented on #2841
Adding reference issue logged

https://github.com/opensearch-project/oui/issues/95
https://github.com/opensearch-project/oui/issues/51

CC: @ashwin-pc

[2022-11-09 22:43] kavilla commented on #2764
@kristenTian can we confirm?

[2022-11-09 23:52] ananzh opened #2848 "[Vis Builder] [Test] Add functional tests for table visualization"
**Func Tests**

Table vis has been added to vis builder. The func tests should cover basic functions related to vis builder:

* table vis should get rendered
* table vis should render when split rows
* table vis should render when split tables
* table vis options should function

Functions related to table vis usage could be test with table visualization to avoid duplication.

[2022-11-09 23:54] kavilla commented on #2799
Hey @manasvinibs,

First point I think is good. This should be a component so the OpenSearch Dashboards external plugin or extension has a mechanism from the developer to tell it that it has a corresponding OpenSearch external plugin or extension. Which was missing prior.

The second point is good as well. To call it out, the executable can list plugins but we shouldn't expect that an executable o

[2022-11-10 00:09] prudhvigodithi opened #2849 "[BUG] Acceptable date formats points to the wrong URL in dashboard"
**Describe the bug**
I’m trying to click on the [Acceptable date formats](https://opensearch.org/docs/opensearch/common-options.html#date-math) and it routes to https://opensearch.org/docs/opensearch/common-options.html#date-math, I guess it should point to https://opensearch.org/docs/latest/opensearch/supported-field-types/date/#full-date-formats

<img width="424" alt="screen_shot_2022-11-09_at_1

[2022-11-10 00:53] jimishs opened #2850 "Ability to provide a comma separated list of values in "Add filter" on the Dashboards Discover page"
**Is your feature request related to a problem? Please describe.**

While using OpenSearch Dashboards Discover panel, when i click on add filter, i am unable to provide a comma separated list of values to match for a specific field. The only way to do this is to click through each value in the dropdown and hit enter, or enter individual values manually and hit enter after each. This can become cum

[2022-11-10 01:04] jimishs opened #2851 "Support for matching in-line query results against a table or list that includes key/value pairs"
**Is your feature request related to a problem? Please describe.**

Im trying to do a real time search against a (static/dynamic) table of values (sometimes referred to as a lookup table). I need to run a query that shows only those results where the IP addresses in the log/document, matches one of the values in the lookup table.

**Describe the solution you'd like**

This feature can have broad a

[2022-11-10 01:06] kristenTian commented on #2764
Yes, https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2793 was merged in.

[2022-11-10 01:21] peterzhuamazon commented on #2764
I already confirmed this change is working in function test repo bundle e2e test.
Thanks.

[2022-11-10 01:22] #2848 closed

[2022-11-10 01:22] ananzh commented on #2848
Issue moved to [opensearch-project/opensearch-dashboards-functional-test #388](https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/388) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-10 01:23] #2764 closed

[2022-11-10 01:59] abbyhu2000 opened #2852 "[BUG] Save window for visualization do not persist when refresh"
**Describe the bug**

When we create visualizations from a dashboard, the toggle `Add to Dashboard after saving` on the save window do not persist. This only happens when we create visualization type other than the vis-builder type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard and select a dashboard
2. Click on `Edit` and `Create new`
3. Choose a visualization type and pro

[2022-11-10 07:28] raintygao commented on #2443
If this issue has not been dealt with, I will try to have a look on it

[2022-11-10 17:11] seanneumann commented on #2665
@bandinib-amzn is this on your radar?

[2022-11-10 17:29] bandinib-amzn commented on #2665
I handed this over to @Flyingliuhub.

[2022-11-10 17:31] seanneumann commented on #2665
Thanks!

[2022-11-10 17:41] joshuarrrr commented on #2852
nice find!

[2022-11-10 18:52] Flyingliuhub commented on #2665
Thanks @acha5066 for opening this bug, I can repro this issue, and will let you know if we find the root cause.

[2022-11-10 20:23] pwkoscp123 commented on #1432
Hello good time
Please post the full exploit or a tutorial video, because whatever I tested, the cloud blocks me or gives an error.
Thank you for providing a comprehensive exploit moment.js 2.29.1

[2022-11-10 21:13] ananzh opened #2855 "[Table Visualization] Replace current table vis with a new one using React and DataGrid"
Currently, we have add table visualization into vis builder to allow customer experience the new table vis. The next step is to completely replace old table vis with the new one.

* Remove old table vis
* Add back removed functions
* Add back server

[2022-11-10 21:17] ananzh commented on #2556
2.4.0 has been released
close this issue

[2022-11-10 21:26] ananzh commented on #2551
close this one for duplication

[2022-11-10 21:26] #2551 closed

[2022-11-10 21:28] ananzh opened #2856 "[Table Visualization][Test] Add unit tests"
Should add unit tests using react test library.

[2022-11-10 21:31] ananzh opened #2857 "[Table Visualization][Test] Document all the functional tests related to table vis"
Table visualization is re-factored with React and OUI DataGrid component, which affects all the related functional tests. There are three major sections of our current functional tests.

## Exit criteria:

- Document all the functional test that are related to the table visualizations
- Remove all  selenium functional tests related to table viz

# Applications

## Visualize

### Data table tests

[2022-11-10 21:33] ananzh opened #2858 "[Table Visualization][Test] Add integration tests"
Should add/update integration for new table visualization.

[2022-11-10 21:36] ananzh opened #2859 "[Table Visualization][Test] Add Backward Compatibility tests"
Add backward compatibility tests for new table vis.
Add data needed from backward compatibility tests of the new table vis.

[2022-11-10 22:08] seanneumann commented on #2657
@rednaksi91 I think this one goes under Vis. Can you follow-up?

[2022-11-10 22:18] seanneumann commented on #2847
Thanks @DanielBelmes for submitting the issue. Would you like to try to solve this? We'd love to support your contribution!

[2022-11-11 00:05] ashwin-pc opened #2860 "[BUG] Flakey CI tests"
**Describe the bug**

Our existing CI tests in some CI groups fail. This adds a lot of churn to the PR process since each of them have to be rerun before PR's can be reviewed or merged. Since we aim to move all the functional tests to the fucntional test repo #2491, I think we need to prioritize these flakey tests first and move them ASAP.

Example failure: https://github.com/opensearch-project/Op

[2022-11-11 00:27] ashwin-pc commented on #2841
I'd split this issue into two parts. The OUI section of the issue is to ask for either support or guidance on an OUI element that san be used to satisfy the features that this feature is asking for. The other part is specific to dashboards, which is to introduce a common datasource picker element that uses the suggested OUI element (Some version of select and popover) to build a uniform Datasource

[2022-11-11 13:53] deepak-rsystems opened #2861 "[BUG] Dashboard having more than two TSVB visualizations throwing exceptions in loop if no matching indices found"
**Describe the bug**
If we have more than two TSVB visualizations on index pattern (say) `*metricbeat*ccad*` where no data or field mappings exist, we start getting "No matching indices found" errors in loop on the screen and `version_conflict_engine_exception` in logs for this index pattern.
And only solution to come out is to close the browser tab.

**To Reproduce**

Prerequisites:
1. Load index

[2022-11-11 16:36] KrooshalUX commented on #2841
I'll be opening an issue to propose a composition for a data source ' picker in the UX repo. It will be  composed of existing OUI primitives which may need additional iteration I anticipate would take a single sprint to execute in time for 2.5. It combines these and requirements from other projects into consideration.

[2022-11-11 16:44] kgcreative commented on #2841
@ashwin-pc -- a meta question that your comment brings up, is how do we want to address [higher order components](https://reactjs.org/docs/higher-order-components.html) for Dashboards, and where should those live. Should those be part of OUI? Should we move some of those to Dashboards Core? Should we split OUI primitives from Dashboards Core common components and interfaces? Right now OUI seems to

[2022-11-11 18:27] joshuarrrr opened #2862 "[Docs] Update EUI doc site links to point to OUI doc site"
All links to `elastic.github.io/eui*` and anchor text should be updated to reference the OUI doc site instead: https://oui.opensearch.org

Found in the following files:
1. `DEVELOPER_GUIDE.md`
2. `src/plugins/home/server/services/tutorials/lib/tutorial_schema.ts`
3. `src/plugins/home/server/services/tutorials/lib/tutorials_registry_types.ts`
4. `src/plugins/opensearch_dashboards_legacy/public/noti

[2022-11-11 18:39] KrooshalUX commented on #2862
Are there any places that reference EUI.elastic.co in addition to the GitHub link you found ?

[2022-11-11 19:10] joshuarrrr commented on #2862
Nope, at least not in this codebase.

[2022-11-11 19:45] manasvinibs opened #2864 "Add args to setup plugin dependencies on cluster snapshot for `archive` and `source` cli-commands"
we want to create follow-up issues for handling the cli-commands related to `archive` and `source` similar to `snapshot` as detailed here https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2544

_Originally posted by @kavilla in https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2734#pullrequestreview-1172981216_

[2022-11-11 20:00] ashwin-pc commented on #2841
@kgcreative Thats a much bigger OUI discussion that would also mean a significant restructure of how we use and build OUI as a whole and warrants a separate thread/issue. The current approach allows for composed components to exist in OUI if they are highly reuseable and abstract. A design system purist will barf at that but I actually like the architecture. It abstracts away a lot of the composit

[2022-11-11 20:44] KrooshalUX commented on #2841
@kgcreative @ashwin-pc Lets move the discussion about higher order components over to OUI repo. I have several philosophical threads too bright to GitHub for broader participation.

As it applies to this request for a “data source picker”, my goal is to orchestrate a composition of existing components that would further extend an existing picker we have (ComboBox) and create under a generic wrappe

[2022-11-12 00:07] joshuarrrr commented on #2717
I'm still working on this but wanted to summarize some of what I've found so far.

### Actual `vega-lite` usage

One important thing to note is that our dependency on `vega-lite` is very specific and targeted within the `vis_type_vega` plugin (the only plugin which uses it). We only need to import `{  compile, version}` for use in `src/plugins/vis_type_vega/public/data_model/vega_parser.ts`. `comp

[2022-11-12 01:07] #2443 closed

[2022-11-12 01:18] ashwin-pc opened #2868 "[Discuss] [Vis Builder] Visualizations should be able to interact with VisBuilder"
Currently a visualization can only render information from the input given to it and all interactivity with the visualization is limited to the visualization itself. The goal of this feature is to allow VisBuilder to allow visualizations to communicate back with VisBuilder about interactions happening in the visualization to perform actions.

Currently we use expressions that allow this form of co

[2022-11-13 08:38] DanielBelmes commented on #2847
Hey thank you so much. Sorry for getting back to you a little slowly. I was just behind on emails. Didn't wanna submit a PR until someone had a look at the ticket. @seanneumann are you guys alright with me just updating the packages across the board? I believe when I did the change locally on just the main package.json to test it out there was a build error that every module needed it updated with

[2022-11-14 06:45] ARud12 opened #2870 "Report definitions only working correctly in the Private tenant space [BUG]"
When creating a report definition in any other tenant space that is not private, the report definition will download the wrong dashboard.
One is able to create a report definition in any tenant space successfully, but when downloading the generated report, it downloads the wrong thing.
![image](https://user-images.githubusercontent.com/106530983/201592812-5ee7e8f0-b2af-43dd-94b0-cb0fbdf02e74.png)

[2022-11-14 11:08] guillaumeldc opened #2871 "[DOC] how to build a custom docker image with plugins?"
Is there a doc on how to build a custom image with security plugins and such?
I can build the image but, the security plugin for example is not installed / bundled by default.
I tried building again using a Dockerfile:

`
FROM myCustomImage:2.2.1
RUN ./bin/opensearch-plugin install plugin_name
`

but the opensearch-plugin doesn't seem to be included as well.
Any help would be appreciated.
Thanks!

[2022-11-14 12:40] guillaumeldc commented on #2871
`RUN /usr/share/opensearch-dashboards/bin/opensearch-dashboards-plugin`

With the correct path, issue solved.

[2022-11-14 12:40] #2871 closed

[2022-11-14 15:25] Flyingliuhub commented on #2831
Discussed with Miki, he will provide the detail repro steps. hand off this to @zhongnansu

[2022-11-14 17:53] abhiraj-everlytics opened #2872 "Get new plugin version after install without doing a "Empty Cache Hard Reload""
I've OSD built and running in Docker Container. Whenever I develop a new feature and install the plugin (by before removing the old/existing plugin) in the OSD, I have to "Empty Cache Hard Reload" the browser to be able to see new changes. Any help on how can this be automated?

[2022-11-14 18:45] #958 closed

[2022-11-14 18:54] zhongnansu commented on #2870
Note from oncall: this should be transferred to dashbooards-reports repo

[2022-11-14 19:13] zhongnansu commented on #2861
notes from oncall: maybe we can validate if TSVB works fine when rendering alone with no-mapping pre-defined in index-pattern. If that's the case, we know the issue is probably with dashboards rendering more than 2 TSVB in 1 dashboards.

[2022-11-14 19:17] zhongnansu commented on #2847
cc @AMoo-Miki , you may have more knowledge on the build system

[2022-11-14 19:33] joshuarrrr commented on #2847
@DanielBelmes it's a little hard to say without seeing the change - are you saying the issue is in the way the `clean` or `extraPatterns` are defined? Or do we need to change the implementation of the script responsible for that task?

[2022-11-14 19:38] joshuarrrr commented on #2872
@kavilla may be able to provide some more guidance as part of work on improving the plugin development experience.

[2022-11-14 20:10] zhongnansu commented on #2849
@prudhvigodithi
- The link will be redirected to [here](https://opensearch.org/docs/latest/) on OpenSearch Documentation site, because we currently doesn't have the docs page set up for that.
- As for the "date formats" you asking. https://opensearch.org/docs/latest/opensearch/supported-field-types/date/#full-date-formats is not the correct reference. That's the date format used in OpenSearch DSL.

[2022-11-14 20:40] kavilla commented on #2872
@abhiraj-everlytics, could you provide more insight. Are you building a version of OpenSearch Dashboards?

[2022-11-14 21:48] ashwin-pc commented on #2861
While not related to the exact same issue, I have faced a similar issue with VisBuilder where an incorrect index causes an error loop that throws tons of notifications #2643. I see 2 problems here:

1. something is causing an error loop for TSVB. We need to investigate that
2. The Notification service is not smart enough to handle multiple error events and do something smart like stack them. This

[2022-11-14 22:03] DanielBelmes commented on #2847
@joshuarrrr No nothing fancy needed. They fixed the implementation in version 6.1.1 of del. Just a simple package update. Let me eat lunch and ill just whip up the PR really quickly and you can take a look. I’ve verified it fixes the issue as well.

[2022-11-15 00:05] mpabba3003 commented on #2435
https://opensearch.org/docs/1.3/security-plugin/access-control/api/#account

[2022-11-15 00:53] joshuarrrr opened #2875 "[Proposal] Update `webpack` to v5"
Much of the js bundling tasks are currently handled by the [`osd-optimizer` package](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-optimizer/README.md), which uses webpack and babel ([via `babel-loader`](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/b19c1717a29fffa1b40f8073c6dfb3fb4fe85972/packages/osd-optimizer/src/worker/webpack.config.ts#L

[2022-11-15 00:55] joshuarrrr commented on #2875
@AMoo-Miki @ashwin-pc @kavilla I'd appreciate any feedback or additional context you can provide on this topic.

[2022-11-15 01:02] joshuarrrr commented on #294
It would be helpful to have some sense of our intended direction here, particularly because the `osd-pm` README contains some text that may be misleading or at odds with our plans.

This issue description is also a bit confusing because `osd-pm` claims to actually use yarn workspaces under the hood:

https://github.com/opensearch-project/OpenSearch-Dashboards/blob/b19c1717a29fffa1b40f8073c6dfb3fb4

[2022-11-15 03:11] mihirsoni commented on #2875
Ideally IMO, we should step back and look for long term, this may become major upgrade for OSD. I would evaluate the other option and see if that makes sense for us and can be more community friendly. lIke Rollup.

[2022-11-15 04:56] deepak-rsystems commented on #2861
We have checked this already, one TSVB visualization (rendering alone with no-mapping pre-defined in index-pattern) gives two "No matching indices found" errors. And if we have two TSVB in a dashboard, it gives four errors, but if we add one more TSVB there, the dashboard goes to six errors and from there on the exception loop starts.

So, it seems related to dashboard rendering more than two TSVB

[2022-11-15 06:50] abhiraj-everlytics commented on #2872
I'm using v1.2 of OpenSearch-Dashboards. I have created 2 custom plugins [ I use the OSD local developer env for developing the plugins ]. I'm continuously improving the plugins and tend to do a daily install of the plugin to OSD v1.2.

I have OSD container running by using `yarn build --docker`. I also build the plugin using `yarn build` and then remove the existing/old plugin from OSD container

[2022-11-15 11:23] abbyhu2000 opened #2876 "[Research] Data persistence in current dashboard plugins"
### Data persistence
There are four plugins that currently have data persistence ability in opensearch dashboard: dashboard, discover, timeline, and visualize. They are using the following services and mechanisms from opensearch_dashboard_utils plugin to achieve data persistence.

State syncing utils are a set of helpers to sync application state with URL or browser storage(when turning state: sto

[2022-11-15 14:23] deepak-rsystems opened #2877 "[BUG] Index patterns not loaded after creation of the index template for all indices pattern "*""
**Describe the bug**

If we load an index template for all indices "*" pattern with following template settings, indices patterns are not loaded anymore and saved objects are also not visible anymore and we get "Unable find saved objects" error on screen.

`"template" : {
          "settings" : {
            "index" : {
              "routing" : {
                "allocation" : {

[2022-11-15 17:26] BSFishy commented on #2875
IMO, we shouldn't deviate from standard tools. By using tools that the community is already familiar with, like Webpack, the project is a lot less intimidating to newcomers because there are already parts that they know and understand.

I think a short-er term goal could be to upgrade to Webpack 5, as we already have a lot of configuration and things for Webpack, and like @mihirsoni mentioned, we

[2022-11-15 17:29] jamie-chapman commented on #1611
Having the same issue here

[2022-11-15 19:42] joshuarrrr commented on #2875
@mihirsoni Can you explain a bit more about why you think this would be a major upgrade? It seems like bundling today is largely an implementation detail that doesn't directly affect all developers in a direct way.

Can you clarify what are the important criteria that make a given bundling approach more or less community friendly? Is it the approachability/familiarity of the actual bundling tools

[2022-11-15 20:26] abbyhu2000 commented on #1913
Research on how current plugins achieve data persistence: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2876

[2022-11-15 21:15] kavilla commented on #2875
I think one of the reasons historically is that we have this monolith repo and it has to be optimized to build and share dependencies. But then it also has externalized code. We can also look if we are actually changing some aspects of how we source control these items. If break apart this repo do we also need any optimization for a monolith repo?

It `osd-pm` also inspired by Lerna working with y

[2022-11-15 21:59] zhongnansu commented on #2879
@opencmit1 could you add more details to the issue following the template?

[2022-11-15 22:16] zhongnansu commented on #1593
Upgrading `formidable` to `3.2.4` will cause CI to fail in some tests

[code]

[2022-11-15 23:53] ohltyler opened #2880 "[Feature Anywhere] Enable plugins to augment visualizations with additional data and context"
Currently time series visualizations are limited in just showing raw results generated on-the-fly from configured metrics, and don't provide any additional insights about the data shown on the chart. There are several OpenSearch plugins that are tailored towards providing insights into time series data, including [Anomaly Detection](https://github.com/opensearch-project/anomaly-detection) and [Ale

[2022-11-16 00:10] ohltyler opened #2882 "[Feature Anywhere] Add a generic interface for overlaying data on a Visualization"
There are many ways we may want to support adding to and/or augmenting the source visualization data to provide additional insights. We can introduce a generic `VisLayer` interface that can be extended, to define a variety of ways we can layer data onto a visualization. We list out a few below:

1. Point-in-time-event layering (`PointInTimeEventsVisLayer`). This layer can be used when we want to s

[2022-11-16 01:21] abbyhu2000 commented on #2852
One possible approach is to embed the originatingApp information into the URL, just like how the visualize plugin persists other data using URL.

[2022-11-16 03:46] wanglam commented on #1561
According to my research and testing, using whatwg URL cannot completely replace the use scenario of node url related methods. They mainly have the following differences:

1. Pathname with origin like (http://localhost/foo) is valid in url.format but steal treat as pathname in whatwg-URL
2. url.parse can parse relative path like (/foo/bar?a=b) , whatwg-URL will throw error if not an valid URL
3. F

[2022-11-16 04:01] ashwin-pc commented on #2876
@abbyhu2000 This is an amazing deep-dive! I can already think of a lot of good ways to put this system to use.

@kroosh @kgcreative while this is a technical deep-dive, I just want to put this on your radar when you think about how we want make the experience across Dashboard's and its plugins to feel unified and when we want to persist information as the user navigates form one app to another.

[2022-11-16 11:13] fbaligand opened #2886 "Support for "OpenSearch Dashboards Minimum" as docker image"
Hi,

Currently, on Docker Hub, I can find only OpenSearch Dashboards "full" version:
https://hub.docker.com/r/opensearchproject/opensearch-dashboards

As a plugin developer, I would be very happy to have OpenSearch Dashboards "Minimum" version as a docker image. Either on Docker Hub, or elsewhere.

=> Could you provide "OpenSearch Dashboards Minimum" available as a Docker image?

[2022-11-16 22:47] zhongnansu commented on #2831
@AMoo-Miki can you share the above details in the issue description? So whoever takes the task after current oncall can continue the work

[2022-11-17 06:07] ashwin-pc opened #2887 "[Proposal] Feature branch development"
Feature branch development for long running features seems to be the preferred way for collaboration between different contributors. It also raises some concerns about code quality and PR size (when merging to main). While our initial attempt at this development model realized these concerns and halted further feature branch development, this proposal aims to address those concerns with an alterna

[2022-11-17 07:37] kavilla commented on #2887
I like it! For the feature branch we can also call out that merge PRs from `main` can be made into the feature branch to keep it up to date as possible. Also, enforces the tests as a requirement instead of tests as an after thought. Thanks @ashwin-pc for making this.

[2022-11-17 10:10] VladutZzZ opened #2888 "[Bug] Issues with RegionMaps plugin"
Hello,

I think I found multiple issues with region maps after adding support for custom import map vector.

First, from debugging the current code, looks like if you chose default map you can't use Name as join Field and iso_3166_2 is default selected:
https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/src/plugins/region_map/public/region_map_visualization.js#L159

And the seco

[2022-11-17 16:05] IanGabes commented on #2877
My team and I are is also noticing this behaviour on build 2.3.0, and 2.4.0

Additional Notes:

1) Users are ABLE to view index-patterns for the global tenant
2) Users are UNABLE to view index-patterns for private and shared tenants
3) Deleting the `routing` key from the index settings does not seem to have an effect, before/after restarting the dashboards

The user used for testing this has all p

[2022-11-17 19:05] AMoo-Miki opened #2889 "Add Windows support to the future 1.x releases"
Would involve manually backporting #2601, #2681, and #2703.

[2022-11-17 20:30] joshuarrrr commented on #2875
Yeah, @kavilla I think our research and decisions around the future of `osd-pm` can continue in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/294. Here, I'm mostly trying to figure out if there are any particularly strong reasons for us to not go ahead and upgrade webpack within our current bundling framework. (Or if we need to wait for more research and knowledge.)

[2022-11-17 21:13] joshuarrrr commented on #2851
@jimishs It sounds like your particular pain point has to do with the limitations of current filter definitions, where it's impractical to create a filter that is essentially an allowlist of many different values. And secondarily, it would be even better if the filter could be dynamic, rather than just a static list.

Did I understand the basic problem correctly?

[2022-11-17 21:24] ashwin-pc commented on #2875
@BSFishy for some context, these tools are usually built when community tools dont have support for features that the project requires out of the box. Today we have much more powerful build tools that make `osd-pm` unnecessary but that was not the case when it was introduced.

[2022-11-17 21:32] ashwin-pc commented on #2875
A webpack upgrade was attempted in the past for 2.0 #1118. The refactor involved was apparently significant. Identifying if thats still the case will determine the path forward here. If it is a big lift, we should evaluate our plan long term instead of upgrading since it will be a lot of throwaway work. If we can relatively easily upgrade it, a short term plan that involves an upgrade is possible.

[2022-11-17 21:40] ashwin-pc commented on #1561
@wanglam thanks for a very good deepdive into the issue. I think you have called out the risks accurately here. the whatwg-url does not appear to be ready as a drop in replacement for all our `url.parse` and `url.format` use cases. @AMoo-Miki @kavilla @joshuarrrr what are your thoughts on his findings?

Whatwg-url was introduced to standardize browser url's but has some issues when used in node en

[2022-11-17 21:54] kgcreative commented on #2850
Combo box has a `withDelimiter` prop we can use to allow paste to recognize and split those options.

[2022-11-17 23:01] ashwin-pc opened #2891 "Research Agg service and how it maps aggregations to a datatable"

[2022-11-18 00:15] joshuarrrr commented on #2875
😆 @ashwin-pc Thanks for linking #1118 - I don't know why I didn't search for it! For what it's worth, I _think_ I'm fairly close to a working PoC for the upgrade that won't be too bad, but I'll definitely timebox it to estimate feasibility.

[2022-11-18 00:25] joshuarrrr commented on #1561
+1. We should definitely first focus on the obvious/easy low-hanging fruit. If we could remove like 90% of the deprecated usage that would be great.

[2022-11-18 00:41] joshuarrrr commented on #2887
I like this approach - high-frequency integration solves much of the pain of one giant merge at the end. It should also work with our existing permissions model, with no changes necessary for contributors, correct?

[2022-11-18 01:14] ohltyler opened #2893 "[Feature Anywhere] Add a `augment-vis` saved object type"
As part of #2880, we propose to create a new saved object type called `augment-vis`. The purpose of this new type will be to store the relationships between a plugin resource (e.g., anomaly detector or alerting monitor) to a visualization. The main components/fields include:
1. Plugin resource ID (e.g., detector id)
2. A reference to a `vis_layer` expression function, including the name of the fun

[2022-11-18 01:26] joshuarrrr commented on #2383
@abbyhu2000 Is this done and ready to be closed? It looks like the parent issue is closed and complete.

[2022-11-18 01:27] joshuarrrr commented on #1881
@ashwin-pc Can we close?

[2022-11-18 01:29] ohltyler opened #2894 "[Feature Anywhere] Add a `vis_layers` expression function type"
As part of #2880, we propose to have a standardized way for plugins to format their overlay data into a `VisLayer` that can be processed by the downstream visualizations for rendering this additional data. For more information on the `VisLayer` overlay data model, see #2882.

To accomplish this, we can introduce a `vis_layers` expression function type, and allow plugins to register their own funct

[2022-11-18 01:51] joshuarrrr commented on #2585
Items 1 and 2 are documented in #2695. I've determined that the plugin is a useful base to begin expanding to become more useful and essential to all visualizations:

https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2830

I also think that it will eventually make sense to move some of the input option UI components elsewhere:

https://github.com/opensearch-project/OpenSearch-Dash

[2022-11-18 02:08] joshuarrrr commented on #329
@ananzh It looks like this is complete for `elastic-datemath`, via
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/254

[2022-11-18 02:12] joshuarrrr commented on #378
@ashwin-pc I don't think this is likely to be in scope for v2.5 of Vis Builder, but I'm going to tag it as part of the project, because it's an interesting feature we may want to keep in mind as we further refine these defaults.

[2022-11-18 02:14] joshuarrrr commented on #378
@JacobBrandt You mention wanting to be able to set these from Index Management - but would it maybe be more convenient to do it from the visualization editor itself, through some sort of "remember this aggregation" checkbox or something?

[2022-11-18 02:19] joshuarrrr commented on #380
@JacobBrandt and other interested in this feature should check out the progress being made in https://github.com/opensearch-project/dashboards-maps/issues/15

[2022-11-18 18:53] #2585 closed

[2022-11-18 21:20] ashwin-pc opened #2898 "Persist the app parameters in the redux store."
Currently vis builder lacks persistence for its own app data. The modifications user made when creating vis builder visualizations will get lost when refresh without save. The expected behavior is to persist all valid modifications when refresh. This should also work with both the URL and session storage, as user can change the settings under advanced setting.

App data persistence:
1. visualizati

[2022-11-18 21:20] ashwin-pc opened #2899 "Persist agg data when you switch between vis types"

[2022-11-18 21:22] ashwin-pc opened #2900 "[Spike] Research how to persist agg data when switching Vis Types for Vis Builder"
This task will be broken into smaller tasks:

- [ ] https://github.com/opensearch-project/OpenSearch-Dashboards/issues/3157

[2022-11-18 21:23] abbyhu2000 opened #2901 "[Doc] Readme on how plugins can persist the global query param(global filters, time range, time refresh interval)"
Instructions on how plugin can persist the global data param

[2022-11-19 01:07] kristenTian commented on #2435
Update: we can try connecting to the cluster info API as well when there is auth. And only look for 401 Unauthorized error to check if the provided auth is invalid.

[2022-11-19 02:13] abbyhu2000 opened #2902 "[BUG] Inconsistent URL when turning on session storage"
**Describe the bug**
Current dashboard plugins such as dashboards, discover, timeline and visualize implement data persistence using URL or session storage. The default option is to persist global data and app data in the URL, so the actual data are being embedded within the URL.

However, if we turned on `Store URLs in session storage` in advanced setting, the information will instead be persiste

[2022-11-19 02:45] abbyhu2000 opened #2903 "[Proposal] Data persistence using session storage by default instead of using URL"
**Overview**
Current dashboard plugins such as dashboards, discover, timeline and visualize implement data persistence using URL or session storage. The default option is to persist global data and app data in the URL, so the actual data are being embedded within the URL.

**Problem**
However, since it stores everything in the URL itself, the URL can easily get super long. A sample URL of metric v

[2022-11-20 05:53] sikhote opened #2904 "Add ability to create deeply nested context menus with grouping"
**Is your feature request related to a problem? Please describe.**

There is not a way to do the following within a dashboard context menu:

1. Create N layers deep of nested panels. Currently, the grouping field only allows a single layer deep
2. Add custom content as an item
4. Easily add titles to a group of items
5. Add custom panels and link to them from items

**Describe the solution you'd l

[2022-11-21 17:35] ananzh commented on #2556
2.4 is released. close it.

[2022-11-21 17:35] #2556 closed

[2022-11-21 17:44] ananzh opened #2905 "[Table Visualization][Bug] URL value is not clickable if enabled"
### Description
This is a bug I found when deep dive in our functional tests. If we set `clientip` as URL format in index pattern field, it is not shown properly in the new table visualization.

<img width="864" alt="Screen Shot 2022-11-21 at 09 42 40" src="https://user-images.githubusercontent.com/79961084/203124127-3e0576fc-fe61-42b1-9b8a-b7492b3978c0.png">

They should be clickable. Below is fr

[2022-11-21 18:31] joshuarrrr commented on #705
Yeah, I think this is a no-brainer in terms of useful functionality to add. We may be able to leverage our recent refactoring of the table visualization to tackle this sooner than later.

[2022-11-21 18:45] joshuarrrr commented on #2676
Are there other allowed characters we can use to further minimize collision risk?

[2022-11-21 19:01] #2269 closed

[2022-11-21 19:07] kavilla opened #2906 "[Extensions] Create SDK repo"
Create repo for SDK related to extensions.

[2022-11-21 19:17] kavilla opened #2907 "[Extensions] Hello World Extension"
SDK can contextualize a hello world extension within OpenSearch Dashboards.

Related to:
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2608

[2022-11-21 19:21] seanneumann commented on #2906
What are we going to call it?
Maybe: OpenSearch-Dashboards-Extensions-SDK

[2022-11-21 19:27] joshuarrrr commented on #2875
Yeah, @kavilla I think our research and decisions around the future of `osd-pm` can continue in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/294. Here, I'm mostly trying to figure out if there are any particularly strong reasons for us to not go ahead and upgrade webpack within our current bundling framework. (Or if we need to wait for more research and knowledge.)

[2022-11-21 21:37] joshuarrrr commented on #2126
@abbyhu2000 Do you mind taking a look at this? I think your recent investigation means you can either provide an explanation or suggested fix.

[2022-11-21 21:53] ananzh commented on #2482
fixed it in https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2454
close this issue

[2022-11-21 21:53] #2482 closed

[2022-11-21 21:57] joshuarrrr commented on #2613
closed via #2624

[2022-11-21 21:57] #2613 closed

[2022-11-22 00:45] joshuarrrr commented on #2904
@sikhote Thanks for opening this issue, this makes the intent much more clear and understandable. I do have a couple questions and concerns.

1. It seems like this design changes some of the fundamental assumptions about UI actions

The `ui_actions` plugin seems to be a solution to a particular need - multiple plugins may want to self-register actions based on particular triggers (often button or

[2022-11-22 01:09] joshuarrrr commented on #2887
@ashwin-pc I have one additional suggestion - as part of creating new feature branches, can we also create a dedicated label? That makes it easy to filter on our out issues that are specific from the feature (otherwise they can sometimes swamp the repo). By default, maybe the label just matches the branch name?

[2022-11-22 01:47] joshuarrrr opened #2909 "[Epic] [Feature] "Point in time" search OpenSearch Dashboards integration"
This is the epic issue for tracking all Point In Time tasks within OpenSearch Dashboards

OpenSearch Meta Issue: https://github.com/opensearch-project/OpenSearch/issues/3959
User request: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1268
UX mocks and discussion: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1612

- [ ] https://github.com/opensearch-projec

[2022-11-22 01:53] joshuarrrr commented on #1612
@bharath-techie Do you mind helping us organize and label the PIT-related issues (I've labeled them all `feature-PIT` for now and created an Epic to track them all: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2909).

It seems like the items in this table are more up to date than the task lists in each issue. Can you

1. review the existing issues and update the task lists ac

[2022-11-22 02:01] joshuarrrr commented on #1388
@zengyan-amazon This issue is labeled `v2.4.0`. Is it ready to be closed, or should we update/remove the release label?

[2022-11-22 02:01] joshuarrrr commented on #2139
@ananzh I bumped this to target the 2.5.0 release.

[2022-11-22 04:39] kgcreative commented on #1612
cc: @KrooshalUX for FYI

[2022-11-22 08:59] dimittal opened #2911 "[BUG] Visualizations created via Saved Objects API do not show up in the web."
**Describe the bug**
Visualizations created via Saved Objects API are not showing in OpenSearch Dashboard in the visualization section but are accessible via API. Similarly, the visualizations created from the web aren't accessible via Saved objects API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Visualizations
2. Create a new line visualization from your index pattern
3. Go to sa

[2022-11-22 09:24] wanglam commented on #1561
@joshuarrrr @ashwin-pc  I create a PR(#2910 ) about this issue. Could you help me to review it?

[2022-11-22 17:25] joshuarrrr commented on #2911
This sounds like maybe a duplicate of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1526, although it sounds like potentially more of an issue with security. Can you confirm that you're accessing the same tenant in both cases?

[2022-11-22 17:34] dimittal commented on #2911
Yes. the issue seems related to #1526. I see I only have one tenant in my dashboard and there is no mention of the tenant when using the API. The namespace is default in my saved object API calls.

Following is the GET API call response on the endpoint - `api/saved_objects/visualization/9197b020-699e-11ed-9134-d1226417a6c6`. This is the visualization I had created using the API.
`{
    "id": "9197

[2022-11-22 17:40] joshuarrrr opened #2912 "[Research] Document `visualizations` plugin"

[2022-11-22 17:51] violetaria opened #2913 "[BUG] cluster:monitor/tasks/lists not available when adding cluster permissions"
**Describe the bug**

When creating a new security role, I'm unable to add `cluster:monitor/tasks/lists` to the permissions as it's not recognized. However, that role is [required to list tasks](https://github.com/opensearch-project/OpenSearch/blob/a1ceff41b9ae9508e68751d98999ddc843daf5d1/server/src/main/java/org/opensearch/action/admin/cluster/node/tasks/list/ListTasksAction.java#L45
)

**To Repr

[2022-11-22 18:14] zhongnansu commented on #2435
I think per @zengyan-amazon 's point, to suggest using security plugin api, e.g. `_plugin/authInfo`, is to make sure when user tries to connect to ES cluster, it's with only our security plugin installed, not x-pack security. Also why not check for 200? Don't we want a "test connection" to test successful connection at the moment? Checking 401 can only make sure the auth is correct, but I doubt it

[2022-11-22 18:39] abbyhu2000 opened #2914 "Lack of UI for enabling auto apply config when creating/editing visualization"
**Describe the bug**

In the code, there is reference to the auto apply config, [enableAutoApply](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/9041a8278739e2979cdf6b2307629f3f3b802dcd/src/plugins/vis_default_editor/public/components/sidebar/controls.tsx#L57) for visualize editor, however, there is no UI for users to enable that auto apply config to display the auto apply button

[2022-11-22 18:53] joshuarrrr opened #2915 "Minimal migration of Visualization line charts to vega-lite"

[2022-11-22 18:54] joshuarrrr commented on #2915
@lezzago Please update the description with the scope you have in mind for the minimal migration.

[2022-11-22 18:56] joshuarrrr opened #2916 "[Feature Anywhere] Framework for plugin registration"
Construct a framework allowing plugins to register an option on the visualization details panel, to let users maintain relationships between a visualization and their plugin resources

[2022-11-22 20:00] joshuarrrr commented on #2876
@abbyhu2000 What's the plan for where we're going to add this info to make it discoverable by other devs?

[2022-11-22 20:05] ananzh commented on #2905
This bug is due to the following line of code in [this file](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/f12fa98da910bbaea50ca3b52f7b177c1531657b/src/plugins/vis_type_table_new/public/components/table_vis_component.tsx#L55)
[code]

currently, in the new table vis, we set the content formatter to convert raw content to text format. we should convert it to html format.

[2022-11-22 20:31] ananzh commented on #2905
By switching text to html below:
[code]

<img width="805" alt="Screen Shot 2022-11-22 at 12 23 20" src="https://user-images.githubusercontent.com/79961084/203414055-feba959f-7b0b-4505-8d4a-72a9abb8cece.png">

Now we could see HTML content of a DOM element. But react can not recognize the html content and it just treat it as string. We could use `dangerouslySetInnerHTML` to let react know this is h

[2022-11-22 21:51] anubisg1 opened #2917 "expand multiple-authentication to support anonymous login"
**Is your feature request related to a problem? Please describe.**

As per title, the request is to add an option to support anonymouys login to the multiple authenticaton feature
https://opensearch.org/docs/latest/security-plugin/configuration/multi-auth/

**Describe the solution you'd like**

A button to be added with a tytle "continue as a guest" or similar, for anonymouys user

**Describe alte

[2022-11-22 22:02] andloh commented on #2829
Great work! Looking forward to test this feature. Will provide feedback when tested!

Thanks

[2022-11-22 22:48] kavilla commented on #2905
Historically for security issues I believe we still had to purify the content before setting even though it was saved data. But does other viz plugins handle sanitization of data, I believe there is some sanitizing within the repo.

[2022-11-22 22:57] kristenTian commented on #996
Tried to build the package in a arm64 machine. Logging the following error during `yarn osd bootstrap`:
[code]

[2022-11-22 23:00] kristenTian commented on #996
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1113/files  percy/agent was removed here

[2022-11-22 23:03] joshuarrrr commented on #2737
The existing mapping functionality in Dashboards is a bit limited. For more complex use cases, you may have better luck with the dedicated mapping plugin: https://github.com/opensearch-project/dashboards-maps/issues/15

[2022-11-22 23:07] joshuarrrr commented on #2851
Note that the request for comma-separated multiple values should be straightforward and is captured in https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2850

[2022-11-22 23:13] joshuarrrr commented on #2850
To add the property, we'd probably start from src/plugins/data/public/ui/filter_bar/filter_editor/phrases_values_input.tsx

[2022-11-22 23:29] joshuarrrr commented on #2913
@opensearch-project/transfer-request please transfer to https://github.com/opensearch-project/security-dashboards-plugin

[2022-11-22 23:42] ashwin-pc commented on #2887
Good call, Each of our features so far have had feature specific labels to help identify the feature specific issues and PR's. Will update the proposal.

[2022-11-23 00:01] joshuarrrr commented on #1561
Thanks @wanglam! We'll schedule it for review. With the holiday week it may realistically be next week that we can pick it up.

[2022-11-23 01:21] ashwin-pc commented on #378
@joshuarrrr This seems to be an issue that was opened before VisBuilder. I assume it was a way to make creating visualizations easier.

@JacobBrandt now that we have the new VisBuilder feature, do you think a feature like this is still relavant? I assume this was an ease of use feature to help speed up the process of creating a visualization. Now that we have a much simpler way to do so, do you th

[2022-11-23 01:24] ashwin-pc commented on #2383
@joshuarrrr I think we want to keep this issue open since we have a draft PR open to add the cancel flow. That PR is still in draft because we realized that we were implementing sketchy UX patterns to enable these save and cancel flows. @KrooshalUX is working on a better save workflow that we can use across the app.

@KrooshalUX do we have a tracking issue for that?

[2022-11-23 01:28] ashwin-pc commented on #1881
Still haven't found the time to do this.

[2022-11-23 01:34] zhongnansu commented on #2594
@kristenTian are we able to deliver this in 2.5.0
@KrooshalUX Do we have UX input on this ready? If not, considering timeline. I suggest we remove this item from 2.5

[2022-11-23 01:35] zhongnansu commented on #2599
@kristenTian is this still on track for 2.5?

[2022-11-23 01:35] zhongnansu commented on #2597
@kristenTian is this still on track for 2.5

[2022-11-23 01:38] zhongnansu opened #2921 "[MD] Support connection to AWS OpenSearch domain with user based Sigv4"
### Task Breakdown
- [ ] user based Sigv4 to connect to Amazon OpenSearch domain
  - [ ] Frontend:
    - Create page add new auth type as a radio button for user to select
    - input boxes for "AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, region", mask the keys
      - input validation
    - helper text if needed
    - Disable edit auth content or type for Sigv4,  due to the limitation in next secti

[2022-11-23 01:39] zhongnansu commented on #2110
Implementation Tasks
- [ ] #2921

[2022-11-23 04:45] xeniatup commented on #2914
I'm wondering what might be a use case for not using "auto apply"?

[2022-11-23 08:43] ashwin-pc opened #2923 "[BUG] Table vis allows fields that can cause the app to crash"
**Describe the bug**

When a count field is added to the split rowss dropbox and then clicked to edit the agg type, the whole app crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VisBuilder
2. Drag and Drop count to "Split Rows"
3. Click on the "filters" field (The dropped field)
4. See app crash

**Expected behavior**
- [ ] This field should not be allowed in the split rows dro

[2022-11-23 08:43] kavilla commented on #2887
@ashwin-pc, @joshuarrrr,

One insight from the OpenSearch repo was that for the feature branch they are determined to get a main contributor to feature branches as a maintainer. Who has the insight of the application would enforce our standards so that way long running feature branches can be looked over with more trust. Food for thought.

[2022-11-23 08:44] ashwin-pc commented on #2923
The root cause here can be fixed quite easily by adding `!filters` to the agg filter for the table vis type. The bigger challenge is to make sure that issues like this does not takedown the whole application.

[2022-11-23 09:09] ashwin-pc commented on #705
@joshuarrrr +1. I took a deeper look at this today and i think we can repurpose the table vis in VisBuilder to behave as a pivot table instead. It already has the other features needed to make this work. For users who want a more specific table viz they can always resort to the original table viz type while pivot table users can simply rely on VisBuilder. Also there is no real difference between a

[2022-11-23 09:19] ashwin-pc commented on #2900
All vis types define the data they can display as schemas. Each schema definition defines the `group`, `aggFilters` and min and max number of values that the field can aggregated field is allowed to contain. Each field that is already selected in the previous visualization has a schema group and aggregation property set. One simple solution is to simply map these aggregated fields to the closest a

[2022-11-23 09:33] abhiraj-everlytics commented on #2872
Hi @kavilla please review.

[2022-11-23 09:42] ashwin-pc commented on #2887
Thats a nice idea but it may be hard to achieve, at least for the two feature branches we are aiming to introduce. Also the criteria that maintainers are still required to merge feature branch PR's should in theory give us the same level of trust without needing to have a single main contributor looking over the whole feature development in isolation.

[2022-11-23 16:20] domruf opened #2925 "[BUG] BadCredentialsException when using Openid with Azure"
**Describe the bug**

When configuring Azure as a IdP for OIDC I get an exception

[code]
and in the browser it says '{"statusCode":401,"error":"Unauthorized","message":"Unauthorized"}'

**To Reproduce**
Steps to reproduce the behavior:
1. configure openid in plugins/opensearch-security/securityconfig/config.yml
2. configure openid in config/opensearch_dashboard.yml as described at https://opensea

[2022-11-23 17:28] aoguan1990 commented on #2925
@seraphjiang As this issue is security dashboards plugin related, we can move this issue to[ security dashboards plugin repo.](https://github.com/opensearch-project/security-dashboards-plugin)

[2022-11-23 19:12] pjfitzgibbons opened #2926 "Create tests for OSD List Extensions"
OSD List Extensions
* opensearch-project/OpenSearch-Dashboards#1866
* opensearch-project/OpenSearch-Dashboards#2670

[2022-11-23 19:54] pjfitzgibbons commented on #1866
@elfisher @anirudha I believe the intention of this feature is to allow plugins to expose their objects onto the "front page" of OSD, which would be the Dashboards List.  We are not recommending or requiring the plugin author modify their plugin to appear as-if it were part of OSD-Core proper; instead we allow the plugin to maintain it's own breadcrumb scheme as they wish.  The integrated OSD Dash

[2022-11-23 21:13] kristenTian commented on #2597
UX is still pending for this task. we can work on it if there is bandwidth.

[2022-11-23 21:35] kavilla commented on #2599
Will this be enough? Or did we want to maybe to try some A/B testing to verify if this will help our users differentiate?

[2022-11-23 22:40] kristenTian commented on #2599
This is the related task: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2597#issuecomment-1306306976.

Basically the following components are involved:
- Save Object listing page support
- Visualization creation
- Discover page support

This can definitely be helpful to users when there are duplicated index pattern names.

[2022-11-25 12:11] tomte76 opened #2927 "[BUG] Report generation fails on Helm deployment of 2.4.0"
I deployed opensearch and opensearch-dashboard using the latest helm files. I can write data to it, can explore and graph my data, but I cannot generate reports. If I go to a dashboard and hit the PDF or PNG report link from the pulldown I can see the headless_shell processes spawn on the corresponding kubernetes worker inside the pod. But they never finish. If I generate another report the proces

[2022-11-25 22:49] ananzh opened #2928 "[Index Management][BUG] URL img field format doesn't properly show sample images"
**Describe the bug**

When click `index pattern` in `Stack Mangement` then use `URL` as the field format and set `img` as type, field formator doesn't properly show sample images.

<img width="980" alt="Screen Shot 2022-11-25 at 14 41 37" src="https://user-images.githubusercontent.com/79961084/204061053-5730e60e-bcb3-478a-b3d8-38c67a8975f5.png">

**To Reproduce**
Steps to reproduce the behavior:
1

[2022-11-26 05:06] dimittal commented on #2911
@joshuarrrr I figured this was a tenancy related issue. I can see my visualizations created via API are going into the private tenant created for the admin user and not showing up when i use the global tenant on the web. Is there a way I can disable multi-tenancy through passing config in my docker compose file? I see there is mention of being able to pass those configs in the compose file here (h

[2022-11-26 23:39] seanneumann commented on #406
Closing out this issue as we shipped Node 14 upgrade. Will open a new issue for the next version upgrade.

[2022-11-26 23:39] #406 closed

[2022-11-26 23:44] seanneumann opened #2929 "[Proposal] Upgrade to Node.js from 14 to 18"
**Is your feature request related to a problem? Please describe.**

Today, OpenSearch Dashboards runs on Node 14, which has longterm support (LTS) until April of 2023 (https://github.com/nodejs/release#release-schedule).

**Describe the solution you'd like**

I'd like to consider upgrading to Node 18 which has active support through 2025.

**Describe alternatives you've considered**

We can consid

[2022-11-27 00:03] kavilla opened #2930 "[Feature] upgrade/migration readiness plugin"
### Problem
When OpenSearch Dashboards upgrades there can be changes that could cause issues if end-users do not prep their instance. For example, a deprecated configuration could have been removed in a major version bump but users were still using the deprecated config despite the warning. Then when the app starts it cannot not restart until they remove that configuration.

### Proposal
Check the

[2022-11-27 22:41] KrooshalUX commented on #2921
@zhongnansu  I think since we are now adding more authentication types, we should re-visit the design using `EuiSuperSelect` or `EuiComboBox` limited to a single selection, as it is a searchable interface which when considering builders providing added integrations, this list may extend 5-7 choices (my max recommendation for `SuperSelect`. Additionally, should we consider adding calrifying detail

[2022-11-28 00:49] KrooshalUX commented on #2034
In a decoupled world, which we are working towards, all connections will be a data source connection - therefore this icon may be added noise within the UI. @kgcreative  wondering what your take is on this, and if we should design it or close this issue as not needed.

[2022-11-28 02:39] sikhote commented on #2904
@joshuarrrr thanks for the dialog.

1. Agreed, this is certainly expanding the ability of actions and the amount/type of content they can contain. I'm not sure if there's anything I can do to push this request forward in regards to any concerns for expanding how we add context menu options, but please let me know. Perhaps @lezzago can help out or find the right people to engage in this discussion.

[2022-11-28 09:50] kavilla commented on #2816
Closed by https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2817

[2022-11-28 09:50] #2816 closed

[2022-11-28 15:28] serena-martino opened #2931 "Visualizations "Controls""
Hello,
i need to get value for specific Field and using it to filter data in my dashboard.
I select controls visualization but probabily there are more data in the fied and this is the message:

_"Terms list might be incomplete  because the request is taking too  long. Adjust the autocomplete  settings in  opensearch_dashboards.yml for  complete results "_

I can't adjust the autocomplete settings

[2022-11-28 18:54] ananzh commented on #2928
This is because in url format htmlConverter (https://github.com/opensearch-project/OpenSearch-Dashboards/blob/7f7c7449e8fcf3a3ad58bd8f009cc7830131758b/src/plugins/data/common/field_formats/converters/url.ts#L158)](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/808129bcf077912c2ed4af5aea517c32ec1315a5/src/plugins/data/common/field_formats/converters/url.ts#L160)

[code]
the baseUr

[2022-11-28 19:22] joshuarrrr commented on #2905
The answer is "no", it appears, at least when using these field formatters.

[2022-11-28 21:24] ananzh opened #2932 "[Field Format] Refactor field format to completely remove html format converter"
Field format is restored in index pattern. Currently, we support 15+ formats. An index pattern is constructed like the following
[code]

From @joshuarrrr comment:

 It seems the primary purpose of the field formatters (provided by the data plugin) is plain text formatting, which seems both sensible and necessary. I see no need to get rid of these or fundamentally change them.

We have two types of

[2022-11-28 21:43] joshuarrrr commented on #2928
@ananzh This sounds like the root cause of https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1888, right?

[2022-11-28 22:29] ananzh commented on #2928
duplicate of #1888

[2022-11-28 22:29] #2928 closed

[2022-11-28 22:29] ananzh commented on #1888
This is because in url format htmlConverter (https://github.com/opensearch-project/OpenSearch-Dashboards/blob/7f7c7449e8fcf3a3ad58bd8f009cc7830131758b/src/plugins/data/common/field_formats/converters/url.ts#L158)](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/808129bcf077912c2ed4af5aea517c32ec1315a5/src/plugins/data/common/field_formats/converters/url.ts#L160)

[code]
the baseUr

[2022-11-28 22:31] ananzh commented on #2928
yeah thank you. I closed this one and pasted the comment/analysis to #1888. Both solutions work.

[2022-11-29 01:42] SuZhou-Joe commented on #981
#https://github.com/opensearch-project/index-management-dashboards-plugin/issues/408

[2022-11-29 01:43] SuZhou-Joe commented on #981
#https://github.com/opensearch-project/index-management-dashboards-plugin/issues/408

[2022-11-29 02:17] joshuarrrr commented on #2889
@AMoo-Miki Can we update the version label here? Given the timeline for `1.3.7`, we'd need a PR to review tomorrow, which seems unlikely.

[2022-11-29 03:29] AMoo-Miki commented on #2831
I dug a bit into the code and found that TSVB cannot benefit from `moment-timezone` because the timezone is passed to OpenSearch as a part of the query; in fact no `moment` is not used to convert timezone data.

Here is how you can reproduce the problem:
1. Create the index with the following mapping

[code]
2. Add data in UTC.

[code]

3. Go to Stack Management > Advanced Settings and change the

[2022-11-29 10:20] ShubhamBhardwaj218 opened #2944 "Snapshots are only available for Linux and Windows, Any alternate option for Mac OS"
I'm new this technology, I have Mac OS, and I was trying to learn Opensearch Dashboard and to do some code level modification in Opensearch Dashboard. I was following the [Developer Guide](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/DEVELOPER_GUIDE.md) to get the boiler plate code in my system,
When I run the  following command.

`$ yarn opensearch snapshot `

I got an er

[2022-11-29 17:35] ananzh commented on #2831
Europe/London DST issue

Oct 30, 2022 - Daylight Saving Time in London
<img width="764" alt="Screen Shot 2022-11-28 at 21 20 52" src="https://user-images.githubusercontent.com/79961084/204600051-55164cc0-d105-4c7a-a285-981752d9851d.png">

DST (UTC+1) is from Apr to Oct. GMT(UTC) starts from Oct 30.
When local daylight time was about to reach
Sunday, October 30, 2022, *2:00:00 am* clocks were turne

[2022-11-29 21:59] joshuarrrr commented on #2849
This is also one of a number of orphaned docs links: https://github.com/opensearch-project/documentation-website/issues/1853

[2022-11-29 22:28] kristenTian opened #2956 "[MD] Merge local cluster with external data sources"
- Remove the default cluster name in index pattern creation page, instead, the local cluster should show up in the data source selection list.
- Add local cluster to data source list (need to consider the edit page)
- Support default cluster configuration

There is an initial UX design for this in 2.4, sync up with @KrooshalUX and @kgcreative for the latest mockup.

[2022-11-29 22:32] kavilla commented on #2608
Related https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2880

[2022-11-30 01:03] ohltyler opened #2958 "[Feature Anywhere] Introduce a new Feature-Anywhere plugin"
The ongoing Feature Anywhere project introduces several new components and generic interfaces that will be used by external plugins that want to integrate into the workflows (e.g., AD plugin displaying anomalies on a particular line visualization). And, while the current scope of this project is to only support integration with visualizations, the larger vision is to support future integrations wi

[2022-11-30 01:07] opensearch-ci-bot opened #2959 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-Dashboards-1.3.7"
***Received Error***: **Error building OpenSearch-Dashboards, retry with: ./build.sh manifests/1.3.7/opensearch-dashboards-1.3.7.yml --component OpenSearch-Dashboards**.
                      The distribution build for OpenSearch-Dashboards has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4354/consoleFull

[2022-11-30 01:53] KrooshalUX commented on #2958
Let's connect on #4 a bit more to see what could or should be generalized to be created or supported within OUI. Generally UI components or compositions of existing primitive from EUI/OUI should be utilized as much as possible vs new, custom patterns.

[2022-11-30 01:55] opensearch-ci-bot opened #2960 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-Dashboards-2.4.1"
***Received Error***: **Error building OpenSearch-Dashboards, retry with: ./build.sh manifests/2.4.1/opensearch-dashboards-2.4.1.yml --component OpenSearch-Dashboards**.
                      The distribution build for OpenSearch-Dashboards has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4356/consoleFull

[2022-11-30 13:38] mend-for-github-com[bot] opened #2968 "CVE-2022-38900 (High) detected in decode-uri-component-0.2.0.tgz - autoclosed"
## CVE-2022-38900 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>decode-uri-component-0.2.0.tgz</b></p></summary>

<p>A better decodeURIComponent</p>
<p>Library home page: <a href="https://registry.npmjs.org/decode-uri-component/-/decode-uri-component-0.2.0.tgz">h

[2022-11-30 15:46] nickchadwick-noaa commented on #1723
Hello, I was able to achieve using the `saved_objects` API with this method, except at step 2 where I had to use a slightly different request to login and get the cookie (I am using AWS OpenSearch 2.3, so the Dashboards API endpoint starts with `_dashboards`):

[code]

Thanks,
Nick

[2022-11-30 18:40] JeffH-AWS commented on #2849
@zhongnansu the documentation ticket is very sparse, and it is unclear what is being requested. Can you please follow-up to my request for more information in https://github.com/opensearch-project/documentation-website/issues/1867 when you have an opportunity? A summary of the issue would be very helpful.

[2022-11-30 19:25] tmarkley commented on #1560
What's the status of this initiative and how much work is left?

[2022-11-30 20:19] macrakis opened #2996 "OpenSearch Dashboards map hoverover broken [BUG]"
**Describe the bug**

Hoverover on the maps in playground's Global Flight Dashboard gives error "Cannot read properties of undefined"

**To Reproduce**

Open playground: https://playground.opensearch.org/app/home#/
Click on hamburger menu > OpenSearch Dashboards > Dashboard
Click on [Flights] Global Flight Dashboard
Scroll down to "[Flights] Airport Connections (Hover Over Airport)"
Even without p

[2022-11-30 20:48] tmarkley commented on #1745
I'm looking into this. I'd assign myself, but I no longer have privileges to do that 💔

[2022-11-30 23:57] ohltyler commented on #2958
@KrooshalUX as of now we don't have any concrete ideas on what components/workflows makes sense (if any) that would be generalizable to store in core Dashboards. Our initial approach is to implement both AD and Alerting separately, and then regroup later to see if there is some common enough items that could be abstracted away, such as a plugin resource creation flow. I definitely get your point t